
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/attica-5.25.0.tar.xz">attica-5.25.0</a></td>
   <td align="right">58kB</td>
   <td><tt>f62afc0735f282f7f779a5dbb718e444fcb61ff4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/baloo-5.25.0.tar.xz">baloo-5.25.0</a></td>
   <td align="right">182kB</td>
   <td><tt>97159ec2dba426f25521610169413f808a40c5de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/bluez-qt-5.25.0.tar.xz">bluez-qt-5.25.0</a></td>
   <td align="right">71kB</td>
   <td><tt>da73dc9ea1882e6cc82723d2209e07886c0a68ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/breeze-icons-5.25.0.tar.xz">breeze-icons-5.25.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>5d02225d48fb13f0a7b3a23df6451e00a304479e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/extra-cmake-modules-5.25.0.tar.xz">extra-cmake-modules-5.25.0</a></td>
   <td align="right">279kB</td>
   <td><tt>199d85a51ee945b3910000e8920abec0187ab18a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/frameworkintegration-5.25.0.tar.xz">frameworkintegration-5.25.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>96fb04fb9b52f2de895ed6c9e932f0bd8230f9b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/kactivities-5.25.0.tar.xz">kactivities-5.25.0</a></td>
   <td align="right">59kB</td>
   <td><tt>44e1bb7bae881c87da294e287b648e2f0de64606</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/kactivities-stats-5.25.0.tar.xz">kactivities-stats-5.25.0</a></td>
   <td align="right">57kB</td>
   <td><tt>d9274d8e99ae5a3cc4883ef18983e90205b922c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/kapidox-5.25.0.tar.xz">kapidox-5.25.0</a></td>
   <td align="right">208kB</td>
   <td><tt>e2283051e1aad43b0b2df5fe338774d592a8933e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/karchive-5.25.0.tar.xz">karchive-5.25.0</a></td>
   <td align="right">108kB</td>
   <td><tt>298351569bbd505568243a2475e2cfabcf71a836</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/kauth-5.25.0.tar.xz">kauth-5.25.0</a></td>
   <td align="right">80kB</td>
   <td><tt>a73542bd8d6e8f35551894418e21674b059b70f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/kbookmarks-5.25.0.tar.xz">kbookmarks-5.25.0</a></td>
   <td align="right">112kB</td>
   <td><tt>819c935357c29a0e802a350aac8d82cf015fa17b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/kcmutils-5.25.0.tar.xz">kcmutils-5.25.0</a></td>
   <td align="right">229kB</td>
   <td><tt>7ea6971484afa9c764ecdb83836d05bf83092b55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/kcodecs-5.25.0.tar.xz">kcodecs-5.25.0</a></td>
   <td align="right">211kB</td>
   <td><tt>7b127b15ce9d8445333e141b81e641ad3475122f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/kcompletion-5.25.0.tar.xz">kcompletion-5.25.0</a></td>
   <td align="right">113kB</td>
   <td><tt>366412ed896f94b0dadf903b83d62e89868f815b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/kconfig-5.25.0.tar.xz">kconfig-5.25.0</a></td>
   <td align="right">221kB</td>
   <td><tt>f018d45fa50767b0993e182ca4f94317b177fced</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/kconfigwidgets-5.25.0.tar.xz">kconfigwidgets-5.25.0</a></td>
   <td align="right">358kB</td>
   <td><tt>b81aac19d35c63e57d9c23fa7449f4528b704c35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/kcoreaddons-5.25.0.tar.xz">kcoreaddons-5.25.0</a></td>
   <td align="right">322kB</td>
   <td><tt>799ee75d8fc414814eb3c4e0122722afdff8f575</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/kcrash-5.25.0.tar.xz">kcrash-5.25.0</a></td>
   <td align="right">19kB</td>
   <td><tt>37d3557e05752d721797a048a1c64f96bf1cc0e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/kdbusaddons-5.25.0.tar.xz">kdbusaddons-5.25.0</a></td>
   <td align="right">33kB</td>
   <td><tt>169f2b881aa49d82d5b8b2a78ffb8941b3cd8072</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/kdeclarative-5.25.0.tar.xz">kdeclarative-5.25.0</a></td>
   <td align="right">163kB</td>
   <td><tt>7b38c8583a7cea78bb126dd90fca102d6b0645c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/kded-5.25.0.tar.xz">kded-5.25.0</a></td>
   <td align="right">35kB</td>
   <td><tt>cdc58d6e596e379db1dfdc68a9b990b731413a3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/kdesignerplugin-5.25.0.tar.xz">kdesignerplugin-5.25.0</a></td>
   <td align="right">87kB</td>
   <td><tt>22e69bc2b7caf0cf80e0582576ef4b4b027511c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/kdesu-5.25.0.tar.xz">kdesu-5.25.0</a></td>
   <td align="right">43kB</td>
   <td><tt>4f6c7f746ecb6cf592325f8819bde44cde22d694</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/kdewebkit-5.25.0.tar.xz">kdewebkit-5.25.0</a></td>
   <td align="right">28kB</td>
   <td><tt>a6529385cca28d323b07976b30ab1e923255808f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/kdnssd-5.25.0.tar.xz">kdnssd-5.25.0</a></td>
   <td align="right">55kB</td>
   <td><tt>1b3fed134b540aa33e6669438350337c483c32a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/kdoctools-5.25.0.tar.xz">kdoctools-5.25.0</a></td>
   <td align="right">403kB</td>
   <td><tt>189b8ecd3f9161146bc05a4b02fa14fac3ded4a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/kemoticons-5.25.0.tar.xz">kemoticons-5.25.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>b7124e4be1f2f981732022bd440453fe904ad35e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/kfilemetadata-5.25.0.tar.xz">kfilemetadata-5.25.0</a></td>
   <td align="right">128kB</td>
   <td><tt>6d991cf9d9e1ce2e77f737f2007250587af00ba0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/kglobalaccel-5.25.0.tar.xz">kglobalaccel-5.25.0</a></td>
   <td align="right">81kB</td>
   <td><tt>6c957eac5cff7d52653b65f3d22a64a8e9234fd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/kguiaddons-5.25.0.tar.xz">kguiaddons-5.25.0</a></td>
   <td align="right">38kB</td>
   <td><tt>6ec26d4da577246a416d218363460dd82c610c6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/ki18n-5.25.0.tar.xz">ki18n-5.25.0</a></td>
   <td align="right">589kB</td>
   <td><tt>e75895157ba15f26efa552786746fd77e4d17e05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/kiconthemes-5.25.0.tar.xz">kiconthemes-5.25.0</a></td>
   <td align="right">199kB</td>
   <td><tt>131c3ae048df6dd1a4a67391749e142fa3720967</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/kidletime-5.25.0.tar.xz">kidletime-5.25.0</a></td>
   <td align="right">25kB</td>
   <td><tt>a72ea0d7e138c6f5aef93dc571a6d562917d44b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/kimageformats-5.25.0.tar.xz">kimageformats-5.25.0</a></td>
   <td align="right">199kB</td>
   <td><tt>8aee85aed1a5fe466486ad9e9ef3329cc2cc7d52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/kinit-5.25.0.tar.xz">kinit-5.25.0</a></td>
   <td align="right">116kB</td>
   <td><tt>c6fc000f192063f3f2866e8965dfb9399a39e00a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/kio-5.25.0.tar.xz">kio-5.25.0</a></td>
   <td align="right">2.8MB</td>
   <td><tt>51c66b0a97fef34eafa1096c96f49763a1cc7aa7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/kitemmodels-5.25.0.tar.xz">kitemmodels-5.25.0</a></td>
   <td align="right">378kB</td>
   <td><tt>6433bf7cf22b7f7926cb2f210bb9b73901d0b0fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/kitemviews-5.25.0.tar.xz">kitemviews-5.25.0</a></td>
   <td align="right">72kB</td>
   <td><tt>6eba3745e37d0639a9fcb901c16668870a673206</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/kjobwidgets-5.25.0.tar.xz">kjobwidgets-5.25.0</a></td>
   <td align="right">86kB</td>
   <td><tt>d70c54d494372def96d8b6845d15d3c519ea163b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/knewstuff-5.25.0.tar.xz">knewstuff-5.25.0</a></td>
   <td align="right">842kB</td>
   <td><tt>dd8e3b46ec2921fb545df8d45d6adf429d154551</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/knotifications-5.25.0.tar.xz">knotifications-5.25.0</a></td>
   <td align="right">93kB</td>
   <td><tt>7259b061d025e90a9f3d7183265201c39b8400d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/knotifyconfig-5.25.0.tar.xz">knotifyconfig-5.25.0</a></td>
   <td align="right">81kB</td>
   <td><tt>68ab598a4747729b41db1c002253f2d1b21724ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/kpackage-5.25.0.tar.xz">kpackage-5.25.0</a></td>
   <td align="right">109kB</td>
   <td><tt>c4091b2a6b2d90aea1489a509d7677dd62c52f75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/kparts-5.25.0.tar.xz">kparts-5.25.0</a></td>
   <td align="right">150kB</td>
   <td><tt>7ee38005fb4945e3b11f443a9babff7649416382</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/kpeople-5.25.0.tar.xz">kpeople-5.25.0</a></td>
   <td align="right">57kB</td>
   <td><tt>d24aedb548dc67a7bd864c87eaecbb2bc4f401c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/kplotting-5.25.0.tar.xz">kplotting-5.25.0</a></td>
   <td align="right">28kB</td>
   <td><tt>78d95a6372c825d05a78345f9c8574bd75f47f03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/kpty-5.25.0.tar.xz">kpty-5.25.0</a></td>
   <td align="right">55kB</td>
   <td><tt>2fc52b8e21ad855beeb8e4d83e744d9ef2d98c89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/krunner-5.25.0.tar.xz">krunner-5.25.0</a></td>
   <td align="right">65kB</td>
   <td><tt>5a4c9615196d70250b2644bb49573c0749ab41ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/kservice-5.25.0.tar.xz">kservice-5.25.0</a></td>
   <td align="right">239kB</td>
   <td><tt>cdabee17256efb020b3f7ad6d678f881cbbe6483</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/ktexteditor-5.25.0.tar.xz">ktexteditor-5.25.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>b77c92323fd968c80a3a2c7d419e33eff8be97b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/ktextwidgets-5.25.0.tar.xz">ktextwidgets-5.25.0</a></td>
   <td align="right">299kB</td>
   <td><tt>cb52e8bf2f95702331cc32d0c665686717b79965</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/kunitconversion-5.25.0.tar.xz">kunitconversion-5.25.0</a></td>
   <td align="right">606kB</td>
   <td><tt>0c39a96c2b09d722ba59f559a8421420fc9025a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/kwallet-5.25.0.tar.xz">kwallet-5.25.0</a></td>
   <td align="right">286kB</td>
   <td><tt>a2fd539438bb815ac2908ca4ce2aebb151567ce2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/kwayland-5.25.0.tar.xz">kwayland-5.25.0</a></td>
   <td align="right">227kB</td>
   <td><tt>10e170ad59f1682b3c0efcf63507f61a55ad2fc8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/kwidgetsaddons-5.25.0.tar.xz">kwidgetsaddons-5.25.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>58850bb5e79fa8ea9d8c799bc6a3d05011e6befb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/kwindowsystem-5.25.0.tar.xz">kwindowsystem-5.25.0</a></td>
   <td align="right">162kB</td>
   <td><tt>daa07474df69fd66bff1a20805331ebf58214835</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/kxmlgui-5.25.0.tar.xz">kxmlgui-5.25.0</a></td>
   <td align="right">852kB</td>
   <td><tt>7a515deb63a229eb0597dce9cb225fc9f0408496</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/kxmlrpcclient-5.25.0.tar.xz">kxmlrpcclient-5.25.0</a></td>
   <td align="right">27kB</td>
   <td><tt>59b95918f9aab0a1f4411618845a48db6f77c0f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/modemmanager-qt-5.25.0.tar.xz">modemmanager-qt-5.25.0</a></td>
   <td align="right">96kB</td>
   <td><tt>391a6c01a951b5b68dd8a297f64ffc4b3c61c8d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/networkmanager-qt-5.25.0.tar.xz">networkmanager-qt-5.25.0</a></td>
   <td align="right">153kB</td>
   <td><tt>6a1e62afcf07ecda34f2c99b505941c0f6623e91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/oxygen-icons5-5.25.0.tar.xz">oxygen-icons5-5.25.0</a></td>
   <td align="right">222MB</td>
   <td><tt>13631f7644c3e52e9d961960ee4a229bc5469c04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/plasma-framework-5.25.0.tar.xz">plasma-framework-5.25.0</a></td>
   <td align="right">4.2MB</td>
   <td><tt>6e332e5ae81251b7ea7ed038437ae8a3c0aabcdc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/solid-5.25.0.tar.xz">solid-5.25.0</a></td>
   <td align="right">239kB</td>
   <td><tt>2094bded5c49f963d952fcbee8000e496c0df7b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/sonnet-5.25.0.tar.xz">sonnet-5.25.0</a></td>
   <td align="right">275kB</td>
   <td><tt>cd4b4772685f076115cd97bd4beb0ff4f1eac291</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.25/threadweaver-5.25.0.tar.xz">threadweaver-5.25.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>c23a581d8adb014b41917ff381fa92b7e0d5ed75</tt></td>
</tr>

</table>
