
<table class="table" border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/attica-5.80.0.tar.xz">attica-5.80.0</a></td>
   <td align="right">64kB</td>
   <td><tt>148d18a4a9ac672256169b4842d5f8840cf8e509</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/baloo-5.80.0.tar.xz">baloo-5.80.0</a></td>
   <td align="right">281kB</td>
   <td><tt>751178fa8d6f64f6868f30a5cbe5cf26e7562430</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/bluez-qt-5.80.0.tar.xz">bluez-qt-5.80.0</a></td>
   <td align="right">99kB</td>
   <td><tt>536dd18b3c1591267a651acb3ce80e1fb6e273a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/breeze-icons-5.80.0.tar.xz">breeze-icons-5.80.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>f649ce71420312cfd597a15c08b0807d0059ef04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/extra-cmake-modules-5.80.0.tar.xz">extra-cmake-modules-5.80.0</a></td>
   <td align="right">349kB</td>
   <td><tt>246cf55147a7e0fd349ff546fa34cfd1f5e0310a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/frameworkintegration-5.80.0.tar.xz">frameworkintegration-5.80.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>69b6b3b21c1e0ecc584f7174daa3c4859e668af5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/kactivities-5.80.0.tar.xz">kactivities-5.80.0</a></td>
   <td align="right">69kB</td>
   <td><tt>528f1443546d700201bd7770fd98f4edbdd3f9ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/kactivities-stats-5.80.0.tar.xz">kactivities-stats-5.80.0</a></td>
   <td align="right">80kB</td>
   <td><tt>f58297d4d9ed0daf6c4c7ef4d0536a3657e5c8b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/kapidox-5.80.0.tar.xz">kapidox-5.80.0</a></td>
   <td align="right">189kB</td>
   <td><tt>bd66f688b47d211585fb1acf2e9a2adc1568c5b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/karchive-5.80.0.tar.xz">karchive-5.80.0</a></td>
   <td align="right">960kB</td>
   <td><tt>64ae4a6c0850b712ca9d311189834fdd7eeca94a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/kauth-5.80.0.tar.xz">kauth-5.80.0</a></td>
   <td align="right">85kB</td>
   <td><tt>d13db9af09845c17cf869d0eaddb8a2abeb3134a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/kbookmarks-5.80.0.tar.xz">kbookmarks-5.80.0</a></td>
   <td align="right">123kB</td>
   <td><tt>d9eb5c694f7fd3b97891feeeea033cb684551c11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/kcalendarcore-5.80.0.tar.xz">kcalendarcore-5.80.0</a></td>
   <td align="right">253kB</td>
   <td><tt>39d91017afb50c32cc80c8c22606cbc9fd0ff8b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/kcmutils-5.80.0.tar.xz">kcmutils-5.80.0</a></td>
   <td align="right">252kB</td>
   <td><tt>35dc5c2c5f7b2e59e6099cd8cec2735084141033</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/kcodecs-5.80.0.tar.xz">kcodecs-5.80.0</a></td>
   <td align="right">224kB</td>
   <td><tt>6ee3d835123c7bb7eafd9ff41fc59f19a4ac3fbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/kcompletion-5.80.0.tar.xz">kcompletion-5.80.0</a></td>
   <td align="right">118kB</td>
   <td><tt>e545d1fa808c4d8707069f36d231d1443aedb425</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/kconfig-5.80.0.tar.xz">kconfig-5.80.0</a></td>
   <td align="right">261kB</td>
   <td><tt>e5213e0e7fd330090e90280961141b278d926ccc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/kconfigwidgets-5.80.0.tar.xz">kconfigwidgets-5.80.0</a></td>
   <td align="right">380kB</td>
   <td><tt>d4bf79ada0dc5c274fc4aedbcb0fa0f610bca331</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/kcontacts-5.80.0.tar.xz">kcontacts-5.80.0</a></td>
   <td align="right">530kB</td>
   <td><tt>b9ead4073c452f02119c4092ba25f51345535b6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/kcoreaddons-5.80.0.tar.xz">kcoreaddons-5.80.0</a></td>
   <td align="right">401kB</td>
   <td><tt>7259733b8ca50de16856c5629dc23a7f8c683bbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/kcrash-5.80.0.tar.xz">kcrash-5.80.0</a></td>
   <td align="right">21kB</td>
   <td><tt>6c23c829fc94c64c0ff619b6efc7239fb314c006</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/kdav-5.80.0.tar.xz">kdav-5.80.0</a></td>
   <td align="right">58kB</td>
   <td><tt>faeca7dcb7ceabdbddfdb7ce4bc524f2c5087455</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/kdbusaddons-5.80.0.tar.xz">kdbusaddons-5.80.0</a></td>
   <td align="right">41kB</td>
   <td><tt>33abda20b51c03de3060e1ba2c0a831516adbe02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/kdeclarative-5.80.0.tar.xz">kdeclarative-5.80.0</a></td>
   <td align="right">180kB</td>
   <td><tt>20a31131768d0dd19e7a2b5515092886918a2c93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/kded-5.80.0.tar.xz">kded-5.80.0</a></td>
   <td align="right">35kB</td>
   <td><tt>5f3fa8ea3eb75f69699af48b2174ec5db61e93b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/kdesu-5.80.0.tar.xz">kdesu-5.80.0</a></td>
   <td align="right">50kB</td>
   <td><tt>562af2b513aedba0a6b436067ca9f6e51635f530</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/kdnssd-5.80.0.tar.xz">kdnssd-5.80.0</a></td>
   <td align="right">56kB</td>
   <td><tt>1a266b607f7e629b803c0bae87a006a3a2e19707</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/kdoctools-5.80.0.tar.xz">kdoctools-5.80.0</a></td>
   <td align="right">428kB</td>
   <td><tt>38224b4c5ae461944e5dda10da6757a920e10504</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/kemoticons-5.80.0.tar.xz">kemoticons-5.80.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>c3bba9a249b6f4469a67ba6b4cd4f7ea45cc00c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/kfilemetadata-5.80.0.tar.xz">kfilemetadata-5.80.0</a></td>
   <td align="right">415kB</td>
   <td><tt>2f3632087af4220f361681c62d6304cf551f3146</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/kglobalaccel-5.80.0.tar.xz">kglobalaccel-5.80.0</a></td>
   <td align="right">85kB</td>
   <td><tt>c0bacc5e1a23dadb7a8b27205af0ea63440f22ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/kguiaddons-5.80.0.tar.xz">kguiaddons-5.80.0</a></td>
   <td align="right">57kB</td>
   <td><tt>2ffc3c4a214eab3494cddfd74361dee600dad5a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/kholidays-5.80.0.tar.xz">kholidays-5.80.0</a></td>
   <td align="right">220kB</td>
   <td><tt>4e2023ac1a024c9237f6188eb4baf427ea57ba9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/ki18n-5.80.0.tar.xz">ki18n-5.80.0</a></td>
   <td align="right">577kB</td>
   <td><tt>e2511b9e71f6547cf168915252cd77c497573ea4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/kiconthemes-5.80.0.tar.xz">kiconthemes-5.80.0</a></td>
   <td align="right">217kB</td>
   <td><tt>19d7acf9362d939e09e85f39abb3694db3030326</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/kidletime-5.80.0.tar.xz">kidletime-5.80.0</a></td>
   <td align="right">25kB</td>
   <td><tt>25ac8fb4cc237bbb92adc1725e380ca6c51bd736</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/kimageformats-5.80.0.tar.xz">kimageformats-5.80.0</a></td>
   <td align="right">576kB</td>
   <td><tt>1a12823981369bc893ef9c858d27058c8d583722</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/kinit-5.80.0.tar.xz">kinit-5.80.0</a></td>
   <td align="right">118kB</td>
   <td><tt>6e3cc704185dda58eedbd5996e8e05ac0cf9af1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/kio-5.80.0.tar.xz">kio-5.80.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>aec92cf14826238ce3794dccb63b276f6001e7d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/kirigami2-5.80.0.tar.xz">kirigami2-5.80.0</a></td>
   <td align="right">303kB</td>
   <td><tt>0f4554637a62a64297ecbc10cd9bd369820ae6e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/kitemmodels-5.80.0.tar.xz">kitemmodels-5.80.0</a></td>
   <td align="right">393kB</td>
   <td><tt>614b0cb59a978a877c06ac1cf96505b6b4cc0c41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/kitemviews-5.80.0.tar.xz">kitemviews-5.80.0</a></td>
   <td align="right">73kB</td>
   <td><tt>382998cabe742cdaea9ab2f098c5a971b49aa68a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/kjobwidgets-5.80.0.tar.xz">kjobwidgets-5.80.0</a></td>
   <td align="right">90kB</td>
   <td><tt>2b1b7e319ae66da426a65ac251c1ddb27450fc19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/knewstuff-5.80.0.tar.xz">knewstuff-5.80.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>62d4e5528322db290e820631afe1f16549583e74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/knotifications-5.80.0.tar.xz">knotifications-5.80.0</a></td>
   <td align="right">118kB</td>
   <td><tt>7a0e9504f31a86e6ed6e9c08fcb534ee24304674</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/knotifyconfig-5.80.0.tar.xz">knotifyconfig-5.80.0</a></td>
   <td align="right">82kB</td>
   <td><tt>13e3a8a2a48369ff13b22397be007621678d649f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/kpackage-5.80.0.tar.xz">kpackage-5.80.0</a></td>
   <td align="right">137kB</td>
   <td><tt>a855e79413dcf125772f2fcff33625207cf5860d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/kparts-5.80.0.tar.xz">kparts-5.80.0</a></td>
   <td align="right">187kB</td>
   <td><tt>cff3f2eb1e343e7aa79949600dcb2832dc1af6c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/kpeople-5.80.0.tar.xz">kpeople-5.80.0</a></td>
   <td align="right">60kB</td>
   <td><tt>b56a6d705910b651355c338bef0d863bcf88bae6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/kplotting-5.80.0.tar.xz">kplotting-5.80.0</a></td>
   <td align="right">30kB</td>
   <td><tt>0b3921141c1da688d0a6389e5850e4532aba80b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/kpty-5.80.0.tar.xz">kpty-5.80.0</a></td>
   <td align="right">54kB</td>
   <td><tt>f294a9bebf155d551d5a0f15cb6e67af3ff5864c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/kquickcharts-5.80.0.tar.xz">kquickcharts-5.80.0</a></td>
   <td align="right">98kB</td>
   <td><tt>43dc7f09b262ae5591db6c8b28b497ab78e28940</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/krunner-5.80.0.tar.xz">krunner-5.80.0</a></td>
   <td align="right">72kB</td>
   <td><tt>e63d626e464fbc9004a63eee5318412dab1593fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/kservice-5.80.0.tar.xz">kservice-5.80.0</a></td>
   <td align="right">254kB</td>
   <td><tt>b0b71607aee30048560e582f264c70a543ea85ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/ktexteditor-5.80.0.tar.xz">ktexteditor-5.80.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>68e1d0bb76a5971ace8f8f096b8deacd9585dc31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/ktextwidgets-5.80.0.tar.xz">ktextwidgets-5.80.0</a></td>
   <td align="right">318kB</td>
   <td><tt>e5034c94286b5fa60652cb942775c8084d03e089</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/kunitconversion-5.80.0.tar.xz">kunitconversion-5.80.0</a></td>
   <td align="right">840kB</td>
   <td><tt>0adcbf44949fb87ac04b85a9e07292093eee4ded</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/kwallet-5.80.0.tar.xz">kwallet-5.80.0</a></td>
   <td align="right">293kB</td>
   <td><tt>e898aadeac94de8e96892604922921664335d426</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/kwayland-5.80.0.tar.xz">kwayland-5.80.0</a></td>
   <td align="right">336kB</td>
   <td><tt>5f2d8442f801e05e86e9bf383d828c7c224ee14c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/kwidgetsaddons-5.80.0.tar.xz">kwidgetsaddons-5.80.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>9a12c7e09a3700f5c9fccd23771a6139e5f0bfa5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/kwindowsystem-5.80.0.tar.xz">kwindowsystem-5.80.0</a></td>
   <td align="right">173kB</td>
   <td><tt>9394cfb454f9c6121622be4733ad265d7d145b42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/kxmlgui-5.80.0.tar.xz">kxmlgui-5.80.0</a></td>
   <td align="right">841kB</td>
   <td><tt>62224ac4db9581841573ad13b3c1ad091bdb027a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/modemmanager-qt-5.80.0.tar.xz">modemmanager-qt-5.80.0</a></td>
   <td align="right">109kB</td>
   <td><tt>b502a1029a7d32686b40301494e3d45cd408b7ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/networkmanager-qt-5.80.0.tar.xz">networkmanager-qt-5.80.0</a></td>
   <td align="right">190kB</td>
   <td><tt>06bba22418503c7e99ca4e359060483979b70682</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/oxygen-icons5-5.80.0.tar.xz">oxygen-icons5-5.80.0</a></td>
   <td align="right">225MB</td>
   <td><tt>cc99b405bb9196e2df34ac2ca20c394c754ca7b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/plasma-framework-5.80.0.tar.xz">plasma-framework-5.80.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>df945d67a8326c17ecefacb99e71d58e5796826b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/prison-5.80.0.tar.xz">prison-5.80.0</a></td>
   <td align="right">40kB</td>
   <td><tt>051779392951254e23d4a0cd53279c24a41ad779</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/purpose-5.80.0.tar.xz">purpose-5.80.0</a></td>
   <td align="right">155kB</td>
   <td><tt>536d21b254e70e576a864a1d2bdd8f338d63ca86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/qqc2-desktop-style-5.80.0.tar.xz">qqc2-desktop-style-5.80.0</a></td>
   <td align="right">58kB</td>
   <td><tt>15374f8563b72f44f39e96361cf93baf135fdb78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/solid-5.80.0.tar.xz">solid-5.80.0</a></td>
   <td align="right">267kB</td>
   <td><tt>fd0b67ed43ab1eb398ee06a337d5e65710a4bcb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/sonnet-5.80.0.tar.xz">sonnet-5.80.0</a></td>
   <td align="right">286kB</td>
   <td><tt>993da3c6eae4dc221b45d05057a0a62837b5e3ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/syndication-5.80.0.tar.xz">syndication-5.80.0</a></td>
   <td align="right">496kB</td>
   <td><tt>2ccdffeb5dcc612984217ecf73b9e4c7b633f7d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/syntax-highlighting-5.80.0.tar.xz">syntax-highlighting-5.80.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>1d112dc908fce051a00658cd94658ec355beae10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.80/threadweaver-5.80.0.tar.xz">threadweaver-5.80.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>dfe3cfe6122c3a2d1b4631ff5b7e77e018ef7b67</tt></td>
</tr>

</table>
