<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.0.0/attica-5.0.0.tar.xz">attica-5.0.0</a></td>
   <td align="right">58kB</td>
   <td><tt>b2a4596f75a9b202c3332ed3cf8bfe3d79658491</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.0.0/extra-cmake-modules-1.0.0.tar.xz">extra-cmake-modules-1.0.0</a></td>
   <td align="right">114kB</td>
   <td><tt>ddd8ffa7437d2be9b424878fcaeb1dfe7e799c7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.0.0/frameworkintegration-5.0.0.tar.xz">frameworkintegration-5.0.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>0a90cc0581d6608f8c2d04f0d9e078d8580d612e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.0.0/kactivities-5.0.0.tar.xz">kactivities-5.0.0</a></td>
   <td align="right">112kB</td>
   <td><tt>edd6998481acb79d1b3ea3040bac61b73d7a2c93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.0.0/kapidox-5.0.0.tar.xz">kapidox-5.0.0</a></td>
   <td align="right">123kB</td>
   <td><tt>c133d2001247317a5412d5f87093cd7dabd0f543</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.0.0/karchive-5.0.0.tar.xz">karchive-5.0.0</a></td>
   <td align="right">103kB</td>
   <td><tt>b9afc1fa840827923443791e03bb85adf94f6e90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.0.0/kauth-5.0.0.tar.xz">kauth-5.0.0</a></td>
   <td align="right">2.5MB</td>
   <td><tt>3ba80e055f13e92191939f941468929165655856</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.0.0/kbookmarks-5.0.0.tar.xz">kbookmarks-5.0.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>2a2ff19618f846b77c62c7292a17e0d152dc0f41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.0.0/kcmutils-5.0.0.tar.xz">kcmutils-5.0.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>5e3661ef34afab86fc36b527337f624daf0de968</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.0.0/kcodecs-5.0.0.tar.xz">kcodecs-5.0.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>d742a4262044e3b5d1b24c29892e110442fbed51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.0.0/kcompletion-5.0.0.tar.xz">kcompletion-5.0.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>f6df1a81c310f11bee7aae638ba6e5f038691baa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.0.0/kconfig-5.0.0.tar.xz">kconfig-5.0.0</a></td>
   <td align="right">184kB</td>
   <td><tt>0acc2ec03528a9c0bccecb03a794e330378b3ea8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.0.0/kconfigwidgets-5.0.0.tar.xz">kconfigwidgets-5.0.0</a></td>
   <td align="right">2.8MB</td>
   <td><tt>f81734061ecdf412016a5d3ff7cd7a7671848d57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.0.0/kcoreaddons-5.0.0.tar.xz">kcoreaddons-5.0.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>d47a85d28960cdabcbb101935ea2aa2df5087451</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.0.0/kcrash-5.0.0.tar.xz">kcrash-5.0.0</a></td>
   <td align="right">19kB</td>
   <td><tt>12526c2528aa0384f854ed22d5a75c95438eddcf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.0.0/kdbusaddons-5.0.0.tar.xz">kdbusaddons-5.0.0</a></td>
   <td align="right">29kB</td>
   <td><tt>bfb21f129adb5827e4a3a63355ae41ee3287362d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.0.0/kdeclarative-5.0.0.tar.xz">kdeclarative-5.0.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>49b9e901d29704c9d8f2c106524925436c13e691</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.0.0/kded-5.0.0.tar.xz">kded-5.0.0</a></td>
   <td align="right">23kB</td>
   <td><tt>abbe7d065fd76160937d4b406d81d2f4fd3ef2b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.0.0/kdesignerplugin-5.0.0.tar.xz">kdesignerplugin-5.0.0</a></td>
   <td align="right">2.5MB</td>
   <td><tt>641da52bc7ecf27c501ba5b6c9b6db09f6db6062</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.0.0/kdesu-5.0.0.tar.xz">kdesu-5.0.0</a></td>
   <td align="right">35kB</td>
   <td><tt>054a6b47ab44eccadb684abebcfaf1eecfb9222a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.0.0/kdewebkit-5.0.0.tar.xz">kdewebkit-5.0.0</a></td>
   <td align="right">28kB</td>
   <td><tt>cbd2b25bd89572c813990d6d95ce064386f5e94f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.0.0/kdnssd-5.0.0.tar.xz">kdnssd-5.0.0</a></td>
   <td align="right">2.5MB</td>
   <td><tt>2814314561831dd55cc4b3e7f2de25451c5f2e8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.0.0/kdoctools-5.0.0.tar.xz">kdoctools-5.0.0</a></td>
   <td align="right">353kB</td>
   <td><tt>580a7da6a730eb46229c120bb753b8e6112c71e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.0.0/kemoticons-5.0.0.tar.xz">kemoticons-5.0.0</a></td>
   <td align="right">69kB</td>
   <td><tt>c3dda38c164b9e123123412482229500884387d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.0.0/kglobalaccel-5.0.0.tar.xz">kglobalaccel-5.0.0</a></td>
   <td align="right">2.5MB</td>
   <td><tt>e383ee44510a8bb6fd660bb24497561bcb5da117</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.0.0/kguiaddons-5.0.0.tar.xz">kguiaddons-5.0.0</a></td>
   <td align="right">37kB</td>
   <td><tt>7362efa17f54beda6deb35296ba0e6d295db0266</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.0.0/ki18n-5.0.0.tar.xz">ki18n-5.0.0</a></td>
   <td align="right">2.5MB</td>
   <td><tt>aa28fd39535fe9514051e0674ef033ce03bc3416</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.0.0/kiconthemes-5.0.0.tar.xz">kiconthemes-5.0.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>dbbc687727043f232275fa5d66d6ab742133dad9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.0.0/kidletime-5.0.0.tar.xz">kidletime-5.0.0</a></td>
   <td align="right">22kB</td>
   <td><tt>33550186cb13fd8d0155fe1b2e19a3b25defbb5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.0.0/kimageformats-5.0.0.tar.xz">kimageformats-5.0.0</a></td>
   <td align="right">90kB</td>
   <td><tt>3d21d6fd1d100fb2a6b25e7fa7c6092ae40cc536</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.0.0/kinit-5.0.0.tar.xz">kinit-5.0.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>90949b2c2fe0137ca4625cbe92b4dae252f809aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.0.0/kio-5.0.0.tar.xz">kio-5.0.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>7f24e4648bcfcfcc1a795a3fa10bd25a4ad2fae3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.0.0/kitemmodels-5.0.0.tar.xz">kitemmodels-5.0.0</a></td>
   <td align="right">361kB</td>
   <td><tt>f4ce722c90a29cfad6c80c29834978572459c4d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.0.0/kitemviews-5.0.0.tar.xz">kitemviews-5.0.0</a></td>
   <td align="right">2.5MB</td>
   <td><tt>1c12265c56908a12fee52c471db90a9a3177dfff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.0.0/kjobwidgets-5.0.0.tar.xz">kjobwidgets-5.0.0</a></td>
   <td align="right">2.5MB</td>
   <td><tt>af09aaaec7457094c488fc08333de922e62ae9af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.0.0/knewstuff-5.0.0.tar.xz">knewstuff-5.0.0</a></td>
   <td align="right">2.8MB</td>
   <td><tt>1ca14b2e6cbe86ae5cf470980aeb47757201ca3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.0.0/knotifications-5.0.0.tar.xz">knotifications-5.0.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>c064c646f9d0162db344e02b834fb73a9a57fc15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.0.0/knotifyconfig-5.0.0.tar.xz">knotifyconfig-5.0.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>5a3d72470313f0cea61f55faaa9905d78c02d3ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.0.0/kparts-5.0.0.tar.xz">kparts-5.0.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>767777d48076caba6ff838a4535515cfcee4555c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.0.0/kplotting-5.0.0.tar.xz">kplotting-5.0.0</a></td>
   <td align="right">28kB</td>
   <td><tt>f2764d0e488b89315352ad1de18540da01ca9fc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.0.0/kpty-5.0.0.tar.xz">kpty-5.0.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>185f54465403e31fd81820e54b441c9cf8941aee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.0.0/kservice-5.0.0.tar.xz">kservice-5.0.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>da66c633c038bb61e208e3634558e3110dcd0776</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.0.0/ktexteditor-5.0.0.tar.xz">ktexteditor-5.0.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>56c0cd7a54c95a9479b2328141a68b929de3362d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.0.0/ktextwidgets-5.0.0.tar.xz">ktextwidgets-5.0.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>c46abdd25689e314ae5fbcbfae5597f787c53544</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.0.0/kunitconversion-5.0.0.tar.xz">kunitconversion-5.0.0</a></td>
   <td align="right">614kB</td>
   <td><tt>a86a06262b71ebcd315229ae8c7ec02f78e4e1e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.0.0/kwallet-5.0.0.tar.xz">kwallet-5.0.0</a></td>
   <td align="right">75kB</td>
   <td><tt>d4797aa077b09fa48a148fd0006e3a5642218b20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.0.0/kwidgetsaddons-5.0.0.tar.xz">kwidgetsaddons-5.0.0</a></td>
   <td align="right">4.1MB</td>
   <td><tt>a073c3178af367adc4f80237a155299ed38612dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.0.0/kwindowsystem-5.0.0.tar.xz">kwindowsystem-5.0.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>4af347cdf37a95c50f7b470e1948a8fc8ed8c595</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.0.0/kxmlgui-5.0.0.tar.xz">kxmlgui-5.0.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>57c26821c8536a1983ab9910b619deb2b034d123</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.0.0/plasma-framework-5.0.0.tar.xz">plasma-framework-5.0.0</a></td>
   <td align="right">3.7MB</td>
   <td><tt>88d87371815e416a45918499f6598104bebf1241</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.0.0/solid-5.0.0.tar.xz">solid-5.0.0</a></td>
   <td align="right">282kB</td>
   <td><tt>0b87fd5a1a479881ac6094cc1fa116eabc36e40a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.0.0/sonnet-5.0.0.tar.xz">sonnet-5.0.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>e1f2a444303102348c56da37a27bd3168f51719b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.0.0/threadweaver-5.0.0.tar.xz">threadweaver-5.0.0</a></td>
   <td align="right">67kB</td>
   <td><tt>d87ec051df307037a9cad059aa1f11b9d0af5ff0</tt></td>
</tr>

</table>
