<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.2/bluedevil-5.25.2.tar.xz">bluedevil-5.25.2</a></td>
   <td align="right">169kB</td>
   <td><tt>213fa52ff62413eee6d7c7c8c59e21489acd955466d71e5d95079d17ebc2a86b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.2/breeze-5.25.2.tar.xz">breeze-5.25.2</a></td>
   <td align="right">29MB</td>
   <td><tt>1c90b3196095f57d292892766305c243722ca462e89d8e88fd992f4961fd1ba5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.2/breeze-grub-5.25.2.tar.xz">breeze-grub-5.25.2</a></td>
   <td align="right">2.9MB</td>
   <td><tt>cce1111f1e27082bdc291a24d6ef27f3d4763d2e4280ae7ea48143fa6575d8ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.2/breeze-gtk-5.25.2.tar.xz">breeze-gtk-5.25.2</a></td>
   <td align="right">44kB</td>
   <td><tt>2da207a751ea9f40f67f5cd5d2a564ca1b39d387a756dd2471c3cf349c05f46f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.2/breeze-plymouth-5.25.2.tar.xz">breeze-plymouth-5.25.2</a></td>
   <td align="right">108kB</td>
   <td><tt>c1a67df748b6790ee958b5092aa97e7701f509ea82ae1365064d1b38e7b8d608</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.2/discover-5.25.2.tar.xz">discover-5.25.2</a></td>
   <td align="right">7.9MB</td>
   <td><tt>0cd194d73b4293d4f26cb0df444bb74aefe6f6c49aa0fcb7b1d7de25d5a4eab1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.2/drkonqi-5.25.2.tar.xz">drkonqi-5.25.2</a></td>
   <td align="right">474kB</td>
   <td><tt>7e60bfb6a5f8cdfc4198ed133b633a9648e6d9082a78be5454111b3c37423ea9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.2/kactivitymanagerd-5.25.2.tar.xz">kactivitymanagerd-5.25.2</a></td>
   <td align="right">103kB</td>
   <td><tt>9c8bafbf22f0552eff86995d2620317221fb5fe3969fb9d703585e35cdc85919</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.2/kde-cli-tools-5.25.2.tar.xz">kde-cli-tools-5.25.2</a></td>
   <td align="right">616kB</td>
   <td><tt>23f33a59e371870437243cf6a857353c761952e8793a01baa2a1b4d06d47dbe8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.2/kdecoration-5.25.2.tar.xz">kdecoration-5.25.2</a></td>
   <td align="right">48kB</td>
   <td><tt>876f3fe5d353c7a96518fe05d05aee7bf8de91c3833516eb780482eda787cffa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.2/kde-gtk-config-5.25.2.tar.xz">kde-gtk-config-5.25.2</a></td>
   <td align="right">70kB</td>
   <td><tt>78bf99a0d9896d65b4fdf12362f7bfea81d9941bf6b9417602235690bc14b2ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.2/kdeplasma-addons-5.25.2.tar.xz">kdeplasma-addons-5.25.2</a></td>
   <td align="right">642kB</td>
   <td><tt>f3633ae9f851d93e8d196c70af59bc1f8be3d770416f1443577c33f18d06c012</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.2/kgamma5-5.25.2.tar.xz">kgamma5-5.25.2</a></td>
   <td align="right">82kB</td>
   <td><tt>7ddadf599287cd8aa66cbf43b7b7c5f15f96435aecedd8690694674f8524e87c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.2/khotkeys-5.25.2.tar.xz">khotkeys-5.25.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>817edf0bedca936444cbba0012ff72b93b6213c5541c4b6c7d46507d9bff20fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.2/kinfocenter-5.25.2.tar.xz">kinfocenter-5.25.2</a></td>
   <td align="right">713kB</td>
   <td><tt>15ab3a6191eb592c91c196c52f4cc4a009d4bffb0b2818e922020098d07a9a00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.2/kmenuedit-5.25.2.tar.xz">kmenuedit-5.25.2</a></td>
   <td align="right">882kB</td>
   <td><tt>f1c94260cdcecbd13043f2e4615140b43b3f01fde99c1562265bfe10696c3435</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.2/kscreen-5.25.2.tar.xz">kscreen-5.25.2</a></td>
   <td align="right">139kB</td>
   <td><tt>aaab9d39de391ac6082e3c27a0607974d1861504eda98b109b9b08ebb0d68a52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.2/kscreenlocker-5.25.2.tar.xz">kscreenlocker-5.25.2</a></td>
   <td align="right">110kB</td>
   <td><tt>3e26b40ffcd275150642c718a18185b89db39fbdf1cadd3f538da5cd78aff397</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.2/ksshaskpass-5.25.2.tar.xz">ksshaskpass-5.25.2</a></td>
   <td align="right">24kB</td>
   <td><tt>a6d916f96e3c3be6c9c4498e85229f7e06b0b74a6e041779eb75bc45d9cf90ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.2/ksystemstats-5.25.2.tar.xz">ksystemstats-5.25.2</a></td>
   <td align="right">96kB</td>
   <td><tt>8e3df4bd30f7c5e5e6de72576f5c59f5a76cb3d800518f40a196f0936479dac4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.2/kwallet-pam-5.25.2.tar.xz">kwallet-pam-5.25.2</a></td>
   <td align="right">20kB</td>
   <td><tt>0df7131347703c17d4b6e5716448d45dd2b95500a4b888b10a6045372588ce5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.2/kwayland-integration-5.25.2.tar.xz">kwayland-integration-5.25.2</a></td>
   <td align="right">23kB</td>
   <td><tt>d26d7b207245302c64f306b28d8404b7d8c6d3aed9ea6c6e5867f1a5ffed2adf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.2/kwin-5.25.2.tar.xz">kwin-5.25.2</a></td>
   <td align="right">6.3MB</td>
   <td><tt>54741ea0de2348a688aad48c67916eb514a27ca6d5a14c1ead3a8e8defe553d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.2/kwrited-5.25.2.tar.xz">kwrited-5.25.2</a></td>
   <td align="right">20kB</td>
   <td><tt>03374eab33a133031304c205db7c074d662f3a1503724fca2cdfffccb9278209</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.2/layer-shell-qt-5.25.2.tar.xz">layer-shell-qt-5.25.2</a></td>
   <td align="right">17kB</td>
   <td><tt>95c4b0938e1c77af7faba1e4e713c3b624cdab6cfcf586966bc788da254cb393</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.2/libkscreen-5.25.2.tar.xz">libkscreen-5.25.2</a></td>
   <td align="right">97kB</td>
   <td><tt>377ddb54e0223f99179414877a1cfe90c34be3c5b2245965392c0d290fbac24b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.2/libksysguard-5.25.2.tar.xz">libksysguard-5.25.2</a></td>
   <td align="right">753kB</td>
   <td><tt>9ef502174c6a6e0f6734ee8fca0a790f9d487857c8851c5003520f2027ed1c08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.2/milou-5.25.2.tar.xz">milou-5.25.2</a></td>
   <td align="right">47kB</td>
   <td><tt>d487a6950dc37013a1d3a51ff9a1cbc95e1b4b462771c3a162e4a3be5e1dee95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.2/oxygen-5.25.2.tar.xz">oxygen-5.25.2</a></td>
   <td align="right">2.5MB</td>
   <td><tt>2ccfc07e01e593410c39a65f877f0aa5584085d7071f9b0f53945c5a7401e734</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.2/oxygen-sounds-5.25.2.tar.xz">oxygen-sounds-5.25.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>67a691260eb2a8afbe086b6750b35b04b2c8b608cb4a7056d3ef94dfacdb108e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.2/plasma-browser-integration-5.25.2.tar.xz">plasma-browser-integration-5.25.2</a></td>
   <td align="right">217kB</td>
   <td><tt>43e1bb53bc4c8d36d2057d41719dad6d6d8826e9265c31d11f5701064c68d83b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.2/plasma-desktop-5.25.2.tar.xz">plasma-desktop-5.25.2</a></td>
   <td align="right">5.9MB</td>
   <td><tt>41e5c8269e24b9468ee61dd0451aaa9766ee94445cb2d635484ffd9e04ecf626</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.2/plasma-disks-5.25.2.tar.xz">plasma-disks-5.25.2</a></td>
   <td align="right">88kB</td>
   <td><tt>0461b58854c6e2e212fc5254ace2f3d0a49f787ae990524d150b4b28ce5073bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.2/plasma-firewall-5.25.2.tar.xz">plasma-firewall-5.25.2</a></td>
   <td align="right">346kB</td>
   <td><tt>cc3092f783f76d31a70df967c741d2cfefa7d71f7d1ecff8838fb5432df1913d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.2/plasma-integration-5.25.2.tar.xz">plasma-integration-5.25.2</a></td>
   <td align="right">84kB</td>
   <td><tt>8afeb4a2b97509364851faf639f8b6472f1a6504ae95bee77152d491b5ea7fd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.2/plasma-mobile-5.25.2.tar.xz">plasma-mobile-5.25.2</a></td>
   <td align="right">142kB</td>
   <td><tt>e857ae8338ad47e2966a3b0d405f5b273dc9fe7915e4fbbc4e48507079e2f949</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.2/plasma-nano-5.25.2.tar.xz">plasma-nano-5.25.2</a></td>
   <td align="right">66kB</td>
   <td><tt>7301895469b13f5c4f6287f40f7f5ecb44d83380ec9e06eb9421192f9765d0af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.2/plasma-nm-5.25.2.tar.xz">plasma-nm-5.25.2</a></td>
   <td align="right">914kB</td>
   <td><tt>8830c5ecd8a54a993177c640dec6a0380f7a22e269cb030e2e57759ef3d59dc3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.2/plasma-pa-5.25.2.tar.xz">plasma-pa-5.25.2</a></td>
   <td align="right">132kB</td>
   <td><tt>8d73b92ed3b072d3db1f1699c90300c1b53708dc60d963694627becaa82b22cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.2/plasma-sdk-5.25.2.tar.xz">plasma-sdk-5.25.2</a></td>
   <td align="right">257kB</td>
   <td><tt>215b6770951109a80eecafb06765cfc9073930b98ccff62024adeaf728e12a96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.2/plasma-systemmonitor-5.25.2.tar.xz">plasma-systemmonitor-5.25.2</a></td>
   <td align="right">152kB</td>
   <td><tt>cac617cd659703cf43e9a9f516f04cf7f6e61bfb8893efe1c41ca470562a5c0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.2/plasma-tests-5.25.2.tar.xz">plasma-tests-5.25.2</a></td>
   <td align="right">1kB</td>
   <td><tt>8aa31ca576beef9704cc94ad531fb75ad4ca7414a91f181fb86995a125e2047f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.2/plasma-thunderbolt-5.25.2.tar.xz">plasma-thunderbolt-5.25.2</a></td>
   <td align="right">66kB</td>
   <td><tt>662a40861d9fb71656214de84c167cfbe3fa60ca6aee1e50c8f25ce53c0950d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.2/plasma-vault-5.25.2.tar.xz">plasma-vault-5.25.2</a></td>
   <td align="right">174kB</td>
   <td><tt>45051f8e5139402ccf71e67909c69b8b29d10e4d4ceb49ba095e96ab339be48b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.2/plasma-workspace-5.25.2.tar.xz">plasma-workspace-5.25.2</a></td>
   <td align="right">17MB</td>
   <td><tt>dce4612e9c30f84ac61b646b31691fee426f9a054ae36e08f43d26bf2a5c9099</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.2/plasma-workspace-wallpapers-5.25.2.tar.xz">plasma-workspace-wallpapers-5.25.2</a></td>
   <td align="right">67MB</td>
   <td><tt>d95fb1155c292ec9a09bf4c032e3d83759c5173cfd86dd35d8eef561befb228b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.2/plymouth-kcm-5.25.2.tar.xz">plymouth-kcm-5.25.2</a></td>
   <td align="right">39kB</td>
   <td><tt>81c7a5690719c2f64544968266c5848c4109f79640defeacde76fd6154698e13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.2/polkit-kde-agent-1-5.25.2.tar.xz">polkit-kde-agent-1-5.25.2</a></td>
   <td align="right">47kB</td>
   <td><tt>61fcf1731ea5d287028407f760126972b9f36185959e8dbfa678fbfcf1e19ec1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.2/powerdevil-5.25.2.tar.xz">powerdevil-5.25.2</a></td>
   <td align="right">621kB</td>
   <td><tt>6655691126eb4ac1b61a793dd6f5a9ca5be96250661509e341d8679b2b0818aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.2/qqc2-breeze-style-5.25.2.tar.xz">qqc2-breeze-style-5.25.2</a></td>
   <td align="right">64kB</td>
   <td><tt>b30221d590dbad2072752c366718ed9fa6ed9eb4c0472f8847b8414cf11801d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.2/sddm-kcm-5.25.2.tar.xz">sddm-kcm-5.25.2</a></td>
   <td align="right">80kB</td>
   <td><tt>4e522a1ff6339d2b8820e85a023affee12b1c53746fd45413506fa95274bb945</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.2/systemsettings-5.25.2.tar.xz">systemsettings-5.25.2</a></td>
   <td align="right">202kB</td>
   <td><tt>d5824fae9cc31d580c640f6a6881dd4211093a9c5dfdab989ca2de9aad05e0af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.2/xdg-desktop-portal-kde-5.25.2.tar.xz">xdg-desktop-portal-kde-5.25.2</a></td>
   <td align="right">101kB</td>
   <td><tt>5078c2c5f77dd674be049822ea0bf7f692dc3448c33a878eb2dbe8817e0955ea</tt></td>
</tr>

</table>
