
1;115;0c<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/bluedevil-6.1.1.tar.xz">bluedevil-6.1.1</a></td>
   <td align="right">365kB</td>
   <td><tt>71b684b29b596c1c8b603a227ef8c9b30ae5174c270d5a20fdd4b4b6d872d7a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/breeze-6.1.1.tar.xz">breeze-6.1.1</a></td>
   <td align="right">55MB</td>
   <td><tt>8943ff74c4cb16b1b3c03eea0cca39821d444bea60dc163ff18e2bd313609725</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/breeze-grub-6.1.1.tar.xz">breeze-grub-6.1.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>7bc23cdffe48929af378bd2e2fd5696359a49d759d44914e1acb0525ec7fe561</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/breeze-gtk-6.1.1.tar.xz">breeze-gtk-6.1.1</a></td>
   <td align="right">39kB</td>
   <td><tt>a79efceccee85ad95484f8e64abf0922d8d4a0cb5475edd10024af947c4e8ece</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/breeze-plymouth-6.1.1.tar.xz">breeze-plymouth-6.1.1</a></td>
   <td align="right">108kB</td>
   <td><tt>f011ebd5105a7abbc5af3da3550046f143b5ad45fd85077429a058e91036771a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/discover-6.1.1.tar.xz">discover-6.1.1</a></td>
   <td align="right">996kB</td>
   <td><tt>18e70053e7e51d32c42e3713082e50e81862a2811757a95c98d9b68692d38b5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/drkonqi-6.1.1.tar.xz">drkonqi-6.1.1</a></td>
   <td align="right">850kB</td>
   <td><tt>67efdeba51f5392cff42c84a5437456c634ae25696aca3a9c3ae28705a66514d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/flatpak-kcm-6.1.1.tar.xz">flatpak-kcm-6.1.1</a></td>
   <td align="right">236kB</td>
   <td><tt>b1ce1c97ca4f3e500a64030fbe67233bd33798a73c5d11f8241ebadadaa33688</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/kactivitymanagerd-6.1.1.tar.xz">kactivitymanagerd-6.1.1</a></td>
   <td align="right">107kB</td>
   <td><tt>c7c0dd2a490901dfcf2f0940f5379fbe1b49f9b328919dd804baeaecf9485aa5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/kde-cli-tools-6.1.1.tar.xz">kde-cli-tools-6.1.1</a></td>
   <td align="right">613kB</td>
   <td><tt>a32a3957d5a4c24501c6fe71735d592be8f9ee87252d8c2730322cf3075ffcc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/kdecoration-6.1.1.tar.xz">kdecoration-6.1.1</a></td>
   <td align="right">53kB</td>
   <td><tt>cf1c53d2b6e88c978c8557d6c0bcd3499affd69aec5ad5f0d840b3811e678323</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/kde-gtk-config-6.1.1.tar.xz">kde-gtk-config-6.1.1</a></td>
   <td align="right">76kB</td>
   <td><tt>722662bb7b6fec6ef21ecf1d6da3fda94beada6bd458c05f2b76fe7aa53997a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/kdeplasma-addons-6.1.1.tar.xz">kdeplasma-addons-6.1.1</a></td>
   <td align="right">871kB</td>
   <td><tt>d7b3064b219cb78a37a5aff496122e2508acbd6a89467e28226458b574bec12a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/kgamma-6.1.1.tar.xz">kgamma-6.1.1</a></td>
   <td align="right">84kB</td>
   <td><tt>3d0c05911e6d67fddcc6c2e4903c0e8df7eae0191a582d57199082d539efc8a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/kglobalacceld-6.1.1.tar.xz">kglobalacceld-6.1.1</a></td>
   <td align="right">54kB</td>
   <td><tt>3ac759642432d4415a6a17856f33aa09eb6fda99d886b31a73907fd300f38b00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/kinfocenter-6.1.1.tar.xz">kinfocenter-6.1.1</a></td>
   <td align="right">702kB</td>
   <td><tt>df3eed2d2bd855f800802628eec07565b72d3c92b2ed1c38f3c5e2cf84b0ee28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/kmenuedit-6.1.1.tar.xz">kmenuedit-6.1.1</a></td>
   <td align="right">850kB</td>
   <td><tt>8f829b9ace9775299d43c7b4a94e0aab33b285fee9af053fe6896369d73c24e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/kpipewire-6.1.1.tar.xz">kpipewire-6.1.1</a></td>
   <td align="right">144kB</td>
   <td><tt>6a1d5aba6eaf530605bb22514cbb17a144d3e8c7c1a5ddf0d3a9ce6b481f7686</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/krdp-6.1.1.tar.xz">krdp-6.1.1</a></td>
   <td align="right">81kB</td>
   <td><tt>a6705c9e4b226349aba76cf6ca596217a0c17731030d84617a82178bdafb7a7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/kscreen-6.1.1.tar.xz">kscreen-6.1.1</a></td>
   <td align="right">204kB</td>
   <td><tt>dce5119d75b930bf39f72e10ab4bec4d38f9175fb2f02e10368dc98d7c883bf9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/kscreenlocker-6.1.1.tar.xz">kscreenlocker-6.1.1</a></td>
   <td align="right">175kB</td>
   <td><tt>55d53a05f737d53569eaec2579d655cc5ca3365dd5ae5187811198cb95c671a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/ksshaskpass-6.1.1.tar.xz">ksshaskpass-6.1.1</a></td>
   <td align="right">28kB</td>
   <td><tt>2ed7ddd20f64565b6ce0c48d74dbdb458e87a804593e44459be6e1c4b753dda7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/ksystemstats-6.1.1.tar.xz">ksystemstats-6.1.1</a></td>
   <td align="right">125kB</td>
   <td><tt>f207ea4611143ca8f8b6609a89cdf483b5f8b497234e085215631a848c4e2aab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/kwallet-pam-6.1.1.tar.xz">kwallet-pam-6.1.1</a></td>
   <td align="right">22kB</td>
   <td><tt>2c7f218f47c371c85439ddb771e8d18d4757cecd87da747d3b9a2e764d6d0c7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/kwayland-6.1.1.tar.xz">kwayland-6.1.1</a></td>
   <td align="right">130kB</td>
   <td><tt>dc91d4afb73bdb3eab605285a10258903e3c115a9872ac0ba792cef4688fdb85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/kwayland-integration-6.1.1.tar.xz">kwayland-integration-6.1.1</a></td>
   <td align="right">25kB</td>
   <td><tt>c8bd576acd2e7fec70dd2a89cb5d3af6c7d6fc7a78f4916af425b84dafac52b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/kwin-6.1.1.2.tar.xz">kwin-6.1.1.2</a></td>
   <td align="right">8.1MB</td>
   <td><tt>1cf0e4d996ccd92a77b6a725610ca32a60c2fae08a98f8b72f2aaf1569464c39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/kwrited-6.1.1.tar.xz">kwrited-6.1.1</a></td>
   <td align="right">23kB</td>
   <td><tt>a6f87ac6848863346e856af20ceefa3ec1c21360d1af05768fe9b088a13f7c7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/layer-shell-qt-6.1.1.tar.xz">layer-shell-qt-6.1.1</a></td>
   <td align="right">35kB</td>
   <td><tt>7c60e37301e8f343ef4965494b60186fda82798dd29aadbb35712daf62e34f53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/libkscreen-6.1.1.tar.xz">libkscreen-6.1.1</a></td>
   <td align="right">116kB</td>
   <td><tt>9612fd83ce828f816fd55ce79da772bf62e96b8e6457deeb5dc336925cfc20d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/libksysguard-6.1.1.tar.xz">libksysguard-6.1.1</a></td>
   <td align="right">298kB</td>
   <td><tt>bc1ed804373865d3de51e5e1cf7ad11c4b71ea131110a3940725b04332caee52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/libplasma-6.1.1.tar.xz">libplasma-6.1.1</a></td>
   <td align="right">2.0MB</td>
   <td><tt>2f24f10cd232a29fa1dc5618ee300608e9b5dc7798a3e2fffb0a8e439cc422d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/milou-6.1.1.tar.xz">milou-6.1.1</a></td>
   <td align="right">48kB</td>
   <td><tt>af117d0129ea440bfd544240ef0bdd3004e6bfe8b58bc836a2f306d9f5fecf83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/ocean-sound-theme-6.1.1.tar.xz">ocean-sound-theme-6.1.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>b6b60e82dfa1fdda82b94cb4705e9285143149829860a86a81f848d5ed2cf753</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/oxygen-6.1.1.tar.xz">oxygen-6.1.1</a></td>
   <td align="right">2.6MB</td>
   <td><tt>bf719787152c334a82f8e7c2e0b7aa1a12c4128e95011307026f147b8fdb82d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/oxygen-sounds-6.1.1.tar.xz">oxygen-sounds-6.1.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>d858e8026cf880c4c74f19bd5a81b7a404caacd33cf98fa432618aff6756ce51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/plasma5support-6.1.1.tar.xz">plasma5support-6.1.1</a></td>
   <td align="right">85kB</td>
   <td><tt>f8b8506f4326e96f918dd6e9cb2040ba785ea79d33cad575e33cbe984ee0b6d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/plasma-activities-6.1.1.tar.xz">plasma-activities-6.1.1</a></td>
   <td align="right">69kB</td>
   <td><tt>3dbdd9240208c5dfd2ca963e142256445a24459473eff6b3293027d0d3cce8d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/plasma-activities-stats-6.1.1.tar.xz">plasma-activities-stats-6.1.1</a></td>
   <td align="right">81kB</td>
   <td><tt>42846790ff461ef70cdcdb7edc10f3becf095e02f9e612fa1ac7e525104db613</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/plasma-browser-integration-6.1.1.tar.xz">plasma-browser-integration-6.1.1</a></td>
   <td align="right">217kB</td>
   <td><tt>408e25812eb49cd3fadf2b29f8ee9c5f041989a12a26744120c7315038e5c4f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/plasma-desktop-6.1.1.tar.xz">plasma-desktop-6.1.1</a></td>
   <td align="right">15MB</td>
   <td><tt>95e3ad9c3018cd05a2266f977f964c2415845d581cdda10f0f1517cd00c9f64e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/plasma-disks-6.1.1.tar.xz">plasma-disks-6.1.1</a></td>
   <td align="right">99kB</td>
   <td><tt>feeb016114fdadd862e18bbb842dde3fe86935d4175dd356f09e63664258a534</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/plasma-firewall-6.1.1.tar.xz">plasma-firewall-6.1.1</a></td>
   <td align="right">365kB</td>
   <td><tt>2728824507bd36dc6ff0c2b59b9198984215a67a739c9c27c3ffd05ab3c93a73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/plasma-integration-6.1.1.tar.xz">plasma-integration-6.1.1</a></td>
   <td align="right">90kB</td>
   <td><tt>180bea892d6dd249e98e0c320fcad557354340bd6c0958e7fe7928c347e5597d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/plasma-mobile-6.1.1.tar.xz">plasma-mobile-6.1.1</a></td>
   <td align="right">3.5MB</td>
   <td><tt>8ea8d4685131256bcd310b0a2130a740a3303bab318470b1f69030e8c2b44c05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/plasma-nano-6.1.1.tar.xz">plasma-nano-6.1.1</a></td>
   <td align="right">76kB</td>
   <td><tt>af618976ae43ec065d73f72e18ebadfb25f3ead67062d6a6e803eb1204fad352</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/plasma-nm-6.1.1.tar.xz">plasma-nm-6.1.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>36a2f708aac51af907b88664f9641fac5540b1f55f326b9f2162ee0cb57dfb50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/plasma-pa-6.1.1.tar.xz">plasma-pa-6.1.1</a></td>
   <td align="right">158kB</td>
   <td><tt>4da9327fbaa1cf9803e528c6952f9979aa447b8062644f8007dbc29082d4c879</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/plasma-sdk-6.1.1.tar.xz">plasma-sdk-6.1.1</a></td>
   <td align="right">319kB</td>
   <td><tt>fd43567d24895deb16138bf993a9662fedad564d37221392658ae974654d0f90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/plasma-systemmonitor-6.1.1.tar.xz">plasma-systemmonitor-6.1.1</a></td>
   <td align="right">183kB</td>
   <td><tt>738162c98e6508a3eaa10361edfba7e0e6cd77f797e995f366e42aa52d40e9e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/plasma-thunderbolt-6.1.1.tar.xz">plasma-thunderbolt-6.1.1</a></td>
   <td align="right">77kB</td>
   <td><tt>74fe967789a5dbf3f6839969b79bae0d30155b3fd115da0f5be72a5d217c145a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/plasma-vault-6.1.1.tar.xz">plasma-vault-6.1.1</a></td>
   <td align="right">196kB</td>
   <td><tt>2b0d20727e0b807590d5f9f8ed9200e1e42c3184919df4150cdd81795d0af3e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/plasma-welcome-6.1.1.tar.xz">plasma-welcome-6.1.1</a></td>
   <td align="right">648kB</td>
   <td><tt>dae2ad64c08870db956d9102971b7e239845f420da2ed9efdf4a0453faada9de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/plasma-workspace-6.1.1.tar.xz">plasma-workspace-6.1.1</a></td>
   <td align="right">18MB</td>
   <td><tt>47d2c42bdf8c127fa1656f65baa9828f9890cffd3f416b0af9e056cf228c07ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/plasma-workspace-wallpapers-6.1.1.tar.xz">plasma-workspace-wallpapers-6.1.1</a></td>
   <td align="right">95MB</td>
   <td><tt>07f22db713db8e3c822746395e893ac12d8345b8c37a4b0952bba350e5b67dfb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/plymouth-kcm-6.1.1.tar.xz">plymouth-kcm-6.1.1</a></td>
   <td align="right">45kB</td>
   <td><tt>66a07f60d6c33be17d93ab3b5199ce1b15a7be6b5127b4f0d3b4ac1e4e417dd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/polkit-kde-agent-1-6.1.1.tar.xz">polkit-kde-agent-1-6.1.1</a></td>
   <td align="right">55kB</td>
   <td><tt>1f8b4ba0a10a01bce1fa54f2d13a400e703ad764de04cbcb536d153afd17ae98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/powerdevil-6.1.1.tar.xz">powerdevil-6.1.1</a></td>
   <td align="right">941kB</td>
   <td><tt>495076e90366898399f6c2fee22a2d1fe9698524a7c6f2cacd82f8ca8d699f27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/print-manager-6.1.1.tar.xz">print-manager-6.1.1</a></td>
   <td align="right">361kB</td>
   <td><tt>b110f231cb2f9f944f3af7aa68220e1ccff1e0e5791e4ff1495413a4523dba66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/qqc2-breeze-style-6.1.1.tar.xz">qqc2-breeze-style-6.1.1</a></td>
   <td align="right">64kB</td>
   <td><tt>de2eddc8f1725d2dbbe778ceae025f0c390ee547310a000e783fff13e026a8fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/sddm-kcm-6.1.1.tar.xz">sddm-kcm-6.1.1</a></td>
   <td align="right">96kB</td>
   <td><tt>07c094b5109a393745a8c8b28f5dfe656b9e22ebebf5bdb3b2809253b5de2071</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/systemsettings-6.1.1.tar.xz">systemsettings-6.1.1</a></td>
   <td align="right">208kB</td>
   <td><tt>153b39aeed8307b51257495008143a154c6cfa64d3ba92860639a3150ba1a711</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/wacomtablet-6.1.1.tar.xz">wacomtablet-6.1.1</a></td>
   <td align="right">810kB</td>
   <td><tt>268fd26423fba085eb722294e3e757198961fa6275a91e7381fabd81a383a880</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.1/xdg-desktop-portal-kde-6.1.1.tar.xz">xdg-desktop-portal-kde-6.1.1</a></td>
   <td align="right">168kB</td>
   <td><tt>bc81542d6ff792046438277909d403137fd5b1caffa22349bddd0f14ff442804</tt></td>
</tr>

</table>
