<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.6/bluedevil-5.24.6.tar.xz">bluedevil-5.24.6</a></td>
   <td align="right">169kB</td>
   <td><tt>5969c5a1e29a9d77ca7ff8427d831f304ecf3971a10f0425e955f0197f808fc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.6/breeze-5.24.6.tar.xz">breeze-5.24.6</a></td>
   <td align="right">41MB</td>
   <td><tt>5d90980d18e93ce61a1d7a0435260127f5019a9b6ca5e792190dc989ef95d7e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.6/breeze-grub-5.24.6.tar.xz">breeze-grub-5.24.6</a></td>
   <td align="right">2.9MB</td>
   <td><tt>be4ba6d954fc2f520aa4ef0be66a33ae08f00f2bf8787b3da2c1de7c40eb30e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.6/breeze-gtk-5.24.6.tar.xz">breeze-gtk-5.24.6</a></td>
   <td align="right">42kB</td>
   <td><tt>d1abd31a79854713cc3128d7769191d7d05d069f3c80c4d5498cbc07a2134827</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.6/breeze-plymouth-5.24.6.tar.xz">breeze-plymouth-5.24.6</a></td>
   <td align="right">108kB</td>
   <td><tt>cbef2d6152c35eb220a42f922dbaec0c7c3cf64843fa138b1025080c6e4e252b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.6/discover-5.24.6.tar.xz">discover-5.24.6</a></td>
   <td align="right">7.8MB</td>
   <td><tt>4e6a0be3e1c060b2f7e240bddb3a3054b6b4a6f866dfdb3830e4726e13fd288c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.6/drkonqi-5.24.6.tar.xz">drkonqi-5.24.6</a></td>
   <td align="right">776kB</td>
   <td><tt>3ed9a861eec2608006c8bdd9e577f428ed819c52a46f3eca3e2ab4ea63465e9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.6/kactivitymanagerd-5.24.6.tar.xz">kactivitymanagerd-5.24.6</a></td>
   <td align="right">102kB</td>
   <td><tt>0c945560e35c18f2ca0df1680db25084d0209bd80097bf5e0fc2edb695273922</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.6/kde-cli-tools-5.24.6.tar.xz">kde-cli-tools-5.24.6</a></td>
   <td align="right">619kB</td>
   <td><tt>f6c2d55d280d5197d20aa108195cbaa69ee142159d6d4d5b39107a2d9cac2ca9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.6/kdecoration-5.24.6.tar.xz">kdecoration-5.24.6</a></td>
   <td align="right">47kB</td>
   <td><tt>34af6c6b5f201e6a2310e53e2a2a73f533736233326aa286c4f28a606072994b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.6/kde-gtk-config-5.24.6.tar.xz">kde-gtk-config-5.24.6</a></td>
   <td align="right">69kB</td>
   <td><tt>847a0064fd26bb0fcf9dc732c11535800d51bf5d466f87d38d3ee614ed95b0d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.6/kdeplasma-addons-5.24.6.tar.xz">kdeplasma-addons-5.24.6</a></td>
   <td align="right">621kB</td>
   <td><tt>d83a37e7717e43bb80e08a49f36abebf48f593a494332c820834b01288a6dca9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.6/kgamma5-5.24.6.tar.xz">kgamma5-5.24.6</a></td>
   <td align="right">81kB</td>
   <td><tt>ae8d3dfe8e807fad137bd7feb3f5f660828cf53718c0e2f5fd98c3f112a3e33a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.6/khotkeys-5.24.6.tar.xz">khotkeys-5.24.6</a></td>
   <td align="right">1.7MB</td>
   <td><tt>17bd4c7a5c6f922ab1cbe352a5ca7246dd0e48c4aea59d40b52e7e17704216ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.6/kinfocenter-5.24.6.tar.xz">kinfocenter-5.24.6</a></td>
   <td align="right">703kB</td>
   <td><tt>e43c4a9af0d42644e40b0d76bf96d20d71e6279e4266618b2cd4ef268976e148</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.6/kmenuedit-5.24.6.tar.xz">kmenuedit-5.24.6</a></td>
   <td align="right">880kB</td>
   <td><tt>48ebac09df6d43090c859a6599f86f6644c0dabcd32cdad5e9e21399b2299c7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.6/kscreen-5.24.6.tar.xz">kscreen-5.24.6</a></td>
   <td align="right">134kB</td>
   <td><tt>125ed4f382bb855942a8b1268e980113896822b1c9b7ca8eaa83b9eaca6513cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.6/kscreenlocker-5.24.6.tar.xz">kscreenlocker-5.24.6</a></td>
   <td align="right">116kB</td>
   <td><tt>918a3701d80f85e26cc550b4ef1a12fa5c8b9c670edee4b379a083855ec02b80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.6/ksshaskpass-5.24.6.tar.xz">ksshaskpass-5.24.6</a></td>
   <td align="right">24kB</td>
   <td><tt>b326a625404a1ab68ac627fa96cb9c4d2289a48afa551e24e21159131e2c8b74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.6/ksystemstats-5.24.6.tar.xz">ksystemstats-5.24.6</a></td>
   <td align="right">93kB</td>
   <td><tt>ca20215d26db30873befc2a8746e89c38dce2bcd0a6ef6a8a52451f4e4c6c641</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.6/kwallet-pam-5.24.6.tar.xz">kwallet-pam-5.24.6</a></td>
   <td align="right">19kB</td>
   <td><tt>ce44b24470bf8cc68b53194b558626b9426a3e2dd29927c46f61964e6d897d0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.6/kwayland-integration-5.24.6.tar.xz">kwayland-integration-5.24.6</a></td>
   <td align="right">24kB</td>
   <td><tt>7cff4068c989349ab79094a48fdca6de0e4da54d08fb2af5436cab9adec4592b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.6/kwayland-server-5.24.6.tar.xz">kwayland-server-5.24.6</a></td>
   <td align="right">216kB</td>
   <td><tt>c418ed6e88eb5c5a4b193d78954d39c56ffea28eb250e2fcdee69d136e588ff3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.6/kwin-5.24.6.tar.xz">kwin-5.24.6</a></td>
   <td align="right">6.1MB</td>
   <td><tt>6af31b9fef370f668e1e73dc213a691ed3ef36571ec51ab014f7ead347b60296</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.6/kwrited-5.24.6.tar.xz">kwrited-5.24.6</a></td>
   <td align="right">20kB</td>
   <td><tt>3774adf3482fa171018ca87595dc97f5dc091fb342855946799a2381ff0d7702</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.6/layer-shell-qt-5.24.6.tar.xz">layer-shell-qt-5.24.6</a></td>
   <td align="right">17kB</td>
   <td><tt>2760b26facb0fb376ae78463a8435793a16271812e96002b5715b6b90e443ee2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.6/libkscreen-5.24.6.tar.xz">libkscreen-5.24.6</a></td>
   <td align="right">97kB</td>
   <td><tt>374615fb28316a766f0bad1b6b1224fd2097c13b72dcedc33446a5853a5ef9c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.6/libksysguard-5.24.6.tar.xz">libksysguard-5.24.6</a></td>
   <td align="right">750kB</td>
   <td><tt>4dc5074d41e6bc46b778069de53d72d921bd0457c80ddeffa5716fa4ced88318</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.6/milou-5.24.6.tar.xz">milou-5.24.6</a></td>
   <td align="right">47kB</td>
   <td><tt>c569cc6f7b6711f7d99906d33bbe2f0d8d8f30439a92db46f143752cbe93de6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.6/oxygen-5.24.6.tar.xz">oxygen-5.24.6</a></td>
   <td align="right">4.3MB</td>
   <td><tt>ae24a908ea786c343fe6195880262bdfbec9ec5a8d9ce3ab7aead7eb53f9671c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.6/plasma-browser-integration-5.24.6.tar.xz">plasma-browser-integration-5.24.6</a></td>
   <td align="right">217kB</td>
   <td><tt>ae06cc4e54ef12b784a9f908611bdc50182b7af631ec143d0b130fd458901eca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.6/plasma-desktop-5.24.6.tar.xz">plasma-desktop-5.24.6</a></td>
   <td align="right">5.9MB</td>
   <td><tt>ac285ba6efdd3de239a090b88088331bb254e7bbe4503f4b69454f4bc5d2590d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.6/plasma-disks-5.24.6.tar.xz">plasma-disks-5.24.6</a></td>
   <td align="right">86kB</td>
   <td><tt>947c5b66db04bd603d5a35298962b176b0965abba5058413900bd22ad20dffac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.6/plasma-firewall-5.24.6.tar.xz">plasma-firewall-5.24.6</a></td>
   <td align="right">338kB</td>
   <td><tt>f548f15611c6ed3d092bbc34f255a7a0e343bbc26d098ba7cb17692130f89cb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.6/plasma-integration-5.24.6.tar.xz">plasma-integration-5.24.6</a></td>
   <td align="right">81kB</td>
   <td><tt>2107876888d8085a4a6178584db20d1793c90718823f3f031ebd1dc3ff9d3210</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.6/plasma-mobile-5.24.6.tar.xz">plasma-mobile-5.24.6</a></td>
   <td align="right">115kB</td>
   <td><tt>763250a2e963eb0f8660f5eb3e00e9fc74557231bb3c9a76786f657fd2dcc6e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.6/plasma-nano-5.24.6.tar.xz">plasma-nano-5.24.6</a></td>
   <td align="right">64kB</td>
   <td><tt>fe2418241669bacb1daf81642e76269a35ac930137f8c0d19a4bbd4614202555</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.6/plasma-nm-5.24.6.tar.xz">plasma-nm-5.24.6</a></td>
   <td align="right">904kB</td>
   <td><tt>97e65e39e827aef42ff68f74a60d813899a70b426c9f9dd701dc96aef70167b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.6/plasma-pa-5.24.6.tar.xz">plasma-pa-5.24.6</a></td>
   <td align="right">129kB</td>
   <td><tt>0856b099b8dc6e5f4ac11f5f711225238809c1275937b49accb9ccbcee0ebeca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.6/plasma-sdk-5.24.6.tar.xz">plasma-sdk-5.24.6</a></td>
   <td align="right">255kB</td>
   <td><tt>89a9fa251c5cfce1382fa2cb7d65a8a142a1d73234ad00c8d38ec71d0a686697</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.6/plasma-systemmonitor-5.24.6.tar.xz">plasma-systemmonitor-5.24.6</a></td>
   <td align="right">148kB</td>
   <td><tt>38413642e3f4ed99d3a5d0fe8a751a37e5826bbe8b5e11b685ecbc78bd412495</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.6/plasma-tests-5.24.6.tar.xz">plasma-tests-5.24.6</a></td>
   <td align="right">1kB</td>
   <td><tt>ca5fd969ca52f3472803eb30a239ed217f5c45b392e293ce647aa0c3f7077d29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.6/plasma-thunderbolt-5.24.6.tar.xz">plasma-thunderbolt-5.24.6</a></td>
   <td align="right">65kB</td>
   <td><tt>ca24b2e6f6d9a81c8deec80b5a6d0bd7f18f40572dceef459637b1a796006322</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.6/plasma-vault-5.24.6.tar.xz">plasma-vault-5.24.6</a></td>
   <td align="right">174kB</td>
   <td><tt>611f0415e9a52a3cfcd9c60a85a36467f4e791d3678c7a9285dc790ff23fe669</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.6/plasma-workspace-5.24.6.tar.xz">plasma-workspace-5.24.6</a></td>
   <td align="right">17MB</td>
   <td><tt>c710a164f7fc82648e9c1c4891cde9f42a697a2b72acb9baa2feab8146c2bb17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.6/plasma-workspace-wallpapers-5.24.6.tar.xz">plasma-workspace-wallpapers-5.24.6</a></td>
   <td align="right">69MB</td>
   <td><tt>9ce5edb337eb19f87f9f86089d00b62575eb1a1d7ae00863b56e713f7772e969</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.6/plymouth-kcm-5.24.6.tar.xz">plymouth-kcm-5.24.6</a></td>
   <td align="right">39kB</td>
   <td><tt>6d3bbe599e083b30e92d2d4792f763880c11f44ad82e2d459b4f4c41639b221f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.6/polkit-kde-agent-1-5.24.6.tar.xz">polkit-kde-agent-1-5.24.6</a></td>
   <td align="right">47kB</td>
   <td><tt>5b1c3d7da6de58ccf753f7268cb94cce1de203e578212f6956fe324552f605d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.6/powerdevil-5.24.6.tar.xz">powerdevil-5.24.6</a></td>
   <td align="right">618kB</td>
   <td><tt>016bd98cc46b7e65c53871743ede1dea2c518cd36f942169ad576ee8a10d23f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.6/qqc2-breeze-style-5.24.6.tar.xz">qqc2-breeze-style-5.24.6</a></td>
   <td align="right">65kB</td>
   <td><tt>bfca1d19bb6242ce60976c88f699f843198e24f34d5ba772a79dba8834c9b619</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.6/sddm-kcm-5.24.6.tar.xz">sddm-kcm-5.24.6</a></td>
   <td align="right">79kB</td>
   <td><tt>78b9704037d0874138cab95e283c46c64e765818c8cdc00dd6f3af1ae6c7cf1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.6/systemsettings-5.24.6.tar.xz">systemsettings-5.24.6</a></td>
   <td align="right">200kB</td>
   <td><tt>7a409a04dc89ee91a418b969cc2a23b2f36e1060707c3df098e841e5228bbccd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.6/xdg-desktop-portal-kde-5.24.6.tar.xz">xdg-desktop-portal-kde-5.24.6</a></td>
   <td align="right">87kB</td>
   <td><tt>edd3b9742039b5c261fc59f961f1cd2c97ca512522d8382c1b30d5436eb434d3</tt></td>
</tr>

</table>
