<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.4/bluedevil-5.16.4.tar.xz">bluedevil-5.16.4</a></td>
   <td align="right">154kB</td>
   <td><tt>36eaff3da49104fb4ca8de32c2cd42657af7cde94f54c95bacf5abd6c1d39521</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.4/breeze-5.16.4.tar.xz">breeze-5.16.4</a></td>
   <td align="right">15MB</td>
   <td><tt>84fea0c31a41521983698ad2aed603b5e2c6e4f6e8723e2c64c66c37eb2a5395</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.4/breeze-grub-5.16.4.tar.xz">breeze-grub-5.16.4</a></td>
   <td align="right">3.0MB</td>
   <td><tt>c36b2183fff7d559ae944881443e0caa03c63bcc81af9f6b21b722109d2e34db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.4/breeze-gtk-5.16.4.tar.xz">breeze-gtk-5.16.4</a></td>
   <td align="right">46kB</td>
   <td><tt>8c954a8754bc75b2d8edff70a7b322c559da6e23dc75e1ed616ac926fbe186eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.4/breeze-plymouth-5.16.4.tar.xz">breeze-plymouth-5.16.4</a></td>
   <td align="right">103kB</td>
   <td><tt>7556c8f6bff771f3439036f843309b45594c5e903fc11a3275cc2c38346dec9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.4/discover-5.16.4.tar.xz">discover-5.16.4</a></td>
   <td align="right">9.9MB</td>
   <td><tt>0e07a49d3ee93434452d69330b11653546a2104601ec08518be111ba7967f1b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.4/drkonqi-5.16.4.tar.xz">drkonqi-5.16.4</a></td>
   <td align="right">726kB</td>
   <td><tt>9d030a59a6d1d732241f8c54a54291ac60584d542ea0b891ca4b2bcb958bd51f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.4/kactivitymanagerd-5.16.4.tar.xz">kactivitymanagerd-5.16.4</a></td>
   <td align="right">82kB</td>
   <td><tt>a287fc9624390c8493a35a5440e2161d1bb67252b6986231acb6268440bb4770</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.4/kde-cli-tools-5.16.4.tar.xz">kde-cli-tools-5.16.4</a></td>
   <td align="right">573kB</td>
   <td><tt>56c7c2566217704a9d613757767c3b8ee8d1bc4601b9414a44acb50aaaaedc0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.4/kde-gtk-config-5.16.4.tar.xz">kde-gtk-config-5.16.4</a></td>
   <td align="right">150kB</td>
   <td><tt>c271b1caebac0837483af7ae11d2e4786a7770ff85753f1a3da4c8d28681111c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.4/kdecoration-5.16.4.tar.xz">kdecoration-5.16.4</a></td>
   <td align="right">41kB</td>
   <td><tt>aa77507dcf357243cca9002764f8c8d1c8404d7e5b7249ad0d0f900f0a47ace4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.4/kdeplasma-addons-5.16.4.tar.xz">kdeplasma-addons-5.16.4</a></td>
   <td align="right">580kB</td>
   <td><tt>4c0884dcb8413fa836d7e390b1c12fc71127c0e5e6fa278a338c253d1539f4a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.4/kgamma5-5.16.4.tar.xz">kgamma5-5.16.4</a></td>
   <td align="right">77kB</td>
   <td><tt>18c01c6a9d73f2450da24ac7a52c00b9d355a1ba41bd346eb71fbe271de85f46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.4/khotkeys-5.16.4.tar.xz">khotkeys-5.16.4</a></td>
   <td align="right">1.7MB</td>
   <td><tt>a8646ab20cd067a515d4a9318c814760be0030f27856f155edf11920caeddd0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.4/kinfocenter-5.16.4.tar.xz">kinfocenter-5.16.4</a></td>
   <td align="right">1.2MB</td>
   <td><tt>30e4df2d641c4faa385a718c772d893900eca99591ffee5787d6563fe5130426</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.4/kmenuedit-5.16.4.tar.xz">kmenuedit-5.16.4</a></td>
   <td align="right">792kB</td>
   <td><tt>f749ca062d9c7bfd2033c4016e8a3dcc9f849f83f941dd9a60fd5b0232d023a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.4/kscreen-5.16.4.tar.xz">kscreen-5.16.4</a></td>
   <td align="right">119kB</td>
   <td><tt>40c29ad2236459a267eed3cad4a6fc64b5e3f12df8567fcf8869ba770c2e2328</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.4/kscreenlocker-5.16.4.tar.xz">kscreenlocker-5.16.4</a></td>
   <td align="right">119kB</td>
   <td><tt>92a858f1f4bd6f209f328ca6456dfadc6b542e2a1e3d04ecdcc70f70c1cc2f6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.4/ksshaskpass-5.16.4.tar.xz">ksshaskpass-5.16.4</a></td>
   <td align="right">20kB</td>
   <td><tt>e3ff91e5c160b8e83b48215fca5d70f4baeef95b6c3b32e8cfc749183b0ec97c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.4/ksysguard-5.16.4.tar.xz">ksysguard-5.16.4</a></td>
   <td align="right">488kB</td>
   <td><tt>10abf3bfa676275b6fded5e49979466a011e0552b9357c1b8923f01184c029d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.4/kwallet-pam-5.16.4.tar.xz">kwallet-pam-5.16.4</a></td>
   <td align="right">19kB</td>
   <td><tt>7332dd9729c55f4b24260b3ec1266f72284f834eed66ce76badd4ac5af3dd429</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.4/kwayland-integration-5.16.4.tar.xz">kwayland-integration-5.16.4</a></td>
   <td align="right">18kB</td>
   <td><tt>f15ae33af1d9ff999ec45d00752f202242f71fc022ae72b9522e5bf3a20edace</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.4/kwin-5.16.4.tar.xz">kwin-5.16.4</a></td>
   <td align="right">5.9MB</td>
   <td><tt>71b96f1efef0b3f4974900373285a08d425a63628404fe9e89c27f61119383e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.4/kwrited-5.16.4.tar.xz">kwrited-5.16.4</a></td>
   <td align="right">19kB</td>
   <td><tt>c3011ee1c7a431b25797e12fa0b16e6d92277c8fe5dc1e656121a135ad156c0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.4/libkscreen-5.16.4.tar.xz">libkscreen-5.16.4</a></td>
   <td align="right">79kB</td>
   <td><tt>f20f33a2f32b3db39e94ca9d10e240591650357d03c1a2f8eb6c5faa4d1bf723</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.4/libksysguard-5.16.4.tar.xz">libksysguard-5.16.4</a></td>
   <td align="right">566kB</td>
   <td><tt>b9a8166bf808a54dd80eb8f760047c63989f1f10a9a7f649c8298c9a5031368f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.4/milou-5.16.4.tar.xz">milou-5.16.4</a></td>
   <td align="right">56kB</td>
   <td><tt>de9addbc504135839b1735742938d340cb191827606aa390f4b6ce1625c1ed89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.4/oxygen-5.16.4.tar.xz">oxygen-5.16.4</a></td>
   <td align="right">4.2MB</td>
   <td><tt>7ba8a18a0b44d2bf48c96679328f698a9bfd4d041724b960095fed67f228f2e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.4/plasma-browser-integration-5.16.4.tar.xz">plasma-browser-integration-5.16.4</a></td>
   <td align="right">120kB</td>
   <td><tt>a097b90dd47cdd01f6b7207cb9439c7f6e0ce68555272172f8b3b8e2086199ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.4/plasma-desktop-5.16.4.tar.xz">plasma-desktop-5.16.4</a></td>
   <td align="right">9.0MB</td>
   <td><tt>990e93eed2753053ac732ce5d1d45e7c9a52daa660b41b0d48955428e4834344</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.4/plasma-integration-5.16.4.tar.xz">plasma-integration-5.16.4</a></td>
   <td align="right">54kB</td>
   <td><tt>d4c5022ea91f9727cfebab821cb6b8e7b52671a6508cd7450e05bf51e248452d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.4/plasma-nm-5.16.4.tar.xz">plasma-nm-5.16.4</a></td>
   <td align="right">769kB</td>
   <td><tt>2da834873d4fa471ad87ee8ce18a871dfb2acdf0bdc0b764789e8e26ebc2ca09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.4/plasma-pa-5.16.4.tar.xz">plasma-pa-5.16.4</a></td>
   <td align="right">98kB</td>
   <td><tt>9b166e11f7115576181c17f0ced51b9a7ec689334d4b15ebb55d4e6e7ff6cbd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.4/plasma-sdk-5.16.4.tar.xz">plasma-sdk-5.16.4</a></td>
   <td align="right">244kB</td>
   <td><tt>ce8152ad6044e2cf430834bf97bb4542e69e168a4b7350e313d148a9bd3b9403</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.4/plasma-tests-5.16.4.tar.xz">plasma-tests-5.16.4</a></td>
   <td align="right">1kB</td>
   <td><tt>9e0f8fcef080fc1b0ffae01f6b3caa17eccac27445e312243221fcace56d1097</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.4/plasma-vault-5.16.4.tar.xz">plasma-vault-5.16.4</a></td>
   <td align="right">124kB</td>
   <td><tt>8d01b80079477fd7ea48a4cc3ff59728ae7dac3a5f6e552092dd5e67d72148f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.4/plasma-workspace-5.16.4.tar.xz">plasma-workspace-5.16.4</a></td>
   <td align="right">4.6MB</td>
   <td><tt>5cd9366ef3d0b68159d9dee2f14886d1f81d1ccf7aedceed1ae5cf8e32d243f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.4/plasma-workspace-wallpapers-5.16.4.tar.xz">plasma-workspace-wallpapers-5.16.4</a></td>
   <td align="right">32MB</td>
   <td><tt>052f6d978b1230706821f67574a7d053fadfb25de65227ffc8389a8570ac6003</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.4/plymouth-kcm-5.16.4.tar.xz">plymouth-kcm-5.16.4</a></td>
   <td align="right">39kB</td>
   <td><tt>cf9d3e6f14d012617cc8a5c3381295449e68b1b13209436b561417232d21863f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.4/polkit-kde-agent-1-5.16.4.tar.xz">polkit-kde-agent-1-5.16.4</a></td>
   <td align="right">41kB</td>
   <td><tt>917b31f194fcf5d56d465bd4a3a1cc8d0a30e302be63b9048b1b85b6746b46a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.4/powerdevil-5.16.4.tar.xz">powerdevil-5.16.4</a></td>
   <td align="right">576kB</td>
   <td><tt>40885869890366f7ea92946ed0f8d251546fb14228eddd2ad128e3be8f88d2ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.4/sddm-kcm-5.16.4.tar.xz">sddm-kcm-5.16.4</a></td>
   <td align="right">60kB</td>
   <td><tt>340034c5475d751c19c96a75445fa50877fad1c4de3422bc02f4b95e8f14bd68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.4/systemsettings-5.16.4.tar.xz">systemsettings-5.16.4</a></td>
   <td align="right">174kB</td>
   <td><tt>73b78c3c5177aa3ba0ffe970a83cb8bea1ba8ac54420a6c8379d6e86cabda31e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.4/user-manager-5.16.4.tar.xz">user-manager-5.16.4</a></td>
   <td align="right">534kB</td>
   <td><tt>3dd29a6abf8c15014ed87a448b13190516e16d8dc3a67d56f05f62d1f2e1b745</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.4/xdg-desktop-portal-kde-5.16.4.tar.xz">xdg-desktop-portal-kde-5.16.4</a></td>
   <td align="right">60kB</td>
   <td><tt>3b8aa78451cfc97ef316f1632f6a255ccebbe383ec8389ffc74d44540fc05052</tt></td>
</tr>

</table>
