<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.3/bluedevil-5.25.3.tar.xz">bluedevil-5.25.3</a></td>
   <td align="right">171kB</td>
   <td><tt>656173f9d18ce153dc5b3638006d0eefa809e57c4c66aad1a118d1d272a93615</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.3/breeze-5.25.3.tar.xz">breeze-5.25.3</a></td>
   <td align="right">29MB</td>
   <td><tt>1c5fdf94cf7cfba0a396b6945639eee28d230213d4bf8e05ccbd31f7262b477d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.3/breeze-grub-5.25.3.tar.xz">breeze-grub-5.25.3</a></td>
   <td align="right">2.9MB</td>
   <td><tt>669fbaee56585b7772051c8dfab2151d8c9a1e4d262157a6419b93bcd6d4868a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.3/breeze-gtk-5.25.3.tar.xz">breeze-gtk-5.25.3</a></td>
   <td align="right">44kB</td>
   <td><tt>d93473f0fa76c1036a5ce361859b36f14f4226ab8f9d54f10282ec1661eeb6da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.3/breeze-plymouth-5.25.3.tar.xz">breeze-plymouth-5.25.3</a></td>
   <td align="right">108kB</td>
   <td><tt>8d0f1e5de1784fdf6db2add9d8d1449a2a7e1bb14b743182de52ba5c11c97ad3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.3/discover-5.25.3.tar.xz">discover-5.25.3</a></td>
   <td align="right">7.9MB</td>
   <td><tt>3a53d8501f33c8a035101f9d33546efa8633a94dbaef4b88afd57f42fb2baf2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.3/drkonqi-5.25.3.tar.xz">drkonqi-5.25.3</a></td>
   <td align="right">480kB</td>
   <td><tt>411d3cfc253ee856b4da56ed2a22187a4e4971f4e98faa657a4c3eb23abee685</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.3/kactivitymanagerd-5.25.3.tar.xz">kactivitymanagerd-5.25.3</a></td>
   <td align="right">104kB</td>
   <td><tt>a7746ec9dbb0dd19d6fffb74ef3b3ff097f91aff33d0d42e75df25f676cd2581</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.3/kde-cli-tools-5.25.3.tar.xz">kde-cli-tools-5.25.3</a></td>
   <td align="right">617kB</td>
   <td><tt>300c28d36433985152ac88ffb3279af1d1759bc8cd07bead8a92bbfe6c281b55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.3/kdecoration-5.25.3.tar.xz">kdecoration-5.25.3</a></td>
   <td align="right">48kB</td>
   <td><tt>3ef59443be9b602a85710d0de1d39d9e9f5acc98698c0d13628ad66627b6de2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.3/kde-gtk-config-5.25.3.tar.xz">kde-gtk-config-5.25.3</a></td>
   <td align="right">70kB</td>
   <td><tt>7988a20c5d81c059eda8a820113b6e10a04919bde29055a49b81d7e3dc064b76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.3/kdeplasma-addons-5.25.3.tar.xz">kdeplasma-addons-5.25.3</a></td>
   <td align="right">649kB</td>
   <td><tt>152fafbdbb7e9b68237893ffbe7e7ba349eb7e603ccfa92db27bb5443c36277d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.3/kgamma5-5.25.3.tar.xz">kgamma5-5.25.3</a></td>
   <td align="right">82kB</td>
   <td><tt>a03e0fc48be83799fad555576c85b45072a8e42863ca68741a0ca5750d04e580</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.3/khotkeys-5.25.3.tar.xz">khotkeys-5.25.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>b2e530a247a4876df170f93df4eac1bac9117aceeb4134673585ee26293d8cec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.3/kinfocenter-5.25.3.tar.xz">kinfocenter-5.25.3</a></td>
   <td align="right">716kB</td>
   <td><tt>c1aa9db639b8d162870bf6c5ee2ad91eede3972c7c519bc7ce9c918955f6139e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.3/kmenuedit-5.25.3.tar.xz">kmenuedit-5.25.3</a></td>
   <td align="right">883kB</td>
   <td><tt>f792a1012b10118b13e8baa353fd014fc2051f35b2cb139b2a1b6491a8226778</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.3/kscreen-5.25.3.tar.xz">kscreen-5.25.3</a></td>
   <td align="right">141kB</td>
   <td><tt>7f534944c81e7ca35b676cff065c64deebe2ec2fe06b31849465254a5ffc375d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.3/kscreenlocker-5.25.3.tar.xz">kscreenlocker-5.25.3</a></td>
   <td align="right">111kB</td>
   <td><tt>8c8f99c49932e9ebba0738f8fa302718485d26403c730096e75b2524471e31ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.3/ksshaskpass-5.25.3.tar.xz">ksshaskpass-5.25.3</a></td>
   <td align="right">24kB</td>
   <td><tt>d31a602cc1375458390b577ce1fd8b7d16789cb565eb07f66109bbfdf539d469</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.3/ksystemstats-5.25.3.tar.xz">ksystemstats-5.25.3</a></td>
   <td align="right">96kB</td>
   <td><tt>8e34ff0c90722019202d82d74e2db2ea947b62199aaccad8ea3c20c0beaa0868</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.3/kwallet-pam-5.25.3.tar.xz">kwallet-pam-5.25.3</a></td>
   <td align="right">20kB</td>
   <td><tt>4b8a3388f3496541be376c2b71c0596db1d46bd71041f3eb47ef3b0de82e64c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.3/kwayland-integration-5.25.3.tar.xz">kwayland-integration-5.25.3</a></td>
   <td align="right">23kB</td>
   <td><tt>4eae00d046542dbcab47568bfd78b1e708837df4a82ae982297b5fdd5fe48534</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.3/kwin-5.25.3.tar.xz">kwin-5.25.3</a></td>
   <td align="right">6.3MB</td>
   <td><tt>52927c7b6a2f28c6b8a515b1eb6f7faeacdc0d53321290887ebaffb9ab2fd0ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.3/kwrited-5.25.3.tar.xz">kwrited-5.25.3</a></td>
   <td align="right">20kB</td>
   <td><tt>ec2acf8b08e873ef5339d39a66022393ae2b11792d341a4b45640005dfad6a8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.3/layer-shell-qt-5.25.3.tar.xz">layer-shell-qt-5.25.3</a></td>
   <td align="right">17kB</td>
   <td><tt>60c5172a66562f1a12b8d27bc632e80eb721fb7dab89c5f3d7ac12c849c53d1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.3/libkscreen-5.25.3.tar.xz">libkscreen-5.25.3</a></td>
   <td align="right">97kB</td>
   <td><tt>e59fd83678eaa726d72afda7313d081943cb63b9abfbe85627dc334ec0ccb3d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.3/libksysguard-5.25.3.tar.xz">libksysguard-5.25.3</a></td>
   <td align="right">761kB</td>
   <td><tt>094503e82a9782e31ed8ed58487cca2fd14da168196fa7b89c3657bc65cf39d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.3/milou-5.25.3.tar.xz">milou-5.25.3</a></td>
   <td align="right">47kB</td>
   <td><tt>57915f252b8b14c8387a2a518fe7e0fa1344be848c5214197d9564635b8963f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.3/oxygen-5.25.3.tar.xz">oxygen-5.25.3</a></td>
   <td align="right">2.6MB</td>
   <td><tt>70993e228481830e4c6f1de34266c52e97a8b3be1b32d28dfd66f4d0aaadd37a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.3/oxygen-sounds-5.25.3.tar.xz">oxygen-sounds-5.25.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>7fee01d592e8eff850c09863e26dc8bec72def589756fd8a769edd8e076eb8c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.3/plasma-browser-integration-5.25.3.tar.xz">plasma-browser-integration-5.25.3</a></td>
   <td align="right">221kB</td>
   <td><tt>e2ef0e026ce7f572776100133444855ebbc7f8ebb9e59f63c8800f0d994b2ecf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.3/plasma-desktop-5.25.3.tar.xz">plasma-desktop-5.25.3</a></td>
   <td align="right">6.0MB</td>
   <td><tt>48a3b70bffcb25647d0a11dfa3ff841891091c1a4152fb8f20a395a9307e8d8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.3/plasma-disks-5.25.3.tar.xz">plasma-disks-5.25.3</a></td>
   <td align="right">89kB</td>
   <td><tt>9c2a25836f363952eea30ad8cb0671d232bb6b628c9b929075889b4d7a51ddb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.3/plasma-firewall-5.25.3.tar.xz">plasma-firewall-5.25.3</a></td>
   <td align="right">348kB</td>
   <td><tt>7b46ff95a2f5a6b687b8f69794026a84f9c783cd33ab91f66997cca698269333</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.3/plasma-integration-5.25.3.tar.xz">plasma-integration-5.25.3</a></td>
   <td align="right">84kB</td>
   <td><tt>53aec648aa30e5de4e4ba32e4a76fc20fd6e984f8afd030529444eb0d6065ff3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.3/plasma-mobile-5.25.3.tar.xz">plasma-mobile-5.25.3</a></td>
   <td align="right">142kB</td>
   <td><tt>e325e1b4977f01a551003d4947a17eca1b1f93bc83a5546903b9d52f1e5eeeb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.3/plasma-nano-5.25.3.tar.xz">plasma-nano-5.25.3</a></td>
   <td align="right">67kB</td>
   <td><tt>6d0e3640d7fdd6020eb3c84afa0e87255709a55d76930638dae88dc5022ba902</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.3/plasma-nm-5.25.3.tar.xz">plasma-nm-5.25.3</a></td>
   <td align="right">927kB</td>
   <td><tt>a74bd66009712a52aa2b7dfc1c895e5a4e234b7723f84975b8b434e4a5e41f4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.3/plasma-pa-5.25.3.tar.xz">plasma-pa-5.25.3</a></td>
   <td align="right">133kB</td>
   <td><tt>41603522d62cb329a4a77c3219317565d434a150a4bf6ce05bb538e7c00e089d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.3/plasma-sdk-5.25.3.tar.xz">plasma-sdk-5.25.3</a></td>
   <td align="right">260kB</td>
   <td><tt>bce833bb9dd7184bad75ce75e037edd33a62c1caedacb3d1f30dd2bef1760ec2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.3/plasma-systemmonitor-5.25.3.tar.xz">plasma-systemmonitor-5.25.3</a></td>
   <td align="right">155kB</td>
   <td><tt>1d9ac656721ae82795f6299790214ae1f4c0089338921b188e1d60eb419dbd1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.3/plasma-tests-5.25.3.tar.xz">plasma-tests-5.25.3</a></td>
   <td align="right">1kB</td>
   <td><tt>f67f530d66f778f4547e215926c9f399793310406f1da5fd72308b5bce82fb34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.3/plasma-thunderbolt-5.25.3.tar.xz">plasma-thunderbolt-5.25.3</a></td>
   <td align="right">67kB</td>
   <td><tt>a74854db87743f2fb7f46cc14f90537643a957431591bb9fcbde5fdef6c16d15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.3/plasma-vault-5.25.3.tar.xz">plasma-vault-5.25.3</a></td>
   <td align="right">176kB</td>
   <td><tt>06105ca3329f50b99e56d13b3b077657857afb90be17e781054cd4fd7c3e0bde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.3/plasma-workspace-5.25.3.1.tar.xz">plasma-workspace-5.25.3.1</a></td>
   <td align="right">17MB</td>
   <td><tt>a150355ff35a98e17afca3c2239b826817aa178cf89040140aba240066680f26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.3/plasma-workspace-wallpapers-5.25.3.tar.xz">plasma-workspace-wallpapers-5.25.3</a></td>
   <td align="right">67MB</td>
   <td><tt>905e56406b21dde5161ef39a8d35d48e123aee8144c30bb89cbff726b1be5c97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.3/plymouth-kcm-5.25.3.tar.xz">plymouth-kcm-5.25.3</a></td>
   <td align="right">39kB</td>
   <td><tt>f2aee02298757b091e9f631b3af28160fea9248b884ebcee088c22a8017c6069</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.3/polkit-kde-agent-1-5.25.3.tar.xz">polkit-kde-agent-1-5.25.3</a></td>
   <td align="right">47kB</td>
   <td><tt>95dd7433f42a6afbd01e03783fb36d4fc55ec7d8d7b1ab4146637e83f43d0648</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.3/powerdevil-5.25.3.tar.xz">powerdevil-5.25.3</a></td>
   <td align="right">623kB</td>
   <td><tt>02ae3c4eef7d254aac687557f7f092e1a89beb3390ac77eadb784d2133d0dcd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.3/qqc2-breeze-style-5.25.3.tar.xz">qqc2-breeze-style-5.25.3</a></td>
   <td align="right">64kB</td>
   <td><tt>ac589854be6803add13dc3fb3a88be6310b994d897247c52ca133bed5524e1c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.3/sddm-kcm-5.25.3.tar.xz">sddm-kcm-5.25.3</a></td>
   <td align="right">81kB</td>
   <td><tt>4d5fb732630bf1eb1d997eba4fcc985c8ff3ce26d7469638cf0dca5d84db37d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.3/systemsettings-5.25.3.tar.xz">systemsettings-5.25.3</a></td>
   <td align="right">202kB</td>
   <td><tt>99d0ec23f63934c93ce3de99e61bd21f9552b615eaebdcb4e36c808b43c9c402</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.3/xdg-desktop-portal-kde-5.25.3.tar.xz">xdg-desktop-portal-kde-5.25.3</a></td>
   <td align="right">102kB</td>
   <td><tt>c79ebabcd7a5c418de396a6e4e454cac91037db4021bdd381766057970bfec1e</tt></td>
</tr>

</table>
