
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/attica-5.53.0.tar.xz">attica-5.53.0</a></td>
   <td align="right">61kB</td>
   <td><tt>bc494b496a87fb27d2fa14c3d20d8ba8422adf02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/baloo-5.53.0.tar.xz">baloo-5.53.0</a></td>
   <td align="right">229kB</td>
   <td><tt>bbc903128372e263d5092a0b4234b23458dc9679</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/bluez-qt-5.53.0.tar.xz">bluez-qt-5.53.0</a></td>
   <td align="right">78kB</td>
   <td><tt>26ab7e7adf7e3746c5b405f5c71dd2eec80fbcc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/breeze-icons-5.53.0.tar.xz">breeze-icons-5.53.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>b557153f33ce19cadf1279f6795597ca9a45c04c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/extra-cmake-modules-5.53.0.tar.xz">extra-cmake-modules-5.53.0</a></td>
   <td align="right">316kB</td>
   <td><tt>1c01e141f2a4f5510080729e1b6c6f4b7f86a11e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/frameworkintegration-5.53.0.tar.xz">frameworkintegration-5.53.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>5edef2bc2396cedb9d1e0ae2f8ded7c7059bc936</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/kactivities-5.53.0.tar.xz">kactivities-5.53.0</a></td>
   <td align="right">59kB</td>
   <td><tt>acba3496d48068558d1ed549cb08ff7709cd4164</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/kactivities-stats-5.53.0.tar.xz">kactivities-stats-5.53.0</a></td>
   <td align="right">59kB</td>
   <td><tt>0ca18182a9de621378e78c2a48afab4983aec4c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/kapidox-5.53.0.tar.xz">kapidox-5.53.0</a></td>
   <td align="right">387kB</td>
   <td><tt>82ce653eea89d38d90feba55e32200321cbb824e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/karchive-5.53.0.tar.xz">karchive-5.53.0</a></td>
   <td align="right">429kB</td>
   <td><tt>fe906af4bb8ede8cbb0c257dad7f84e449bf52a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/kauth-5.53.0.tar.xz">kauth-5.53.0</a></td>
   <td align="right">82kB</td>
   <td><tt>fa5f5a21d36df84c6a97549fe0d7d4358504a7e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/kbookmarks-5.53.0.tar.xz">kbookmarks-5.53.0</a></td>
   <td align="right">115kB</td>
   <td><tt>ab469d7f04049447922e62d45a80542a3fb32fc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/kcmutils-5.53.0.tar.xz">kcmutils-5.53.0</a></td>
   <td align="right">231kB</td>
   <td><tt>f1dd28870960362b92b1939d1f3e3634541d2d2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/kcodecs-5.53.0.tar.xz">kcodecs-5.53.0</a></td>
   <td align="right">214kB</td>
   <td><tt>ce92d2e71d2a82f36feb2ea12dbf4894087238fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/kcompletion-5.53.0.tar.xz">kcompletion-5.53.0</a></td>
   <td align="right">112kB</td>
   <td><tt>bce00d39fa32e6e20f01134658a9f30653f6761e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/kconfig-5.53.0.tar.xz">kconfig-5.53.0</a></td>
   <td align="right">232kB</td>
   <td><tt>fd802e13fd14e79d5fcd0e00513c5480920496c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/kconfigwidgets-5.53.0.tar.xz">kconfigwidgets-5.53.0</a></td>
   <td align="right">364kB</td>
   <td><tt>40502071ea6aae9517edf12b7825baacbee3a73a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/kcoreaddons-5.53.0.tar.xz">kcoreaddons-5.53.0</a></td>
   <td align="right">344kB</td>
   <td><tt>59b7a396ece0c0bd91cccbacff51af3acbd3c657</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/kcrash-5.53.0.tar.xz">kcrash-5.53.0</a></td>
   <td align="right">21kB</td>
   <td><tt>89a20706f55af3efb9dc8c56912a2ee3b7f942f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/kdbusaddons-5.53.0.tar.xz">kdbusaddons-5.53.0</a></td>
   <td align="right">36kB</td>
   <td><tt>ac9eb5f9a3d98f2ce1253226cc5c13a246256778</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/kdeclarative-5.53.0.tar.xz">kdeclarative-5.53.0</a></td>
   <td align="right">168kB</td>
   <td><tt>2392bd270a4ee2d59bf5c75bccda1b2585b119ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/kded-5.53.0.tar.xz">kded-5.53.0</a></td>
   <td align="right">37kB</td>
   <td><tt>79510bc8500175a0580c93095061b19013cd8dcc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/kdesignerplugin-5.53.0.tar.xz">kdesignerplugin-5.53.0</a></td>
   <td align="right">88kB</td>
   <td><tt>4ae0b0cf5f1937f38ac49ec0653931e7cc558009</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/kdesu-5.53.0.tar.xz">kdesu-5.53.0</a></td>
   <td align="right">43kB</td>
   <td><tt>f81f5dd300648a62e9a9b149bef5268e2f935242</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/kdewebkit-5.53.0.tar.xz">kdewebkit-5.53.0</a></td>
   <td align="right">28kB</td>
   <td><tt>272deb0d613c9c62b207abbf6b965b1c5a451096</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/kdnssd-5.53.0.tar.xz">kdnssd-5.53.0</a></td>
   <td align="right">56kB</td>
   <td><tt>7a47738c07d9a0a2a1f08204cefea35368307c97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/kdoctools-5.53.0.tar.xz">kdoctools-5.53.0</a></td>
   <td align="right">414kB</td>
   <td><tt>c36635cd0e033371c514fc1d59d4a058929af3ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/kemoticons-5.53.0.tar.xz">kemoticons-5.53.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>2eea6afec82d42d4fa56eed27f3e9e7f2004c2d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/kfilemetadata-5.53.0.tar.xz">kfilemetadata-5.53.0</a></td>
   <td align="right">293kB</td>
   <td><tt>b4e0575ee9f524a3329411ee2a2ccb4f77692e29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/kglobalaccel-5.53.0.tar.xz">kglobalaccel-5.53.0</a></td>
   <td align="right">81kB</td>
   <td><tt>acc951e888db821d2b762654339e37486f093fc3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/kguiaddons-5.53.0.tar.xz">kguiaddons-5.53.0</a></td>
   <td align="right">39kB</td>
   <td><tt>d0dd3110e96050d63d5387886e3fd27d6547379a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/kholidays-5.53.0.tar.xz">kholidays-5.53.0</a></td>
   <td align="right">197kB</td>
   <td><tt>5062dd2390f4887fb7a5d719ca36c1aa22407b3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/ki18n-5.53.0.tar.xz">ki18n-5.53.0</a></td>
   <td align="right">573kB</td>
   <td><tt>96d275001d7ed0681016c4b8f8435cebee50125c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/kiconthemes-5.53.0.tar.xz">kiconthemes-5.53.0</a></td>
   <td align="right">202kB</td>
   <td><tt>ba3212775736475cba019c772541c2d547983637</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/kidletime-5.53.0.tar.xz">kidletime-5.53.0</a></td>
   <td align="right">25kB</td>
   <td><tt>ae93d60a7c13eab00e0a1a3bb275f175fb1bc38e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/kimageformats-5.53.0.tar.xz">kimageformats-5.53.0</a></td>
   <td align="right">198kB</td>
   <td><tt>12eb640591d3c65660455bbea64d147995b083e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/kinit-5.53.0.tar.xz">kinit-5.53.0</a></td>
   <td align="right">117kB</td>
   <td><tt>3c0120bb2bd7cf7b8f0d3abfe0849f3a7d2a1460</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/kio-5.53.0.tar.xz">kio-5.53.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>d20adc5ee2c5bef4df8c3bca485e8866d664d2e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/kirigami2-5.53.0.tar.xz">kirigami2-5.53.0</a></td>
   <td align="right">121kB</td>
   <td><tt>4ec994ebb9dd406e39fdf5377d184ce33aec8e1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/kitemmodels-5.53.0.tar.xz">kitemmodels-5.53.0</a></td>
   <td align="right">380kB</td>
   <td><tt>bd2a73717fbe9fad24d927f80d2c2a917d8d6ee6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/kitemviews-5.53.0.tar.xz">kitemviews-5.53.0</a></td>
   <td align="right">73kB</td>
   <td><tt>99fb004ec6aecc805e9250668b2b4c845b4c13d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/kjobwidgets-5.53.0.tar.xz">kjobwidgets-5.53.0</a></td>
   <td align="right">85kB</td>
   <td><tt>4be5604e68e922b2c2b606fc3606ecbaf8e75ab5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/knewstuff-5.53.0.tar.xz">knewstuff-5.53.0</a></td>
   <td align="right">985kB</td>
   <td><tt>400eed9d035a80e17a555fa747e1726fea975a02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/knotifications-5.53.0.tar.xz">knotifications-5.53.0</a></td>
   <td align="right">100kB</td>
   <td><tt>db2047d2ef2a9cd3362d720455455c259d9e50d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/knotifyconfig-5.53.0.tar.xz">knotifyconfig-5.53.0</a></td>
   <td align="right">81kB</td>
   <td><tt>f8d46f244033e92dab4782e946f197939fd1ff32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/kpackage-5.53.0.tar.xz">kpackage-5.53.0</a></td>
   <td align="right">129kB</td>
   <td><tt>e924839bed4ce8a7faa320a5380c2c67291995a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/kparts-5.53.0.tar.xz">kparts-5.53.0</a></td>
   <td align="right">171kB</td>
   <td><tt>c14ffbcf0624d35661fbb8543b8694321976a87c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/kpeople-5.53.0.tar.xz">kpeople-5.53.0</a></td>
   <td align="right">58kB</td>
   <td><tt>5469a484b87abc6b5ba0e6b88e4c135c45dd1cf0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/kplotting-5.53.0.tar.xz">kplotting-5.53.0</a></td>
   <td align="right">29kB</td>
   <td><tt>859e5de9ab48f2426d348e1a7fb19b019433c75d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/kpty-5.53.0.tar.xz">kpty-5.53.0</a></td>
   <td align="right">56kB</td>
   <td><tt>a7a2babce46b3833ee77390ab756b1a2d50c87a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/krunner-5.53.0.tar.xz">krunner-5.53.0</a></td>
   <td align="right">60kB</td>
   <td><tt>0f61502d07aadef83d0f3d61ed1e125df6ec53ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/kservice-5.53.0.tar.xz">kservice-5.53.0</a></td>
   <td align="right">244kB</td>
   <td><tt>2e10dfaacb55d6a76423aa6b0ac3fac227c691ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/ktexteditor-5.53.0.tar.xz">ktexteditor-5.53.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>90a8c4d8cf8c1f9251dc5ee4d41d0c0b96201830</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/ktextwidgets-5.53.0.tar.xz">ktextwidgets-5.53.0</a></td>
   <td align="right">300kB</td>
   <td><tt>cbf06c2a7334e6664ec3e6bd051125f46ea0b545</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/kunitconversion-5.53.0.tar.xz">kunitconversion-5.53.0</a></td>
   <td align="right">754kB</td>
   <td><tt>548c0b7516fa0fa7d0f66954a0fbb2d1614007a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/kwallet-5.53.0.tar.xz">kwallet-5.53.0</a></td>
   <td align="right">300kB</td>
   <td><tt>364632fc7495da1355eab1782f2003bcf73e41fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/kwayland-5.53.0.tar.xz">kwayland-5.53.0</a></td>
   <td align="right">325kB</td>
   <td><tt>f479128fb6ecf0f0508e902cff1c9f881eea5d18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/kwidgetsaddons-5.53.0.tar.xz">kwidgetsaddons-5.53.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>23fc668f6a052f74324e43ebe2d1c8ebeacacc1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/kwindowsystem-5.53.0.tar.xz">kwindowsystem-5.53.0</a></td>
   <td align="right">165kB</td>
   <td><tt>5a8763262ddd2dde79886c76d3954f6d18f9d783</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/kxmlgui-5.53.0.tar.xz">kxmlgui-5.53.0</a></td>
   <td align="right">848kB</td>
   <td><tt>8c4d974e783a5c3f3b1a5b28204757141ed0ecb4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/kxmlrpcclient-5.53.0.tar.xz">kxmlrpcclient-5.53.0</a></td>
   <td align="right">28kB</td>
   <td><tt>56c31072e946640d029a1e2a977f98fa4d61a827</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/modemmanager-qt-5.53.0.tar.xz">modemmanager-qt-5.53.0</a></td>
   <td align="right">98kB</td>
   <td><tt>fd2bf5be5d7f0d6c2e08ac518396eaaef4fcbdf5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/networkmanager-qt-5.53.0.tar.xz">networkmanager-qt-5.53.0</a></td>
   <td align="right">168kB</td>
   <td><tt>68f8967a31c2fb7f54812ef83bbb4362315a6d5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/oxygen-icons5-5.53.0.tar.xz">oxygen-icons5-5.53.0</a></td>
   <td align="right">225MB</td>
   <td><tt>46e3ee73433990f188108b20ef4b9ab3ca26434b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/plasma-framework-5.53.0.tar.xz">plasma-framework-5.53.0</a></td>
   <td align="right">4.4MB</td>
   <td><tt>90d2dc5118e3363c34440f6115b47fc0fcaa26ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/prison-5.53.0.tar.xz">prison-5.53.0</a></td>
   <td align="right">40kB</td>
   <td><tt>098f5a874be79cdea6e1d3d1a4c114703e911930</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/purpose-5.53.0.tar.xz">purpose-5.53.0</a></td>
   <td align="right">138kB</td>
   <td><tt>b24691c871f355a84b978f2706a7a954960d2084</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/qqc2-desktop-style-5.53.0.tar.xz">qqc2-desktop-style-5.53.0</a></td>
   <td align="right">41kB</td>
   <td><tt>18201d24708d484be60993a5bd913a15d3f2c81d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/solid-5.53.0.tar.xz">solid-5.53.0</a></td>
   <td align="right">251kB</td>
   <td><tt>cd5e21ca374f39c138a747c49355cca35562f44c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/sonnet-5.53.0.tar.xz">sonnet-5.53.0</a></td>
   <td align="right">278kB</td>
   <td><tt>61fd9cbebd7c535ba244a97a5c78e3e4c83f0a89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/syndication-5.53.0.tar.xz">syndication-5.53.0</a></td>
   <td align="right">155kB</td>
   <td><tt>37d8432f434d031630aeb0f4eedc5adf39105145</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/syntax-highlighting-5.53.0.tar.xz">syntax-highlighting-5.53.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>a3bc4e761eeda374c4eb5693ac0ee088e01123f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.53/threadweaver-5.53.0.tar.xz">threadweaver-5.53.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>8d2c9e9e46b2a997ba02b5de7ad5da39426f960b</tt></td>
</tr>

</table>
