<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/accessibility-inspector-24.05.2.tar.xz">accessibility-inspector-24.05.2</a></td>
   <td align="right">81kB</td>
   <td><tt>d5f77dc0f1b33bc9280978296ad21fc67642d234d8ccfe7f9e7255a8ff3a50b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/akonadi-24.05.2.tar.xz">akonadi-24.05.2</a></td>
   <td align="right">1664kB</td>
   <td><tt>887966e46ce80c974ed27902531ffbf38cb621c6ad429e5576e5510da190fd79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/akonadi-calendar-24.05.2.tar.xz">akonadi-calendar-24.05.2</a></td>
   <td align="right">500kB</td>
   <td><tt>f0db67ab79eebcd1ea57aa137e4fd085d2b60ffcb2c5de7c0a1a627cac1c945b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/akonadi-calendar-tools-24.05.2.tar.xz">akonadi-calendar-tools-24.05.2</a></td>
   <td align="right">258kB</td>
   <td><tt>63480e063b6d18b9bfad2d97d9b8ca4f4760779a9cf2b40e27ef25dbcdfd54ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/akonadiconsole-24.05.2.tar.xz">akonadiconsole-24.05.2</a></td>
   <td align="right">296kB</td>
   <td><tt>0ff37fbd94428edecac9d6f5db8df0d950ce6b02da7c04f077dfd0d28dc5e8fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/akonadi-contacts-24.05.2.tar.xz">akonadi-contacts-24.05.2</a></td>
   <td align="right">417kB</td>
   <td><tt>d60520304113d9073d3311ce9bbbc03e57b3b6e75e4c37de58c4974ce36b0788</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/akonadi-import-wizard-24.05.2.tar.xz">akonadi-import-wizard-24.05.2</a></td>
   <td align="right">476kB</td>
   <td><tt>4c456913aeac06ed78f11dff4e7176b68538ec35ba4a5cf60c476149ba78466d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/akonadi-mime-24.05.2.tar.xz">akonadi-mime-24.05.2</a></td>
   <td align="right">168kB</td>
   <td><tt>157f8841ad5b3238c9e52571edcc936e2ff5c176b95c865238ef1cefe428d0f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/akonadi-notes-24.05.2.tar.xz">akonadi-notes-24.05.2</a></td>
   <td align="right">27kB</td>
   <td><tt>aaf37d4a840a4a3a25e955eb7b60e650d2b7f2ab30bf77c48774744de5b26131</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/akonadi-search-24.05.2.tar.xz">akonadi-search-24.05.2</a></td>
   <td align="right">109kB</td>
   <td><tt>c15bfda2b468ab35180e25a96d7ea40263ac81b5dd5f84813da31553a3d28a86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/akregator-24.05.2.tar.xz">akregator-24.05.2</a></td>
   <td align="right">2061kB</td>
   <td><tt>381cfb63e76b4e9f8ab8714d789280e005d7a3a6e0267158e0a9df13cc60d41d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/alligator-24.05.2.tar.xz">alligator-24.05.2</a></td>
   <td align="right">189kB</td>
   <td><tt>4de424b285cacd5841f9bbbfdfb10ad440ed3756fd29252d52c354e56135b8d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/analitza-24.05.2.tar.xz">analitza-24.05.2</a></td>
   <td align="right">351kB</td>
   <td><tt>634177fa5fb842185698c527525db852df4ffb203f462c933907aa51acfb319e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/angelfish-24.05.2.tar.xz">angelfish-24.05.2</a></td>
   <td align="right">263kB</td>
   <td><tt>62f7f1f1f237514ff9b6a869142887f2ac5d121da7270172dd3db94b1ec596e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/arianna-24.05.2.tar.xz">arianna-24.05.2</a></td>
   <td align="right">799kB</td>
   <td><tt>637ff15a3b18dd6b714b6883c6758660319f8d58f4739cbc734f75fa637af76d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/ark-24.05.2.tar.xz">ark-24.05.2</a></td>
   <td align="right">2932kB</td>
   <td><tt>3a8f8b8330eb1ce1511cee8c12dd8225c4ef1ad72a7649e40e0ddc574cf70ee0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/artikulate-24.05.2.tar.xz">artikulate-24.05.2</a></td>
   <td align="right">1029kB</td>
   <td><tt>53cf49d9f0e7afe2496fa6f000718661234e15808ef4dcbf607addd62d78db17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/audex-24.05.2.tar.xz">audex-24.05.2</a></td>
   <td align="right">689kB</td>
   <td><tt>d4f93f7dc512f6813e12295fb0d4aa9815db9d8e8cd031122675cdcfc8ddbdfd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/audiocd-kio-24.05.2.tar.xz">audiocd-kio-24.05.2</a></td>
   <td align="right">557kB</td>
   <td><tt>e48dc6ec0e9f3f964d2fb9d0e0d25ae684ae90348c0295189950134f7928bcd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/audiotube-24.05.2.tar.xz">audiotube-24.05.2</a></td>
   <td align="right">150kB</td>
   <td><tt>5a2bb1e9726f41957a628f08a364f04122c1d81b7bb8d28fe790ee4f1f3d3c44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/baloo-widgets-24.05.2.tar.xz">baloo-widgets-24.05.2</a></td>
   <td align="right">270kB</td>
   <td><tt>b7c4680fbda02f337c775e8dde91ad6f065bcdf361ce77d5422110b2b6444318</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/blinken-24.05.2.tar.xz">blinken-24.05.2</a></td>
   <td align="right">2533kB</td>
   <td><tt>d94a86d61ab6b6695e9e16d16c64b7ba0db4645b5898922a612b087c292b413b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/bomber-24.05.2.tar.xz">bomber-24.05.2</a></td>
   <td align="right">820kB</td>
   <td><tt>9a85590be5a40c05118cb353c725224abfd2ff8d6082d1503d3832bead5083eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/bovo-24.05.2.tar.xz">bovo-24.05.2</a></td>
   <td align="right">211kB</td>
   <td><tt>b2c09a5b3e305bcb9d2f6c74ee30742eba7adae4523332979faf834bf6609665</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/calendarsupport-24.05.2.tar.xz">calendarsupport-24.05.2</a></td>
   <td align="right">976kB</td>
   <td><tt>d86720e0bcb01afea3cba78bd1d6302e2bb0f3d73e2d1c1b30284010d02d3062</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/calindori-24.05.2.tar.xz">calindori-24.05.2</a></td>
   <td align="right">382kB</td>
   <td><tt>f1409c5b6b6e68209f6893a80d9ca4ecc1c160d16bb87b0df411caa82c4868f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/cantor-24.05.2.tar.xz">cantor-24.05.2</a></td>
   <td align="right">8981kB</td>
   <td><tt>41fb9b47ab194d393e4ff33f3afba24267b409f30801c09934f05c52e7ba533f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/cervisia-24.05.2.tar.xz">cervisia-24.05.2</a></td>
   <td align="right">1767kB</td>
   <td><tt>6ba852614980c540866e362d834291f846e1e205e070c34610c2ba6087f03f53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/colord-kde-24.05.2.tar.xz">colord-kde-24.05.2</a></td>
   <td align="right">114kB</td>
   <td><tt>65aa78a4a73529f0d6a3a35a518f3686c2335802e0f2377b11ce9778858c81b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/dolphin-24.05.2.tar.xz">dolphin-24.05.2</a></td>
   <td align="right">5449kB</td>
   <td><tt>5f850a4fd7f463f93e05c1b162be55f7d4360cca2189b446fa296ceef35f3567</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/dolphin-plugins-24.05.2.tar.xz">dolphin-plugins-24.05.2</a></td>
   <td align="right">298kB</td>
   <td><tt>39fe5034edffc4209ee416f6e0b65f44f948082b46e64e18b3086436b994be23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/dragon-24.05.2.tar.xz">dragon-24.05.2</a></td>
   <td align="right">1785kB</td>
   <td><tt>5ebb8a1de15dc0a7a15b41fc9d850f95dbf17325427f1f0636b3765a164058f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/elisa-24.05.2.tar.xz">elisa-24.05.2</a></td>
   <td align="right">2034kB</td>
   <td><tt>c0177ef091800dc36815bfcc7f268addbd65d3bc5a1c5c385f124c42899d1b0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/eventviews-24.05.2.tar.xz">eventviews-24.05.2</a></td>
   <td align="right">462kB</td>
   <td><tt>bf68d5c11de56c15af143084e3f0a95a34658d11284bf56caff422881b6a134f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/falkon-24.05.2.tar.xz">falkon-24.05.2</a></td>
   <td align="right">2524kB</td>
   <td><tt>03a55c7489884fac225ad2c3df507fa4b054e6b23120f40bb8e1bc6d45042349</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/ffmpegthumbs-24.05.2.tar.xz">ffmpegthumbs-24.05.2</a></td>
   <td align="right">32kB</td>
   <td><tt>7c11ebd5897a6ab087ec4b349c3822a79cf02c460bac21d334afe47aac54f2ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/filelight-24.05.2.tar.xz">filelight-24.05.2</a></td>
   <td align="right">663kB</td>
   <td><tt>33d3b61f7d9332f2506b58b3fa5ac0b2a0308e2f2e21be818e8b9da5207e2b56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/francis-24.05.2.tar.xz">francis-24.05.2</a></td>
   <td align="right">97kB</td>
   <td><tt>3e1350cb43e64e88e26a0780c522d28b99d20afadc187893d92067e61ee9e96d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/ghostwriter-24.05.2.tar.xz">ghostwriter-24.05.2</a></td>
   <td align="right">3549kB</td>
   <td><tt>2314989c40cb4952fc245740b0f6da185b95b53707c1c3eda47c599e1afd31a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/granatier-24.05.2.tar.xz">granatier-24.05.2</a></td>
   <td align="right">1962kB</td>
   <td><tt>e5f8177de7d38dbf5a07abe78c3ec23be3b55aed681938e2d631984ebad3683c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/grantlee-editor-24.05.2.tar.xz">grantlee-editor-24.05.2</a></td>
   <td align="right">119kB</td>
   <td><tt>8f0e134c6b783d5ee6dc8f2455b9556decf5ce9d9ca5ac7cbe51751262e48345</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/grantleetheme-24.05.2.tar.xz">grantleetheme-24.05.2</a></td>
   <td align="right">61kB</td>
   <td><tt>5ec8e0c38034fac97ed3a4c7a2435a3e8151cd29e639faf02850408e9249573b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/gwenview-24.05.2.tar.xz">gwenview-24.05.2</a></td>
   <td align="right">6360kB</td>
   <td><tt>2f01edc994d2b96999242c73dbaa90dae5d4c6674c07c4517b0ab6c284ca7a79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/incidenceeditor-24.05.2.tar.xz">incidenceeditor-24.05.2</a></td>
   <td align="right">572kB</td>
   <td><tt>804ca7ad85d31d2950a159b4e1f1bf7d6c74a66d933c51daec549625a0c998cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/isoimagewriter-24.05.2.tar.xz">isoimagewriter-24.05.2</a></td>
   <td align="right">455kB</td>
   <td><tt>c725e097f065a5ef721060c2df2d3e351a60429f52d086e37a7ee73d036792d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/itinerary-24.05.2.tar.xz">itinerary-24.05.2</a></td>
   <td align="right">697kB</td>
   <td><tt>ab2ea4dc4c4a5a7a872847feee5ee3865d7bf41316a9596d3124de1872da05dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/juk-24.05.2.tar.xz">juk-24.05.2</a></td>
   <td align="right">1854kB</td>
   <td><tt>aa3fa73bdd8a78adfcda1036e0966441bb6066d6791c7d62a987c8a7286066fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/k3b-24.05.2.tar.xz">k3b-24.05.2</a></td>
   <td align="right">10440kB</td>
   <td><tt>926d685782f6b63b81f39bacf8762dcfafc06ebc2b758d42ba49ca3654b32687</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kaccounts-integration-24.05.2.tar.xz">kaccounts-integration-24.05.2</a></td>
   <td align="right">90kB</td>
   <td><tt>d1855ac6067378ffdf6af999a6b5bf3a0fc5ab3b7ed6cfa87c19606cb60f7b35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kaccounts-providers-24.05.2.tar.xz">kaccounts-providers-24.05.2</a></td>
   <td align="right">67kB</td>
   <td><tt>60ee944bec87a60da3b860584f5c61d06983455169d89b5356034ae4216dd1d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kaddressbook-24.05.2.tar.xz">kaddressbook-24.05.2</a></td>
   <td align="right">3327kB</td>
   <td><tt>68494e62c91c2fdb9e3f436b395aa37f16723d4a695f8f04ce58b653c79bb8bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kajongg-24.05.2.tar.xz">kajongg-24.05.2</a></td>
   <td align="right">4494kB</td>
   <td><tt>fb6646b84549c951584e0c103179525b1a7b70e355ab030c9c467e348e8d9677</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kalarm-24.05.2.tar.xz">kalarm-24.05.2</a></td>
   <td align="right">2525kB</td>
   <td><tt>20d1d17575d7bcd58821199aa577ec6bead940e8da25d02a529b0818a67c6102</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kalgebra-24.05.2.tar.xz">kalgebra-24.05.2</a></td>
   <td align="right">921kB</td>
   <td><tt>10acc0aefbecefda2eebfc11002d6bd94638fe876eb2dc5014284c8d4e073f8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kalk-24.05.2.tar.xz">kalk-24.05.2</a></td>
   <td align="right">74kB</td>
   <td><tt>a072343f4f71a08677f40c0b1087d91cc3ea5614bc827aa81d5ee6590d58607e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kalm-24.05.2.tar.xz">kalm-24.05.2</a></td>
   <td align="right">72kB</td>
   <td><tt>b15c8bd4ad19070c3f33275db85dece5d0364a57504acd066c8b6099b6e2617f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kalzium-24.05.2.tar.xz">kalzium-24.05.2</a></td>
   <td align="right">22129kB</td>
   <td><tt>2f1e1d6ccc44317791ad14d40061debea570f8daaee6d7078d257b888a22f425</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kamera-24.05.2.tar.xz">kamera-24.05.2</a></td>
   <td align="right">127kB</td>
   <td><tt>14a60460af6e555892f3c9119b3201d3d1c7e03d13b6900ee81f1544f8d71931</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kamoso-24.05.2.tar.xz">kamoso-24.05.2</a></td>
   <td align="right">228kB</td>
   <td><tt>94d47d6a1e3ac2b674c9fc0e199c6905a38bbbf0cccf02c8253865472b135cc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kanagram-24.05.2.tar.xz">kanagram-24.05.2</a></td>
   <td align="right">7597kB</td>
   <td><tt>7767b35c19896afb4cbf53ba9415bd7fba274561eac58b892801a41e895739d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kapman-24.05.2.tar.xz">kapman-24.05.2</a></td>
   <td align="right">2092kB</td>
   <td><tt>1d42f544c47ae0e53bc9bdd416cba527eccebdf7570bf264cf73253f51cb9dd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kapptemplate-24.05.2.tar.xz">kapptemplate-24.05.2</a></td>
   <td align="right">334kB</td>
   <td><tt>6f5c8c6002f2e98a8180306ab215f369c6f1b559ebb555fb85f9b6749099f755</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kasts-24.05.2.tar.xz">kasts-24.05.2</a></td>
   <td align="right">594kB</td>
   <td><tt>41c935e6196ea0fe4e7dcb08abbfc4dfe3cdb323962f8205a73f9fecda41f6c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kate-24.05.2.tar.xz">kate-24.05.2</a></td>
   <td align="right">7958kB</td>
   <td><tt>774f08b7d53db0b282164e930a0e0cd4709e75938dcb8b3cb430fedf0d5db020</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/katomic-24.05.2.tar.xz">katomic-24.05.2</a></td>
   <td align="right">1409kB</td>
   <td><tt>f265af8c8599678fa4831c875491460f7acb0262c6829caeedc01ad71bd0f0e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kbackup-24.05.2.tar.xz">kbackup-24.05.2</a></td>
   <td align="right">365kB</td>
   <td><tt>952fd010e71e05d55a2c8173feb0411ed9405b4694ca216bd325e90e018de568</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kblackbox-24.05.2.tar.xz">kblackbox-24.05.2</a></td>
   <td align="right">532kB</td>
   <td><tt>19c5c67c4d3b58e5a1fc5a31db66cdd4f8a044bdc3c5d8ca59d0229cb963cd2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kblocks-24.05.2.tar.xz">kblocks-24.05.2</a></td>
   <td align="right">2050kB</td>
   <td><tt>087807a26fdf82e9dca84e86bc7998cdbdea31bd2a3feeff3c96de9f83788216</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kbounce-24.05.2.tar.xz">kbounce-24.05.2</a></td>
   <td align="right">3241kB</td>
   <td><tt>c0f4345bcd2936ba2e5ada01972ca839f8d73c4be85c4e8988cd011271022069</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kbreakout-24.05.2.tar.xz">kbreakout-24.05.2</a></td>
   <td align="right">2491kB</td>
   <td><tt>78f463bd6f62b486a326f319280d5878ba8cb511798cf248d2cb071a61ddda62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kbruch-24.05.2.tar.xz">kbruch-24.05.2</a></td>
   <td align="right">5027kB</td>
   <td><tt>40195c74b9aa3b2b6314cf75f28a56d2ac1bb9f0a1a5811d06044ee528d6c44d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kcachegrind-24.05.2.tar.xz">kcachegrind-24.05.2</a></td>
   <td align="right">912kB</td>
   <td><tt>29b01c69da246cb884ae0ce246b58dec1a026acb503190091f2b08f7a24611c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kcalc-24.05.2.tar.xz">kcalc-24.05.2</a></td>
   <td align="right">451kB</td>
   <td><tt>16f903169fe1581ad6a36545079e2c915fdeee1f348549d5af823551b61f355c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kcalutils-24.05.2.tar.xz">kcalutils-24.05.2</a></td>
   <td align="right">346kB</td>
   <td><tt>7803884fbc9f4bf64c9c1a9dad39a0a81aa05552df2876cfd7b8dac4e17e3ec2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kcharselect-24.05.2.tar.xz">kcharselect-24.05.2</a></td>
   <td align="right">463kB</td>
   <td><tt>110e68ae7ee1c5b324812129be4197b87348d10b9275cd621e11cfceb01cfc7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kclock-24.05.2.tar.xz">kclock-24.05.2</a></td>
   <td align="right">641kB</td>
   <td><tt>c4470e8a15d133607e10c3d30a3d533d0e6b1ba399c30fe10dd3b8031de8eb14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kcolorchooser-24.05.2.tar.xz">kcolorchooser-24.05.2</a></td>
   <td align="right">34kB</td>
   <td><tt>2148ea2b035c864bb68ca66fde17696e998fbc89f5e010f4c5c54d94dc14d7e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kcron-24.05.2.tar.xz">kcron-24.05.2</a></td>
   <td align="right">856kB</td>
   <td><tt>9a856f129f7d029d396d2223e3b8dca213cfd241a67ed4c61e5c3f660f6cc21b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kdebugsettings-24.05.2.tar.xz">kdebugsettings-24.05.2</a></td>
   <td align="right">110kB</td>
   <td><tt>67b316ba5331be1e972660781560d1394300d3848a665f74c60f06e5399389c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kdeconnect-kde-24.05.2.tar.xz">kdeconnect-kde-24.05.2</a></td>
   <td align="right">676kB</td>
   <td><tt>03d827abed7b0552b536298920ce5815e321f9101b020bfcebf5bcaa4ccf054a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kde-dev-scripts-24.05.2.tar.xz">kde-dev-scripts-24.05.2</a></td>
   <td align="right">367kB</td>
   <td><tt>93b6c01164e3ac84450ad9b4ec4987170bf1f8899e285b128ff9efced3ecda4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kde-dev-utils-24.05.2.tar.xz">kde-dev-utils-24.05.2</a></td>
   <td align="right">73kB</td>
   <td><tt>e6bebf892dcc1cfd147fd96339c616744df476c81bbfba4d3d18877b584a3cb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kdeedu-data-24.05.2.tar.xz">kdeedu-data-24.05.2</a></td>
   <td align="right">330kB</td>
   <td><tt>851282c8f0c5abacd6d721deafe653fde330eaea79efcb4a71c7f5cba08c9359</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kdegraphics-mobipocket-24.05.2.tar.xz">kdegraphics-mobipocket-24.05.2</a></td>
   <td align="right">12kB</td>
   <td><tt>0408ec55e3df317b29763f56662bf3ca0844ca538ab4471f316832c197a58fc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kdegraphics-thumbnailers-24.05.2.tar.xz">kdegraphics-thumbnailers-24.05.2</a></td>
   <td align="right">47kB</td>
   <td><tt>2f5398ce129c26ab4e68c43ce15a5c7cb1465d608e6fb2e2b98490842270baf0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kde-inotify-survey-24.05.2.tar.xz">kde-inotify-survey-24.05.2</a></td>
   <td align="right">230kB</td>
   <td><tt>d185ae82e31764617b209686169185d52e3c2b51e85f43643a922cccb862ec20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kdenetwork-filesharing-24.05.2.tar.xz">kdenetwork-filesharing-24.05.2</a></td>
   <td align="right">482kB</td>
   <td><tt>7a4aa346e46d4a3da5962dcbb9a703196ea14e39e4f176d18b7ff3a432c28dcc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kdenlive-24.05.2.tar.xz">kdenlive-24.05.2</a></td>
   <td align="right">12608kB</td>
   <td><tt>057f12c28b5eec9716383b5093f7ca0a345cc9066dd5c7614fe3d9188429a708</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kdepim-addons-24.05.2.tar.xz">kdepim-addons-24.05.2</a></td>
   <td align="right">2580kB</td>
   <td><tt>b908a15c9270f03b682c3126e0ffeaa6e728900dbf943b790ade527dedae0fa5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kdepim-runtime-24.05.2.tar.xz">kdepim-runtime-24.05.2</a></td>
   <td align="right">1641kB</td>
   <td><tt>f470f2565aa6b3ea9866e59e4a19799470c4a7b9ba0ce41cc388fa8563ddd5cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kdesdk-kio-24.05.2.tar.xz">kdesdk-kio-24.05.2</a></td>
   <td align="right">40kB</td>
   <td><tt>d2cb28e8b2d5f1388f2439d52b8ea3bbf7974f087e49ce7844e0a66759de90c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kdesdk-thumbnailers-24.05.2.tar.xz">kdesdk-thumbnailers-24.05.2</a></td>
   <td align="right">26kB</td>
   <td><tt>aa1dddf8c98d1deda5384ca289695538a8f38b1d357f29d40a0a498154b2dd0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kdevelop-24.05.2.tar.xz">kdevelop-24.05.2</a></td>
   <td align="right">8558kB</td>
   <td><tt>00f2288db0770aaa23c9fdc0277cca96d1f6a8bb248db4594a618d47621ee583</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kdev-php-24.05.2.tar.xz">kdev-php-24.05.2</a></td>
   <td align="right">1064kB</td>
   <td><tt>74f3c4aa72444a68d1dd4c21e248d244f1256c6c28867306e767b501037afb68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kdev-python-24.05.2.tar.xz">kdev-python-24.05.2</a></td>
   <td align="right">1072kB</td>
   <td><tt>6c6a0cd1ae719bb90ddb0d8d952fc68122048dae30d1a3094049e457e563b13f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kdf-24.05.2.tar.xz">kdf-24.05.2</a></td>
   <td align="right">466kB</td>
   <td><tt>cfc4dc221ff5b8be5c2b1f77a0d4c06b7369bf20cb1f4e5d2ef8a3221bc8e0be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kdialog-24.05.2.tar.xz">kdialog-24.05.2</a></td>
   <td align="right">143kB</td>
   <td><tt>ae6cb760f9d61581c1a811834ad15998d5678817d28fa476077646c86813041a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kdiamond-24.05.2.tar.xz">kdiamond-24.05.2</a></td>
   <td align="right">4559kB</td>
   <td><tt>1071f9ce21604a02d034e7ea0a8ca0127daf5b8812038963cb50796aa0be88e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/keditbookmarks-24.05.2.tar.xz">keditbookmarks-24.05.2</a></td>
   <td align="right">238kB</td>
   <td><tt>594394aa47e69ce097796417a9f8e4022cc5579c8fa0ca2ffb56dc5cdc4cd94f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/keysmith-24.05.2.tar.xz">keysmith-24.05.2</a></td>
   <td align="right">167kB</td>
   <td><tt>2124dde2fd0e5d0679f56ae78a7e110f298abe97993eafde28f4c22354d364d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kfind-24.05.2.tar.xz">kfind-24.05.2</a></td>
   <td align="right">316kB</td>
   <td><tt>6b10bebd543d26d7887301c270cabce387f312702f92c486a081da56f67420a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kfourinline-24.05.2.tar.xz">kfourinline-24.05.2</a></td>
   <td align="right">722kB</td>
   <td><tt>1435506de1cda85c22ccba5bdc5ed9027288151c072b1bc1be031e36fe5e8196</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kgeography-24.05.2.tar.xz">kgeography-24.05.2</a></td>
   <td align="right">12145kB</td>
   <td><tt>2c9aa3aad230148f0decbaadf36b746bf5a8b5041025da0510cccf9333a57cf3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kget-24.05.2.tar.xz">kget-24.05.2</a></td>
   <td align="right">4793kB</td>
   <td><tt>b6a29e9869ff6be75e90c8a64c71af17eb0279782c0e7cbb0feb91d9d750a376</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kgoldrunner-24.05.2.tar.xz">kgoldrunner-24.05.2</a></td>
   <td align="right">4194kB</td>
   <td><tt>8cc40adcffea20cc2e27fd94ff91e74d08321984040d950d1c40b7820e406283</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kgpg-24.05.2.tar.xz">kgpg-24.05.2</a></td>
   <td align="right">2951kB</td>
   <td><tt>b3df4f43626122b761aa393cb61bc4aea9342e46d50382a1bbc22e2de1ecf083</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/khangman-24.05.2.tar.xz">khangman-24.05.2</a></td>
   <td align="right">6850kB</td>
   <td><tt>afe1e7be2b27ade6862db4ee099903c956bfc6adc89c5458bf3a9954af3c247c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/khealthcertificate-24.05.2.tar.xz">khealthcertificate-24.05.2</a></td>
   <td align="right">502kB</td>
   <td><tt>a7f4db24a65ffe6cfc706f16b51fa9600fc86c8f9e0924393f7db426cecf0018</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/khelpcenter-24.05.2.tar.xz">khelpcenter-24.05.2</a></td>
   <td align="right">4121kB</td>
   <td><tt>c13f9d30928facdcb7d584a4abff238e12cf41a901c65c46d9b7576258afda78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kidentitymanagement-24.05.2.tar.xz">kidentitymanagement-24.05.2</a></td>
   <td align="right">190kB</td>
   <td><tt>04407562ba9c9d900e6ed99f606ece4756660464c97d3acf48805e6de409d108</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kig-24.05.2.tar.xz">kig-24.05.2</a></td>
   <td align="right">3174kB</td>
   <td><tt>67fb4a7e4d86cedbda1332e5448534ebe485d03d18e4bb9f7eae3e946547856d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kigo-24.05.2.tar.xz">kigo-24.05.2</a></td>
   <td align="right">4712kB</td>
   <td><tt>2a7cbcbc65a9b7ab1ea6c0204ef79aeb0658521fc634c4461c4efbce1bd84da2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/killbots-24.05.2.tar.xz">killbots-24.05.2</a></td>
   <td align="right">1132kB</td>
   <td><tt>6702cfb03ed0ae4f008615b0a5c8c65b58fc1f1ed92c356efac657ea60be44ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kimagemapeditor-24.05.2.tar.xz">kimagemapeditor-24.05.2</a></td>
   <td align="right">1044kB</td>
   <td><tt>01719f055e460754b7fab56da8f72c148ad45e0e14e2ffa2cdf20a440e993956</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kimap-24.05.2.tar.xz">kimap-24.05.2</a></td>
   <td align="right">128kB</td>
   <td><tt>167bed276867fb9536e86f8ecac36911b51c90b3f13e167118b44a1d46eb96e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kio-admin-24.05.2.tar.xz">kio-admin-24.05.2</a></td>
   <td align="right">37kB</td>
   <td><tt>51640fd2322406d05c474c43a8cadf0efb85e0a5b22d16a537f24fdd683da994</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kio-extras-24.05.2.tar.xz">kio-extras-24.05.2</a></td>
   <td align="right">3387kB</td>
   <td><tt>19e9c6d3625511a7f9f7c0e5c9e9e6b0ca365aeed4914c7781a937fd1807e240</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kio-gdrive-24.05.2.tar.xz">kio-gdrive-24.05.2</a></td>
   <td align="right">78kB</td>
   <td><tt>3448196b94b334dd836a642e0711c56cc0cbf5868be02e934180eb35957391e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kio-zeroconf-24.05.2.tar.xz">kio-zeroconf-24.05.2</a></td>
   <td align="right">43kB</td>
   <td><tt>8b939e1a6d22ac78afed596b2fba49472cf46056f84a2c2b628b227dec191c15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kipi-plugins-24.05.2.tar.xz">kipi-plugins-24.05.2</a></td>
   <td align="right">1536kB</td>
   <td><tt>7d523b04c52ad299e49ff0cd2e1c1d6158b2423afa50e1ff58dba1223d710dac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kirigami-gallery-24.05.2.tar.xz">kirigami-gallery-24.05.2</a></td>
   <td align="right">350kB</td>
   <td><tt>72ae2ebfec9c60f651eecb767c00737e325ff1e9557404feacb25f20c7882bdc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kiriki-24.05.2.tar.xz">kiriki-24.05.2</a></td>
   <td align="right">359kB</td>
   <td><tt>5ecbb37ba904511cb59ec28d1b9a2c64a165aab16a9656b6843f64a712dcda3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kiten-24.05.2.tar.xz">kiten-24.05.2</a></td>
   <td align="right">11044kB</td>
   <td><tt>62aeccfcd3f4d9f897d92be988224b47c1946fa28dc219985af2ca2c63c1a5e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kitinerary-24.05.2.tar.xz">kitinerary-24.05.2</a></td>
   <td align="right">1940kB</td>
   <td><tt>519a3abcf16d2f56fd2a21f14c8c77d39420196454badf608abeaa600b6aedb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kjournald-24.05.2.tar.xz">kjournald-24.05.2</a></td>
   <td align="right">506kB</td>
   <td><tt>22bf45ff2038fd64fe5364027e71bd6b82d5e1ac5369f858ca725e13cd3a6165</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kjumpingcube-24.05.2.tar.xz">kjumpingcube-24.05.2</a></td>
   <td align="right">332kB</td>
   <td><tt>64289581d681b98dae8094ba7c0b4b711423b46b43f22eca3187d978baa014c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kldap-24.05.2.tar.xz">kldap-24.05.2</a></td>
   <td align="right">180kB</td>
   <td><tt>df5796950e68a06166fbf3001f8f45fcece3a7c7aa3c294d0a151377200a19da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kleopatra-24.05.2.tar.xz">kleopatra-24.05.2</a></td>
   <td align="right">2806kB</td>
   <td><tt>ab37cf45d9247a8077ff511574e66c8d2786bcca558f2a9833d355f1c6e9a0ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/klettres-24.05.2.tar.xz">klettres-24.05.2</a></td>
   <td align="right">46074kB</td>
   <td><tt>818de5fead4ca2bd1a4ec6b6718835d2232d5290f487b288c02ebb8a324e306f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/klickety-24.05.2.tar.xz">klickety-24.05.2</a></td>
   <td align="right">1349kB</td>
   <td><tt>6a6ac411aaa5b3bdfad9fa4ad50d7b156399f256868e8fa0cec824bf45586326</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/klines-24.05.2.tar.xz">klines-24.05.2</a></td>
   <td align="right">1630kB</td>
   <td><tt>bdab79ba5b07b687bc49411ca836d0418f5a68f0b83076ec1a3b7001c301deb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kmag-24.05.2.tar.xz">kmag-24.05.2</a></td>
   <td align="right">658kB</td>
   <td><tt>9cebd32d014092ad534772e92a9c6e43f08cdb7a5c9b11ea7edc5f0db24c7569</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kmahjongg-24.05.2.tar.xz">kmahjongg-24.05.2</a></td>
   <td align="right">3626kB</td>
   <td><tt>66a513cefb433dff7e1f642badff7e86941f762d2762be161ae58f077bcfa31f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kmail-24.05.2.tar.xz">kmail-24.05.2</a></td>
   <td align="right">8235kB</td>
   <td><tt>625e26ef6aac820327da8bf32851c5bef584ad4ce0583a70cfcba076cd50603c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kmail-account-wizard-24.05.2.tar.xz">kmail-account-wizard-24.05.2</a></td>
   <td align="right">158kB</td>
   <td><tt>2ee856e8114963e39b5a018a75ad57c140efb01921c7a6d74f45b11ba56af247</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kmailtransport-24.05.2.tar.xz">kmailtransport-24.05.2</a></td>
   <td align="right">182kB</td>
   <td><tt>9f2023cb20c33385f6969ea25dda58fbdfc2efd1d73a671253605ef543ae6632</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kmbox-24.05.2.tar.xz">kmbox-24.05.2</a></td>
   <td align="right">28kB</td>
   <td><tt>39f754555e49aaab9dfa7baeb75bbe0bc2b62f34bf26b39d8db19e61017a573c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kmime-24.05.2.tar.xz">kmime-24.05.2</a></td>
   <td align="right">157kB</td>
   <td><tt>d82f38dcf97c6491c6b7367db8b18a65acb594d7eb752543dc23c65d4abab6a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kmines-24.05.2.tar.xz">kmines-24.05.2</a></td>
   <td align="right">922kB</td>
   <td><tt>1572bb6a10cc0b2edfffd2f0d222096e5e227e72340f94eb3c0a0a7c545be0d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kmix-24.05.2.tar.xz">kmix-24.05.2</a></td>
   <td align="right">1137kB</td>
   <td><tt>6fcceef5e5b859c4464c0ce5eb4f79b99d57e4d90a4e79b47ffbae2d68d440c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kmousetool-24.05.2.tar.xz">kmousetool-24.05.2</a></td>
   <td align="right">127kB</td>
   <td><tt>17ddacd4df4b9de8a1a121e7af11b0f4d8d43f955d35eca78a34c610355f0aee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kmouth-24.05.2.tar.xz">kmouth-24.05.2</a></td>
   <td align="right">1890kB</td>
   <td><tt>7decd81dee3c52db531b8eaac47ab9395ed5d272fffd164decbdf5a4f80ea5bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kmplot-24.05.2.tar.xz">kmplot-24.05.2</a></td>
   <td align="right">2933kB</td>
   <td><tt>6680c1e6544bba82059485a9053d9567536818b9e0976166ec7ce22e466fa8f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/knavalbattle-24.05.2.tar.xz">knavalbattle-24.05.2</a></td>
   <td align="right">1018kB</td>
   <td><tt>4bcd4df42224dc8b5bc218f631f6f034801b93a7021b45ff3b1e42735c19b96a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/knetwalk-24.05.2.tar.xz">knetwalk-24.05.2</a></td>
   <td align="right">981kB</td>
   <td><tt>d8f1dd236eb1d2f0cd39a7713ada8219fe4d23d044f32b3d9e051a29e811cddc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/knights-24.05.2.tar.xz">knights-24.05.2</a></td>
   <td align="right">2413kB</td>
   <td><tt>13511357c8137e551ccaf158a87ff4ee2042ea9a5efc1fea63a32970d351baa7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/knotes-24.05.2.tar.xz">knotes-24.05.2</a></td>
   <td align="right">372kB</td>
   <td><tt>4e6da68e1ccfd5a2fcaf038a6438bef7b671446b05a3e739787b63689016d592</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/koko-24.05.2.tar.xz">koko-24.05.2</a></td>
   <td align="right">8334kB</td>
   <td><tt>c2ca5ff0671c98244a279b10e083dded5a50d0804e79c8e9120a040dd2085a16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kolf-24.05.2.tar.xz">kolf-24.05.2</a></td>
   <td align="right">1041kB</td>
   <td><tt>c6bc3f40eb66512e530d2d795869040840650d65b53ad80cb94882c4db801944</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kollision-24.05.2.tar.xz">kollision-24.05.2</a></td>
   <td align="right">301kB</td>
   <td><tt>473f0f53f981daef3c782992b97444873d7b802ce95c0fcd7fbd7071d65e70bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kolourpaint-24.05.2.tar.xz">kolourpaint-24.05.2</a></td>
   <td align="right">5170kB</td>
   <td><tt>79b177d7bde8f58035d86e2bf552001127496358a4fa946debd952a1c9f121ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kompare-24.05.2.tar.xz">kompare-24.05.2</a></td>
   <td align="right">919kB</td>
   <td><tt>b06fefe3d0e197c5a205359b9980cb932952fff71b79194d74e9c24287ea7b8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kongress-24.05.2.tar.xz">kongress-24.05.2</a></td>
   <td align="right">579kB</td>
   <td><tt>e2c9c5a624841b76938eda5453c1088bbc43998f72a74cd063a9a84d9476e7ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/konqueror-24.05.2.tar.xz">konqueror-24.05.2</a></td>
   <td align="right">9471kB</td>
   <td><tt>8a61ebc08d814e710cafc14ee45fc2d04ad3b35247c5856f08e37814ec7834fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/konquest-24.05.2.tar.xz">konquest-24.05.2</a></td>
   <td align="right">835kB</td>
   <td><tt>25712118accab57f158b3df20909eed921911d0c004df867577fbf08e380d32f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/konsole-24.05.2.tar.xz">konsole-24.05.2</a></td>
   <td align="right">1729kB</td>
   <td><tt>1d05ef1bfa531e41f9625acb95eeb18ef5409fa5160d4b976ce6997759518994</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kontact-24.05.2.tar.xz">kontact-24.05.2</a></td>
   <td align="right">842kB</td>
   <td><tt>402780a928742c1bc6e227644cf95863d170b59249731cf45ec50e93c89baac5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kontactinterface-24.05.2.tar.xz">kontactinterface-24.05.2</a></td>
   <td align="right">39kB</td>
   <td><tt>6c854ae5cbc937f49bc6389ad2e783bce0ab63db0af67acd28bfc49b04afe915</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kontrast-24.05.2.tar.xz">kontrast-24.05.2</a></td>
   <td align="right">209kB</td>
   <td><tt>94b750197f28720afd8d435f47de4b14e4841add3fbc663a1ce734830cb7c766</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/konversation-24.05.2.tar.xz">konversation-24.05.2</a></td>
   <td align="right">4285kB</td>
   <td><tt>54f30f6dd935104aa9132689376e8ea731512bb8ea42199b8a248e2668662fd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kopeninghours-24.05.2.tar.xz">kopeninghours-24.05.2</a></td>
   <td align="right">72kB</td>
   <td><tt>648ecd8b22b4f0909674ce3a991f73167e6648b8ae35e689f816d1b0f583518c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/korganizer-24.05.2.tar.xz">korganizer-24.05.2</a></td>
   <td align="right">2508kB</td>
   <td><tt>04c5a16626e265119d24eb5efe7c1ec93247ff5bfede7999f396056888a38a83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kosmindoormap-24.05.2.tar.xz">kosmindoormap-24.05.2</a></td>
   <td align="right">632kB</td>
   <td><tt>956e7df11e28957866c9ee4de0d08b6a59ecf769862799e95cd424683782ccc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kpat-24.05.2.tar.xz">kpat-24.05.2</a></td>
   <td align="right">3628kB</td>
   <td><tt>3e7b426eee0905bc91a8c35c36031e8a72ef96ff8b598e524b6b2e82ec5ea1b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kpimtextedit-24.05.2.tar.xz">kpimtextedit-24.05.2</a></td>
   <td align="right">167kB</td>
   <td><tt>4a081cf196317ac5bb9d1d1fd95ca79765ecd56374d7bd3c3051ea19a58521d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kpkpass-24.05.2.tar.xz">kpkpass-24.05.2</a></td>
   <td align="right">28kB</td>
   <td><tt>9d036f631313bff0c4c78b2b8b6870eed3d4f99e3387e517fb16153b9eaa17b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kpmcore-24.05.2.tar.xz">kpmcore-24.05.2</a></td>
   <td align="right">623kB</td>
   <td><tt>8e8646bfe990834acbbe56149015aaecd3099cc2e9115ac7426a2d88747735db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kpublictransport-24.05.2.tar.xz">kpublictransport-24.05.2</a></td>
   <td align="right">647kB</td>
   <td><tt>52063cf8a87e301d2d837759d85fb90332019a258b567bdaaec4a7876d9de8bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kqtquickcharts-24.05.2.tar.xz">kqtquickcharts-24.05.2</a></td>
   <td align="right">30kB</td>
   <td><tt>089c6220c150c61f1c9e1c87e6f3d4e8e0e7d2f3246bc79832dc7d7acec3162c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/krdc-24.05.2.tar.xz">krdc-24.05.2</a></td>
   <td align="right">1509kB</td>
   <td><tt>b08c94f736aaa8c0826895ae155230b9a25c5f40306caeada5a4523a889e8977</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/krecorder-24.05.2.tar.xz">krecorder-24.05.2</a></td>
   <td align="right">162kB</td>
   <td><tt>5e0d9daf28e38b84b24146c91e5f4240618a606da7b0680d043082c86d3a93f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kreversi-24.05.2.tar.xz">kreversi-24.05.2</a></td>
   <td align="right">1004kB</td>
   <td><tt>5019310533a2c294bb1c8ce6b9f1545902eb8adc76d8528d4003402ce80c30ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/krfb-24.05.2.tar.xz">krfb-24.05.2</a></td>
   <td align="right">1170kB</td>
   <td><tt>9131fc76742dcda822f85216a4bd902ccd867dd5cc72da38102eb3a6e626b786</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kross-interpreters-24.05.2.tar.xz">kross-interpreters-24.05.2</a></td>
   <td align="right">148kB</td>
   <td><tt>38df2f3eb994e54b5f112d9718c65636a474da745e0ee47f9bf1e55efe56358b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kruler-24.05.2.tar.xz">kruler-24.05.2</a></td>
   <td align="right">277kB</td>
   <td><tt>9885fb057a86a06ab25fc4e8d65504fa6a9cad16bdfc57af9155a5bd54b28697</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/ksanecore-24.05.2.tar.xz">ksanecore-24.05.2</a></td>
   <td align="right">49kB</td>
   <td><tt>a9439b6f686363fa32c6f4a5287e8c5df86547015e64b88587691d64492ec95d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kshisen-24.05.2.tar.xz">kshisen-24.05.2</a></td>
   <td align="right">945kB</td>
   <td><tt>c1f94e61e187979a431f74269269d203e5c2028e5334be732ed0f1baa944a2af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/ksirk-24.05.2.tar.xz">ksirk-24.05.2</a></td>
   <td align="right">6903kB</td>
   <td><tt>8962e89b95f2f9460771afee3836089cdca1fbf4487918753d3a53472efa294e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/ksmtp-24.05.2.tar.xz">ksmtp-24.05.2</a></td>
   <td align="right">51kB</td>
   <td><tt>8b404b6a1465ad4f0d738958b792dbd5b659e301738e248e8daf1c176255f3ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/ksnakeduel-24.05.2.tar.xz">ksnakeduel-24.05.2</a></td>
   <td align="right">562kB</td>
   <td><tt>eb2441c6e4a8c19444ba5223da68579920a070d9309ba3546db0a1c557fe6887</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kspaceduel-24.05.2.tar.xz">kspaceduel-24.05.2</a></td>
   <td align="right">613kB</td>
   <td><tt>407131517812f6b651b6d3645dca785c9a966967d2bb2a394cff49b2c4e85213</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/ksquares-24.05.2.tar.xz">ksquares-24.05.2</a></td>
   <td align="right">310kB</td>
   <td><tt>3bbc3456cd21643ca5097a1f66d6640d786bc1e30c483f0780a3dc9723b6b4da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/ksudoku-24.05.2.tar.xz">ksudoku-24.05.2</a></td>
   <td align="right">1678kB</td>
   <td><tt>60a1c425b7a11181386cbe5685fe11983225323bb5a298ea03927a232aa0cfc3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/ksystemlog-24.05.2.tar.xz">ksystemlog-24.05.2</a></td>
   <td align="right">1811kB</td>
   <td><tt>f119c8ef937baf7994cb47ed74aadfc7e4e948be377be6c123b6a2ad0bf69ffe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kteatime-24.05.2.tar.xz">kteatime-24.05.2</a></td>
   <td align="right">300kB</td>
   <td><tt>2ac31ab6a283c0efa9d3f2210f04d468ae35e4f967d87cf2886c3ac982264ec2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/ktimer-24.05.2.tar.xz">ktimer-24.05.2</a></td>
   <td align="right">440kB</td>
   <td><tt>d716ca35222190b99f38a19de1930aeb372d58b94d07e057d798b0db7ae76ee8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/ktnef-24.05.2.tar.xz">ktnef-24.05.2</a></td>
   <td align="right">304kB</td>
   <td><tt>08154a15224f63c8a313596ddd5e702fd48bcc43350730698cc66a0ba31b21ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/ktorrent-24.05.2.tar.xz">ktorrent-24.05.2</a></td>
   <td align="right">2130kB</td>
   <td><tt>004f09217aa13532adc3ea2cae04ed7043c06e1c4d9d9613cf566697096426d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/ktouch-24.05.2.tar.xz">ktouch-24.05.2</a></td>
   <td align="right">4671kB</td>
   <td><tt>8521d587b34182b812a4dea699b348e5e64cb1f8cf5159173fadbe9857d06698</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/ktrip-24.05.2.tar.xz">ktrip-24.05.2</a></td>
   <td align="right">1014kB</td>
   <td><tt>4e87115b3ad5255aef5ecaa43f49f743268dcbe298e4e899b139c36a50c0d3c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/ktuberling-24.05.2.tar.xz">ktuberling-24.05.2</a></td>
   <td align="right">69856kB</td>
   <td><tt>59ac0f2f5c9c3f9e825fd1a613396805a2e70ee2be86c4ca21d2f8e008fcd195</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kturtle-24.05.2.tar.xz">kturtle-24.05.2</a></td>
   <td align="right">2045kB</td>
   <td><tt>c1a648aebdfb457d366b7141c584d001100033dac9a94441ffb9164cff33f9d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kubrick-24.05.2.tar.xz">kubrick-24.05.2</a></td>
   <td align="right">347kB</td>
   <td><tt>7fe71deece391d6ad6fa997087644fc57d3b3384380ece1b6da73ee396ccac16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kwalletmanager-24.05.2.tar.xz">kwalletmanager-24.05.2</a></td>
   <td align="right">1016kB</td>
   <td><tt>c3549db2bc28fcfc6d7e2b7c9efddb14978c07f7d4bc10a02ad3a1c6e95bc2fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kwave-24.05.2.tar.xz">kwave-24.05.2</a></td>
   <td align="right">6397kB</td>
   <td><tt>0e81b50d21a39c1a957d0cd41ff20e00681c08e50898beff61c969c86a576fbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kweather-24.05.2.tar.xz">kweather-24.05.2</a></td>
   <td align="right">927kB</td>
   <td><tt>178db735a64a6cf8303f45022e8a32d8ffb6a6c3909c4988d8b301c21a1d0d16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/kwordquiz-24.05.2.tar.xz">kwordquiz-24.05.2</a></td>
   <td align="right">3683kB</td>
   <td><tt>0099e41a5f45771d2688272a3a708c8e5c5b0781a56cda9a38bf0015f51270ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/libgravatar-24.05.2.tar.xz">libgravatar-24.05.2</a></td>
   <td align="right">36kB</td>
   <td><tt>9e6f854f7eb464ea76abfe78860778d226c1e038c47408c44505c26673886676</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/libkcddb-24.05.2.tar.xz">libkcddb-24.05.2</a></td>
   <td align="right">438kB</td>
   <td><tt>36310f6401524c3f247fcb62e5a5996ae4363ec05a52905524ccca511d83532c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/libkcompactdisc-24.05.2.tar.xz">libkcompactdisc-24.05.2</a></td>
   <td align="right">97kB</td>
   <td><tt>15bf9433f7f0b3e23698c103fd42ab9e44b23eeedc2681cfb29b72ac8add06d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/libkdcraw-24.05.2.tar.xz">libkdcraw-24.05.2</a></td>
   <td align="right">36kB</td>
   <td><tt>59ebc1634eccfc5b9a10c92ec2ab9f3e49245c2044692c6cfb717239a28b8a28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/libkdegames-24.05.2.tar.xz">libkdegames-24.05.2</a></td>
   <td align="right">5824kB</td>
   <td><tt>eaf216b7933332a0d3e0553fd759882fed22d59b3980676e5f6e976515a410eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/libkdepim-24.05.2.tar.xz">libkdepim-24.05.2</a></td>
   <td align="right">275kB</td>
   <td><tt>03d36a55552ac265d7b84c108ec735387508302e577c7f2392baa2eabac442cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/libkeduvocdocument-24.05.2.tar.xz">libkeduvocdocument-24.05.2</a></td>
   <td align="right">222kB</td>
   <td><tt>32f27a3999a90a3578fc03937ecf43d31c97ef0db5fdedb9c0acdadc7018b211</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/libkexiv2-24.05.2.tar.xz">libkexiv2-24.05.2</a></td>
   <td align="right">59kB</td>
   <td><tt>90595f61e2f4dcb3d8b32cb0a4a1c7f4fc5e3105111add514c99db24f734e313</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/libkgapi-24.05.2.tar.xz">libkgapi-24.05.2</a></td>
   <td align="right">331kB</td>
   <td><tt>c317c96c996708ff86bb2e0de0ddcdb54285948b136e3073969c60c9f85f1948</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/libkipi-24.05.2.tar.xz">libkipi-24.05.2</a></td>
   <td align="right">86kB</td>
   <td><tt>4c06da914ab3bd952976cc135d24c307e972ef0007c754738f3644e567db88ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/libkleo-24.05.2.tar.xz">libkleo-24.05.2</a></td>
   <td align="right">581kB</td>
   <td><tt>40be4b71d50155d585b143655da92c14bb201290e62203da16ce576dfad75e80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/libkmahjongg-24.05.2.tar.xz">libkmahjongg-24.05.2</a></td>
   <td align="right">1652kB</td>
   <td><tt>c3ece4d304ff90ca9ad9728a2da8ee3b3b198277d0125c30499cecc9a7cd5aae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/libkomparediff2-24.05.2.tar.xz">libkomparediff2-24.05.2</a></td>
   <td align="right">184kB</td>
   <td><tt>1e0e82886f3186ab40debbda475f16d6f1922a4b5546540b9cc226d29a969fbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/libksane-24.05.2.tar.xz">libksane-24.05.2</a></td>
   <td align="right">149kB</td>
   <td><tt>6fdcf6d8c38963dc46c60c68ece4f07226fd5d5a0ee1644c908baf797ab54ad9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/libksieve-24.05.2.tar.xz">libksieve-24.05.2</a></td>
   <td align="right">578kB</td>
   <td><tt>673c85afe5ac672d372fe498084bac2d84e4ea3ce4b5eb91f08bfa4c3d414cff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/libktorrent-24.05.2.tar.xz">libktorrent-24.05.2</a></td>
   <td align="right">591kB</td>
   <td><tt>28fdc47f348fee51c7716ac832563b305acbec52c9d29be16eb37c99c00e23bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/lokalize-24.05.2.tar.xz">lokalize-24.05.2</a></td>
   <td align="right">2027kB</td>
   <td><tt>baaed8e3b913a4ce5726f66e8f3113a7480dfee08dd7bfd7fb4709f1879a0a70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/lskat-24.05.2.tar.xz">lskat-24.05.2</a></td>
   <td align="right">1192kB</td>
   <td><tt>5cdfa9bab78902887d056c4c17a6005f99e454843926ccf4a16c64393fc2afdc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/mailcommon-24.05.2.tar.xz">mailcommon-24.05.2</a></td>
   <td align="right">755kB</td>
   <td><tt>d92dfd41e88b5a76b7a1ae59cd99b766f5a4d97f78767edb0ea1db8211784368</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/mailimporter-24.05.2.tar.xz">mailimporter-24.05.2</a></td>
   <td align="right">581kB</td>
   <td><tt>4f941e35c7d08cab4740b0e71abbc6ec2a06eb61df2ac110357109edc1f95c42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/marble-24.05.2.tar.xz">marble-24.05.2</a></td>
   <td align="right">51219kB</td>
   <td><tt>80a727bba2f5e88975ddf78b41d969bb0ac93cf6447924db3363ccd2e25a3f82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/markdownpart-24.05.2.tar.xz">markdownpart-24.05.2</a></td>
   <td align="right">33kB</td>
   <td><tt>5d6d7f32904b559b430634889547fd1689855aa86fa8b08b0f86dcd36c287514</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/mbox-importer-24.05.2.tar.xz">mbox-importer-24.05.2</a></td>
   <td align="right">30kB</td>
   <td><tt>0228ea111805e339978cf9a05c92635f13e44c377fcc05e49ceba55f2f0a7403</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/merkuro-24.05.2.tar.xz">merkuro-24.05.2</a></td>
   <td align="right">730kB</td>
   <td><tt>d0d174fc0a79466c87ba1fd0a33c2230e89e781c7303af8ce9b493670052d658</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/messagelib-24.05.2.tar.xz">messagelib-24.05.2</a></td>
   <td align="right">11092kB</td>
   <td><tt>f45d5160d4746c17c92b2e9a7c0e7d7408f0e600e3d1c0e5c8c93afc0354f5d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/mimetreeparser-24.05.2.tar.xz">mimetreeparser-24.05.2</a></td>
   <td align="right">626kB</td>
   <td><tt>892957157b76b090d45c36204b0ddf79de4aa6223c2d7ce75eb62b8a15a75a8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/minuet-24.05.2.tar.xz">minuet-24.05.2</a></td>
   <td align="right">27038kB</td>
   <td><tt>0f7e65f1a27d7c4147da9778c903aee031a9a0bc2efbd9fdf294ad6199215a73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/neochat-24.05.2.tar.xz">neochat-24.05.2</a></td>
   <td align="right">957kB</td>
   <td><tt>cfd419a87cbbe5fecbd7833189255ee2f582b4e1fb0f4f88bdef7e60a92fbc8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/okular-24.05.2.tar.xz">okular-24.05.2</a></td>
   <td align="right">7828kB</td>
   <td><tt>e718d4884b46fbf430033c2ed0e80cb50e6d476e76ccfda4a2c71d840051034e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/palapeli-24.05.2.tar.xz">palapeli-24.05.2</a></td>
   <td align="right">2065kB</td>
   <td><tt>646f40638d9269ec504e47442ae1d056426814ff55a58be6384bde9bddca6690</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/parley-24.05.2.tar.xz">parley-24.05.2</a></td>
   <td align="right">8223kB</td>
   <td><tt>b3311836bfe2662d4e33d526df069c65a6a219e472f86f3d1dca26668cbd1fc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/partitionmanager-24.05.2.tar.xz">partitionmanager-24.05.2</a></td>
   <td align="right">2260kB</td>
   <td><tt>c6772639e3d00963f1f7630b9a9f6aeb25a65056279d77a5e83c4bb4f9e4b507</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/picmi-24.05.2.tar.xz">picmi-24.05.2</a></td>
   <td align="right">1479kB</td>
   <td><tt>0570e77ac8c5746a48f635c0cc15d2351b600eb054dfe97f072fdcb3225fa377</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/pimcommon-24.05.2.tar.xz">pimcommon-24.05.2</a></td>
   <td align="right">341kB</td>
   <td><tt>d0bf4de3756033bb0eecc0db57385585b54f2b366da8a44e4a69b416fa54ff4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/pim-data-exporter-24.05.2.tar.xz">pim-data-exporter-24.05.2</a></td>
   <td align="right">411kB</td>
   <td><tt>cfe9446a82bb55f211990e2555dcc9785853ec6187a9eeabd4f7b5de4bf1c7cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/pim-sieve-editor-24.05.2.tar.xz">pim-sieve-editor-24.05.2</a></td>
   <td align="right">453kB</td>
   <td><tt>71470921ccb0ff6c7934ff41ea51e9fee8d93b8af0e9dc6e9e312a6e3c85a2ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/plasmatube-24.05.2.tar.xz">plasmatube-24.05.2</a></td>
   <td align="right">189kB</td>
   <td><tt>3566ed888f684c6bdf1097915c20496b49c0e8fa6ff1eb5c7399c3fdb40f7636</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/poxml-24.05.2.tar.xz">poxml-24.05.2</a></td>
   <td align="right">44kB</td>
   <td><tt>33eb14d1e62c27d90df4ba99bae0a92739fb683a5f433f532f45ac288fd62825</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/qmlkonsole-24.05.2.tar.xz">qmlkonsole-24.05.2</a></td>
   <td align="right">190kB</td>
   <td><tt>6d555f86a1f136b33b4de512d79f29c43b714c326f76274a5534753702fe4a7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/rocs-24.05.2.tar.xz">rocs-24.05.2</a></td>
   <td align="right">1529kB</td>
   <td><tt>eb561d0db336e4d62aa65dd811e2a4ff959230fbd5a6a8d3bf478626c3ef1abe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/signon-kwallet-extension-24.05.2.tar.xz">signon-kwallet-extension-24.05.2</a></td>
   <td align="right">11kB</td>
   <td><tt>ad77c595d254a029815e376002f038ca7f81a1023c60d7b2a51e59253f716f46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/skanlite-24.05.2.tar.xz">skanlite-24.05.2</a></td>
   <td align="right">2327kB</td>
   <td><tt>a39b30205e90f9002ab65b6c7f3fcbbc6a04e383560e6b029baabc0ee1cb1950</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/skanpage-24.05.2.tar.xz">skanpage-24.05.2</a></td>
   <td align="right">1301kB</td>
   <td><tt>147322c7b58baa4c76e5348ed4f7d93caae892fe11e2ebeed37a3547896839a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/skladnik-24.05.2.tar.xz">skladnik-24.05.2</a></td>
   <td align="right">398kB</td>
   <td><tt>0e6ed2d2016b9df24e148c6f1fb78be9b6ce0f9e964cdf5c973713823b2b8975</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/spectacle-24.05.2.tar.xz">spectacle-24.05.2</a></td>
   <td align="right">1325kB</td>
   <td><tt>14c1435fb057aa3d088529e28b6407b9f4f89d5f5399d58859044c2b75476d82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/step-24.05.2.tar.xz">step-24.05.2</a></td>
   <td align="right">960kB</td>
   <td><tt>a4417139531402d711016d51675adb953f012c1681b05e8fe9c88cf4b15f2633</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/svgpart-24.05.2.tar.xz">svgpart-24.05.2</a></td>
   <td align="right">29kB</td>
   <td><tt>5d3bd75183f96d2c42cdd5484f0c526a4b262822c15959c4211d1bfab822b79a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/sweeper-24.05.2.tar.xz">sweeper-24.05.2</a></td>
   <td align="right">373kB</td>
   <td><tt>4551cb309b01a327087902d06816426391ee88abc6b98edbb34971740d922c68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/telly-skout-24.05.2.tar.xz">telly-skout-24.05.2</a></td>
   <td align="right">100kB</td>
   <td><tt>3495296fa74aaaa4f430f0517f2ba73e6080efe03a1efc0e15a30b3221147286</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/tokodon-24.05.2.tar.xz">tokodon-24.05.2</a></td>
   <td align="right">527kB</td>
   <td><tt>9af7f0df71defd6bcbd264cf7ec4b4f6e9138472ffb9acefb0601f37b73d72eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/umbrello-24.05.2.tar.xz">umbrello-24.05.2</a></td>
   <td align="right">5484kB</td>
   <td><tt>93cbf70e760984a91d4f08d6da669dd836e61fc3a1ea6e3fe52b99196049c8a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/yakuake-24.05.2.tar.xz">yakuake-24.05.2</a></td>
   <td align="right">376kB</td>
   <td><tt>a247c598b1a03e3e60dc19e71885a028693d5be1d21fb9c7cf32de16f0b6f72d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.05.2/src/zanshin-24.05.2.tar.xz">zanshin-24.05.2</a></td>
   <td align="right">365kB</td>
   <td><tt>97a25eadac865122dd0032cb3c1b282da935fa0d679391506482d175232b5960</tt></td>
</tr>

</table>
