<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/akonadi-23.03.90.tar.xz">akonadi-23.03.90</a></td>
   <td align="right">1628kB</td>
   <td><tt>d8f4a4fb5a35f8c82d418fe6c91562532eedb6fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/akonadi-calendar-23.03.90.tar.xz">akonadi-calendar-23.03.90</a></td>
   <td align="right">401kB</td>
   <td><tt>0ee50049ef000dbf6529c8e0d7383c26b918c223</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/akonadi-calendar-tools-23.03.90.tar.xz">akonadi-calendar-tools-23.03.90</a></td>
   <td align="right">248kB</td>
   <td><tt>4ac6b2d6da09b1f8e56e735acade90732db0728d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/akonadiconsole-23.03.90.tar.xz">akonadiconsole-23.03.90</a></td>
   <td align="right">263kB</td>
   <td><tt>9c1048dd69e1036c73f5886077e0a118be4b14f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/akonadi-contacts-23.03.90.tar.xz">akonadi-contacts-23.03.90</a></td>
   <td align="right">432kB</td>
   <td><tt>02a83982a40213cdcd95e77b27c29e1189130e6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/akonadi-import-wizard-23.03.90.tar.xz">akonadi-import-wizard-23.03.90</a></td>
   <td align="right">502kB</td>
   <td><tt>de6d46a38ad20763fb0fc8fb8d7ce2f2fc1413cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/akonadi-mime-23.03.90.tar.xz">akonadi-mime-23.03.90</a></td>
   <td align="right">151kB</td>
   <td><tt>51803d940f11ae5f9cf180604a56c0be8257cf54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/akonadi-notes-23.03.90.tar.xz">akonadi-notes-23.03.90</a></td>
   <td align="right">27kB</td>
   <td><tt>d9a91effd4f53423c6bb0ebf917d5225ddeb756f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/akonadi-search-23.03.90.tar.xz">akonadi-search-23.03.90</a></td>
   <td align="right">99kB</td>
   <td><tt>bc839d3892e50a32fb7edcd782c5f1e01df3a903</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/akregator-23.03.90.tar.xz">akregator-23.03.90</a></td>
   <td align="right">2269kB</td>
   <td><tt>45361659276da0af76e862a47293fd02d4c240ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/alligator-23.03.90.tar.xz">alligator-23.03.90</a></td>
   <td align="right">184kB</td>
   <td><tt>b4c6e66a9ca7bdaf31b1cd13e44b5ba74f78d134</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/analitza-23.03.90.tar.xz">analitza-23.03.90</a></td>
   <td align="right">344kB</td>
   <td><tt>8e7c0d6b9a9d3da4bf17e3fa94fff41ba65cf546</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/angelfish-23.03.90.tar.xz">angelfish-23.03.90</a></td>
   <td align="right">237kB</td>
   <td><tt>0269835ba8f5971142304d77993e9dba9cd63407</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/ark-23.03.90.tar.xz">ark-23.03.90</a></td>
   <td align="right">2936kB</td>
   <td><tt>f079d21f6340ef67b2e846036ea4d5a76941cfab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/artikulate-23.03.90.tar.xz">artikulate-23.03.90</a></td>
   <td align="right">1068kB</td>
   <td><tt>92139c4a49cf0b77c2c3f06fb455d34ae519aa29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/audiocd-kio-23.03.90.tar.xz">audiocd-kio-23.03.90</a></td>
   <td align="right">549kB</td>
   <td><tt>8bb989f646c8a6e8d35ef66993d2968947b510ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/audiotube-23.03.90.tar.xz">audiotube-23.03.90</a></td>
   <td align="right">106kB</td>
   <td><tt>8522ae76b9d14b2469152c136f5af591e833455f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/baloo-widgets-23.03.90.tar.xz">baloo-widgets-23.03.90</a></td>
   <td align="right">269kB</td>
   <td><tt>ed13dbb0eaea4b9021777628ed5d8a253d9c8926</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/blinken-23.03.90.tar.xz">blinken-23.03.90</a></td>
   <td align="right">2659kB</td>
   <td><tt>290697ccd1fda8d563e9fef1e4bddacfee393087</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/bomber-23.03.90.tar.xz">bomber-23.03.90</a></td>
   <td align="right">818kB</td>
   <td><tt>66de44c10f9eca5e7a1e33a46b3ff4ef9e0641e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/bovo-23.03.90.tar.xz">bovo-23.03.90</a></td>
   <td align="right">209kB</td>
   <td><tt>d435f814ba0d15e7b0f5704da6c36945feb67ac0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/calendarsupport-23.03.90.tar.xz">calendarsupport-23.03.90</a></td>
   <td align="right">965kB</td>
   <td><tt>3252a34cc5e7c3564b21780fe9a32a74b012b739</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/calindori-23.03.90.tar.xz">calindori-23.03.90</a></td>
   <td align="right">372kB</td>
   <td><tt>144482dbd25e9d165a819efaeea9c38b1af23d58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/cantor-23.03.90.tar.xz">cantor-23.03.90</a></td>
   <td align="right">9047kB</td>
   <td><tt>d35d36de9b12f3d203972cddfaf43c8710fe27ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/cervisia-23.03.90.tar.xz">cervisia-23.03.90</a></td>
   <td align="right">1898kB</td>
   <td><tt>ddeb180fc47ccf34c283620e8ad5b6af4e9ef466</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/colord-kde-23.03.90.tar.xz">colord-kde-23.03.90</a></td>
   <td align="right">104kB</td>
   <td><tt>f9706479f911e099d940fa5d4ad6d91214cbe7f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/dolphin-23.03.90.tar.xz">dolphin-23.03.90</a></td>
   <td align="right">5588kB</td>
   <td><tt>f1aee0747361ea9ab239504d2f2e0bd4d0c99c40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/dolphin-plugins-23.03.90.tar.xz">dolphin-plugins-23.03.90</a></td>
   <td align="right">266kB</td>
   <td><tt>9df7fea1735d39de2662196e44d86e78078cab9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/dragon-23.03.90.tar.xz">dragon-23.03.90</a></td>
   <td align="right">1628kB</td>
   <td><tt>234a1392b91b6269ac682fe629712fbce4d8eebd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/elisa-23.03.90.tar.xz">elisa-23.03.90</a></td>
   <td align="right">1767kB</td>
   <td><tt>f557330e015a80444e39a29a7a7b38f36b7dc4d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/eventviews-23.03.90.tar.xz">eventviews-23.03.90</a></td>
   <td align="right">453kB</td>
   <td><tt>ae066d57bb966e65f10f0a3fb3cadbcd08193fe4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/falkon-23.03.90.tar.xz">falkon-23.03.90</a></td>
   <td align="right">2492kB</td>
   <td><tt>65b523b308f43e25fbb02657e1779e7d0c4835a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/ffmpegthumbs-23.03.90.tar.xz">ffmpegthumbs-23.03.90</a></td>
   <td align="right">31kB</td>
   <td><tt>3a1d794253e9ec62174215080470598484419649</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/filelight-23.03.90.tar.xz">filelight-23.03.90</a></td>
   <td align="right">679kB</td>
   <td><tt>fc76cb11da6e298713d43497d0e64e62660d6abe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/ghostwriter-23.03.90.tar.xz">ghostwriter-23.03.90</a></td>
   <td align="right">2992kB</td>
   <td><tt>2b3f18bf621e065894f8ae5a7a206fd88445fc00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/granatier-23.03.90.tar.xz">granatier-23.03.90</a></td>
   <td align="right">2063kB</td>
   <td><tt>69af8defdcb5165fb9cac645a59f078d3f83cc6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/grantlee-editor-23.03.90.tar.xz">grantlee-editor-23.03.90</a></td>
   <td align="right">114kB</td>
   <td><tt>2eb985369ed9729fbbc79c277625c468dfef314a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/grantleetheme-23.03.90.tar.xz">grantleetheme-23.03.90</a></td>
   <td align="right">61kB</td>
   <td><tt>d00877d4e73b4e96519f43b570283af67a4353db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/gwenview-23.03.90.tar.xz">gwenview-23.03.90</a></td>
   <td align="right">6729kB</td>
   <td><tt>d7c1f7b46c497186bc6b0e08703320e27cfdab0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/incidenceeditor-23.03.90.tar.xz">incidenceeditor-23.03.90</a></td>
   <td align="right">556kB</td>
   <td><tt>f4477ee0e54d8c7f505dff9b19c1742a149ac6d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/itinerary-23.03.90.tar.xz">itinerary-23.03.90</a></td>
   <td align="right">565kB</td>
   <td><tt>c2c7d7ee8533362cd45de8fd71ec10f456b3f923</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/juk-23.03.90.tar.xz">juk-23.03.90</a></td>
   <td align="right">2031kB</td>
   <td><tt>34e0be49ec2efca8bd52087086075a7c273f015b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/k3b-23.03.90.tar.xz">k3b-23.03.90</a></td>
   <td align="right">10693kB</td>
   <td><tt>791439914df5d547d4563f4adce960d473fe1ede</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kaccounts-integration-23.03.90.tar.xz">kaccounts-integration-23.03.90</a></td>
   <td align="right">86kB</td>
   <td><tt>481b19d22f515ca542c0aa572e049408cc27d859</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kaccounts-providers-23.03.90.tar.xz">kaccounts-providers-23.03.90</a></td>
   <td align="right">64kB</td>
   <td><tt>acf3473ba342f33c4c5bc356d502653ea6c6b2f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kaddressbook-23.03.90.tar.xz">kaddressbook-23.03.90</a></td>
   <td align="right">3376kB</td>
   <td><tt>46dd8b98ddcf8284f01ef7610a4788aa5ae8cd29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kajongg-23.03.90.tar.xz">kajongg-23.03.90</a></td>
   <td align="right">4470kB</td>
   <td><tt>173e534fa09b71408572d76cc26616fffcc14587</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kalarm-23.03.90.tar.xz">kalarm-23.03.90</a></td>
   <td align="right">2527kB</td>
   <td><tt>d2e2291693537660eb066c0a86ec6aa52d6c2a9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kalendar-23.03.90.tar.xz">kalendar-23.03.90</a></td>
   <td align="right">801kB</td>
   <td><tt>c6aaa2138feb08b270e445bd50a60df76e0dc765</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kalgebra-23.03.90.tar.xz">kalgebra-23.03.90</a></td>
   <td align="right">1012kB</td>
   <td><tt>ac51c5a61ed14b47274ad0c45676f61395eccf68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kalk-23.03.90.tar.xz">kalk-23.03.90</a></td>
   <td align="right">81kB</td>
   <td><tt>c170a7599ccadfaa5c9b61347ceb06073c34d7ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kalzium-23.03.90.tar.xz">kalzium-23.03.90</a></td>
   <td align="right">24065kB</td>
   <td><tt>3f442d30e107b6f565393635defdf7c71499e148</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kamera-23.03.90.tar.xz">kamera-23.03.90</a></td>
   <td align="right">126kB</td>
   <td><tt>86d9bb3292857d9e82b86158e51b0cc96b0cbf53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kamoso-23.03.90.tar.xz">kamoso-23.03.90</a></td>
   <td align="right">225kB</td>
   <td><tt>33485ef3fd9080f5bfc4b31ec2c2771edd004520</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kanagram-23.03.90.tar.xz">kanagram-23.03.90</a></td>
   <td align="right">7875kB</td>
   <td><tt>ea865bae4778f133134a71e8f0ccc783d30dc32f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kapman-23.03.90.tar.xz">kapman-23.03.90</a></td>
   <td align="right">2422kB</td>
   <td><tt>af052d7235549325b2dfad2144482f230c8488d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kapptemplate-23.03.90.tar.xz">kapptemplate-23.03.90</a></td>
   <td align="right">330kB</td>
   <td><tt>22a4514c9c6ee706ed59279bf5d87e01b19b3bb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kasts-23.03.90.tar.xz">kasts-23.03.90</a></td>
   <td align="right">529kB</td>
   <td><tt>93260cfd817b1223ddf7489b4a741befdfaa1be2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kate-23.03.90.tar.xz">kate-23.03.90</a></td>
   <td align="right">7793kB</td>
   <td><tt>db902d783445ec1449840f3c69a18248f82f11a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/katomic-23.03.90.tar.xz">katomic-23.03.90</a></td>
   <td align="right">1417kB</td>
   <td><tt>1e0cfe4420a96a938f476681c4fd649c295a5ca6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kbackup-23.03.90.tar.xz">kbackup-23.03.90</a></td>
   <td align="right">388kB</td>
   <td><tt>2d6caf1c978ef84a099d8caebc61ef788afc61de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kblackbox-23.03.90.tar.xz">kblackbox-23.03.90</a></td>
   <td align="right">537kB</td>
   <td><tt>32dde1a8e2f44807ffd130ad963ec58bfbdf217d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kblocks-23.03.90.tar.xz">kblocks-23.03.90</a></td>
   <td align="right">2058kB</td>
   <td><tt>73c248bb63c1c08ebfdc521f0ec8ea5b0e4b0be6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kbounce-23.03.90.tar.xz">kbounce-23.03.90</a></td>
   <td align="right">3460kB</td>
   <td><tt>6c86b8221eeed34c9e609688a44603cb1f937739</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kbreakout-23.03.90.tar.xz">kbreakout-23.03.90</a></td>
   <td align="right">2498kB</td>
   <td><tt>33e61d9026755fd76df1c85cb0a1153f132da6e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kbruch-23.03.90.tar.xz">kbruch-23.03.90</a></td>
   <td align="right">5523kB</td>
   <td><tt>1abe248284b9d7db018a5af57e96d55a04f6be8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kcachegrind-23.03.90.tar.xz">kcachegrind-23.03.90</a></td>
   <td align="right">896kB</td>
   <td><tt>3813c170747f688fee6891775f4ae9d3db44e669</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kcalc-23.03.90.tar.xz">kcalc-23.03.90</a></td>
   <td align="right">425kB</td>
   <td><tt>b999c3991aa52a00392a4a4103a3b783632335fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kcalutils-23.03.90.tar.xz">kcalutils-23.03.90</a></td>
   <td align="right">350kB</td>
   <td><tt>17db6c7bcd418b281189b5cf453f75839221cc98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kcharselect-23.03.90.tar.xz">kcharselect-23.03.90</a></td>
   <td align="right">373kB</td>
   <td><tt>afbb3cc7233dcafe0fbba1bd7db81652826703e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kclock-23.03.90.tar.xz">kclock-23.03.90</a></td>
   <td align="right">709kB</td>
   <td><tt>fa82bdb8a6b7e33dd5c2b0203836cc0c9227db00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kcolorchooser-23.03.90.tar.xz">kcolorchooser-23.03.90</a></td>
   <td align="right">32kB</td>
   <td><tt>3af64246ad2b0f20a21aee2447ef8d69780ee6a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kcron-23.03.90.tar.xz">kcron-23.03.90</a></td>
   <td align="right">920kB</td>
   <td><tt>6af090bdcc00ba2a9fca338504ceace47bc2820f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kdebugsettings-23.03.90.tar.xz">kdebugsettings-23.03.90</a></td>
   <td align="right">94kB</td>
   <td><tt>62b39cc8546d4640da5e3c8ba98675ca4e1f8b07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kdeconnect-kde-23.03.90.tar.xz">kdeconnect-kde-23.03.90</a></td>
   <td align="right">633kB</td>
   <td><tt>7fb2dd4ba655fd5066d864fe075cdc3a323290ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kde-dev-scripts-23.03.90.tar.xz">kde-dev-scripts-23.03.90</a></td>
   <td align="right">364kB</td>
   <td><tt>157d4ffab4fd0dc5483578b0e7dc2ba0733d3808</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kde-dev-utils-23.03.90.tar.xz">kde-dev-utils-23.03.90</a></td>
   <td align="right">70kB</td>
   <td><tt>3f36c7d33d1d1231ef96e6fffb145300bbc84293</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kdeedu-data-23.03.90.tar.xz">kdeedu-data-23.03.90</a></td>
   <td align="right">325kB</td>
   <td><tt>a27704a3b6600c0e814754c5b22271c7c58f8f6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kdegraphics-mobipocket-23.03.90.tar.xz">kdegraphics-mobipocket-23.03.90</a></td>
   <td align="right">12kB</td>
   <td><tt>718eac83f6137ce38772da86f905acc077f3e0af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kdegraphics-thumbnailers-23.03.90.tar.xz">kdegraphics-thumbnailers-23.03.90</a></td>
   <td align="right">48kB</td>
   <td><tt>706dda662214d53626fb242f1c0a42a945c9ca32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kde-inotify-survey-23.03.90.tar.xz">kde-inotify-survey-23.03.90</a></td>
   <td align="right">220kB</td>
   <td><tt>5cbd6d12f139ac37a71cd207200de6f6947b761a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kdenetwork-filesharing-23.03.90.tar.xz">kdenetwork-filesharing-23.03.90</a></td>
   <td align="right">459kB</td>
   <td><tt>fd213f0c1ed526423dc97703db28def0688d7033</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kdenlive-23.03.90.tar.xz">kdenlive-23.03.90</a></td>
   <td align="right">12262kB</td>
   <td><tt>45171c92a990c4f8b92aa86f145a8e8f47fa8571</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kdepim-addons-23.03.90.tar.xz">kdepim-addons-23.03.90</a></td>
   <td align="right">2586kB</td>
   <td><tt>dbc4402068f3986450e28efbff231a662fb84f1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kdepim-runtime-23.03.90.tar.xz">kdepim-runtime-23.03.90</a></td>
   <td align="right">1819kB</td>
   <td><tt>60653d70a7e3c294a40e3a0a889a2c223d9f90b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kdesdk-kio-23.03.90.tar.xz">kdesdk-kio-23.03.90</a></td>
   <td align="right">39kB</td>
   <td><tt>d2d956d45766fbdf5fe4c34ff8487b6ec9195ef0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kdesdk-thumbnailers-23.03.90.tar.xz">kdesdk-thumbnailers-23.03.90</a></td>
   <td align="right">26kB</td>
   <td><tt>588c2c47ec78721e26d0328412818a07fd743e6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kdevelop-23.03.90.tar.xz">kdevelop-23.03.90</a></td>
   <td align="right">8453kB</td>
   <td><tt>63793d9b02561736c806fada01fdeca4e1f9d506</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kdev-php-23.03.90.tar.xz">kdev-php-23.03.90</a></td>
   <td align="right">1060kB</td>
   <td><tt>b7d935a9b92eec0ed24badea0b895d53768e99e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kdev-python-23.03.90.tar.xz">kdev-python-23.03.90</a></td>
   <td align="right">1070kB</td>
   <td><tt>bc1c310b33ed08b891d5036c4613378a84bd613f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kdf-23.03.90.tar.xz">kdf-23.03.90</a></td>
   <td align="right">480kB</td>
   <td><tt>8302b6777d1581e9745e9f715d501e189de7170e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kdialog-23.03.90.tar.xz">kdialog-23.03.90</a></td>
   <td align="right">138kB</td>
   <td><tt>4ec7dc1935b467a9b07bc9180efb0028a9bc9a60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kdiamond-23.03.90.tar.xz">kdiamond-23.03.90</a></td>
   <td align="right">4598kB</td>
   <td><tt>6272f5c3c47c862052717b39a37e26ac9b359191</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/keditbookmarks-23.03.90.tar.xz">keditbookmarks-23.03.90</a></td>
   <td align="right">232kB</td>
   <td><tt>86b65564061975a2a0205a830c0e6760aa725b53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/keysmith-23.03.90.tar.xz">keysmith-23.03.90</a></td>
   <td align="right">155kB</td>
   <td><tt>11ae440bb9545f88e0306b93157b808a823083a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kfind-23.03.90.tar.xz">kfind-23.03.90</a></td>
   <td align="right">334kB</td>
   <td><tt>851bda7138a912fbe737077611eb7e10cd86e086</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kfloppy-23.03.90.tar.xz">kfloppy-23.03.90</a></td>
   <td align="right">235kB</td>
   <td><tt>0c65bd1a7225710a6c401646eb216702ecb95d14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kfourinline-23.03.90.tar.xz">kfourinline-23.03.90</a></td>
   <td align="right">722kB</td>
   <td><tt>143e0c2b9ebe050b5266d0e1f9a92fab184872b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kgeography-23.03.90.tar.xz">kgeography-23.03.90</a></td>
   <td align="right">12257kB</td>
   <td><tt>92b77b7e738d1d9eb9a4d8af532f50f9c4681007</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kget-23.03.90.tar.xz">kget-23.03.90</a></td>
   <td align="right">5430kB</td>
   <td><tt>340a9e40b32bed404649970beac11d2683d354da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kgoldrunner-23.03.90.tar.xz">kgoldrunner-23.03.90</a></td>
   <td align="right">4789kB</td>
   <td><tt>bc55105b91285562d8f5cf255f89087bac60977e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kgpg-23.03.90.tar.xz">kgpg-23.03.90</a></td>
   <td align="right">2972kB</td>
   <td><tt>619b4e25f0d70f05d8c68e20832eddecaa841b41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/khangman-23.03.90.tar.xz">khangman-23.03.90</a></td>
   <td align="right">7267kB</td>
   <td><tt>c05b1251dbb25ea87e1ad16cab0b1cc2661d5c42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/khelpcenter-23.03.90.tar.xz">khelpcenter-23.03.90</a></td>
   <td align="right">4267kB</td>
   <td><tt>276df9f52d06c1f3ea0435d8ecacd99d96f501aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kidentitymanagement-23.03.90.tar.xz">kidentitymanagement-23.03.90</a></td>
   <td align="right">159kB</td>
   <td><tt>be270188b35333a19e23a2079e738712b352fd08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kig-23.03.90.tar.xz">kig-23.03.90</a></td>
   <td align="right">3204kB</td>
   <td><tt>876189e7dff78cb02a613b236a84591d5e84ed0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kigo-23.03.90.tar.xz">kigo-23.03.90</a></td>
   <td align="right">5141kB</td>
   <td><tt>51c5db23fc01658e2a6923088cc14f4cd9465a4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/killbots-23.03.90.tar.xz">killbots-23.03.90</a></td>
   <td align="right">1173kB</td>
   <td><tt>229a68c05aefb6e7489a623058755e348d897f55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kimagemapeditor-23.03.90.tar.xz">kimagemapeditor-23.03.90</a></td>
   <td align="right">1077kB</td>
   <td><tt>9719ea550d1af29f23e834dda70014ffb0c9868e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kimap-23.03.90.tar.xz">kimap-23.03.90</a></td>
   <td align="right">127kB</td>
   <td><tt>47559f702649a7da31de5ecd9884b1ceb5ad2b45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kio-admin-23.03.90.tar.xz">kio-admin-23.03.90</a></td>
   <td align="right">33kB</td>
   <td><tt>93d2135847bbc7ed42141f8df73fb087c0122a43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kio-extras-23.03.90.tar.xz">kio-extras-23.03.90</a></td>
   <td align="right">1390kB</td>
   <td><tt>7db132e0fd979efa564f05759a521a25a2c8fee8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kio-gdrive-23.03.90.tar.xz">kio-gdrive-23.03.90</a></td>
   <td align="right">77kB</td>
   <td><tt>d527eb4ef33d2c4133333b1f05e4417648834f74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kio-zeroconf-23.03.90.tar.xz">kio-zeroconf-23.03.90</a></td>
   <td align="right">43kB</td>
   <td><tt>fcc8456dac1f2c255762ba1114c22b8846550472</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kipi-plugins-23.03.90.tar.xz">kipi-plugins-23.03.90</a></td>
   <td align="right">1526kB</td>
   <td><tt>15f199c3cf1570e8155ace33179de2da0966a921</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kirigami-gallery-23.03.90.tar.xz">kirigami-gallery-23.03.90</a></td>
   <td align="right">342kB</td>
   <td><tt>8a4a762aa72bdc3f996eedcdc1612c4365d31482</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kiriki-23.03.90.tar.xz">kiriki-23.03.90</a></td>
   <td align="right">361kB</td>
   <td><tt>b8fa42ef939f2cdb46f66f89cd46bb9dcf27ae16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kiten-23.03.90.tar.xz">kiten-23.03.90</a></td>
   <td align="right">11069kB</td>
   <td><tt>10675d1ba1c216066ff20a441b65b67d772b6aac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kitinerary-23.03.90.tar.xz">kitinerary-23.03.90</a></td>
   <td align="right">1707kB</td>
   <td><tt>0b81267cf77aa6b669671f9625ba146aee52308b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kjournald-23.03.90.tar.xz">kjournald-23.03.90</a></td>
   <td align="right">500kB</td>
   <td><tt>be745eacb8148d729cbcfdf991bb4e16143596e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kjumpingcube-23.03.90.tar.xz">kjumpingcube-23.03.90</a></td>
   <td align="right">328kB</td>
   <td><tt>13e2e0405ff262ae61bed937b4e9ec4972a92df2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kldap-23.03.90.tar.xz">kldap-23.03.90</a></td>
   <td align="right">178kB</td>
   <td><tt>471016ba3bd421a64d5ea6ac54d2699a70efffea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kleopatra-23.03.90.tar.xz">kleopatra-23.03.90</a></td>
   <td align="right">2547kB</td>
   <td><tt>5d358611623802ca04b32b952cdf288e9b34b65c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/klettres-23.03.90.tar.xz">klettres-23.03.90</a></td>
   <td align="right">46717kB</td>
   <td><tt>4259f5eb201a2605f1c7e33e7914c38545464d3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/klickety-23.03.90.tar.xz">klickety-23.03.90</a></td>
   <td align="right">1464kB</td>
   <td><tt>98eb11d36c789ae07872b4b58a5c90ad55794112</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/klines-23.03.90.tar.xz">klines-23.03.90</a></td>
   <td align="right">1696kB</td>
   <td><tt>924ded442a6fcff6e93e43954feda8d9d67ce68a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kmag-23.03.90.tar.xz">kmag-23.03.90</a></td>
   <td align="right">707kB</td>
   <td><tt>e778ce1822fbb04c4de21fac7bd8418fb0d237ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kmahjongg-23.03.90.tar.xz">kmahjongg-23.03.90</a></td>
   <td align="right">4000kB</td>
   <td><tt>40f3551a955d796468e656c669c147ad75456d0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kmail-23.03.90.tar.xz">kmail-23.03.90</a></td>
   <td align="right">7465kB</td>
   <td><tt>ee7759116fd9abd96bbcd494c52ebd1c274f7581</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kmail-account-wizard-23.03.90.tar.xz">kmail-account-wizard-23.03.90</a></td>
   <td align="right">180kB</td>
   <td><tt>2c4ec6cda754690872c5cbc6e8dc41cbb4eb5d7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kmailtransport-23.03.90.tar.xz">kmailtransport-23.03.90</a></td>
   <td align="right">187kB</td>
   <td><tt>57a09efc300dec59c902056baef05ba9c9d82458</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kmbox-23.03.90.tar.xz">kmbox-23.03.90</a></td>
   <td align="right">28kB</td>
   <td><tt>207bb84d16e262657aba50c1cfbc7550fae272b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kmime-23.03.90.tar.xz">kmime-23.03.90</a></td>
   <td align="right">158kB</td>
   <td><tt>e4db80f962cfe175bb976095908bec1465763d6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kmines-23.03.90.tar.xz">kmines-23.03.90</a></td>
   <td align="right">985kB</td>
   <td><tt>194c0a42b39c7adc2041da6f4849f338589dc25d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kmix-23.03.90.tar.xz">kmix-23.03.90</a></td>
   <td align="right">1168kB</td>
   <td><tt>1b9b53e518b44b8a736f4d1b284e597efd61b83f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kmousetool-23.03.90.tar.xz">kmousetool-23.03.90</a></td>
   <td align="right">126kB</td>
   <td><tt>1ce022ee0b54ee72496ba8f039c6f47959bcac24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kmouth-23.03.90.tar.xz">kmouth-23.03.90</a></td>
   <td align="right">2038kB</td>
   <td><tt>ce711607070f0aba9364690241936976c996bb23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kmplot-23.03.90.tar.xz">kmplot-23.03.90</a></td>
   <td align="right">3027kB</td>
   <td><tt>1224faa987ddd89e4c3e89667f8660d17fa42cfd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/knavalbattle-23.03.90.tar.xz">knavalbattle-23.03.90</a></td>
   <td align="right">1368kB</td>
   <td><tt>05ac8e39fef8f2d692a44930014e80555e5672d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/knetwalk-23.03.90.tar.xz">knetwalk-23.03.90</a></td>
   <td align="right">1078kB</td>
   <td><tt>0d8522f6d961e20f75443e4def8025c5cb3d1c94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/knights-23.03.90.tar.xz">knights-23.03.90</a></td>
   <td align="right">3251kB</td>
   <td><tt>5df13e9191b0bd05d26a2cf4c3c826485b6c9fe2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/knotes-23.03.90.tar.xz">knotes-23.03.90</a></td>
   <td align="right">366kB</td>
   <td><tt>1dd0882f271b2038e0105838a943374ff11fda7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/koko-23.03.90.tar.xz">koko-23.03.90</a></td>
   <td align="right">134kB</td>
   <td><tt>9f24efd51298a015e260df8d1dcfa111eb08d5a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kolf-23.03.90.tar.xz">kolf-23.03.90</a></td>
   <td align="right">1044kB</td>
   <td><tt>03100d8e6af990e809834408e6877dce1673b3de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kollision-23.03.90.tar.xz">kollision-23.03.90</a></td>
   <td align="right">299kB</td>
   <td><tt>d2397396d6be4bc46276ac6825686709a49eaa59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kolourpaint-23.03.90.tar.xz">kolourpaint-23.03.90</a></td>
   <td align="right">5649kB</td>
   <td><tt>47a46141cc30dc4d3acd125f96bd83f1f339d127</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kompare-23.03.90.tar.xz">kompare-23.03.90</a></td>
   <td align="right">959kB</td>
   <td><tt>42ddd2d2cb1ce2337f7cc426540833637faf82a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kongress-23.03.90.tar.xz">kongress-23.03.90</a></td>
   <td align="right">573kB</td>
   <td><tt>b5fbdd9eb522fd6d243adaaf57841af5d9eea7dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/konqueror-23.03.90.tar.xz">konqueror-23.03.90</a></td>
   <td align="right">8292kB</td>
   <td><tt>1403d76821d948b2f8b81893771244a976b8d0cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/konquest-23.03.90.tar.xz">konquest-23.03.90</a></td>
   <td align="right">855kB</td>
   <td><tt>f85645f0f9bac5f7c74c08f808def7cc1697155c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/konsole-23.03.90.tar.xz">konsole-23.03.90</a></td>
   <td align="right">1774kB</td>
   <td><tt>45dfa654b025833617f50a61f107c9506f5a04d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kontact-23.03.90.tar.xz">kontact-23.03.90</a></td>
   <td align="right">851kB</td>
   <td><tt>2f3f4090d7584cad3cce25dea43bae608e0d46a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kontactinterface-23.03.90.tar.xz">kontactinterface-23.03.90</a></td>
   <td align="right">39kB</td>
   <td><tt>f9362c627a42346ac962a724fe4be011c583d127</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kontrast-23.03.90.tar.xz">kontrast-23.03.90</a></td>
   <td align="right">200kB</td>
   <td><tt>1ad639f738a5976ab0103f953db80e018d5ca70e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/konversation-23.03.90.tar.xz">konversation-23.03.90</a></td>
   <td align="right">4350kB</td>
   <td><tt>703ceb748f622d817b89000a939387f7e4afa478</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kopeninghours-23.03.90.tar.xz">kopeninghours-23.03.90</a></td>
   <td align="right">69kB</td>
   <td><tt>c741b9a6211ae824f90147eee32cef07e2d47846</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kopete-23.03.90.tar.xz">kopete-23.03.90</a></td>
   <td align="right">9908kB</td>
   <td><tt>e30ee79b84b775f880509757b6fb8330df2c1397</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/korganizer-23.03.90.tar.xz">korganizer-23.03.90</a></td>
   <td align="right">2477kB</td>
   <td><tt>c5f3de26aff9b96f903034c626718671086476ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kosmindoormap-23.03.90.tar.xz">kosmindoormap-23.03.90</a></td>
   <td align="right">366kB</td>
   <td><tt>adb0e64cfb1c2ecb842d33bf9a0174b740eccef2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kpat-23.03.90.tar.xz">kpat-23.03.90</a></td>
   <td align="right">3664kB</td>
   <td><tt>3b40e3dd583af021ff672bf7ce1f1f1dbcc2374e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kpimtextedit-23.03.90.tar.xz">kpimtextedit-23.03.90</a></td>
   <td align="right">213kB</td>
   <td><tt>fa4a85aeee48ff9bbd6833cdbb310d5e3a5d7153</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kpkpass-23.03.90.tar.xz">kpkpass-23.03.90</a></td>
   <td align="right">28kB</td>
   <td><tt>374e5fc9627321f45689bca8deb51cba001bba23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kpmcore-23.03.90.tar.xz">kpmcore-23.03.90</a></td>
   <td align="right">608kB</td>
   <td><tt>37b6904260179e8f75c3a59fe5820a07b3f3aaf9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kpublictransport-23.03.90.tar.xz">kpublictransport-23.03.90</a></td>
   <td align="right">521kB</td>
   <td><tt>743e3ceefb32716385d1d26d99f99a9bbec0bbf3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kqtquickcharts-23.03.90.tar.xz">kqtquickcharts-23.03.90</a></td>
   <td align="right">30kB</td>
   <td><tt>282675522d588d786dc4cf1ebafd3d5b844228ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/krdc-23.03.90.tar.xz">krdc-23.03.90</a></td>
   <td align="right">1594kB</td>
   <td><tt>fdb2883d68ccbce5ce0f729f4380d24df965f600</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/krecorder-23.03.90.tar.xz">krecorder-23.03.90</a></td>
   <td align="right">155kB</td>
   <td><tt>e2860ec922d0015144dc76d85921f096bafd5f26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kreversi-23.03.90.tar.xz">kreversi-23.03.90</a></td>
   <td align="right">1052kB</td>
   <td><tt>12e8faeaa726cf721aad15d0e9eb762b921520b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/krfb-23.03.90.tar.xz">krfb-23.03.90</a></td>
   <td align="right">1288kB</td>
   <td><tt>8071385ba30d0c640a7533901a3e825d1a5ddf7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kross-interpreters-23.03.90.tar.xz">kross-interpreters-23.03.90</a></td>
   <td align="right">148kB</td>
   <td><tt>67a57978fd6cfb88c4c5e6e57d387e7cec04a232</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kruler-23.03.90.tar.xz">kruler-23.03.90</a></td>
   <td align="right">280kB</td>
   <td><tt>e7ed4c5360d018a734967e915dc4412b5ea418bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/ksanecore-23.03.90.tar.xz">ksanecore-23.03.90</a></td>
   <td align="right">48kB</td>
   <td><tt>d2553ca8bd01cb1b2a04fb361652139df266dbe6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kshisen-23.03.90.tar.xz">kshisen-23.03.90</a></td>
   <td align="right">984kB</td>
   <td><tt>c2c1dbb5d21ed07517031a0f965ccd60d5dd453f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/ksirk-23.03.90.tar.xz">ksirk-23.03.90</a></td>
   <td align="right">6882kB</td>
   <td><tt>789adeac9e5e5fda1c612afb9c970b15534968b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/ksmtp-23.03.90.tar.xz">ksmtp-23.03.90</a></td>
   <td align="right">49kB</td>
   <td><tt>7d3000d41a46a22c0ba4725af3dc91c0911b95b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/ksnakeduel-23.03.90.tar.xz">ksnakeduel-23.03.90</a></td>
   <td align="right">587kB</td>
   <td><tt>f51c7ee61d7a43ae0b4c99c07618c8b4e3444760</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kspaceduel-23.03.90.tar.xz">kspaceduel-23.03.90</a></td>
   <td align="right">644kB</td>
   <td><tt>355183ad54d199eefdf9b0ce120ffa3fd536e37a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/ksquares-23.03.90.tar.xz">ksquares-23.03.90</a></td>
   <td align="right">305kB</td>
   <td><tt>9bd44d60b8549a36d4a3688b6e770949df3c313c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/ksudoku-23.03.90.tar.xz">ksudoku-23.03.90</a></td>
   <td align="right">1662kB</td>
   <td><tt>7b68e25d5d3a133acb95c697f08e72596a540473</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/ksystemlog-23.03.90.tar.xz">ksystemlog-23.03.90</a></td>
   <td align="right">1955kB</td>
   <td><tt>a59b2b73d21020ef8fffb2b267ba8274245fa537</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kteatime-23.03.90.tar.xz">kteatime-23.03.90</a></td>
   <td align="right">305kB</td>
   <td><tt>d2555bff50a1a2ab3630af888978823db928e9ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/ktimer-23.03.90.tar.xz">ktimer-23.03.90</a></td>
   <td align="right">394kB</td>
   <td><tt>c32a072c068dda98668c1e77e50303af9817035e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/ktnef-23.03.90.tar.xz">ktnef-23.03.90</a></td>
   <td align="right">302kB</td>
   <td><tt>a32e3f287fdfeeed6f5357050f867afa2af2b166</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/ktorrent-23.03.90.tar.xz">ktorrent-23.03.90</a></td>
   <td align="right">2099kB</td>
   <td><tt>c3233949948f84dfcbe1c79152e1ff85635bdbd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/ktouch-23.03.90.tar.xz">ktouch-23.03.90</a></td>
   <td align="right">4917kB</td>
   <td><tt>821d1a9422ba2da2b146eead0ecb47241701fb73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/ktp-accounts-kcm-23.03.90.tar.xz">ktp-accounts-kcm-23.03.90</a></td>
   <td align="right">271kB</td>
   <td><tt>30591b53e19db22ef123e5e401cdc83cc49e6a48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/ktp-approver-23.03.90.tar.xz">ktp-approver-23.03.90</a></td>
   <td align="right">38kB</td>
   <td><tt>da73215a0dc921116450db5f1c1f3681af4688b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/ktp-auth-handler-23.03.90.tar.xz">ktp-auth-handler-23.03.90</a></td>
   <td align="right">47kB</td>
   <td><tt>454eaf4c9d6f93046c88056a392e9afa6e20b1a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/ktp-call-ui-23.03.90.tar.xz">ktp-call-ui-23.03.90</a></td>
   <td align="right">101kB</td>
   <td><tt>c776de3f214c5f2975cd3d922c8edbcb7a9d4987</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/ktp-common-internals-23.03.90.tar.xz">ktp-common-internals-23.03.90</a></td>
   <td align="right">448kB</td>
   <td><tt>a2915d8d4a0c4c0c2d780dfad72a836e6f5870f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/ktp-contact-list-23.03.90.tar.xz">ktp-contact-list-23.03.90</a></td>
   <td align="right">156kB</td>
   <td><tt>6352d90d3465660bf9b0a89df3d121cc077bfad5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/ktp-contact-runner-23.03.90.tar.xz">ktp-contact-runner-23.03.90</a></td>
   <td align="right">44kB</td>
   <td><tt>7a3215da58c2a8502c07f7fc7b82d4421b6972e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/ktp-desktop-applets-23.03.90.tar.xz">ktp-desktop-applets-23.03.90</a></td>
   <td align="right">44kB</td>
   <td><tt>0f3788755b9abfde08786a3585da49c51b746943</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/ktp-filetransfer-handler-23.03.90.tar.xz">ktp-filetransfer-handler-23.03.90</a></td>
   <td align="right">46kB</td>
   <td><tt>2b0bee29846ed10fa8d000243e6f2c95fdd0a0de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/ktp-kded-module-23.03.90.tar.xz">ktp-kded-module-23.03.90</a></td>
   <td align="right">101kB</td>
   <td><tt>8fb4cd8bbb86732ec88b29fdf01e90ba6c227b05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/ktp-send-file-23.03.90.tar.xz">ktp-send-file-23.03.90</a></td>
   <td align="right">29kB</td>
   <td><tt>4dd09463b2ef7795a8103213c2fba305964db966</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/ktp-text-ui-23.03.90.tar.xz">ktp-text-ui-23.03.90</a></td>
   <td align="right">475kB</td>
   <td><tt>6756db1678c475ac0a258ccbccc0d43c8b77b508</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/ktrip-23.03.90.tar.xz">ktrip-23.03.90</a></td>
   <td align="right">247kB</td>
   <td><tt>4e38959522852be36e9c1f5c3011deec59be5513</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/ktuberling-23.03.90.tar.xz">ktuberling-23.03.90</a></td>
   <td align="right">69724kB</td>
   <td><tt>da23c113e235675b3123072a32cefc17afd1991c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kturtle-23.03.90.tar.xz">kturtle-23.03.90</a></td>
   <td align="right">1953kB</td>
   <td><tt>500edcfe07ca88fb5ee3e90442b91f8715956e8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kubrick-23.03.90.tar.xz">kubrick-23.03.90</a></td>
   <td align="right">340kB</td>
   <td><tt>c0f5ae3e9235a63dd07a7d356d72899405a18f82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kwalletmanager-23.03.90.tar.xz">kwalletmanager-23.03.90</a></td>
   <td align="right">825kB</td>
   <td><tt>542d2c3150dd34881609115ddc0b0e5521f3dc5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kwave-23.03.90.tar.xz">kwave-23.03.90</a></td>
   <td align="right">6801kB</td>
   <td><tt>cbbc4f6ae28ec85aacb93ecd96e6bd17a05c7fc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kweather-23.03.90.tar.xz">kweather-23.03.90</a></td>
   <td align="right">994kB</td>
   <td><tt>b63ae11522d7dd57ee123aa2ca6efe23d24f2f97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/kwordquiz-23.03.90.tar.xz">kwordquiz-23.03.90</a></td>
   <td align="right">4162kB</td>
   <td><tt>add18f098cf733b220b7ef713dd0c8336a7bcc2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/libgravatar-23.03.90.tar.xz">libgravatar-23.03.90</a></td>
   <td align="right">36kB</td>
   <td><tt>c56221a461335ff300290bb604bd85d1c018af1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/libkcddb-23.03.90.tar.xz">libkcddb-23.03.90</a></td>
   <td align="right">447kB</td>
   <td><tt>801081258fdc3d91dcf0c30537ab5f5c08b2c55d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/libkcompactdisc-23.03.90.tar.xz">libkcompactdisc-23.03.90</a></td>
   <td align="right">96kB</td>
   <td><tt>aa754fb3f1c99e223a39df38ff4d9df40c90f5ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/libkdcraw-23.03.90.tar.xz">libkdcraw-23.03.90</a></td>
   <td align="right">36kB</td>
   <td><tt>dcf80f40eec2c5a9210a858f10ccc00ed92aa501</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/libkdegames-23.03.90.tar.xz">libkdegames-23.03.90</a></td>
   <td align="right">5847kB</td>
   <td><tt>bdd682d6af281c0f14242eb49e88d5c0446fd263</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/libkdepim-23.03.90.tar.xz">libkdepim-23.03.90</a></td>
   <td align="right">279kB</td>
   <td><tt>9f3bf0b6efec6165ebc133238f9144de987a7424</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/libkeduvocdocument-23.03.90.tar.xz">libkeduvocdocument-23.03.90</a></td>
   <td align="right">224kB</td>
   <td><tt>d43b43178ee7461a8af94851dadea265315ebbb4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/libkexiv2-23.03.90.tar.xz">libkexiv2-23.03.90</a></td>
   <td align="right">58kB</td>
   <td><tt>82f4aad9e38c6454435cb920425e6efb63648549</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/libkgapi-23.03.90.tar.xz">libkgapi-23.03.90</a></td>
   <td align="right">325kB</td>
   <td><tt>8fa5725ab174ec8c63291d62b7b869edbdd1bcf9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/libkipi-23.03.90.tar.xz">libkipi-23.03.90</a></td>
   <td align="right">86kB</td>
   <td><tt>2a18de80002046de95f32ba052825089b11b71f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/libkleo-23.03.90.tar.xz">libkleo-23.03.90</a></td>
   <td align="right">501kB</td>
   <td><tt>9831596d68d92232d039f604799698a25bf2707f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/libkmahjongg-23.03.90.tar.xz">libkmahjongg-23.03.90</a></td>
   <td align="right">1647kB</td>
   <td><tt>832aa02c28ac481bb4dcf651a647767fe8990a46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/libkomparediff2-23.03.90.tar.xz">libkomparediff2-23.03.90</a></td>
   <td align="right">181kB</td>
   <td><tt>4662fe32a63b2636b61d8f286fe1775f8884dd16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/libksane-23.03.90.tar.xz">libksane-23.03.90</a></td>
   <td align="right">151kB</td>
   <td><tt>20bda367c95c828807f367c45226f7e8e4ff2dfb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/libksieve-23.03.90.tar.xz">libksieve-23.03.90</a></td>
   <td align="right">542kB</td>
   <td><tt>be7d76cacd37732911426cc90ce735414e084308</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/libktorrent-23.03.90.tar.xz">libktorrent-23.03.90</a></td>
   <td align="right">589kB</td>
   <td><tt>1cd96e4d7227c893c2213b0d835c1270025808dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/lokalize-23.03.90.tar.xz">lokalize-23.03.90</a></td>
   <td align="right">2066kB</td>
   <td><tt>0b24e2162c60945033f660307fa833e07fbb4532</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/lskat-23.03.90.tar.xz">lskat-23.03.90</a></td>
   <td align="right">1220kB</td>
   <td><tt>7c99b66e7357eeb22fd368011f54b06a84a838ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/mailcommon-23.03.90.tar.xz">mailcommon-23.03.90</a></td>
   <td align="right">740kB</td>
   <td><tt>fcd87857884d384b0e43178aed5a4cc7cb78ffe7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/mailimporter-23.03.90.tar.xz">mailimporter-23.03.90</a></td>
   <td align="right">577kB</td>
   <td><tt>3e347c588e24af011f7fc80542dec44fc69923e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/marble-23.03.90.tar.xz">marble-23.03.90</a></td>
   <td align="right">52501kB</td>
   <td><tt>d580a6d8400a3baf04815f952b092b3473be00f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/markdownpart-23.03.90.tar.xz">markdownpart-23.03.90</a></td>
   <td align="right">30kB</td>
   <td><tt>0cd078043e35f6a8c3ec449b6b610caec541f963</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/mbox-importer-23.03.90.tar.xz">mbox-importer-23.03.90</a></td>
   <td align="right">29kB</td>
   <td><tt>23795d15411cc6fb322cf24e5248d07df6dd2ef3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/messagelib-23.03.90.tar.xz">messagelib-23.03.90</a></td>
   <td align="right">11061kB</td>
   <td><tt>baceb2db8be86d35a0133bd8da5d17ded7665ca0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/minuet-23.03.90.tar.xz">minuet-23.03.90</a></td>
   <td align="right">27041kB</td>
   <td><tt>cea43d9e3060adcc4ef8fc0a02d724cdd3a0bc4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/neochat-23.03.90.tar.xz">neochat-23.03.90</a></td>
   <td align="right">551kB</td>
   <td><tt>a2a05e09acb128f1d90f90a397b3d4e243e965bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/okular-23.03.90.tar.xz">okular-23.03.90</a></td>
   <td align="right">8279kB</td>
   <td><tt>857db3d2877533357aa8d9d9d2321ebaeec5d86f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/palapeli-23.03.90.tar.xz">palapeli-23.03.90</a></td>
   <td align="right">2061kB</td>
   <td><tt>f65fd702082cf5dec09e75fa60db68f3f57a8603</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/parley-23.03.90.tar.xz">parley-23.03.90</a></td>
   <td align="right">8393kB</td>
   <td><tt>4ea2f2b5a76d418a36d041f08587a0e1506ea70a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/partitionmanager-23.03.90.tar.xz">partitionmanager-23.03.90</a></td>
   <td align="right">2088kB</td>
   <td><tt>953aea534e635d22602b50a7a0e44b64f72483e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/picmi-23.03.90.tar.xz">picmi-23.03.90</a></td>
   <td align="right">1504kB</td>
   <td><tt>0331b14d215b008d52e530a6c03d1f94e9450f31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/pimcommon-23.03.90.tar.xz">pimcommon-23.03.90</a></td>
   <td align="right">337kB</td>
   <td><tt>c8176663cc5bce700040bf08cf358fd46490a0a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/pim-data-exporter-23.03.90.tar.xz">pim-data-exporter-23.03.90</a></td>
   <td align="right">415kB</td>
   <td><tt>3196d951a475e5ad113469c0ff22364c4b592843</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/pim-sieve-editor-23.03.90.tar.xz">pim-sieve-editor-23.03.90</a></td>
   <td align="right">453kB</td>
   <td><tt>91f1c1860f2d1bd696dc4eeb8a9365e888cce3e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/plasmatube-23.03.90.tar.xz">plasmatube-23.03.90</a></td>
   <td align="right">76kB</td>
   <td><tt>f83b13690c6d7d6487d8cced4a3167a914a96332</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/poxml-23.03.90.tar.xz">poxml-23.03.90</a></td>
   <td align="right">43kB</td>
   <td><tt>d6c3277e154e831cb3ab76c1aef1f830e13bdd5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/print-manager-23.03.90.tar.xz">print-manager-23.03.90</a></td>
   <td align="right">282kB</td>
   <td><tt>7be7c2e8e2313e119f540509c0d781d502d47644</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/qmlkonsole-23.03.90.tar.xz">qmlkonsole-23.03.90</a></td>
   <td align="right">65kB</td>
   <td><tt>a405834bfc289cfe6e0c2c5b37138616ced65d6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/rocs-23.03.90.tar.xz">rocs-23.03.90</a></td>
   <td align="right">1532kB</td>
   <td><tt>1de252abdc453b3ed835242515304a6d29c281da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/signon-kwallet-extension-23.03.90.tar.xz">signon-kwallet-extension-23.03.90</a></td>
   <td align="right">10kB</td>
   <td><tt>0a7f9eddc2ee1921b84a369fac269726b8bff1b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/skanlite-23.03.90.tar.xz">skanlite-23.03.90</a></td>
   <td align="right">2392kB</td>
   <td><tt>88a2ae7b1b3117ad663f7b54a9a6bc66e245625e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/skanpage-23.03.90.tar.xz">skanpage-23.03.90</a></td>
   <td align="right">1266kB</td>
   <td><tt>a9fd2c7fd56228c008a3c817a923e183e30127ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/spectacle-23.03.90.tar.xz">spectacle-23.03.90</a></td>
   <td align="right">1305kB</td>
   <td><tt>620c86570b6be2e2605aa497bcff1e9b9d08bee5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/step-23.03.90.tar.xz">step-23.03.90</a></td>
   <td align="right">960kB</td>
   <td><tt>64cceee846d54ed5658205a20fbe603c2f1cb462</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/svgpart-23.03.90.tar.xz">svgpart-23.03.90</a></td>
   <td align="right">27kB</td>
   <td><tt>9fc7e3a2f8c6bab0992bc3bc36a4bb9a5479fa39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/sweeper-23.03.90.tar.xz">sweeper-23.03.90</a></td>
   <td align="right">389kB</td>
   <td><tt>d75d4a097b658f25fd2a9915f7258ce29ce78ccb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/telly-skout-23.03.90.tar.xz">telly-skout-23.03.90</a></td>
   <td align="right">92kB</td>
   <td><tt>8658995bb0430f2379dd19be31373c362c1d0503</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/tokodon-23.03.90.tar.xz">tokodon-23.03.90</a></td>
   <td align="right">221kB</td>
   <td><tt>f6e57f1f36d95464cfdcc54dd5264cb87dcf0ef7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/umbrello-23.03.90.tar.xz">umbrello-23.03.90</a></td>
   <td align="right">5637kB</td>
   <td><tt>8929910e2b7125ba88eedb8c7d0d717e6d691876</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/yakuake-23.03.90.tar.xz">yakuake-23.03.90</a></td>
   <td align="right">418kB</td>
   <td><tt>f84ee6cab3347849ea9d2ba50c248c6a58d57c96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.03.90/src/zanshin-23.03.90.tar.xz">zanshin-23.03.90</a></td>
   <td align="right">341kB</td>
   <td><tt>51879f1a220d89606816ebf6efb53aa5e31914c4</tt></td>
</tr>

</table>
