<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/accessibility-inspector-24.12.1.tar.xz">accessibility-inspector-24.12.1</a></td>
   <td align="right">84kB</td>
   <td><tt>8140422f7c3ab8b83bdc677eadd52bef92750eb3d7592141b2abba1d46042b25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/akonadi-24.12.1.tar.xz">akonadi-24.12.1</a></td>
   <td align="right">1671kB</td>
   <td><tt>e903b93f5eaa1e8cf59f43637b4268feef51191fed4178e599308596312a61a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/akonadi-calendar-24.12.1.tar.xz">akonadi-calendar-24.12.1</a></td>
   <td align="right">512kB</td>
   <td><tt>198ac5d03c4cb8864c1500d831bb46a286c97d7d94f2a78fdba11b421d576dab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/akonadi-calendar-tools-24.12.1.tar.xz">akonadi-calendar-tools-24.12.1</a></td>
   <td align="right">263kB</td>
   <td><tt>b1ab7639b4492b043399ee84b52e5042a5fb86163eb2c430f6f9fa1d8d7d51da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/akonadiconsole-24.12.1.tar.xz">akonadiconsole-24.12.1</a></td>
   <td align="right">306kB</td>
   <td><tt>f51a66d64d7906ac23fbafec18843fe5ebe76da334c32ae470d04325b603e4c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/akonadi-contacts-24.12.1.tar.xz">akonadi-contacts-24.12.1</a></td>
   <td align="right">426kB</td>
   <td><tt>531f524865fb5ddcc92e05df36d9d7395a20c02a527604c131a6e6cc13f63ee8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/akonadi-import-wizard-24.12.1.tar.xz">akonadi-import-wizard-24.12.1</a></td>
   <td align="right">480kB</td>
   <td><tt>8df8059dcab585d729377d657b79f8af6264e6ce408cae2438cbb01e7c9762bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/akonadi-mime-24.12.1.tar.xz">akonadi-mime-24.12.1</a></td>
   <td align="right">171kB</td>
   <td><tt>a541474b4ead2ad15b140f7f4d8326563eee0f8b42af441071b12ba3f4d76d7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/akonadi-search-24.12.1.tar.xz">akonadi-search-24.12.1</a></td>
   <td align="right">110kB</td>
   <td><tt>be94ed8c1bdc8c0588c4104929fe9aed04ed77f1fa7ee5315a54f83ff4a8720e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/akregator-24.12.1.tar.xz">akregator-24.12.1</a></td>
   <td align="right">2084kB</td>
   <td><tt>109a97698ab5d561abf0d79253ab3cded8d247dfae055c89bd757e5f66f8353e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/alligator-24.12.1.tar.xz">alligator-24.12.1</a></td>
   <td align="right">191kB</td>
   <td><tt>2a3e0c3d0819019388aebddbcc54cbc053a4354f7f833621be9c8b269d8cf295</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/analitza-24.12.1.tar.xz">analitza-24.12.1</a></td>
   <td align="right">351kB</td>
   <td><tt>c16c4dcaf22947d598bbb4476046b54f2a977b56829b69e6226317dfe7f7278c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/angelfish-24.12.1.tar.xz">angelfish-24.12.1</a></td>
   <td align="right">268kB</td>
   <td><tt>72e629bfa8eb9e73f0ec944b2f2a2af63933263da251ec31b98aec0265d23037</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/arianna-24.12.1.tar.xz">arianna-24.12.1</a></td>
   <td align="right">801kB</td>
   <td><tt>4c18319ca3c39b1a93511e4c931dc8f18c8e236615ae0a32f83055a4ebe3eb66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/ark-24.12.1.tar.xz">ark-24.12.1</a></td>
   <td align="right">2939kB</td>
   <td><tt>cae69fa7264480a6c763a400703ac3f39b6bbebfa166c9d1bbbb491de59926b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/artikulate-24.12.1.tar.xz">artikulate-24.12.1</a></td>
   <td align="right">1029kB</td>
   <td><tt>3c088874d39d5198f64ebb3030135dc5d77d3d2ebcf03bf1b11a1150a2b058a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/audex-24.12.1.tar.xz">audex-24.12.1</a></td>
   <td align="right">700kB</td>
   <td><tt>9c29596380e81a702414daaae409ad1864aaeb397aa7fcd662d4bb6a63d0992c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/audiocd-kio-24.12.1.tar.xz">audiocd-kio-24.12.1</a></td>
   <td align="right">566kB</td>
   <td><tt>7abd1bc27ddb1a33653c8f5c0bb31efe116580f48c0b2ff960aacd4aad907a90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/audiotube-24.12.1.tar.xz">audiotube-24.12.1</a></td>
   <td align="right">152kB</td>
   <td><tt>53862d809da4c13f2199e4a7575f6a5f863b625d5bc15b9fba2466f85ca7c327</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/baloo-widgets-24.12.1.tar.xz">baloo-widgets-24.12.1</a></td>
   <td align="right">271kB</td>
   <td><tt>1cd71a9397dfd5f2d6e47728831750ddeb71e58f07d834557ce3056a0934a697</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/blinken-24.12.1.tar.xz">blinken-24.12.1</a></td>
   <td align="right">2613kB</td>
   <td><tt>d33edf9f813bede02e2bed3a40ebd1c8beccde30edd3fa428b3cc9eeee44ce54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/bomber-24.12.1.tar.xz">bomber-24.12.1</a></td>
   <td align="right">819kB</td>
   <td><tt>d955ff19cc9025d8c36b4f854432d27aaf912599060392dc6c72b3521a4c7061</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/bovo-24.12.1.tar.xz">bovo-24.12.1</a></td>
   <td align="right">215kB</td>
   <td><tt>57be57e9109f2db4385c5fb14e49ebe0187b5eed06cc4e2a2bf53d477667abaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/calendarsupport-24.12.1.tar.xz">calendarsupport-24.12.1</a></td>
   <td align="right">974kB</td>
   <td><tt>ff7c252eb00ebf29f3e3ad83ec33785f87d9b3c30ab5b97c42ceaa6c1ff6fd76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/calindori-24.12.1.tar.xz">calindori-24.12.1</a></td>
   <td align="right">387kB</td>
   <td><tt>6baac59f32012bc966f13c55941e500b04b8556e9ec034d7620c6ede975ee9eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/calligra-24.12.1.tar.xz">calligra-24.12.1</a></td>
   <td align="right">56551kB</td>
   <td><tt>ff793313daa2e0ea62d7aa92711beff21a6849bff79780c55177a5e4b0364452</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/cantor-24.12.1.tar.xz">cantor-24.12.1</a></td>
   <td align="right">10617kB</td>
   <td><tt>06b2d67e37046c832de741ed00557c4ab13c873223f6df3818a5af4721e79065</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/cervisia-24.12.1.tar.xz">cervisia-24.12.1</a></td>
   <td align="right">1767kB</td>
   <td><tt>4a4153a2b7ef4955438eedc98aaf5a4dd7db0e9b76aa98940ca2d415f80f0da9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/colord-kde-24.12.1.tar.xz">colord-kde-24.12.1</a></td>
   <td align="right">115kB</td>
   <td><tt>8e577f90041e2802810d23d67835114962ce594c7e17e9c0d16b66cbb1f36dd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/dolphin-24.12.1.tar.xz">dolphin-24.12.1</a></td>
   <td align="right">5561kB</td>
   <td><tt>481c0aaa2186354e091256332df1b1c5ca14bec8b59bc8c1e75b6934830a8663</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/dolphin-plugins-24.12.1.tar.xz">dolphin-plugins-24.12.1</a></td>
   <td align="right">311kB</td>
   <td><tt>c4164b36258ad058bfdaa36291a1ceff2ed8632098ada58eda3ace607a744f30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/dragon-24.12.1.tar.xz">dragon-24.12.1</a></td>
   <td align="right">1787kB</td>
   <td><tt>0a2de914421b4d268e137cdabe6ee6470cb52b80bffbee9d1e235524606db30f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/elisa-24.12.1.tar.xz">elisa-24.12.1</a></td>
   <td align="right">1879kB</td>
   <td><tt>458f3944b8a28d5c60e979770c71c21fec9634e814c3123d8a5ae21365b0c229</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/eventviews-24.12.1.tar.xz">eventviews-24.12.1</a></td>
   <td align="right">485kB</td>
   <td><tt>383bd4c58c1b23b61ab6fea497d646b441188d3afb199b0b7063c6afeb99c285</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/falkon-24.12.1.tar.xz">falkon-24.12.1</a></td>
   <td align="right">2592kB</td>
   <td><tt>8d570918b7ebb40d113b31e6d913aecfbbf8f8e774a61c0a22ca0256f69314c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/ffmpegthumbs-24.12.1.tar.xz">ffmpegthumbs-24.12.1</a></td>
   <td align="right">32kB</td>
   <td><tt>a8913c07fa2e930da54b834931eaffc49a00f1fd3ef4a949e07888e42eca9f10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/filelight-24.12.1.tar.xz">filelight-24.12.1</a></td>
   <td align="right">670kB</td>
   <td><tt>8817c015476078aa6058542681e90929070b96b971b5f6070d2f6797583b9d6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/francis-24.12.1.tar.xz">francis-24.12.1</a></td>
   <td align="right">111kB</td>
   <td><tt>a29960ea1fad78a5b67ae21d36d2e7717599378bb8c223d7e45a8a508a73337e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/ghostwriter-24.12.1.tar.xz">ghostwriter-24.12.1</a></td>
   <td align="right">2646kB</td>
   <td><tt>3ff724f29959d54d127d5bac0dee04f8eb497f6e74a486db6d9c0163d2a5fa12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/granatier-24.12.1.tar.xz">granatier-24.12.1</a></td>
   <td align="right">1966kB</td>
   <td><tt>25e5b65a772e3532c55b680e6e8772518c6fd2f6dd3a7d3e8864a8ce49835a88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/grantlee-editor-24.12.1.tar.xz">grantlee-editor-24.12.1</a></td>
   <td align="right">121kB</td>
   <td><tt>9509135793dae5ece20994640b58bf78dd613fc5f0dc64493904e0092196024f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/grantleetheme-24.12.1.tar.xz">grantleetheme-24.12.1</a></td>
   <td align="right">62kB</td>
   <td><tt>8f496287a45d920bcf6ad033df001654dc9b20bd06eb34fdff1b6de2f821ae46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/gwenview-24.12.1.tar.xz">gwenview-24.12.1</a></td>
   <td align="right">6372kB</td>
   <td><tt>29a8d2aced460b735a310fee22c717e652c1929a88ee999b21cd488eb19e4523</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/incidenceeditor-24.12.1.tar.xz">incidenceeditor-24.12.1</a></td>
   <td align="right">574kB</td>
   <td><tt>89c3022b6b7afc4b79994d40f780409da5007743bfec91f495500bdd4071768e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/isoimagewriter-24.12.1.tar.xz">isoimagewriter-24.12.1</a></td>
   <td align="right">457kB</td>
   <td><tt>9a6bbc545b5d007be0cba9b4531e3e0a223d1f34f222ea6f3801c1dbed80b18f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/itinerary-24.12.1.tar.xz">itinerary-24.12.1</a></td>
   <td align="right">750kB</td>
   <td><tt>d10611e2b50cd96e8310de152006fe9339b1bc6c5f980b6d9a664812eb645634</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/juk-24.12.1.tar.xz">juk-24.12.1</a></td>
   <td align="right">1866kB</td>
   <td><tt>5a8ec124824ad3591fb24dcd1b86a542835766588a0a25b94cbf9c443ebb9e3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/k3b-24.12.1.tar.xz">k3b-24.12.1</a></td>
   <td align="right">10446kB</td>
   <td><tt>26ca9a5b17293434d54bf14fa333f90d5b72d8473c540da01006080eb423e3ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kaccounts-integration-24.12.1.tar.xz">kaccounts-integration-24.12.1</a></td>
   <td align="right">91kB</td>
   <td><tt>c734c98b9e077f320e4ba33db4b26c27e63cf1f4d36e5f56e1c8617ed09a29f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kaccounts-providers-24.12.1.tar.xz">kaccounts-providers-24.12.1</a></td>
   <td align="right">67kB</td>
   <td><tt>8c106eb323602116ce0c7ab19eaf2886c529e8613599f015a8bc32caec7d51c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kaddressbook-24.12.1.tar.xz">kaddressbook-24.12.1</a></td>
   <td align="right">3349kB</td>
   <td><tt>82b5f35e68d41b586b4fc265945a489abd564784a662dc0fabaa9ad54b8ec537</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kajongg-24.12.1.tar.xz">kajongg-24.12.1</a></td>
   <td align="right">4510kB</td>
   <td><tt>046f4fccc166907f27088988a74f856520c1ce80e60940746a7dadc05107420e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kalarm-24.12.1.tar.xz">kalarm-24.12.1</a></td>
   <td align="right">2574kB</td>
   <td><tt>04dff68aab1f271137e64331f9b1c42473a2a6a87ee87c994bd411534aea7326</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kalgebra-24.12.1.tar.xz">kalgebra-24.12.1</a></td>
   <td align="right">926kB</td>
   <td><tt>401974eae2476b5f987badcf9832f1df9f6af2c33bb9507fd6deb2c2da908833</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kalk-24.12.1.tar.xz">kalk-24.12.1</a></td>
   <td align="right">75kB</td>
   <td><tt>f329050da30a35816928d90a9b505742989b23713a6b37cadcdc886401edc05c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kalm-24.12.1.tar.xz">kalm-24.12.1</a></td>
   <td align="right">90kB</td>
   <td><tt>c884709828e67909e8fe23a732a9396ef646515aef18052210df3e25c32f6808</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kalzium-24.12.1.tar.xz">kalzium-24.12.1</a></td>
   <td align="right">22151kB</td>
   <td><tt>834d958170d3f19264d7c41925ce27f8efd879d5ecb4a944db1b52030b87b009</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kamera-24.12.1.tar.xz">kamera-24.12.1</a></td>
   <td align="right">128kB</td>
   <td><tt>d3d634e37af2d7b33e2ed32d6a8129d939f38443b3c6bc795f7dbe815563610e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kamoso-24.12.1.tar.xz">kamoso-24.12.1</a></td>
   <td align="right">229kB</td>
   <td><tt>c4f18744455b5b9ba30ff09e0b0054d1899bd5ae32f4aaead8eeb8216406285c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kanagram-24.12.1.tar.xz">kanagram-24.12.1</a></td>
   <td align="right">7601kB</td>
   <td><tt>d2ddba6a4be148e05aea07e53365ed8d7149dde25f61cf60f19a815268c237fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kapman-24.12.1.tar.xz">kapman-24.12.1</a></td>
   <td align="right">2097kB</td>
   <td><tt>dab06feccde722d0eb79ed5bd01a9e2f0e80629cd2118d0d82ffdcbda4fa208d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kapptemplate-24.12.1.tar.xz">kapptemplate-24.12.1</a></td>
   <td align="right">465kB</td>
   <td><tt>5a0562ca747dff14c21422c567bb2a432541522b85fb90907ba602e413283bf2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kasts-24.12.1.tar.xz">kasts-24.12.1</a></td>
   <td align="right">611kB</td>
   <td><tt>1b04c81d5a8adbc6f89120e0fafaf123c8d7e677c850ba3921de4e66d3abf00c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kate-24.12.1.tar.xz">kate-24.12.1</a></td>
   <td align="right">8109kB</td>
   <td><tt>ec4830a8a2ade45e9a90a219d8e1656e408d229c2005de109e69a5e27a0bfaba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/katomic-24.12.1.tar.xz">katomic-24.12.1</a></td>
   <td align="right">1414kB</td>
   <td><tt>9e12093596c1d3e75553729e104cf62764d9940e7ef4ad1dc2b18134a5930efe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kbackup-24.12.1.tar.xz">kbackup-24.12.1</a></td>
   <td align="right">379kB</td>
   <td><tt>3264c249a6a5b16b4c566a61b2bca4ddc929d3e527b12076e2010c52850a3ed2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kblackbox-24.12.1.tar.xz">kblackbox-24.12.1</a></td>
   <td align="right">538kB</td>
   <td><tt>6fe434af5cfa4414364c875115d095f9682101502e476c9315a9f8e6a86af427</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kblocks-24.12.1.tar.xz">kblocks-24.12.1</a></td>
   <td align="right">2053kB</td>
   <td><tt>d63c005651061f0f17b31e05db9cdea5ab3eb46c1daabf3065548a5c21b43359</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kbounce-24.12.1.tar.xz">kbounce-24.12.1</a></td>
   <td align="right">3245kB</td>
   <td><tt>4036ba6830273bb39525a8a545351943fd4c6d2b409bab4659370761ea792a6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kbreakout-24.12.1.tar.xz">kbreakout-24.12.1</a></td>
   <td align="right">2496kB</td>
   <td><tt>637f67f670324b6a25bfe120dda10d445fa14fc3c47290b8c0f1966b2748c24c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kbruch-24.12.1.tar.xz">kbruch-24.12.1</a></td>
   <td align="right">5037kB</td>
   <td><tt>53fa0f22d5243e9719542ad2a8d6e0d4d2c31d6fb52d2d54cdf7c9308e9d4a99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kcachegrind-24.12.1.tar.xz">kcachegrind-24.12.1</a></td>
   <td align="right">954kB</td>
   <td><tt>d38a1056daab0523955834648c9ce7e2e04536bad67f4f7b275834eaef336272</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kcalc-24.12.1.tar.xz">kcalc-24.12.1</a></td>
   <td align="right">459kB</td>
   <td><tt>f474296bf22392d4ebcced090c0979dda5f1aa204c6cda540bea5d509bed48f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kcalutils-24.12.1.tar.xz">kcalutils-24.12.1</a></td>
   <td align="right">347kB</td>
   <td><tt>f321ee3a523e0fc33ae989ccf36216e3a0b4cd17a04c75f81e7350ae8d6b0547</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kcharselect-24.12.1.tar.xz">kcharselect-24.12.1</a></td>
   <td align="right">465kB</td>
   <td><tt>9458acbd0ddc5fe1e741969c2e134c6a42c5154ce1da9ff3056567910ab9e676</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kclock-24.12.1.tar.xz">kclock-24.12.1</a></td>
   <td align="right">646kB</td>
   <td><tt>79d2d725d121e6cea36fd094ba850822bcb475ee4208e6f716bf9b29a75eacbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kcolorchooser-24.12.1.tar.xz">kcolorchooser-24.12.1</a></td>
   <td align="right">35kB</td>
   <td><tt>7408f34503f42fa8620335a89891ec05ded5ee6ce1a0f2f274230b8231ff7c9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kcron-24.12.1.tar.xz">kcron-24.12.1</a></td>
   <td align="right">875kB</td>
   <td><tt>8dbd20a5bd778826b0218db309fba51f40d27b5f87090bfe964f20dd30c936e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kdebugsettings-24.12.1.tar.xz">kdebugsettings-24.12.1</a></td>
   <td align="right">113kB</td>
   <td><tt>76c1dd1d06a29e9a39299e2d2778c035bf0f5ea05065a43ab250eba3c8cf2a75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kdeconnect-kde-24.12.1.tar.xz">kdeconnect-kde-24.12.1</a></td>
   <td align="right">698kB</td>
   <td><tt>df2a1ad146ff2fb34e735d141d4cde574eca43cd0f7a7eab259c8703e02ad62c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kde-dev-scripts-24.12.1.tar.xz">kde-dev-scripts-24.12.1</a></td>
   <td align="right">367kB</td>
   <td><tt>9e439e22baf57742159dc70b8073ab26b8364df0db652a56b5a5444f63f517bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kde-dev-utils-24.12.1.tar.xz">kde-dev-utils-24.12.1</a></td>
   <td align="right">73kB</td>
   <td><tt>fdf3da0f437fad6e654e17c3516b2cece60bbfffc13adc767fa77856802fbedd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kdeedu-data-24.12.1.tar.xz">kdeedu-data-24.12.1</a></td>
   <td align="right">330kB</td>
   <td><tt>865316c0120f8057ef0480144b536219938f5275005903575d24f1556c454468</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kdegraphics-mobipocket-24.12.1.tar.xz">kdegraphics-mobipocket-24.12.1</a></td>
   <td align="right">12kB</td>
   <td><tt>76ef050af8169f1ad9325b0a358c4bf5812d6fb858ac3538f173b3a2c3a8ea66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kdegraphics-thumbnailers-24.12.1.tar.xz">kdegraphics-thumbnailers-24.12.1</a></td>
   <td align="right">48kB</td>
   <td><tt>ad208c1afee7abea76745fa924ee7579db47db58bcd736c7ed341b4a49ee52d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kde-inotify-survey-24.12.1.tar.xz">kde-inotify-survey-24.12.1</a></td>
   <td align="right">230kB</td>
   <td><tt>3c689410e9ac134300315fa8195b7c1039fde93d81a39a0dc1bdd8a7aa7a303d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kdenetwork-filesharing-24.12.1.tar.xz">kdenetwork-filesharing-24.12.1</a></td>
   <td align="right">488kB</td>
   <td><tt>411ccf1afafbface99bcdadbf9ec22cecfa3a2ec0a1f5b862cfe9cfaf78618e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kdenlive-24.12.1.tar.xz">kdenlive-24.12.1</a></td>
   <td align="right">12833kB</td>
   <td><tt>6d1345462a1ad9a725dbf9ab42b8b340eeafc8437d9c0f52ac5ebacfdfd9b8b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kdepim-addons-24.12.1.tar.xz">kdepim-addons-24.12.1</a></td>
   <td align="right">2556kB</td>
   <td><tt>4639e2c7cf6dbf63ad1533004241514abab7e52b60e012b9695a051cc85da1f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kdepim-runtime-24.12.1.tar.xz">kdepim-runtime-24.12.1</a></td>
   <td align="right">1626kB</td>
   <td><tt>1119e25d6da6bf247106339807c464a382151e884ad972def437d17fba6dfc58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kdesdk-kio-24.12.1.tar.xz">kdesdk-kio-24.12.1</a></td>
   <td align="right">40kB</td>
   <td><tt>590d99b8861e45b55c99cff73876613a8235d7728f076b10c3bd84ac628db078</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kdesdk-thumbnailers-24.12.1.tar.xz">kdesdk-thumbnailers-24.12.1</a></td>
   <td align="right">26kB</td>
   <td><tt>c8a5c20005574b9dcf3a8f859b58a45aaade19efe796267a7514706a3dd0ca80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kdevelop-24.12.1.tar.xz">kdevelop-24.12.1</a></td>
   <td align="right">8626kB</td>
   <td><tt>e90b755d2e854b54214826ce7eaa620d3049b68ba4698656df0f37a61838e19d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kdev-php-24.12.1.tar.xz">kdev-php-24.12.1</a></td>
   <td align="right">1068kB</td>
   <td><tt>b2758d17eb1b4fd23b9e113c0bdf0a4f2ca557ef30a154d9144bf567db65de3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kdev-python-24.12.1.tar.xz">kdev-python-24.12.1</a></td>
   <td align="right">1077kB</td>
   <td><tt>dee89e901fcee95090277683f4f491d45de7d52d722711b58a204bab62e6955d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kdf-24.12.1.tar.xz">kdf-24.12.1</a></td>
   <td align="right">468kB</td>
   <td><tt>5ba251df9b981e9f6649f317657e6e7fcc3e97f7ce1b3eca74b0756d494c1f6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kdialog-24.12.1.tar.xz">kdialog-24.12.1</a></td>
   <td align="right">143kB</td>
   <td><tt>01d541202b2c94f8be92bab467f8b962430cd32fc1b8d64d0122cdd0bbd3a4b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kdiamond-24.12.1.tar.xz">kdiamond-24.12.1</a></td>
   <td align="right">4563kB</td>
   <td><tt>27ab151447f0b6cd319f99a8992ba0587a18c20d95076e66c7c18e7b8489ce93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/keditbookmarks-24.12.1.tar.xz">keditbookmarks-24.12.1</a></td>
   <td align="right">254kB</td>
   <td><tt>4f42817ccdaabd3acfafb7c6d8dffc7da4382a6080c8a15860e2dc1e2358234e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/keysmith-24.12.1.tar.xz">keysmith-24.12.1</a></td>
   <td align="right">169kB</td>
   <td><tt>2934bb86c04cb2a8bcbb5edee137f7629512c0e9121302fe3a176149a2ee71e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kfind-24.12.1.tar.xz">kfind-24.12.1</a></td>
   <td align="right">322kB</td>
   <td><tt>2805af02d02eb458d7f37ee944ab18f9e61ba3b318f7f2be5e42eed3e769a97a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kfourinline-24.12.1.tar.xz">kfourinline-24.12.1</a></td>
   <td align="right">728kB</td>
   <td><tt>82949b986079dd86dcd5de3b8b6f99d1b6e2141e5eccbf5ffb127104d8b25a4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kgeography-24.12.1.tar.xz">kgeography-24.12.1</a></td>
   <td align="right">12134kB</td>
   <td><tt>98fc5842d3a325ad8d1eab86cae6075fd1ed42e4ca92b8d483825997ad28adb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kget-24.12.1.tar.xz">kget-24.12.1</a></td>
   <td align="right">4798kB</td>
   <td><tt>76e898f7ccacee77628304e2bd09298070d787b8e6c0cc17697c31d66afe475e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kgoldrunner-24.12.1.tar.xz">kgoldrunner-24.12.1</a></td>
   <td align="right">4243kB</td>
   <td><tt>e7dc466b5d21a108cad8d07a50c218797a4660998af5a17afcb461fb65bdce28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kgpg-24.12.1.tar.xz">kgpg-24.12.1</a></td>
   <td align="right">2960kB</td>
   <td><tt>4bda4335cbd1e1adaded9fe781a6248a57fdafc2af897053740a542952c58667</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kgraphviewer-24.12.1.tar.xz">kgraphviewer-24.12.1</a></td>
   <td align="right">1553kB</td>
   <td><tt>f6934131fea4796129de5ff24e9cc409a8c12e5c0ce7f401ce4bb4ca968b6d5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/khangman-24.12.1.tar.xz">khangman-24.12.1</a></td>
   <td align="right">6858kB</td>
   <td><tt>ae4ee0820d313313371563bab42a74bc0a1a67c1290800176d27f7154030969d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/khealthcertificate-24.12.1.tar.xz">khealthcertificate-24.12.1</a></td>
   <td align="right">502kB</td>
   <td><tt>75e6f7c3bca2a922db7f1d5cec5854265cbdcb72a8fe61122a38bdeb1ec0b4ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/khelpcenter-24.12.1.tar.xz">khelpcenter-24.12.1</a></td>
   <td align="right">4140kB</td>
   <td><tt>9035b50500709442d952861f0b6d8ab4116efe3ab28edff0d7bc10ab3f2d7b59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kidentitymanagement-24.12.1.tar.xz">kidentitymanagement-24.12.1</a></td>
   <td align="right">192kB</td>
   <td><tt>2e8ec6337a5b1c4a94895ac4d336089a7522e57e509aa93f919121df8bbedee3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kig-24.12.1.tar.xz">kig-24.12.1</a></td>
   <td align="right">3177kB</td>
   <td><tt>fb65184123c8d054aa7d4b270dbfc6172cf70b2d9a78a03eb181e8f840cf454e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kigo-24.12.1.tar.xz">kigo-24.12.1</a></td>
   <td align="right">4719kB</td>
   <td><tt>22478449c88f6f8964639cceb92f2adeb41923a6ddc823a0b225fc435af38945</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/killbots-24.12.1.tar.xz">killbots-24.12.1</a></td>
   <td align="right">1145kB</td>
   <td><tt>cdec8cca6b7fab4c9c53a921942a8017f382851a502cbc46a759d119c290547e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kimagemapeditor-24.12.1.tar.xz">kimagemapeditor-24.12.1</a></td>
   <td align="right">1049kB</td>
   <td><tt>0399b032dcab8e852e765687b0895419296b13a7a85a1ee3818202a75600d8ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kimap-24.12.1.tar.xz">kimap-24.12.1</a></td>
   <td align="right">129kB</td>
   <td><tt>b0bd534cf173660fd4ad62b2d58fed4e68d640aeb6f602e8a2e03845aa530b67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kio-admin-24.12.1.tar.xz">kio-admin-24.12.1</a></td>
   <td align="right">38kB</td>
   <td><tt>18ca9dd94c29dd2c5482522f8ad103f4a28830d56d4b069ae13f1f1e23ba3157</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kio-extras-24.12.1.tar.xz">kio-extras-24.12.1</a></td>
   <td align="right">3432kB</td>
   <td><tt>a92bcb6c4b880a40f86ca08da329f34e787bd360b37c764c954ff94b7a95dac6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kio-gdrive-24.12.1.tar.xz">kio-gdrive-24.12.1</a></td>
   <td align="right">78kB</td>
   <td><tt>b7e363a2f45da8a720312335627230dc1489b147673ac75d1c67e42a49c7c555</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kio-zeroconf-24.12.1.tar.xz">kio-zeroconf-24.12.1</a></td>
   <td align="right">43kB</td>
   <td><tt>b42b01c18e6adc327df4c3e87891dcad2653e96e4d4ba8f9e971794b7e0cf6d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kirigami-gallery-24.12.1.tar.xz">kirigami-gallery-24.12.1</a></td>
   <td align="right">362kB</td>
   <td><tt>76a0ea878ea11529c12ad7254bd61274fc344d854fd6cf737403f649f209124c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kiriki-24.12.1.tar.xz">kiriki-24.12.1</a></td>
   <td align="right">365kB</td>
   <td><tt>ada60488ac8128ff16ca9800e70d515b61a61e0554c97b7b17cff1400108697d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kiten-24.12.1.tar.xz">kiten-24.12.1</a></td>
   <td align="right">11048kB</td>
   <td><tt>51800844ecdd871eaa83e906b9ea93d535d185270ad1c0ae808ef55c2d6b8660</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kitinerary-24.12.1.tar.xz">kitinerary-24.12.1</a></td>
   <td align="right">1954kB</td>
   <td><tt>ea6c16a84684d690b1ccaabd8dfee9bfe8f744925db58b62e1b5dce91c84b9bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kjournald-24.12.1.tar.xz">kjournald-24.12.1</a></td>
   <td align="right">509kB</td>
   <td><tt>d94874c47608fe9d42d90a7e3a4480306d7f98e3e745ea718652d13e3d183ebc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kjumpingcube-24.12.1.tar.xz">kjumpingcube-24.12.1</a></td>
   <td align="right">338kB</td>
   <td><tt>06f55fde05b44976ab1961e8cbb3f7fb11c8a0085cf4666028b8a96088252304</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kldap-24.12.1.tar.xz">kldap-24.12.1</a></td>
   <td align="right">185kB</td>
   <td><tt>7e43652b5ccafed0552d5362c5afa2a1d45eb810076d273a351925e45cecdb8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kleopatra-24.12.1.tar.xz">kleopatra-24.12.1</a></td>
   <td align="right">2727kB</td>
   <td><tt>b878bf4b366eaa1ad47ec5eae1d5cdf8525aad4482ad0e45065917221510d709</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/klettres-24.12.1.tar.xz">klettres-24.12.1</a></td>
   <td align="right">46084kB</td>
   <td><tt>27efd4aa345d2682656493c59a632cacbe3efce3be1043e8eb07af57d19d9dc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/klickety-24.12.1.tar.xz">klickety-24.12.1</a></td>
   <td align="right">1354kB</td>
   <td><tt>f19d4ec15860744e0776e1cdbcb51731cc55a3e34c77e8eb5ccb12c993249579</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/klines-24.12.1.tar.xz">klines-24.12.1</a></td>
   <td align="right">1634kB</td>
   <td><tt>82bd80781e250a493c81956110136d8b1e30703e4682eb5bf3bea44ff7f82b33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kmag-24.12.1.tar.xz">kmag-24.12.1</a></td>
   <td align="right">661kB</td>
   <td><tt>f88c30318a2cab7e6ecdd83328f35661817035d1936addd0655b117c2547ad58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kmahjongg-24.12.1.tar.xz">kmahjongg-24.12.1</a></td>
   <td align="right">3634kB</td>
   <td><tt>dcef69703dc87a3ca118f605372485f5efcfea2bae7cf1b3622871970f394e11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kmail-24.12.1.tar.xz">kmail-24.12.1</a></td>
   <td align="right">7590kB</td>
   <td><tt>76085af3dad3e2bca4f83e5a9f7b1f6de23c517b08cd7572f75c024e577c86b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kmail-account-wizard-24.12.1.tar.xz">kmail-account-wizard-24.12.1</a></td>
   <td align="right">163kB</td>
   <td><tt>107fd26d053377d02b447f469a2f370e80b10c97a80b4d3c2d6a99cdd767176c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kmailtransport-24.12.1.tar.xz">kmailtransport-24.12.1</a></td>
   <td align="right">184kB</td>
   <td><tt>5d385562b53981a2ff0178f9255aa9897897a8ac7641e0d5af59a130a25194af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kmbox-24.12.1.tar.xz">kmbox-24.12.1</a></td>
   <td align="right">28kB</td>
   <td><tt>daca1148d770a69f95fae08650d066940f3a2d92347499fcbdc92706d9d8d9fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kmime-24.12.1.tar.xz">kmime-24.12.1</a></td>
   <td align="right">161kB</td>
   <td><tt>06c79f2e43ea1a717ac5766f1ac021d7c09ea1dc4d4cb31580ab1ce9eea41ef4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kmines-24.12.1.tar.xz">kmines-24.12.1</a></td>
   <td align="right">927kB</td>
   <td><tt>9696918539eb35bbe7f3669c7fa0a6d0db846f9d936e9392a4936a10e472a6c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kmix-24.12.1.tar.xz">kmix-24.12.1</a></td>
   <td align="right">1140kB</td>
   <td><tt>4255416eb4d9eaeafbf5e5a7ff9369381b382dfc035636899a8a32091d4df91b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kmousetool-24.12.1.tar.xz">kmousetool-24.12.1</a></td>
   <td align="right">131kB</td>
   <td><tt>2cb0637763a8226e76b9461aab658d155c7a15c8c739d57bdbac0ca249ed0017</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kmouth-24.12.1.tar.xz">kmouth-24.12.1</a></td>
   <td align="right">1894kB</td>
   <td><tt>60e4c1c04d13826028f721dd53b42cf629501be79ea7ee1aac43e062fbfb9459</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kmplot-24.12.1.tar.xz">kmplot-24.12.1</a></td>
   <td align="right">2951kB</td>
   <td><tt>c7650dd6d9ab26c72fc334ce24b7752cfdb60e1fb70c6f276f64627f5810cf02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/knavalbattle-24.12.1.tar.xz">knavalbattle-24.12.1</a></td>
   <td align="right">1023kB</td>
   <td><tt>fa947db21cf6cbaaba4fa84ac5a3f08320f72df3cc9f661eb808de49369e7bb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/knetwalk-24.12.1.tar.xz">knetwalk-24.12.1</a></td>
   <td align="right">986kB</td>
   <td><tt>fe5c9140ad3f2fa3b151483bf15de93ff6ec271fcd09266da72a3bbc01ea205c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/knights-24.12.1.tar.xz">knights-24.12.1</a></td>
   <td align="right">2432kB</td>
   <td><tt>963b7660f9280a20ab19de7093c9819696e7a77184ee07dfc274aa4994b5f6b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/koko-24.12.1.tar.xz">koko-24.12.1</a></td>
   <td align="right">8337kB</td>
   <td><tt>0548b79852eeea2342aad275eb3e246547bd34325fb2b68e91131f401a48fc8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kolf-24.12.1.tar.xz">kolf-24.12.1</a></td>
   <td align="right">1053kB</td>
   <td><tt>2b6abf781f76a8fd741212c73fcfc9768c5353fcf9764749c739219feb80f8b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kollision-24.12.1.tar.xz">kollision-24.12.1</a></td>
   <td align="right">304kB</td>
   <td><tt>61cec7624560c50d63fa2ef375a7a932106cfc54e08e6e69989629f11cdb3301</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kolourpaint-24.12.1.tar.xz">kolourpaint-24.12.1</a></td>
   <td align="right">5185kB</td>
   <td><tt>ba771a35abd5215dd2749c048afefb343ea300db915e2a1c8602ca325d13e739</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kompare-24.12.1.tar.xz">kompare-24.12.1</a></td>
   <td align="right">937kB</td>
   <td><tt>c4347aee7e02edea28e987078c87ba2ebf4a94e33e01760b658c35e2143e59aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kongress-24.12.1.tar.xz">kongress-24.12.1</a></td>
   <td align="right">154kB</td>
   <td><tt>db3eaf4adbf0d68beaa65031a02b2c8f9cafcb9dfbf565938e963e9e46a6b01b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/konqueror-24.12.1.tar.xz">konqueror-24.12.1</a></td>
   <td align="right">9522kB</td>
   <td><tt>9d0fb0922b76626fe80492c860a426e6d61bcd68eefbc6276ee72e56b4c1b4d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/konquest-24.12.1.tar.xz">konquest-24.12.1</a></td>
   <td align="right">841kB</td>
   <td><tt>9cec818ce5fc1af9a8c15580f1ddb525963111f972ef59b7003705989aeb07cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/konsole-24.12.1.tar.xz">konsole-24.12.1</a></td>
   <td align="right">1776kB</td>
   <td><tt>43deca40b7fcddc340db12f08d0a63c538f1e540e9919b075a2f905e7a32cb3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kontact-24.12.1.tar.xz">kontact-24.12.1</a></td>
   <td align="right">848kB</td>
   <td><tt>92a8e7b6cc2d6a7b4c729f3813d4fe316c123028c63ff0086a9ac491162c3abd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kontactinterface-24.12.1.tar.xz">kontactinterface-24.12.1</a></td>
   <td align="right">39kB</td>
   <td><tt>9b1fc77f71e2550d4d0cb1f010322a3d4db94ed349a4a4b0513a83b695ed8d58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kontrast-24.12.1.tar.xz">kontrast-24.12.1</a></td>
   <td align="right">212kB</td>
   <td><tt>e529b58567728730c960460f98e4920dc02b086a09675996c5a2582a8e7adf80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/konversation-24.12.1.tar.xz">konversation-24.12.1</a></td>
   <td align="right">4312kB</td>
   <td><tt>2fb219639a7e9a9b4572f5e4d234f62579352eada52edec763240a3e9f26fe8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kopeninghours-24.12.1.tar.xz">kopeninghours-24.12.1</a></td>
   <td align="right">73kB</td>
   <td><tt>668681ed05df9d038533e291cd759d1b4583b82baa65291628d4b77fc885127d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/korganizer-24.12.1.tar.xz">korganizer-24.12.1</a></td>
   <td align="right">2876kB</td>
   <td><tt>f3fee3893ccb52703875acfd4809c89dc25930e3b3bee2f2b15b4bc371694a24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kosmindoormap-24.12.1.tar.xz">kosmindoormap-24.12.1</a></td>
   <td align="right">677kB</td>
   <td><tt>89d7639f2dca532301159b5640e4cd4f5177923213ea1bb60692424945ac68c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kpat-24.12.1.tar.xz">kpat-24.12.1</a></td>
   <td align="right">3650kB</td>
   <td><tt>bc10fe0c244bc92ec8101560617ded9d5b0ed7437ede195f43a4a8ab4a85bd27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kpimtextedit-24.12.1.tar.xz">kpimtextedit-24.12.1</a></td>
   <td align="right">172kB</td>
   <td><tt>8b0a4e624de14c89cd6a1dccd7611a7f380baf9687b6ba1865ba0b8a50f53477</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kpkpass-24.12.1.tar.xz">kpkpass-24.12.1</a></td>
   <td align="right">28kB</td>
   <td><tt>7d8b986e5a314b4b755f543a8dd63fdb5b7ff1fe88ba59678f3a149691ff38c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kpmcore-24.12.1.tar.xz">kpmcore-24.12.1</a></td>
   <td align="right">634kB</td>
   <td><tt>8e13b75bfd2e86e3897cb338509440bbc2f03dd4a6de8a0118b95de19bc0e3a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kpublictransport-24.12.1.tar.xz">kpublictransport-24.12.1</a></td>
   <td align="right">758kB</td>
   <td><tt>6aa1a526e01abaad0ed8af5484219496eae0bbe8b87e76e65dea05d47d4221c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kqtquickcharts-24.12.1.tar.xz">kqtquickcharts-24.12.1</a></td>
   <td align="right">30kB</td>
   <td><tt>424582593658ec08aa6316871294bb1141eae57a6d8966771393ebd671377c47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/krdc-24.12.1.tar.xz">krdc-24.12.1</a></td>
   <td align="right">1521kB</td>
   <td><tt>6eb70ac2c1d3c625aa6fc20458366bf39ea61d1104b42bed2852796c77b59a4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/krecorder-24.12.1.tar.xz">krecorder-24.12.1</a></td>
   <td align="right">164kB</td>
   <td><tt>2cbea23349aeb141a6190d8cd0f30ce8b4c6d52c38b533a56c688f477b2f755e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kreversi-24.12.1.tar.xz">kreversi-24.12.1</a></td>
   <td align="right">1009kB</td>
   <td><tt>c671ea990ba8af1e4e9788197e484cfbd5acde7f6cdaf4580bedd36da12909ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/krfb-24.12.1.tar.xz">krfb-24.12.1</a></td>
   <td align="right">1189kB</td>
   <td><tt>62b9fc74a21431346cb44791cfc2cc82834bba41e10c916e6d2b2ffe2f256ed4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kross-interpreters-24.12.1.tar.xz">kross-interpreters-24.12.1</a></td>
   <td align="right">148kB</td>
   <td><tt>aa1efc1ac9ac4007ee19eef916c528780dc5a8d92a196e13dd7e93beb710e136</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kruler-24.12.1.tar.xz">kruler-24.12.1</a></td>
   <td align="right">279kB</td>
   <td><tt>9a51ebc2208c56102a42151fb4cc67090902ca39bba9a2f74d873807bef7ed1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/ksanecore-24.12.1.tar.xz">ksanecore-24.12.1</a></td>
   <td align="right">53kB</td>
   <td><tt>cb6d0ced7b817d12e4d7a6aadaa609da90776ce46b0b11fc73bdc902b188072e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kshisen-24.12.1.tar.xz">kshisen-24.12.1</a></td>
   <td align="right">949kB</td>
   <td><tt>31144b57ae1b836634bddf89a8691db7182e51e342f426375f7e7896575561c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/ksirk-24.12.1.tar.xz">ksirk-24.12.1</a></td>
   <td align="right">6547kB</td>
   <td><tt>ecf2e78b8ca8c3be98225138815f0b7d7b92813311aeac9b06d52984a73f616b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/ksmtp-24.12.1.tar.xz">ksmtp-24.12.1</a></td>
   <td align="right">51kB</td>
   <td><tt>a4db526119a00a54eaa6d43742ec9243fed6511275b667df4559f6190e9cc44e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/ksnakeduel-24.12.1.tar.xz">ksnakeduel-24.12.1</a></td>
   <td align="right">564kB</td>
   <td><tt>151e391cb1a5e18ae3781b6bb2482e1c31ef24a85329f05f81a82d13e7d8e9b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kspaceduel-24.12.1.tar.xz">kspaceduel-24.12.1</a></td>
   <td align="right">620kB</td>
   <td><tt>cb4b1a75947fed561027af14fa8d858e6caeb848417dd066e9a29983387ea307</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/ksquares-24.12.1.tar.xz">ksquares-24.12.1</a></td>
   <td align="right">314kB</td>
   <td><tt>a8e5749985295d01b4ff702cb41c571834b1a9908ec9dbf35ac86d0bd3b4e3de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/ksudoku-24.12.1.tar.xz">ksudoku-24.12.1</a></td>
   <td align="right">1688kB</td>
   <td><tt>b035d7afb5eaa9e6f153505d2b1dbb9d7cd2a8bdc993423b42f18d1a0dcf44f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/ksystemlog-24.12.1.tar.xz">ksystemlog-24.12.1</a></td>
   <td align="right">1815kB</td>
   <td><tt>fae75112ee5f9231251f7e6a5c77bdf2dda3350d4d8e5e9ca9fa44b7c2d15763</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kteatime-24.12.1.tar.xz">kteatime-24.12.1</a></td>
   <td align="right">303kB</td>
   <td><tt>e45bed50d9b638ea205ccf6bff709f6af3536ec80c1b45c7e4d609181e138ae6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/ktimer-24.12.1.tar.xz">ktimer-24.12.1</a></td>
   <td align="right">442kB</td>
   <td><tt>5dd15e414225819cc749e9d87c15b1599a672cb966ebf83a5916dcb9cb119a4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/ktnef-24.12.1.tar.xz">ktnef-24.12.1</a></td>
   <td align="right">306kB</td>
   <td><tt>4fa4e73df36a59d871ba8985bd1dc046d9ad370c2be1f7eb6f6ede877fae97fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/ktorrent-24.12.1.tar.xz">ktorrent-24.12.1</a></td>
   <td align="right">2145kB</td>
   <td><tt>aa0a8858112f73d5bbd59f29e427f1fa97eb168066b83c489431530953cc159d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/ktouch-24.12.1.tar.xz">ktouch-24.12.1</a></td>
   <td align="right">4677kB</td>
   <td><tt>976478a12c3f058b95284f2c3ef667ff6388a6e9eb76d6fab8b9e74b4d2d4655</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/ktrip-24.12.1.tar.xz">ktrip-24.12.1</a></td>
   <td align="right">1014kB</td>
   <td><tt>3b20572806e7167e089becf5eb4de31ba973b843a1d4def3fc36836f8b24189b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/ktuberling-24.12.1.tar.xz">ktuberling-24.12.1</a></td>
   <td align="right">69891kB</td>
   <td><tt>44f9bceddf80563ad19ff38b98e5fb102001299d94ebf17abf81a59d61cc742e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kturtle-24.12.1.tar.xz">kturtle-24.12.1</a></td>
   <td align="right">2047kB</td>
   <td><tt>894c19b151b8d5e1da03a7f611c35c7fe56df3e6b2d36232555c898a7d46cc60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kubrick-24.12.1.tar.xz">kubrick-24.12.1</a></td>
   <td align="right">366kB</td>
   <td><tt>84fb0b4bcde48b0de23a262ed2a2a509b92f7d8851749236bc8b0f3e62d1fef2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kunifiedpush-24.12.1.tar.xz">kunifiedpush-24.12.1</a></td>
   <td align="right">53kB</td>
   <td><tt>c33d45dd8478cffb887acc257fc9ef90c6ab780b51be62e288ea5148a177f900</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kwalletmanager-24.12.1.tar.xz">kwalletmanager-24.12.1</a></td>
   <td align="right">1024kB</td>
   <td><tt>1ebda395a3c1746914567a00ef48428927314ec48a4bf715c5a20b8dd401ab9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kwave-24.12.1.tar.xz">kwave-24.12.1</a></td>
   <td align="right">6326kB</td>
   <td><tt>5851d767c65c35d442de3eb074ef15d49542ea9a5946938e19753a6ea2747e76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kweather-24.12.1.tar.xz">kweather-24.12.1</a></td>
   <td align="right">353kB</td>
   <td><tt>bf1b709cf889fa7d133f387fb09f945dacd15addd40f0537bd10c4db4ad717da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kweathercore-24.12.1.tar.xz">kweathercore-24.12.1</a></td>
   <td align="right">74kB</td>
   <td><tt>9d1115764ce5ca1370fd08af33964551cfd2cde784f46527fc83562680d96f7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/kwordquiz-24.12.1.tar.xz">kwordquiz-24.12.1</a></td>
   <td align="right">3693kB</td>
   <td><tt>df256439ecb5421353e643bbf29e7966a2f530c96e63e432af4850d9dd6fc92a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/libgravatar-24.12.1.tar.xz">libgravatar-24.12.1</a></td>
   <td align="right">37kB</td>
   <td><tt>c65c615f4492c7c5b10edc66e9cfa2866daeaa7f4f1db26b583440da6d133abf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/libkcddb-24.12.1.tar.xz">libkcddb-24.12.1</a></td>
   <td align="right">439kB</td>
   <td><tt>1285ce21dae4666b325d017b43505db89a3b0c8ce3e11902e28759fea22b8ea6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/libkcompactdisc-24.12.1.tar.xz">libkcompactdisc-24.12.1</a></td>
   <td align="right">98kB</td>
   <td><tt>d37d48910d4c1662fa329eba60742d13b22bdff46787b13ad5ea67281407941d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/libkdcraw-24.12.1.tar.xz">libkdcraw-24.12.1</a></td>
   <td align="right">36kB</td>
   <td><tt>2b5abad0b4bff294500ffa0ba2c33db5cf9ff5aaa9c7db4eb1be3407d7885c54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/libkdegames-24.12.1.tar.xz">libkdegames-24.12.1</a></td>
   <td align="right">5836kB</td>
   <td><tt>7e845aa7cb64fef4823f3c49d59a03334313b54439d1825be2c2a5b60642fe78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/libkdepim-24.12.1.tar.xz">libkdepim-24.12.1</a></td>
   <td align="right">276kB</td>
   <td><tt>71c8b717f8fa94165638036c239beb81b7884299a6cd112ae87f2023acf87438</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/libkeduvocdocument-24.12.1.tar.xz">libkeduvocdocument-24.12.1</a></td>
   <td align="right">223kB</td>
   <td><tt>0be2a6d70161a14e9497b4359ce0ea13520d54293a5db108238a05bcb38f87b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/libkexiv2-24.12.1.tar.xz">libkexiv2-24.12.1</a></td>
   <td align="right">59kB</td>
   <td><tt>b8e051a1c69c2717d47841eaf81d2be561c3a95cffc6749270e56e0912e9771c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/libkgapi-24.12.1.tar.xz">libkgapi-24.12.1</a></td>
   <td align="right">331kB</td>
   <td><tt>35464c612623fef17737b6a5e8dbdedbe987144cc7a02eb7ecc0f08ff343a0cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/libkleo-24.12.1.tar.xz">libkleo-24.12.1</a></td>
   <td align="right">628kB</td>
   <td><tt>57fa50f4661607a945eac368f67263f7a435faf851f6183774b37afb009652c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/libkmahjongg-24.12.1.tar.xz">libkmahjongg-24.12.1</a></td>
   <td align="right">1653kB</td>
   <td><tt>a8e594038e8ac2132b8c359cc9618fc8a09e6c604e3d2299ff6df9e9cc7cd9fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/libkomparediff2-24.12.1.tar.xz">libkomparediff2-24.12.1</a></td>
   <td align="right">184kB</td>
   <td><tt>c22d2af0cd20079b4cd4490439240d3009934f71d20790bbc3bf5d28be67e77f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/libksane-24.12.1.tar.xz">libksane-24.12.1</a></td>
   <td align="right">151kB</td>
   <td><tt>ea85915c0cc333648fff48ec2b775d4a608d85db53ebd24d0aa08ca86e0d68eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/libksieve-24.12.1.tar.xz">libksieve-24.12.1</a></td>
   <td align="right">589kB</td>
   <td><tt>b34e622e357f43a13606b7d010838ff3d9f7ef944937865e35dae110c786daeb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/libktorrent-24.12.1.tar.xz">libktorrent-24.12.1</a></td>
   <td align="right">590kB</td>
   <td><tt>6e7192da957c5d8a9237b4f8a45ddffda7a67e09f084a35dc85d95b5cf5464c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/lokalize-24.12.1.tar.xz">lokalize-24.12.1</a></td>
   <td align="right">2011kB</td>
   <td><tt>6f420319176c84191cc7f47587b37d4568653bdbadaaf64193d7864e6c94a798</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/lskat-24.12.1.tar.xz">lskat-24.12.1</a></td>
   <td align="right">1198kB</td>
   <td><tt>8bf149f8ce66c6cb032d11fd3d03630f1339e5cbf9ae8a77acb58f8618c3e1db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/mailcommon-24.12.1.tar.xz">mailcommon-24.12.1</a></td>
   <td align="right">771kB</td>
   <td><tt>1cd2f4c10a04df2ea129ad0cbea38dd772f7df23c5fd1607980eaf14a500d8ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/mailimporter-24.12.1.tar.xz">mailimporter-24.12.1</a></td>
   <td align="right">582kB</td>
   <td><tt>48262348bf18e19336e3214a3898e0238037ddd52ed3f6a5dcecaad5b5f50351</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/marble-24.12.1.tar.xz">marble-24.12.1</a></td>
   <td align="right">52348kB</td>
   <td><tt>2dcaa7cefede7e4dca7d1a6dcfb2a00c301838158167b0c64974077ae2a192f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/markdownpart-24.12.1.tar.xz">markdownpart-24.12.1</a></td>
   <td align="right">33kB</td>
   <td><tt>563e70dcf5ac857309f675ae6cce2403a8b6daa1f5711a9ffebcf4748e2f458b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/massif-visualizer-24.12.1.tar.xz">massif-visualizer-24.12.1</a></td>
   <td align="right">273kB</td>
   <td><tt>395873e6745831bfed4e241b5db1b37aa6f49f73385f4b71bbd15eef5ec4822c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/mbox-importer-24.12.1.tar.xz">mbox-importer-24.12.1</a></td>
   <td align="right">31kB</td>
   <td><tt>388cd7c6b0a5aecf47eab60eeab45bcf59390a73cb521797dfa65953fc9138ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/merkuro-24.12.1.tar.xz">merkuro-24.12.1</a></td>
   <td align="right">774kB</td>
   <td><tt>9529ef9f24f04e717e6a89d1d57838a8f8155a4a1492cd47338336d02c714da3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/messagelib-24.12.1.tar.xz">messagelib-24.12.1</a></td>
   <td align="right">7286kB</td>
   <td><tt>e368e53ef1f9e05fb24edac23388f056caa4c9c583f4082daf458c220dcd1e6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/mimetreeparser-24.12.1.tar.xz">mimetreeparser-24.12.1</a></td>
   <td align="right">631kB</td>
   <td><tt>d1d9a8c85d01611381ca970ec7c74cb48e3891c83d29889b17b96cc3c446f642</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/minuet-24.12.1.tar.xz">minuet-24.12.1</a></td>
   <td align="right">27045kB</td>
   <td><tt>29d00a2002aa56c3baec04e6ae1c6b38d7977f37bd589ee616367ca8e873379b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/neochat-24.12.1.tar.xz">neochat-24.12.1</a></td>
   <td align="right">1039kB</td>
   <td><tt>381cb65eff65d58854ddbb7de77a56a6d9bf94ec55ccc73eb31d0d12976f4497</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/okular-24.12.1.tar.xz">okular-24.12.1</a></td>
   <td align="right">7867kB</td>
   <td><tt>bb505c1249cc598b3de328f8de0b57656fbb4445b4a313d23d948a9529e2bf20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/palapeli-24.12.1.tar.xz">palapeli-24.12.1</a></td>
   <td align="right">2072kB</td>
   <td><tt>20ec8d1bb6699c9387e74be916a9ada39f05bd1d81817f2d7a0de3c4f61093e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/parley-24.12.1.tar.xz">parley-24.12.1</a></td>
   <td align="right">8236kB</td>
   <td><tt>e24460cb466aaa6a5f6e78efb2f13cb12c093133b81624ebee09d7b8ee28c09e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/partitionmanager-24.12.1.tar.xz">partitionmanager-24.12.1</a></td>
   <td align="right">2268kB</td>
   <td><tt>9a8f01da56af7355f2b7215efdeb24e0a379304aa27e7b48039baef8552ca3b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/picmi-24.12.1.tar.xz">picmi-24.12.1</a></td>
   <td align="right">1483kB</td>
   <td><tt>4862c945f515cd148ef62217592d9274b4e927bfc69bc8a91175f3a8c9bbacf7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/pimcommon-24.12.1.tar.xz">pimcommon-24.12.1</a></td>
   <td align="right">357kB</td>
   <td><tt>e4d5af2c9a5464176a36992e5d15025133f2cf8b25bd84a923c8ae1e65939dbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/pim-data-exporter-24.12.1.tar.xz">pim-data-exporter-24.12.1</a></td>
   <td align="right">411kB</td>
   <td><tt>6f7f1c7c192d315deaf246efff806af5a4f5faea350a0f8070b2f04f8022b540</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/pim-sieve-editor-24.12.1.tar.xz">pim-sieve-editor-24.12.1</a></td>
   <td align="right">459kB</td>
   <td><tt>9416f50de73496ca142a049ded6af93c1abec3a89ed2e4daf948a97e9e900e7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/plasmatube-24.12.1.tar.xz">plasmatube-24.12.1</a></td>
   <td align="right">211kB</td>
   <td><tt>078816b095dff62025c8e83eac6e0f0f27babdc333faceb7444e7c4de965cb02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/poxml-24.12.1.tar.xz">poxml-24.12.1</a></td>
   <td align="right">44kB</td>
   <td><tt>400da47402e2bb2a2e1f9e69d7e039940527debdb661b6f6087115ff01ac73d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/qmlkonsole-24.12.1.tar.xz">qmlkonsole-24.12.1</a></td>
   <td align="right">193kB</td>
   <td><tt>aacd7154285a30c8443e17432e4a0e3de38134eeb2a12945d9383f0ba6f2fabe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/rocs-24.12.1.tar.xz">rocs-24.12.1</a></td>
   <td align="right">1528kB</td>
   <td><tt>d768c36ac0b6252852711f2fc6ef5ba1c902721d7493990df93ad66ad610d887</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/signon-kwallet-extension-24.12.1.tar.xz">signon-kwallet-extension-24.12.1</a></td>
   <td align="right">11kB</td>
   <td><tt>85218ed59dee365b0755c191265f6e751c6187fb3ce54bc9a3e378623d1db30c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/skanlite-24.12.1.tar.xz">skanlite-24.12.1</a></td>
   <td align="right">2334kB</td>
   <td><tt>552849f3c092d7d1b2752f13d15913b44c6135d67aa64328a36b396fe15c2f8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/skanpage-24.12.1.tar.xz">skanpage-24.12.1</a></td>
   <td align="right">1306kB</td>
   <td><tt>f03d42dfe6310f48856361d831c4da7fd60ce0608247aaf2c92dc855c13b2859</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/skladnik-24.12.1.tar.xz">skladnik-24.12.1</a></td>
   <td align="right">403kB</td>
   <td><tt>42c4b51e845319a291dc98d205eba1a52cede0dca12c82803e75ec716431274a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/spectacle-24.12.1.tar.xz">spectacle-24.12.1</a></td>
   <td align="right">1525kB</td>
   <td><tt>df710e03ebf15133a9760aa0aa83eb1bd85353f7c4a14a834c5f401b094cb999</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/step-24.12.1.tar.xz">step-24.12.1</a></td>
   <td align="right">964kB</td>
   <td><tt>a32fc5578aa7b95f6841d4c0fb7a427385dc9ace1cbb755244302081d6d2b74e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/svgpart-24.12.1.tar.xz">svgpart-24.12.1</a></td>
   <td align="right">29kB</td>
   <td><tt>57fc2ef7a5b3b02e8113c39ee2af456f814386c4079eee22047ce1ffee69a5e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/sweeper-24.12.1.tar.xz">sweeper-24.12.1</a></td>
   <td align="right">375kB</td>
   <td><tt>7e43fe10562e450feabccf8cc5c8a616435045ad288872c900439a018191b7c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/telly-skout-24.12.1.tar.xz">telly-skout-24.12.1</a></td>
   <td align="right">105kB</td>
   <td><tt>e6ebee4e0cc2d85cbae0beafdbb33d828f9585a1d4cdbdad1a3a927542291861</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/tokodon-24.12.1.tar.xz">tokodon-24.12.1</a></td>
   <td align="right">642kB</td>
   <td><tt>ebed54913409d96214abdf6ae7c0c576ed3fa1dd63c0fef99dc6d48ede06f07f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/umbrello-24.12.1.tar.xz">umbrello-24.12.1</a></td>
   <td align="right">5485kB</td>
   <td><tt>49797087e7e11a9cf6c124b7289d41b91a212c3bae63e504da586265f2028787</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/yakuake-24.12.1.tar.xz">yakuake-24.12.1</a></td>
   <td align="right">383kB</td>
   <td><tt>643f466ea558c931f36ad6eef986106470dd73e87f71ae90b5d5fbb6a2b6cd8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.1/src/zanshin-24.12.1.tar.xz">zanshin-24.12.1</a></td>
   <td align="right">371kB</td>
   <td><tt>516d3cab7ba4d625fe8124efdd0acda5daa9387a2c6371f0c8589ee9ffa93855</tt></td>
</tr>

</table>
