<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.5/bluedevil-5.18.5.tar.xz">bluedevil-5.18.5</a></td>
   <td align="right">164kB</td>
   <td><tt>5350efbaee01c78fd451e96bb2aceb7986d45ab05500476d1e95c4e79ec89a66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.5/breeze-5.18.5.tar.xz">breeze-5.18.5</a></td>
   <td align="right">20MB</td>
   <td><tt>1d08dfd24df4a4fcacad1e3759e559e82f6014ba63dc75dc32a24de6cd133563</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.5/breeze-grub-5.18.5.tar.xz">breeze-grub-5.18.5</a></td>
   <td align="right">2.9MB</td>
   <td><tt>24c40171601b82d1c7d01eb85d16718a2f46cf23ee792f5524ac89fda3d278b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.5/breeze-gtk-5.18.5.tar.xz">breeze-gtk-5.18.5</a></td>
   <td align="right">41kB</td>
   <td><tt>41c7e83a28c033903d4fcab3da28a4c74ddb72958e66693a2d2e451f716cb7e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.5/breeze-plymouth-5.18.5.tar.xz">breeze-plymouth-5.18.5</a></td>
   <td align="right">103kB</td>
   <td><tt>c0d48dc5a02f3236ff657f86ee8cf532cf885a0e8b36bfe79f007e4d5e277281</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.5/discover-5.18.5.tar.xz">discover-5.18.5</a></td>
   <td align="right">9.9MB</td>
   <td><tt>d5ce4f4668c50ba9be37e04227db4bbe469e00470c87907f1e217fdcad6e76b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.5/drkonqi-5.18.5.tar.xz">drkonqi-5.18.5</a></td>
   <td align="right">730kB</td>
   <td><tt>b1a626c4ed2f9de8f8bc3359d8827e7fa6ac17486b8477674e47627fcf6efad1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.5/kactivitymanagerd-5.18.5.tar.xz">kactivitymanagerd-5.18.5</a></td>
   <td align="right">84kB</td>
   <td><tt>24f32eb4585d427ee62e08a9fa2f057353085c62644d6bec8fb4b2568e507ac7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.5/kde-cli-tools-5.18.5.tar.xz">kde-cli-tools-5.18.5</a></td>
   <td align="right">578kB</td>
   <td><tt>e3981d1a17111f4e284b787a6e841d7ff47f4fdbca0ad17e105c0a047e5aaaa8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.5/kdecoration-5.18.5.tar.xz">kdecoration-5.18.5</a></td>
   <td align="right">42kB</td>
   <td><tt>f09856245f2cb08d9013da4c3128b5438f1e2f58af40031eb547ae765f57a9c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.5/kde-gtk-config-5.18.5.tar.xz">kde-gtk-config-5.18.5</a></td>
   <td align="right">24kB</td>
   <td><tt>9d7b1fd8b61f9f99c5a5721ea0227c4562588834a4886d66637f4c092f0e53ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.5/kdeplasma-addons-5.18.5.tar.xz">kdeplasma-addons-5.18.5</a></td>
   <td align="right">609kB</td>
   <td><tt>1d135a32a7442f79dba4cb4e23221cd2ad1aad36b54fb12bfa91918daf3ff53f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.5/kgamma5-5.18.5.tar.xz">kgamma5-5.18.5</a></td>
   <td align="right">78kB</td>
   <td><tt>3aa89e361646214fb4910409644b941c83a85505d3d8a1d37984598d3e54269f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.5/khotkeys-5.18.5.tar.xz">khotkeys-5.18.5</a></td>
   <td align="right">1.7MB</td>
   <td><tt>8f02fdf3bbecdc31c305c276fe2b3b2eca6dc10195e65c723ee9148fed81e766</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.5/kinfocenter-5.18.5.tar.xz">kinfocenter-5.18.5</a></td>
   <td align="right">1.1MB</td>
   <td><tt>a9679bce4cd2d64e6f471c89de6da410237263b02512768f3acd0a4932b12ec5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.5/kmenuedit-5.18.5.tar.xz">kmenuedit-5.18.5</a></td>
   <td align="right">794kB</td>
   <td><tt>59d998972121662d2835d43ff5be36eca7bf62e66e39fd67b7005e8ef8afd5f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.5/kscreen-5.18.5.tar.xz">kscreen-5.18.5</a></td>
   <td align="right">110kB</td>
   <td><tt>9b6238447a4a38babdff482724ae3d33786b211e8b4224aaadafaad7435f6ba2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.5/kscreenlocker-5.18.5.tar.xz">kscreenlocker-5.18.5</a></td>
   <td align="right">122kB</td>
   <td><tt>b4269cd027e1fee721760a22ca5d738d3d98622fa222fcf9e57d2da77a4e18d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.5/ksshaskpass-5.18.5.tar.xz">ksshaskpass-5.18.5</a></td>
   <td align="right">21kB</td>
   <td><tt>c483c17d6ce2e3dffd54fc812f97b88c32f5def6e8c5e7a526e23f5e7f208cc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.5/ksysguard-5.18.5.tar.xz">ksysguard-5.18.5</a></td>
   <td align="right">505kB</td>
   <td><tt>4acb352698b612a21a5eccf22042ab46265d50bbf3aa85844bbca762a64c9e2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.5/kwallet-pam-5.18.5.tar.xz">kwallet-pam-5.18.5</a></td>
   <td align="right">19kB</td>
   <td><tt>bc4fe3dde503645d6233c3932d3cf74a7f5bf7acefb96bd6dbd224c8919d841a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.5/kwayland-integration-5.18.5.tar.xz">kwayland-integration-5.18.5</a></td>
   <td align="right">20kB</td>
   <td><tt>82d6943d79a9a2a9bce10623adb2c9af396a2dcf258a723bb349aafbde20e6d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.5/kwin-5.18.5.tar.xz">kwin-5.18.5</a></td>
   <td align="right">5.9MB</td>
   <td><tt>ca39c63fd740432e95490031fd9d5ac003da034582014fa41c2be2b89627ddf8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.5/kwrited-5.18.5.tar.xz">kwrited-5.18.5</a></td>
   <td align="right">19kB</td>
   <td><tt>45ffa31d3d141ce453fb09fd823d7edd8e6c782b353bce22b8c879ad794fd1fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.5/libkscreen-5.18.5.tar.xz">libkscreen-5.18.5</a></td>
   <td align="right">83kB</td>
   <td><tt>a962319000324200ec1abe3c58b1b8ab71ed4cc7c88a3c7e03a1c8eca86c287c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.5/libksysguard-5.18.5.tar.xz">libksysguard-5.18.5</a></td>
   <td align="right">596kB</td>
   <td><tt>d4d7030a2869a546a211844aa158dcef3598386cc035a8655529938ba102440b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.5/milou-5.18.5.tar.xz">milou-5.18.5</a></td>
   <td align="right">62kB</td>
   <td><tt>7ec763833c025aa719d1e25f3c5c1c8b6c934a48bf346517e94660e09d8582b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.5/oxygen-5.18.5.tar.xz">oxygen-5.18.5</a></td>
   <td align="right">4.2MB</td>
   <td><tt>479bdfa80b3f2216075470ab4be1e3159a17620870acf276144b9639134609f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.5/plasma-browser-integration-5.18.5.tar.xz">plasma-browser-integration-5.18.5</a></td>
   <td align="right">152kB</td>
   <td><tt>3a087a836657b5304e2e0ef9ebefb84ce1f896bfbfc5dbf948d4b3eb7b709383</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.5/plasma-desktop-5.18.5.tar.xz">plasma-desktop-5.18.5</a></td>
   <td align="right">8.9MB</td>
   <td><tt>aeb106018fd90da79c8a3c444d880282846a842029b1223e7830db2d4b42df9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.5/plasma-integration-5.18.5.tar.xz">plasma-integration-5.18.5</a></td>
   <td align="right">56kB</td>
   <td><tt>c99b987efb2ab965cc2a55793ef94c7ccb2152ca5d75956a40ec99261ad4b870</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.5/plasma-nano-5.18.5.tar.xz">plasma-nano-5.18.5</a></td>
   <td align="right">31kB</td>
   <td><tt>d2f29b05894573517cb3336088e102d3604b1c2735e9bbe605119f559f0c6341</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.5/plasma-nm-5.18.5.tar.xz">plasma-nm-5.18.5</a></td>
   <td align="right">808kB</td>
   <td><tt>1e091d01993708220f89501bb8a289279bf527d0593fd9e4b9223e6e8caf9aaa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.5/plasma-pa-5.18.5.tar.xz">plasma-pa-5.18.5</a></td>
   <td align="right">102kB</td>
   <td><tt>28765c07f584e7688a85c9761155e606440936de2ebb678917dac2c85f5d0209</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.5/plasma-phone-components-5.18.5.tar.xz">plasma-phone-components-5.18.5</a></td>
   <td align="right">1.6MB</td>
   <td><tt>d0c091367ae07c71457a0c03d1023ac48d8665385a6a1b0e32f6ae7ad1fa7070</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.5/plasma-sdk-5.18.5.tar.xz">plasma-sdk-5.18.5</a></td>
   <td align="right">256kB</td>
   <td><tt>5f399231d16d62f9880f953891477f74e0b1f7b931448a4b0fbb97f37acd2fe5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.5/plasma-tests-5.18.5.tar.xz">plasma-tests-5.18.5</a></td>
   <td align="right">1kB</td>
   <td><tt>3251ea30cb3c62de9bba2deb152370ea9e0e56b7506efd655888f1892c18413a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.5/plasma-thunderbolt-5.18.5.tar.xz">plasma-thunderbolt-5.18.5</a></td>
   <td align="right">50kB</td>
   <td><tt>c61dc7abe350ead15ca4d6111606aaf19773c38a0307ae8a7d8a7c60b82be5d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.5/plasma-vault-5.18.5.tar.xz">plasma-vault-5.18.5</a></td>
   <td align="right">133kB</td>
   <td><tt>cae2713823e8c59c7a2beb96d362a15024fe260cf10419ba037e8a798f3c1b41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.5/plasma-workspace-5.18.5.tar.xz">plasma-workspace-5.18.5</a></td>
   <td align="right">5.4MB</td>
   <td><tt>14e82033be745f4db46a70d319e2c86012295ea31056092bc974004189b92354</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.5/plasma-workspace-wallpapers-5.18.5.tar.xz">plasma-workspace-wallpapers-5.18.5</a></td>
   <td align="right">35MB</td>
   <td><tt>f8da3bd7b97a9944639ed0860303b8a7a008905246313e1983367810a3a84d6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.5/plymouth-kcm-5.18.5.tar.xz">plymouth-kcm-5.18.5</a></td>
   <td align="right">40kB</td>
   <td><tt>e8f75dd8c8a45cd706a0a6e62826d1eb4fff9c3912cbaadba8c06e9de915d2e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.5/polkit-kde-agent-1-5.18.5.tar.xz">polkit-kde-agent-1-5.18.5</a></td>
   <td align="right">43kB</td>
   <td><tt>5e1733cb51c826c6215da4fbbc9c9568240275cf86b9922cd7a643d192a75a91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.5/powerdevil-5.18.5.tar.xz">powerdevil-5.18.5</a></td>
   <td align="right">583kB</td>
   <td><tt>e000185ee61bff81fe28896a7d6353746c82c7f4d2626792fd22d34b5f49f548</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.5/sddm-kcm-5.18.5.tar.xz">sddm-kcm-5.18.5</a></td>
   <td align="right">60kB</td>
   <td><tt>cc99c185d701acc7442f33ef17b2396894dcf164f3f583c25105ac3f2528c33b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.5/systemsettings-5.18.5.tar.xz">systemsettings-5.18.5</a></td>
   <td align="right">174kB</td>
   <td><tt>cde5b714261aaa54f937887657c3d3e74814c5447448b989159ee6035be4783b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.5/user-manager-5.18.5.tar.xz">user-manager-5.18.5</a></td>
   <td align="right">2.0MB</td>
   <td><tt>741d293947fa3fb3966f047bab121597bf1071be010684daff4a91626cf54484</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.5/xdg-desktop-portal-kde-5.18.5.tar.xz">xdg-desktop-portal-kde-5.18.5</a></td>
   <td align="right">63kB</td>
   <td><tt>807452708a0318b8e21b43f9ec7e016d1de51cac5d8714d70c577bb6f3976224</tt></td>
</tr>

</table>
