<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/accessibility-inspector-24.08.0.tar.xz">accessibility-inspector-24.08.0</a></td>
   <td align="right">81kB</td>
   <td><tt>c07526a0f7691fab4d1068fdae6b4a7132908e0b211aea1102fa0b5e65fc9856</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/akonadi-24.08.0.tar.xz">akonadi-24.08.0</a></td>
   <td align="right">1662kB</td>
   <td><tt>e140f6820aa596ea48ce623358bdf584942d6e2a08530b9b43de680801568945</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/akonadi-calendar-24.08.0.tar.xz">akonadi-calendar-24.08.0</a></td>
   <td align="right">508kB</td>
   <td><tt>cb354795a681770c865544f5b0b2786042674b3a9f442a0daff04ec91c222d97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/akonadi-calendar-tools-24.08.0.tar.xz">akonadi-calendar-tools-24.08.0</a></td>
   <td align="right">258kB</td>
   <td><tt>44863627bcb44c067feadba935da5b34c23f1b66d750ce98d3b18000f1c233f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/akonadiconsole-24.08.0.tar.xz">akonadiconsole-24.08.0</a></td>
   <td align="right">297kB</td>
   <td><tt>8059adeaccf58c2fe7182f0f93be1ca71908412670c96826d0d9302d6465bbdd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/akonadi-contacts-24.08.0.tar.xz">akonadi-contacts-24.08.0</a></td>
   <td align="right">422kB</td>
   <td><tt>2b0f854f82900aa202dc5f16ac01effd687217b2d135ff51a0878de07aafb451</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/akonadi-import-wizard-24.08.0.tar.xz">akonadi-import-wizard-24.08.0</a></td>
   <td align="right">477kB</td>
   <td><tt>06feaef071635a2e583330708a9f255afce9d4918997946a7d4c20ab138159aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/akonadi-mime-24.08.0.tar.xz">akonadi-mime-24.08.0</a></td>
   <td align="right">169kB</td>
   <td><tt>eb0829466f694daf0c4ce047073c299fd3e24be72447bdf407561822bcf1022c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/akonadi-notes-24.08.0.tar.xz">akonadi-notes-24.08.0</a></td>
   <td align="right">28kB</td>
   <td><tt>13279448fb1186a3553f7012909b943f4cf476ca5b11e4edc7e70bdf6940b78d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/akonadi-search-24.08.0.tar.xz">akonadi-search-24.08.0</a></td>
   <td align="right">110kB</td>
   <td><tt>883c00f1e1c07828606d0ff20d85819d24b1023e9cbf6d9feef2cab1e2909eb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/akregator-24.08.0.tar.xz">akregator-24.08.0</a></td>
   <td align="right">2069kB</td>
   <td><tt>b7035b4b644fda7e95417ed5706e44a7331a7728bd506d99650ba1bfb23072d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/alligator-24.08.0.tar.xz">alligator-24.08.0</a></td>
   <td align="right">190kB</td>
   <td><tt>8152a6b88ffeeca365c038e062ed78e65a97ddb96ab9988975d784e59dce350d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/analitza-24.08.0.tar.xz">analitza-24.08.0</a></td>
   <td align="right">351kB</td>
   <td><tt>3eedccc24a1938e9d3dbd3225225feecb2ae904e799ab7508083753f5cbec2cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/angelfish-24.08.0.tar.xz">angelfish-24.08.0</a></td>
   <td align="right">267kB</td>
   <td><tt>8ce51d5b8dc01dc0754ce15331e88ab1b344942a19c5082a2c54a809c068ee74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/arianna-24.08.0.tar.xz">arianna-24.08.0</a></td>
   <td align="right">800kB</td>
   <td><tt>0d3aea7d6acd4a0ec074cd7a3f88c6650d58e02306be30fa43f0ac3beedf2cab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/ark-24.08.0.tar.xz">ark-24.08.0</a></td>
   <td align="right">2933kB</td>
   <td><tt>c188c30f74c87918b9a102476e1945398176df1ecf9c07e4b75e1183218b34ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/artikulate-24.08.0.tar.xz">artikulate-24.08.0</a></td>
   <td align="right">1027kB</td>
   <td><tt>75aba02bbe5af4e15d5c5548a56d4796711b5198410c0b30352318a3a482b891</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/audex-24.08.0.tar.xz">audex-24.08.0</a></td>
   <td align="right">691kB</td>
   <td><tt>693a41087eadf2db4f6992f786cba2db2e1e3a65da831ea0dc78be8739732023</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/audiocd-kio-24.08.0.tar.xz">audiocd-kio-24.08.0</a></td>
   <td align="right">557kB</td>
   <td><tt>e7f2d9b34979ca95c01c4ca516b4f88e62b6c1bb91436fdb1aa1fc0d4f2b2e4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/audiotube-24.08.0.tar.xz">audiotube-24.08.0</a></td>
   <td align="right">150kB</td>
   <td><tt>05cd5523ba3b3067c05f31a763c8081fcc9b441b0b1054ed789704348be29709</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/baloo-widgets-24.08.0.tar.xz">baloo-widgets-24.08.0</a></td>
   <td align="right">270kB</td>
   <td><tt>a047d911605abe7dbd1c747443be413b99f95633b23e80dbd5b702295577332b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/blinken-24.08.0.tar.xz">blinken-24.08.0</a></td>
   <td align="right">2533kB</td>
   <td><tt>a3d558f9eb128c800ce1474457f14dc7703eb4f37ceab269b01aa3b1a5dbb83b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/bomber-24.08.0.tar.xz">bomber-24.08.0</a></td>
   <td align="right">818kB</td>
   <td><tt>c89767ce1d0acd1a9f2bb0215d3723c673d3f4500d0b85dfafcd23e0deda8adf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/bovo-24.08.0.tar.xz">bovo-24.08.0</a></td>
   <td align="right">212kB</td>
   <td><tt>06a0b784b29d3f64c1ad58af8cd210de29670bea74bb3573375c8f053ba0a7a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/calendarsupport-24.08.0.tar.xz">calendarsupport-24.08.0</a></td>
   <td align="right">977kB</td>
   <td><tt>4a305613d2570f279a2b10bbe0de2e7370521fcee4a84777e09c5ea039e7c30d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/calindori-24.08.0.tar.xz">calindori-24.08.0</a></td>
   <td align="right">386kB</td>
   <td><tt>453b985529673f058473910993614d2467eaed5c3aa1eb06fca0928fe37ec9f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/cantor-24.08.0.tar.xz">cantor-24.08.0</a></td>
   <td align="right">10591kB</td>
   <td><tt>5292977d1a96e30d62011532aa642d3071b751f3c9656371401e0ee8d9e7092f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/cervisia-24.08.0.tar.xz">cervisia-24.08.0</a></td>
   <td align="right">1767kB</td>
   <td><tt>aa63c6f874731a33b0fae82bdc8bafdb2982817818ed06b96ccb28f6b6d1d567</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/colord-kde-24.08.0.tar.xz">colord-kde-24.08.0</a></td>
   <td align="right">114kB</td>
   <td><tt>f555b440f22ef6b8aac717030b11a1c79db3808b7d1d466dcaf4d839f39824ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/dolphin-24.08.0.tar.xz">dolphin-24.08.0</a></td>
   <td align="right">5495kB</td>
   <td><tt>4a9d52dcd6513d2193c0c34944b270b399150f1da4ff37da06a0f8af87f6d8d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/dolphin-plugins-24.08.0.tar.xz">dolphin-plugins-24.08.0</a></td>
   <td align="right">309kB</td>
   <td><tt>3e9c27f667cdb30b7b3264557e1aa3e3f04664615585d024797c2ca4e74e02df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/dragon-24.08.0.tar.xz">dragon-24.08.0</a></td>
   <td align="right">1786kB</td>
   <td><tt>e3e3cb8d979e99e4c8e823263ac7652e7852554fc7a17cc31bc65ea06f0ba4a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/elisa-24.08.0.tar.xz">elisa-24.08.0</a></td>
   <td align="right">1863kB</td>
   <td><tt>7f1ceb99a4ae57a1b609fee4f4903b0243f3cc84a854e1d41cd222a42085ee81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/eventviews-24.08.0.tar.xz">eventviews-24.08.0</a></td>
   <td align="right">478kB</td>
   <td><tt>f2d6f3d490aaa791a2b94ed2a756725e75702b9fc7b02a6604b3b9b95d852862</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/falkon-24.08.0.tar.xz">falkon-24.08.0</a></td>
   <td align="right">2573kB</td>
   <td><tt>8d23b4d0d58afafb687c38bd8e2a9b8dd58b569c6635ce7c128bf6d6a75ca49d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/ffmpegthumbs-24.08.0.tar.xz">ffmpegthumbs-24.08.0</a></td>
   <td align="right">32kB</td>
   <td><tt>25c65c5272bbbedcdabc6961846807143d43649a4e3db662c30be524b51487d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/filelight-24.08.0.tar.xz">filelight-24.08.0</a></td>
   <td align="right">666kB</td>
   <td><tt>70599bcc0668870e82de202ff5b31dfb6536d8199d731bb97be0987a8a566289</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/francis-24.08.0.tar.xz">francis-24.08.0</a></td>
   <td align="right">111kB</td>
   <td><tt>d666a84b37e0e5f872905186b4fa6e2808b9c76cbaa85f213f999ba03e1fd8af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/ghostwriter-24.08.0.tar.xz">ghostwriter-24.08.0</a></td>
   <td align="right">2643kB</td>
   <td><tt>54a16a02f11398a962fd184327d238c31c86ca968ae7f10d7502a301cc1782b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/granatier-24.08.0.tar.xz">granatier-24.08.0</a></td>
   <td align="right">1962kB</td>
   <td><tt>0d81c45c8c44756a2e8d3e15f208c9590a6dd7e8c2808b7c77d406107b10e353</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/grantlee-editor-24.08.0.tar.xz">grantlee-editor-24.08.0</a></td>
   <td align="right">120kB</td>
   <td><tt>38537f69b1d24347ef8143e5c729ba183c3a0eaf55d63a7929a4f43204dc8efe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/grantleetheme-24.08.0.tar.xz">grantleetheme-24.08.0</a></td>
   <td align="right">61kB</td>
   <td><tt>6232665e8da28084be19054294ed210f80400a5aa54c6c710dfde6d558ce7bb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/gwenview-24.08.0.tar.xz">gwenview-24.08.0</a></td>
   <td align="right">6361kB</td>
   <td><tt>18d10edb4f7492105a28cb1de114331b7cebf129ce626b8779e1fd75199e7476</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/incidenceeditor-24.08.0.tar.xz">incidenceeditor-24.08.0</a></td>
   <td align="right">573kB</td>
   <td><tt>a7f72c31cfb1480dded75af7eba836b967675cb3b4304240f268b5888cf34997</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/isoimagewriter-24.08.0.tar.xz">isoimagewriter-24.08.0</a></td>
   <td align="right">457kB</td>
   <td><tt>3df7436d5a619933645a6d82b4976dea94114b3b154f57a8ab8ce2d8c4da489c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/itinerary-24.08.0.tar.xz">itinerary-24.08.0</a></td>
   <td align="right">713kB</td>
   <td><tt>166864fb078f4e83739b3672a824efba50b87e08e366f7c4edf94555f54d0435</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/juk-24.08.0.tar.xz">juk-24.08.0</a></td>
   <td align="right">1853kB</td>
   <td><tt>679b70c25f4014ecdced955a41ad0ef93291e1905d82a15f2cc26c0d7acf2684</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/k3b-24.08.0.tar.xz">k3b-24.08.0</a></td>
   <td align="right">10449kB</td>
   <td><tt>610623648429ae874bbbaa5f6559bbdf079729e31f0585527d9e648cbba1e0ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kaccounts-integration-24.08.0.tar.xz">kaccounts-integration-24.08.0</a></td>
   <td align="right">89kB</td>
   <td><tt>fb21d2435b2aaa9960fed9660a9cd56b7702080c4e99f9a207e6c1ba8d52b3f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kaccounts-providers-24.08.0.tar.xz">kaccounts-providers-24.08.0</a></td>
   <td align="right">67kB</td>
   <td><tt>ee36674c6e8f0fe1f48258ffa892f7c6d4945ce1332e9dfb89943c2a7a71d952</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kaddressbook-24.08.0.tar.xz">kaddressbook-24.08.0</a></td>
   <td align="right">3330kB</td>
   <td><tt>7e519f72b62d81b588dc51d3c8417eb26431347cd552ff44cdff711de723f559</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kajongg-24.08.0.tar.xz">kajongg-24.08.0</a></td>
   <td align="right">4497kB</td>
   <td><tt>41dd9147d7d678ff363a5b43d62fed66f6b881305d7200be25f55fd7c2769ef6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kalarm-24.08.0.tar.xz">kalarm-24.08.0</a></td>
   <td align="right">2529kB</td>
   <td><tt>2e842b66dc9ea5986adef9b049d70b6a3ae90e3f3601620b5e772de8aeb8290d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kalgebra-24.08.0.tar.xz">kalgebra-24.08.0</a></td>
   <td align="right">921kB</td>
   <td><tt>0311cb15359bd96370762de31c3c4cd6849fb155172b39a8ca95be900b45d353</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kalk-24.08.0.tar.xz">kalk-24.08.0</a></td>
   <td align="right">74kB</td>
   <td><tt>ec9784599220186b2949b7e4a1aedaeebfb45e0eb9b3ed32dd836343990bdb82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kalm-24.08.0.tar.xz">kalm-24.08.0</a></td>
   <td align="right">74kB</td>
   <td><tt>c75981e5c01573b3a1cf2208b62678cc797e9b19216a692d235dbce09f871c36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kalzium-24.08.0.tar.xz">kalzium-24.08.0</a></td>
   <td align="right">22150kB</td>
   <td><tt>5e4c2a9758522d6ed26122a77f9e45aaeb3e8251652f70521d63a4e5e9126c30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kamera-24.08.0.tar.xz">kamera-24.08.0</a></td>
   <td align="right">128kB</td>
   <td><tt>d819eb4d81ce51d975b35724235e426e0cb2b96a9c58b7854c8f0c86bba6f750</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kamoso-24.08.0.tar.xz">kamoso-24.08.0</a></td>
   <td align="right">227kB</td>
   <td><tt>14bfd694c31e460cecd235d53575ac98c196bde7cfde225ec794859832fd3d83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kanagram-24.08.0.tar.xz">kanagram-24.08.0</a></td>
   <td align="right">7598kB</td>
   <td><tt>e384e931351df9ad6f032d77e005a3954a78b854cd9dc2e2d2f5c376e5d8125d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kapman-24.08.0.tar.xz">kapman-24.08.0</a></td>
   <td align="right">2093kB</td>
   <td><tt>464ab183cd93418dbaf36bf027d991ebc78a82bcaf31fd1b665ee986c1bced28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kapptemplate-24.08.0.tar.xz">kapptemplate-24.08.0</a></td>
   <td align="right">334kB</td>
   <td><tt>9be0abed6ea2cec7ae4b5d3dc5509baa3aca2cf93a29c6608575c1e17000c823</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kasts-24.08.0.tar.xz">kasts-24.08.0</a></td>
   <td align="right">603kB</td>
   <td><tt>56c5ef8171fc812d692060125c9ee968e4f43fb0f0d3915e768085fbe26b06c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kate-24.08.0.tar.xz">kate-24.08.0</a></td>
   <td align="right">8009kB</td>
   <td><tt>85b20215e3ccfdbb1e615108a70673f1e6443ceca1948290eee3841a061173e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/katomic-24.08.0.tar.xz">katomic-24.08.0</a></td>
   <td align="right">1410kB</td>
   <td><tt>842b3598720d3382b82e986d9e158a4a493e51dbaff9dd02df60a7f5f846ba97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kbackup-24.08.0.tar.xz">kbackup-24.08.0</a></td>
   <td align="right">370kB</td>
   <td><tt>dcd91b618fb43e5e0d42978686f61b489b424476d5a781f149edf8091981c886</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kblackbox-24.08.0.tar.xz">kblackbox-24.08.0</a></td>
   <td align="right">534kB</td>
   <td><tt>bf42986a406c66369aecdecbf53819af931e2c105b69f996be9ba25e9e71a995</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kblocks-24.08.0.tar.xz">kblocks-24.08.0</a></td>
   <td align="right">2050kB</td>
   <td><tt>a6694c435d988b7d5029e33d268eafb24343eec6988840a10926c05c55f28cad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kbounce-24.08.0.tar.xz">kbounce-24.08.0</a></td>
   <td align="right">3241kB</td>
   <td><tt>bee8a9378ad58488b941546c164fb14d089ce91149665b638f3a01545ceaffe4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kbreakout-24.08.0.tar.xz">kbreakout-24.08.0</a></td>
   <td align="right">2492kB</td>
   <td><tt>e11debd2ad12962852c9ede3998c7d9be66eac906576bae7b94579953ea693f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kbruch-24.08.0.tar.xz">kbruch-24.08.0</a></td>
   <td align="right">5031kB</td>
   <td><tt>a857e4d3d787107be0e6d371cc30862e4cf25fa366a1bcf8873769823df89b2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kcachegrind-24.08.0.tar.xz">kcachegrind-24.08.0</a></td>
   <td align="right">912kB</td>
   <td><tt>3378ee7e6722172044176ca1c0f07b850bb1cece9a1564ac48ecb4f3dbfa7170</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kcalc-24.08.0.tar.xz">kcalc-24.08.0</a></td>
   <td align="right">461kB</td>
   <td><tt>ecaf8b2ba5369f4a81086762514a9e6935a3403cf982a7482fbd0525bcff2d35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kcalutils-24.08.0.tar.xz">kcalutils-24.08.0</a></td>
   <td align="right">346kB</td>
   <td><tt>da3164d6d2cec444ce6d73dcc210e0870b081ab832db27816966fb1cb32b0856</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kcharselect-24.08.0.tar.xz">kcharselect-24.08.0</a></td>
   <td align="right">464kB</td>
   <td><tt>6dd6ee8f11b076485a9417320c0d34951896b58d107ca2151b62db4c15453c5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kclock-24.08.0.tar.xz">kclock-24.08.0</a></td>
   <td align="right">643kB</td>
   <td><tt>9ed8dbe483233329e66117b0ae41ae8819379f8264423b6ed820956727b68eb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kcolorchooser-24.08.0.tar.xz">kcolorchooser-24.08.0</a></td>
   <td align="right">34kB</td>
   <td><tt>4ee8fd89e99ffb47aa322b8a18589d0c1a5ca23e4eb198519a43e55c0cd0a7ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kcron-24.08.0.tar.xz">kcron-24.08.0</a></td>
   <td align="right">856kB</td>
   <td><tt>5039e04113d14cb4f80f9324e26de721b4362d7cdf9ee7c734fe441557238d12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kdebugsettings-24.08.0.tar.xz">kdebugsettings-24.08.0</a></td>
   <td align="right">112kB</td>
   <td><tt>af4768a925fb1177c513530d09c3c10ce42a10ab1f54430bf38eab393f44836d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kdeconnect-kde-24.08.0.tar.xz">kdeconnect-kde-24.08.0</a></td>
   <td align="right">687kB</td>
   <td><tt>cbd102cf3083d2c043e875cc4ef1ac3a33837484f440b2e7377bc9c0bd3212ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kde-dev-scripts-24.08.0.tar.xz">kde-dev-scripts-24.08.0</a></td>
   <td align="right">363kB</td>
   <td><tt>ca093feb593a60ca2a2f16bac071dcf779b32a5e42f8b4485fbf11c9e25693d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kde-dev-utils-24.08.0.tar.xz">kde-dev-utils-24.08.0</a></td>
   <td align="right">73kB</td>
   <td><tt>db60cf1b5f16e63b958db6882ff84ff204065bceb073e52db19f452a14c5ef6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kdeedu-data-24.08.0.tar.xz">kdeedu-data-24.08.0</a></td>
   <td align="right">330kB</td>
   <td><tt>ce1d70e39acd3c333a8e6819573b38d83a89fcd80f3293c8c31707e604f4704c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kdegraphics-mobipocket-24.08.0.tar.xz">kdegraphics-mobipocket-24.08.0</a></td>
   <td align="right">12kB</td>
   <td><tt>bb72e983eff5cfa4f3709e18c2c7ae47cd426e068f800ee4db27aa7876f07b35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kdegraphics-thumbnailers-24.08.0.tar.xz">kdegraphics-thumbnailers-24.08.0</a></td>
   <td align="right">47kB</td>
   <td><tt>0e8326861dc9d8afc3780ef2b4848e9bb2a8194f2144b95928e5bc39989d70b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kde-inotify-survey-24.08.0.tar.xz">kde-inotify-survey-24.08.0</a></td>
   <td align="right">230kB</td>
   <td><tt>150a8a11d8ac0e848be610528b522eea33ae4b8d962cce26d2cc85e0e44eafe2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kdenetwork-filesharing-24.08.0.tar.xz">kdenetwork-filesharing-24.08.0</a></td>
   <td align="right">482kB</td>
   <td><tt>ce836ed38373d35956e8b5fd9657c82932550f613cb01fb402cb1f0afef6e106</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kdenlive-24.08.0.tar.xz">kdenlive-24.08.0</a></td>
   <td align="right">12680kB</td>
   <td><tt>e4306a2aa5a7535cea50aeff493ea9de8b7292d499d7204c41780cb044752f96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kdepim-addons-24.08.0.tar.xz">kdepim-addons-24.08.0</a></td>
   <td align="right">2550kB</td>
   <td><tt>8d02955a603b705a6c22e70f9a0d066930693c0ff8652d48cdf2f27d261f4524</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kdepim-runtime-24.08.0.tar.xz">kdepim-runtime-24.08.0</a></td>
   <td align="right">1633kB</td>
   <td><tt>e2028d748b417426e9e0282492c37ee318b532cd6ca256f6dcf4d38e7697dc77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kdesdk-kio-24.08.0.tar.xz">kdesdk-kio-24.08.0</a></td>
   <td align="right">40kB</td>
   <td><tt>48ea13f2dc855b7469f10e54b542197eda041c61120dcda65104656bfd22bb85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kdesdk-thumbnailers-24.08.0.tar.xz">kdesdk-thumbnailers-24.08.0</a></td>
   <td align="right">26kB</td>
   <td><tt>120a07fb5755afe3a90f75939e254b22690be9b4cbb796815939b3d29a14aa86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kdevelop-24.08.0.tar.xz">kdevelop-24.08.0</a></td>
   <td align="right">8578kB</td>
   <td><tt>c5201d814b8245ca6aac9175f2cf504d7bef7f85f18679e6fca76dfd0ff8591a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kdev-php-24.08.0.tar.xz">kdev-php-24.08.0</a></td>
   <td align="right">1067kB</td>
   <td><tt>3ac3aee8b14e726224551d524b1b4b698e30d4e58f51f2187d43377a632d1fcd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kdev-python-24.08.0.tar.xz">kdev-python-24.08.0</a></td>
   <td align="right">1075kB</td>
   <td><tt>203f2267f9f24c57ec41549968389548177118231c7d2da8cb3f0722a09d5cee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kdf-24.08.0.tar.xz">kdf-24.08.0</a></td>
   <td align="right">466kB</td>
   <td><tt>e752aae85643c2e408be876eda4cbac2e8f65f36fedc08ddc8869895b3657d39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kdialog-24.08.0.tar.xz">kdialog-24.08.0</a></td>
   <td align="right">143kB</td>
   <td><tt>fe76282996578f14e73b0c5cccec9b5028747d1d96681fda64f0cfa295f50854</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kdiamond-24.08.0.tar.xz">kdiamond-24.08.0</a></td>
   <td align="right">4560kB</td>
   <td><tt>c5e49e5241cbd5a35ad046a5f9c21033660f9a9ab30ddce1597205e7822f63b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/keditbookmarks-24.08.0.tar.xz">keditbookmarks-24.08.0</a></td>
   <td align="right">252kB</td>
   <td><tt>ae640633a1e385f5709bdfc1ec349de6f537b0808aea7ccb837c0fc8b68bf15d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/keysmith-24.08.0.tar.xz">keysmith-24.08.0</a></td>
   <td align="right">167kB</td>
   <td><tt>ae1c9085bd486b6bff3235e2ed61b379c16dbef5311fa2c44058ca6e19f1e392</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kfind-24.08.0.tar.xz">kfind-24.08.0</a></td>
   <td align="right">317kB</td>
   <td><tt>58ddebb376545a761a665a5739a9b986d2f304dd23cf473ced5e7a87e46d59dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kfourinline-24.08.0.tar.xz">kfourinline-24.08.0</a></td>
   <td align="right">724kB</td>
   <td><tt>685e0d9095f07f031d12ce135b4ed175bfa50c4065c903244af07306f979fd48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kgeography-24.08.0.tar.xz">kgeography-24.08.0</a></td>
   <td align="right">12127kB</td>
   <td><tt>9ef775378b9872cd2171cc8a9ba10baec5ed5d11cdce97938dc8b44a92ef6ca2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kget-24.08.0.tar.xz">kget-24.08.0</a></td>
   <td align="right">4796kB</td>
   <td><tt>d7383f2b3f5d98723c97345d2f89dd3ba55c449cce4e642ade21f23780bf4d5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kgoldrunner-24.08.0.tar.xz">kgoldrunner-24.08.0</a></td>
   <td align="right">4222kB</td>
   <td><tt>5445116678a68253d9dd7e5ac7252b13e995558e7ecf79760d752c5f4d744121</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kgpg-24.08.0.tar.xz">kgpg-24.08.0</a></td>
   <td align="right">2951kB</td>
   <td><tt>e7c1c56313d597e9b93c542ed407ffe14329ab9825c1a6abd5950d9f41a81f57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kgraphviewer-24.08.0.tar.xz">kgraphviewer-24.08.0</a></td>
   <td align="right">1545kB</td>
   <td><tt>f2efe1591be2794df6eb299ed6ab32629bf91208c097a0e2a5fe89c8ce5c8cd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/khangman-24.08.0.tar.xz">khangman-24.08.0</a></td>
   <td align="right">6852kB</td>
   <td><tt>fd116685b3c4d5f69de6fd0f0b5a2255188b9de1e278857ff75e074175ce0a9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/khealthcertificate-24.08.0.tar.xz">khealthcertificate-24.08.0</a></td>
   <td align="right">502kB</td>
   <td><tt>4975da85764d4e361af96fb5cd5fa0f5c5c5c985c5ff6866acaff8066f4645f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/khelpcenter-24.08.0.tar.xz">khelpcenter-24.08.0</a></td>
   <td align="right">4121kB</td>
   <td><tt>5d9f93b8f5b115c2bbb914f5a62db6f186fdc0d94a7e39c5d3218f6fd0f9c543</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kidentitymanagement-24.08.0.tar.xz">kidentitymanagement-24.08.0</a></td>
   <td align="right">190kB</td>
   <td><tt>07eaf3ea6553fa277c345a9aad9e191c72e32576379211d71e3b5cac586e4742</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kig-24.08.0.tar.xz">kig-24.08.0</a></td>
   <td align="right">3169kB</td>
   <td><tt>d770ca0d6cd511d1659dd2d6d40048110080a7179e4085aa00aed6dd8bdde079</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kigo-24.08.0.tar.xz">kigo-24.08.0</a></td>
   <td align="right">4714kB</td>
   <td><tt>d4c57221675c46ffec35f5d8d90b5a797ec66da34883bc234cecc30601077d91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/killbots-24.08.0.tar.xz">killbots-24.08.0</a></td>
   <td align="right">1135kB</td>
   <td><tt>7d4f78e5c80c21ab79eb5f0a1da3ca36e43a80b4ac42d57ba778ca0c1f147823</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kimagemapeditor-24.08.0.tar.xz">kimagemapeditor-24.08.0</a></td>
   <td align="right">1046kB</td>
   <td><tt>f2322c0134207f971bad78c5f93833d16dee577e9ce716ed707c7e8ca7e023f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kimap-24.08.0.tar.xz">kimap-24.08.0</a></td>
   <td align="right">129kB</td>
   <td><tt>05fe949400c08f16d8a20d569d5adc27c619cd55b78e71261b575bb2f54615ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kio-admin-24.08.0.tar.xz">kio-admin-24.08.0</a></td>
   <td align="right">37kB</td>
   <td><tt>0304d2d848e515d4d72d2d6b785deb64c464ff66c6fbb5ac2f4390780fd83317</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kio-extras-24.08.0.tar.xz">kio-extras-24.08.0</a></td>
   <td align="right">3392kB</td>
   <td><tt>7590f4897962388149c0fec25e7eb8b691597dacfd4aedf3343bbeeb4b98445c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kio-gdrive-24.08.0.tar.xz">kio-gdrive-24.08.0</a></td>
   <td align="right">78kB</td>
   <td><tt>1f6148711f3d95acdbc6257be250ae50309ed95c39d7d8fbcda0029b4345afbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kio-zeroconf-24.08.0.tar.xz">kio-zeroconf-24.08.0</a></td>
   <td align="right">43kB</td>
   <td><tt>3a75529be2af8c50a816586d7347d19d9c8bd9cbbf70992e741b36a5a4ba2bbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kirigami-gallery-24.08.0.tar.xz">kirigami-gallery-24.08.0</a></td>
   <td align="right">359kB</td>
   <td><tt>5298ab4156833f7fb65fa421fa0f9f63b578bdcf87c3d380224e9fb3b132c44a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kiriki-24.08.0.tar.xz">kiriki-24.08.0</a></td>
   <td align="right">361kB</td>
   <td><tt>e0af359fb4d9592be89f59fe5b8aa30dcf39d8ab006e00e2bbd703b7a486d233</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kiten-24.08.0.tar.xz">kiten-24.08.0</a></td>
   <td align="right">11044kB</td>
   <td><tt>7f929f7d503b074786fa9693d180b9ffd9c2d7405a33906e91af7237ee7154b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kitinerary-24.08.0.tar.xz">kitinerary-24.08.0</a></td>
   <td align="right">1943kB</td>
   <td><tt>befb95f1620e0c9baa82264aabfba0cc676c9ee40583938be2091f1254f2cdac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kjournald-24.08.0.tar.xz">kjournald-24.08.0</a></td>
   <td align="right">506kB</td>
   <td><tt>9993d2e4fc5f91ea739649d85c53197c54b0b8d49ee28cbdeb8dfb62590033c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kjumpingcube-24.08.0.tar.xz">kjumpingcube-24.08.0</a></td>
   <td align="right">332kB</td>
   <td><tt>f3c4cefdf072350a21b07f39090c8fb3054e5360e1a84024a03893e59427a011</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kldap-24.08.0.tar.xz">kldap-24.08.0</a></td>
   <td align="right">184kB</td>
   <td><tt>3e45e6ecaced0b72018bb9a7fcd9f68a968237ea0c2b953627040be908640094</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kleopatra-24.08.0.tar.xz">kleopatra-24.08.0</a></td>
   <td align="right">2888kB</td>
   <td><tt>d6a8a9b50201a41a91350633c6ceec861fa57fb0ca07301825857942d45ea32b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/klettres-24.08.0.tar.xz">klettres-24.08.0</a></td>
   <td align="right">46085kB</td>
   <td><tt>1e15daea925278f2284d2e500f89a71b048cb860fa75bdcfa899c07af5ff81b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/klickety-24.08.0.tar.xz">klickety-24.08.0</a></td>
   <td align="right">1350kB</td>
   <td><tt>fffa2fb50bb44308a7e9bc956ea5838b6df79a375777e84518f5cf6b784b194d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/klines-24.08.0.tar.xz">klines-24.08.0</a></td>
   <td align="right">1630kB</td>
   <td><tt>30c28bf5c3662f71ee290025996f0f0de118771ecbf83dc1c374c6375bdc3858</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kmag-24.08.0.tar.xz">kmag-24.08.0</a></td>
   <td align="right">658kB</td>
   <td><tt>69fb4d3413eea31b9f845f1f6596780d929e66afcfbf1345adfa9b20ec64baa7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kmahjongg-24.08.0.tar.xz">kmahjongg-24.08.0</a></td>
   <td align="right">3628kB</td>
   <td><tt>1650b52dd890300703507bccd14234aec55063b2e1830d2aed0d36049a10b663</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kmail-24.08.0.tar.xz">kmail-24.08.0</a></td>
   <td align="right">7553kB</td>
   <td><tt>94dc89125572f81ac2a3fb387df3b20df2e09462d8af734386d6af5fcf9fc1d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kmail-account-wizard-24.08.0.tar.xz">kmail-account-wizard-24.08.0</a></td>
   <td align="right">162kB</td>
   <td><tt>2384327e8d0911ac6a07f586e99bd2c6a479aedf7ccd3d1b55a6d6f6cfe0dad4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kmailtransport-24.08.0.tar.xz">kmailtransport-24.08.0</a></td>
   <td align="right">183kB</td>
   <td><tt>9658723bf6925d339dc9b4392b6d8a1cf64e1bd14b8b9683e6ae47f9186b3f9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kmbox-24.08.0.tar.xz">kmbox-24.08.0</a></td>
   <td align="right">28kB</td>
   <td><tt>5023414d70111305957879d9657eda6c79eaa6bdd0f48995bbb1f489334102e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kmime-24.08.0.tar.xz">kmime-24.08.0</a></td>
   <td align="right">162kB</td>
   <td><tt>9e5aa90d8a2314b5fbc015f066922f2e1fa529daad3b76dfd351567a954353c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kmines-24.08.0.tar.xz">kmines-24.08.0</a></td>
   <td align="right">923kB</td>
   <td><tt>07d2955bb677ce91e301a6a18f535f206b54f246ab834d5d67c3770bfb3cec0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kmix-24.08.0.tar.xz">kmix-24.08.0</a></td>
   <td align="right">1138kB</td>
   <td><tt>f121bbd2d85265cc417b22f5c1b733d15fcb917bb26513b90dbbcadd5fd977f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kmousetool-24.08.0.tar.xz">kmousetool-24.08.0</a></td>
   <td align="right">127kB</td>
   <td><tt>520daebc6cde0d3b73b3bf95389d9d16d2bbb794e971a9a5c31c7b5d04307a67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kmouth-24.08.0.tar.xz">kmouth-24.08.0</a></td>
   <td align="right">1891kB</td>
   <td><tt>90e2ba9b3a9cac215cfcacb60928ed4e011bbd49cf9a5fcfa7e185d653d1d47c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kmplot-24.08.0.tar.xz">kmplot-24.08.0</a></td>
   <td align="right">2939kB</td>
   <td><tt>4f6a21a93504df5712f0f27af7228cf87129493536b62450bcce1ef0ba5f9912</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/knavalbattle-24.08.0.tar.xz">knavalbattle-24.08.0</a></td>
   <td align="right">1019kB</td>
   <td><tt>bb9c978613b0fc0a1722e797ebefc00f4764932bbb47e1d315f62a96e530f1d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/knetwalk-24.08.0.tar.xz">knetwalk-24.08.0</a></td>
   <td align="right">983kB</td>
   <td><tt>50ab6953b1b476fd90b67b1434b5f54fe404b0f3222fe719be0ac53d7a806e7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/knights-24.08.0.tar.xz">knights-24.08.0</a></td>
   <td align="right">2421kB</td>
   <td><tt>33db02b99b31179e42223fdbeba21227b473e9a5e3d714fc2d173f7f8374a247</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/koko-24.08.0.tar.xz">koko-24.08.0</a></td>
   <td align="right">8336kB</td>
   <td><tt>7548db173edbffcb42fef693d8d0966dbfc4ef8e649a85da5c00cca8cf4c9855</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kolf-24.08.0.tar.xz">kolf-24.08.0</a></td>
   <td align="right">1047kB</td>
   <td><tt>d9099994148ae960f223177c25c1bc5c39deb8f31514374f7aba08d3f041fd78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kollision-24.08.0.tar.xz">kollision-24.08.0</a></td>
   <td align="right">302kB</td>
   <td><tt>55575b09bb3a1ce07a12dba0cb2c8a7987895671a74b88727844c57c946ec23e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kolourpaint-24.08.0.tar.xz">kolourpaint-24.08.0</a></td>
   <td align="right">5177kB</td>
   <td><tt>0dbcd92f6f55bf448d5557bf6f15fca5779259c7c05f2d4846129c6c20246d8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kompare-24.08.0.tar.xz">kompare-24.08.0</a></td>
   <td align="right">925kB</td>
   <td><tt>31dec3ef38f3ca5a95bc22518356e72301bfd94098c269fa6aff796aeb8f080d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kongress-24.08.0.tar.xz">kongress-24.08.0</a></td>
   <td align="right">152kB</td>
   <td><tt>941d64669700ffc8b1434b54fe3fbbf14d6d8ee96d5d0d69af50e566252a3436</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/konqueror-24.08.0.tar.xz">konqueror-24.08.0</a></td>
   <td align="right">9458kB</td>
   <td><tt>d11c153db1a63d3850e050913556aa88f834ba4ddf7045a1a57699ec198b37e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/konquest-24.08.0.tar.xz">konquest-24.08.0</a></td>
   <td align="right">837kB</td>
   <td><tt>02e92872f78ac85a685b849522da40d9adc9acf676260cb0525b0a22df782770</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/konsole-24.08.0.tar.xz">konsole-24.08.0</a></td>
   <td align="right">1736kB</td>
   <td><tt>0095f1afc4e4a4cd36a12a2927e090e62fb0d016d38914bc858af568b7416101</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kontact-24.08.0.tar.xz">kontact-24.08.0</a></td>
   <td align="right">842kB</td>
   <td><tt>5143c8acfe43779c0bb50fa7ae3b588ec11ea60f123dab1c9dc42de9e831b40e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kontactinterface-24.08.0.tar.xz">kontactinterface-24.08.0</a></td>
   <td align="right">39kB</td>
   <td><tt>f663851fa518d935ea86d781387c797f212997ddeff26f79225e65cd8b94c2b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kontrast-24.08.0.tar.xz">kontrast-24.08.0</a></td>
   <td align="right">209kB</td>
   <td><tt>d163d403ad78e0f42da096b99adbbe0f290953c17032cd0c170e6d8f5afdd747</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/konversation-24.08.0.tar.xz">konversation-24.08.0</a></td>
   <td align="right">4289kB</td>
   <td><tt>d16587f50cc6519be8f0876ffccd3f6b3c9142652046637a393cd822758907a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kopeninghours-24.08.0.tar.xz">kopeninghours-24.08.0</a></td>
   <td align="right">72kB</td>
   <td><tt>d9c97b3c6ffc6c7105bc1f890788475a86e47bc02787916dae6459bdcc3658d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/korganizer-24.08.0.tar.xz">korganizer-24.08.0</a></td>
   <td align="right">2843kB</td>
   <td><tt>27d1ade2f48e89db1e4bbbae7ea71a5561e66600466d8e128f1e8cf95b2eeb20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kosmindoormap-24.08.0.tar.xz">kosmindoormap-24.08.0</a></td>
   <td align="right">675kB</td>
   <td><tt>b74c78e8e2038f75165dc9899a16498e524580c9ae687269a38d6c5a582ab299</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kpat-24.08.0.tar.xz">kpat-24.08.0</a></td>
   <td align="right">3636kB</td>
   <td><tt>d7c9659df82997e35345d4ac99a63c81b557732cd1acbf67f294b284bbc15e3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kpimtextedit-24.08.0.tar.xz">kpimtextedit-24.08.0</a></td>
   <td align="right">172kB</td>
   <td><tt>abc7d5170967b010fa6ace2ff762671b5212a9de4542f3da3fc31dbe7235c0a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kpkpass-24.08.0.tar.xz">kpkpass-24.08.0</a></td>
   <td align="right">28kB</td>
   <td><tt>0fb6cb547a0501d4fbd01dd49986e98d42ff4afe02a4dce0acbb741cdff6b1bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kpmcore-24.08.0.tar.xz">kpmcore-24.08.0</a></td>
   <td align="right">631kB</td>
   <td><tt>ac25fe28297ba2a328afaa03c0e5d817ade3714d7793a90a204f9b694b090d67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kpublictransport-24.08.0.tar.xz">kpublictransport-24.08.0</a></td>
   <td align="right">717kB</td>
   <td><tt>e91445d37d4ce0f6bb9aa0c039ea73f2709f65712bd11c72f3a83aadbc038c96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kqtquickcharts-24.08.0.tar.xz">kqtquickcharts-24.08.0</a></td>
   <td align="right">30kB</td>
   <td><tt>d41d9583cba46cb36de34ec355e7f73cf77e380a8ffb2bd34bff779e36be2f6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/krdc-24.08.0.tar.xz">krdc-24.08.0</a></td>
   <td align="right">1515kB</td>
   <td><tt>b6bfda5da8ef52ef37ac0d40f1d755f82ac2e689f3486d399d9bb9b57aee3305</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/krecorder-24.08.0.tar.xz">krecorder-24.08.0</a></td>
   <td align="right">164kB</td>
   <td><tt>2c2a43f69cd7bc68f584b215fbe3a6065e705d1f0941986910408bab060e65af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kreversi-24.08.0.tar.xz">kreversi-24.08.0</a></td>
   <td align="right">1005kB</td>
   <td><tt>ce1ae306ff0481b4b02b6eef2040734415be5cf4cc5074e9c4d71d4dcaefb134</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/krfb-24.08.0.tar.xz">krfb-24.08.0</a></td>
   <td align="right">1172kB</td>
   <td><tt>d08c0aaa54ffa0558b04505da65563176995b75ac194a14b586da559910618c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kross-interpreters-24.08.0.tar.xz">kross-interpreters-24.08.0</a></td>
   <td align="right">148kB</td>
   <td><tt>0a204320f410b1122d5ed0b0ba778058dd722deb9fd4da99a9d0c39e69f0c8c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kruler-24.08.0.tar.xz">kruler-24.08.0</a></td>
   <td align="right">277kB</td>
   <td><tt>77aaff2f677eed3386cd9a2df88679fdcd19404c32d861556b3cc4dbe54e91bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/ksanecore-24.08.0.tar.xz">ksanecore-24.08.0</a></td>
   <td align="right">50kB</td>
   <td><tt>8d37b81ee5adce4350d6ce51c045b25dfdee5fe45056fd99e9f2b21d53c0472d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kshisen-24.08.0.tar.xz">kshisen-24.08.0</a></td>
   <td align="right">945kB</td>
   <td><tt>f5f8d939473886781cf92af7630a4adf000a3d12853cd1d04e1cd0e6ac95ec2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/ksirk-24.08.0.tar.xz">ksirk-24.08.0</a></td>
   <td align="right">6544kB</td>
   <td><tt>69a96faa695592a128866a4a1e15c1018ae8a6473bfebe54ff7933c02f082128</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/ksmtp-24.08.0.tar.xz">ksmtp-24.08.0</a></td>
   <td align="right">51kB</td>
   <td><tt>409ffcf96e43e8b65cc49c1576d9a214e7fbac638954fa9e8643d4620cebcc74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/ksnakeduel-24.08.0.tar.xz">ksnakeduel-24.08.0</a></td>
   <td align="right">564kB</td>
   <td><tt>340c48d0672646a79ed9635b17086b43891766ebe085b4c9e283513ff4fe6e48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kspaceduel-24.08.0.tar.xz">kspaceduel-24.08.0</a></td>
   <td align="right">615kB</td>
   <td><tt>8178d5448759ecdbebf33fd6bd8d9e5f37e2e5623f5757b503cdbf3b47a76330</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/ksquares-24.08.0.tar.xz">ksquares-24.08.0</a></td>
   <td align="right">311kB</td>
   <td><tt>ab8f7c37ba8fd46f93a276da86f639fa3227d3c4aff550630ab9d574898878b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/ksudoku-24.08.0.tar.xz">ksudoku-24.08.0</a></td>
   <td align="right">1680kB</td>
   <td><tt>a34876aaa6752c5d613d87d3ff51d2330c4c5973665eff03a19c08722be75311</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/ksystemlog-24.08.0.tar.xz">ksystemlog-24.08.0</a></td>
   <td align="right">1811kB</td>
   <td><tt>d04b95d15a2a5ef55bb50cbf6b3a585ef82b16491fc3c9b0da8231dc178c6c52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kteatime-24.08.0.tar.xz">kteatime-24.08.0</a></td>
   <td align="right">300kB</td>
   <td><tt>11851a49fb53ab7431d7de22180a6907289f2cd1a72f68d51561193954a75753</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/ktimer-24.08.0.tar.xz">ktimer-24.08.0</a></td>
   <td align="right">441kB</td>
   <td><tt>a02c5794ec8e481785aa8b05c0ebcdf54f09ace218e37e171512cf952a3c16a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/ktnef-24.08.0.tar.xz">ktnef-24.08.0</a></td>
   <td align="right">305kB</td>
   <td><tt>25eae8e9c28de7a85410ab15d75874ec32b5102ad566e71961941142e3d52c66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/ktorrent-24.08.0.tar.xz">ktorrent-24.08.0</a></td>
   <td align="right">2132kB</td>
   <td><tt>c0ae4689aa93f500592088058de7cb16eb9956e4812ad3d3a3ba7eba908e2741</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/ktouch-24.08.0.tar.xz">ktouch-24.08.0</a></td>
   <td align="right">4671kB</td>
   <td><tt>6c1b19055fe06b99ac76852db535846d4d482a417a8dbc33bf488dc172bffc14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/ktrip-24.08.0.tar.xz">ktrip-24.08.0</a></td>
   <td align="right">1014kB</td>
   <td><tt>61ae3597f67fec71ad798f87ecec0da90a66d68df32b76c551f786c87f204091</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/ktuberling-24.08.0.tar.xz">ktuberling-24.08.0</a></td>
   <td align="right">69879kB</td>
   <td><tt>dd4df1598a1944a773c3760a81c4a7265d1ef1403cc77cdbb9ee6865c98c5790</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kturtle-24.08.0.tar.xz">kturtle-24.08.0</a></td>
   <td align="right">2045kB</td>
   <td><tt>5b67a10b26cd8ecfab243eb0cd254857da8b5e26e00988277cef3dcaf2716934</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kubrick-24.08.0.tar.xz">kubrick-24.08.0</a></td>
   <td align="right">357kB</td>
   <td><tt>ce69252fc8d84954d25a151965ce908333c590861d0a570f2a412e4ddfc89a9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kwalletmanager-24.08.0.tar.xz">kwalletmanager-24.08.0</a></td>
   <td align="right">1017kB</td>
   <td><tt>08f900f9ef770b2bc9208781e5dcdb7e0c43f0c7a47a1515b1888f24756542f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kwave-24.08.0.tar.xz">kwave-24.08.0</a></td>
   <td align="right">6397kB</td>
   <td><tt>c3aae51974a9143bb37c509cc123c00424cc51735dc12b015430f0839bf844da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kweather-24.08.0.tar.xz">kweather-24.08.0</a></td>
   <td align="right">406kB</td>
   <td><tt>6ab41961bf57bfeb42b679167f3a42e258af264b919654e70f780b814d1e0354</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kweathercore-24.08.0.tar.xz">kweathercore-24.08.0</a></td>
   <td align="right">73kB</td>
   <td><tt>ada469144f2cd75f70c6d474b965e3d5cf49c80c4f3270fad36399889126b1b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/kwordquiz-24.08.0.tar.xz">kwordquiz-24.08.0</a></td>
   <td align="right">3683kB</td>
   <td><tt>79b471f98e1cb836dbc4c95e5b7dc295739fda3f7360873e8405458324c0e41c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/libgravatar-24.08.0.tar.xz">libgravatar-24.08.0</a></td>
   <td align="right">37kB</td>
   <td><tt>318e551d0eba013d6baa1d525e06ddb54d1ee6b9a85405f8dfcb057fd65b1dfb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/libkcddb-24.08.0.tar.xz">libkcddb-24.08.0</a></td>
   <td align="right">438kB</td>
   <td><tt>62cb6882bff4ce274bc5e98715decc8b8964f9809178219ef49cbd37d091941a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/libkcompactdisc-24.08.0.tar.xz">libkcompactdisc-24.08.0</a></td>
   <td align="right">97kB</td>
   <td><tt>40be0e5edb051aa7de8ca7ce20e75de935f34e37b6a5251b7ad1f3088a466b3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/libkdcraw-24.08.0.tar.xz">libkdcraw-24.08.0</a></td>
   <td align="right">36kB</td>
   <td><tt>b64b7f094296be4e689f4846c8d3ac82f93dc30cbd92ccbf62b65596e88625c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/libkdegames-24.08.0.tar.xz">libkdegames-24.08.0</a></td>
   <td align="right">5830kB</td>
   <td><tt>22f9d42076d896a8e0a55b8e00b37974180e9f6b8606b011038db8ee6f4357c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/libkdepim-24.08.0.tar.xz">libkdepim-24.08.0</a></td>
   <td align="right">276kB</td>
   <td><tt>36b77351b98bdd12cb2a703eb3f4c87b56a47f81bce12418c4d67412465ecbca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/libkeduvocdocument-24.08.0.tar.xz">libkeduvocdocument-24.08.0</a></td>
   <td align="right">222kB</td>
   <td><tt>9ff94d77c66ef574bc51f5384fa3370a854524a809bab10a292ccd57d723a8c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/libkexiv2-24.08.0.tar.xz">libkexiv2-24.08.0</a></td>
   <td align="right">59kB</td>
   <td><tt>615faa6949ac9069832d381c56a7c8311a420c5d42c4d674bada62605a557291</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/libkgapi-24.08.0.tar.xz">libkgapi-24.08.0</a></td>
   <td align="right">331kB</td>
   <td><tt>1db9e5e2b1bb550b36780f9ab5e571e15b75d397c5555e0e18fd8e3541ddc915</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/libkleo-24.08.0.tar.xz">libkleo-24.08.0</a></td>
   <td align="right">591kB</td>
   <td><tt>951657eb625686f13305fdae1d52e0c5e5a108e1f3ba03d1080239a0c0f531f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/libkmahjongg-24.08.0.tar.xz">libkmahjongg-24.08.0</a></td>
   <td align="right">1654kB</td>
   <td><tt>8e0d3d8888c3832837f98ffe7548b3fd6f9617c022fe3c50cf6f40de17e9f77b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/libkomparediff2-24.08.0.tar.xz">libkomparediff2-24.08.0</a></td>
   <td align="right">183kB</td>
   <td><tt>a9f57e9f11b34dd9dc148fb85c2fc904f6c8a87dd92e676c387d5b850cd0cc66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/libksane-24.08.0.tar.xz">libksane-24.08.0</a></td>
   <td align="right">149kB</td>
   <td><tt>4bfbc56289b18fc020809d5cb89185094783370728e02b7cdd2a3832b609bb3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/libksieve-24.08.0.tar.xz">libksieve-24.08.0</a></td>
   <td align="right">587kB</td>
   <td><tt>8f42129e6bd6a83b751f043d0c7b316dceb7d7c01fd595a98d7a6eb658f9e814</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/libktorrent-24.08.0.tar.xz">libktorrent-24.08.0</a></td>
   <td align="right">591kB</td>
   <td><tt>7f5e8662642f85d6d76afe00e1c37df030fc2a4f33d945d6c6e27d2401afb3d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/lokalize-24.08.0.tar.xz">lokalize-24.08.0</a></td>
   <td align="right">1992kB</td>
   <td><tt>b7874452fc149d32efda8dc04719f7578b3f2273eea8227b2bf25754650a9ca6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/lskat-24.08.0.tar.xz">lskat-24.08.0</a></td>
   <td align="right">1194kB</td>
   <td><tt>3af56f5b9ebd69bfc7fd6412bea9b28836d37f92b8412ca024dc432aced5df97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/mailcommon-24.08.0.tar.xz">mailcommon-24.08.0</a></td>
   <td align="right">761kB</td>
   <td><tt>e947745ad72c4b4b9cf34742fcecf84d45669785d0df081f5c4e59de00900e11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/mailimporter-24.08.0.tar.xz">mailimporter-24.08.0</a></td>
   <td align="right">581kB</td>
   <td><tt>65fc7189d1698284a037635fc7fb6c645737c4bc61a8b236d67a687eb6bb62d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/marble-24.08.0.tar.xz">marble-24.08.0</a></td>
   <td align="right">51220kB</td>
   <td><tt>bc02c709c15518fa1c6a7dafef2c507e14571d4f722486faca1bf8e18be931a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/markdownpart-24.08.0.tar.xz">markdownpart-24.08.0</a></td>
   <td align="right">33kB</td>
   <td><tt>2f83b6e4913709953144b873a01a79b6e81ca75e33beae43fc3788bbd80ffd17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/massif-visualizer-24.08.0.tar.xz">massif-visualizer-24.08.0</a></td>
   <td align="right">272kB</td>
   <td><tt>dd605c473f6d2c77cd2a6ebaab5645a7784ef7e414a65bff357836e8a26df590</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/mbox-importer-24.08.0.tar.xz">mbox-importer-24.08.0</a></td>
   <td align="right">31kB</td>
   <td><tt>559a112c0dbc73ca152d1d237a4149dea98ce97ecb75566fbdef36a7e1b21c36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/merkuro-24.08.0.tar.xz">merkuro-24.08.0</a></td>
   <td align="right">747kB</td>
   <td><tt>726070bef38453eadd3dee68b68fb294dc215107b98c1a8edb461bad1c9fbdae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/messagelib-24.08.0.tar.xz">messagelib-24.08.0</a></td>
   <td align="right">7346kB</td>
   <td><tt>c44c0c4ec3056b47930846f44eb685479db06281c79eead78edf57903b8ab8a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/mimetreeparser-24.08.0.tar.xz">mimetreeparser-24.08.0</a></td>
   <td align="right">629kB</td>
   <td><tt>bc0401a7d4dbae4b18cead7d788b54bd6b27b460850b299b01f07b47069db05e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/minuet-24.08.0.tar.xz">minuet-24.08.0</a></td>
   <td align="right">27037kB</td>
   <td><tt>7e9a3d8ef23ba49aca162e178d3ac64be8317cf3280d2deff9a7554b97764573</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/neochat-24.08.0.tar.xz">neochat-24.08.0</a></td>
   <td align="right">1000kB</td>
   <td><tt>6b72d1864cc0d90704318c8970b9dc6a2dacd541fc5b95c46dcebb5c6a61705f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/okular-24.08.0.tar.xz">okular-24.08.0</a></td>
   <td align="right">7839kB</td>
   <td><tt>3de16e26294b3863270df1760403a676ba3d7204738bebce8a05562d932c318b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/palapeli-24.08.0.tar.xz">palapeli-24.08.0</a></td>
   <td align="right">2069kB</td>
   <td><tt>572844398954453b5f8dc5316bb0f4b9ce160aa04a08db37397a9ab3acaf8069</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/parley-24.08.0.tar.xz">parley-24.08.0</a></td>
   <td align="right">8223kB</td>
   <td><tt>c5cdb2a7c5385f4d77196696a5698e8e0592ac38765f49e750af7a46e2ce07b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/partitionmanager-24.08.0.tar.xz">partitionmanager-24.08.0</a></td>
   <td align="right">2267kB</td>
   <td><tt>f5f8dc4f1aaa164b97c41086ca3807ef93a68d9522f90dd167e6c7e7adec64ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/picmi-24.08.0.tar.xz">picmi-24.08.0</a></td>
   <td align="right">1480kB</td>
   <td><tt>783bba33c7c2f859311ed33b886f50bb24580ea80de591c58a319ed75777a284</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/pimcommon-24.08.0.tar.xz">pimcommon-24.08.0</a></td>
   <td align="right">342kB</td>
   <td><tt>ce8e85e45bfc4ef88f0c081719fcf8fad4743c9bc0b109a13a9c73662e1bd77d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/pim-data-exporter-24.08.0.tar.xz">pim-data-exporter-24.08.0</a></td>
   <td align="right">415kB</td>
   <td><tt>3125a2192289418c08e72552604c7104f2e8f30f4c3d7c181a1749a88b4cb1f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/pim-sieve-editor-24.08.0.tar.xz">pim-sieve-editor-24.08.0</a></td>
   <td align="right">458kB</td>
   <td><tt>e74e8568142cf7fbeb92633013d2f39f475371bf6325b3fae9a26f5794631ab9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/plasmatube-24.08.0.tar.xz">plasmatube-24.08.0</a></td>
   <td align="right">198kB</td>
   <td><tt>b3c0f4dc212468d13d2fad733bc267b76ee69d84537f83ef71b457ec79ae0cb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/poxml-24.08.0.tar.xz">poxml-24.08.0</a></td>
   <td align="right">43kB</td>
   <td><tt>c0725f0acda50ab54bafc499fd1bb5ef4d382ef6cf68bbe425111463c0db516a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/qmlkonsole-24.08.0.tar.xz">qmlkonsole-24.08.0</a></td>
   <td align="right">192kB</td>
   <td><tt>848806e00704d44946b319a449eba26c1a790aa288139fb7e79a3048090a740c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/rocs-24.08.0.tar.xz">rocs-24.08.0</a></td>
   <td align="right">1529kB</td>
   <td><tt>7461c791d5ab3b29581abba2869ae0fb9ec0ca877c7af272b2a0170860dad18c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/signon-kwallet-extension-24.08.0.tar.xz">signon-kwallet-extension-24.08.0</a></td>
   <td align="right">11kB</td>
   <td><tt>d5cc47bb9cfe45c857ace62c0d80529ee80e005b96369579cf3604f122ce12c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/skanlite-24.08.0.tar.xz">skanlite-24.08.0</a></td>
   <td align="right">2327kB</td>
   <td><tt>343beb192dc01846b7593a530fe468505dd8392a8e2778c92746984805b5ffbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/skanpage-24.08.0.tar.xz">skanpage-24.08.0</a></td>
   <td align="right">1302kB</td>
   <td><tt>685ed0f9fd36d44a70b8c754f96ebaa7c5f867a5c1f1104f75f5d7a12eba9484</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/skladnik-24.08.0.tar.xz">skladnik-24.08.0</a></td>
   <td align="right">399kB</td>
   <td><tt>5354376c90273b2c40432c5d02515996a9cc319119794fdb8acc63a01c46d988</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/spectacle-24.08.0.tar.xz">spectacle-24.08.0</a></td>
   <td align="right">1510kB</td>
   <td><tt>8d37135c6edd62f09f5e6004bef947331466cf20fded79450500dc802dd1ad8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/step-24.08.0.tar.xz">step-24.08.0</a></td>
   <td align="right">964kB</td>
   <td><tt>6c8f3d96ae317a507ed2b45441c510e7ef76a9b9beaebcf7e568829289136e51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/svgpart-24.08.0.tar.xz">svgpart-24.08.0</a></td>
   <td align="right">29kB</td>
   <td><tt>216beed4959c22615bd71e4d4ad33501da4d2bc30daa051794b9deeafa7e1334</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/sweeper-24.08.0.tar.xz">sweeper-24.08.0</a></td>
   <td align="right">373kB</td>
   <td><tt>176b7d71b344545edabf8e46c9f701c4a01701f316e0778ded4f19816f364cdf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/telly-skout-24.08.0.tar.xz">telly-skout-24.08.0</a></td>
   <td align="right">102kB</td>
   <td><tt>a1276ca19dbe3760dd5efae9ed5f83fcb1d5ec06d4f3887cd500c179a2b167f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/tokodon-24.08.0.tar.xz">tokodon-24.08.0</a></td>
   <td align="right">554kB</td>
   <td><tt>24d42173986608608277f17f5687cc25f6c93968c0923945cca27da13ae4078a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/umbrello-24.08.0.tar.xz">umbrello-24.08.0</a></td>
   <td align="right">5484kB</td>
   <td><tt>7909d3cccc87db2395421ac522a34631081b061b0b1da1ef008115dbab0112ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/yakuake-24.08.0.tar.xz">yakuake-24.08.0</a></td>
   <td align="right">380kB</td>
   <td><tt>f6156119a4be8b7d07a7ac9bf2427e4d6d8620225a7e0b21c5ddef71e462ce6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.0/src/zanshin-24.08.0.tar.xz">zanshin-24.08.0</a></td>
   <td align="right">366kB</td>
   <td><tt>9a2dc6609d4e933a63eaeb08af40752cc14a8ec6579a7fe0dd5d988118c948b7</tt></td>
</tr>

</table>
