<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/attica-6.10.0.tar.xz">attica-6.10.0</a></td>
   <td align="right">66kB</td>
   <td><tt>f36c2eacbcad8c08036e9f7525144bec9f7c5d86f1150d49f9db9e3dc14abf45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/baloo-6.10.0.tar.xz">baloo-6.10.0</a></td>
   <td align="right">318kB</td>
   <td><tt>548019740d9462d10ad862fcf801bef166365315daf73209ad86cb76e012af2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/bluez-qt-6.10.0.tar.xz">bluez-qt-6.10.0</a></td>
   <td align="right">113kB</td>
   <td><tt>62a47b7705625d6eba82d264f5fa42820fffafc8def65c9cd00640b4737c822d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/breeze-icons-6.10.0.tar.xz">breeze-icons-6.10.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>fe458eb957be655ea801d41f1dd3c4cfa829e7ba6040b38d69d09f6b69c31e2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/extra-cmake-modules-6.10.0.tar.xz">extra-cmake-modules-6.10.0</a></td>
   <td align="right">316kB</td>
   <td><tt>506989a0d400913403e669c1912238db053cd6b38dff74b17e2e6f879c79cca0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/frameworkintegration-6.10.0.tar.xz">frameworkintegration-6.10.0</a></td>
   <td align="right">54kB</td>
   <td><tt>61fc35cffb0863517fa2072b96476bf109499d58fb3264062b40be528dd3af82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/kapidox-6.10.0.tar.xz">kapidox-6.10.0</a></td>
   <td align="right">193kB</td>
   <td><tt>e2871c4687adf8a368db231de7525d37510ea275463bd27128986c69912974c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/karchive-6.10.0.tar.xz">karchive-6.10.0</a></td>
   <td align="right">1012kB</td>
   <td><tt>ac5160c19dd110bbdadeba9c5355cbfd3b5c1bd00ce3dbdc4a085776698c8a48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/kauth-6.10.0.tar.xz">kauth-6.10.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>be25601b91b129a48e497231be2513a1eb8c9707a82d38395561656d1df10988</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/kbookmarks-6.10.0.tar.xz">kbookmarks-6.10.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>891eb12d2b9a2c3cdfbfdba250599c544d7186ce8d1ef07f4fc4cce1d57a945b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/kcalendarcore-6.10.0.tar.xz">kcalendarcore-6.10.0</a></td>
   <td align="right">303kB</td>
   <td><tt>988f2fd648341967384d95d3d12bb936a8a7737a931e72c2b5616050bc30336a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/kcmutils-6.10.0.tar.xz">kcmutils-6.10.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>a4bcb4b04ee4a03a9a9fdbb96c2736021d94b22c22f8d5d5d157b9ce982eb001</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/kcodecs-6.10.0.tar.xz">kcodecs-6.10.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>96183ffbb18502cd67b6fc78ac286e233ef46ee0d713ee1df2cb4c138f2141a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/kcolorscheme-6.10.0.tar.xz">kcolorscheme-6.10.0</a></td>
   <td align="right">45kB</td>
   <td><tt>f070ed593f1d4010af5a56e247532be96a2c7ca9befc922b084c16215af79bdf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/kcompletion-6.10.0.tar.xz">kcompletion-6.10.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>b56e925bbe881c89fce9c80441e1565ad1adfcb16f1cac5bb08a281fb9334bc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/kconfig-6.10.0.tar.xz">kconfig-6.10.0</a></td>
   <td align="right">341kB</td>
   <td><tt>00ef2c75be68bacf8c30e3bf072358b8f6d2bc78d462e7b14c086808c69d8d7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/kconfigwidgets-6.10.0.tar.xz">kconfigwidgets-6.10.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>5cb17bcafaae3eefc144fb1014f14cb9998c9e13b714808d940ab20d9c0fb51c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/kcontacts-6.10.0.tar.xz">kcontacts-6.10.0</a></td>
   <td align="right">204kB</td>
   <td><tt>b622ad011925584fb82cf0bfea713fddd4101c47ab6c23efb5fb878f1a69b46d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/kcoreaddons-6.10.0.tar.xz">kcoreaddons-6.10.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>89bf28747915e987cab21c77397b0971caffa1258b6f575543d73d4188184a72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/kcrash-6.10.0.tar.xz">kcrash-6.10.0</a></td>
   <td align="right">27kB</td>
   <td><tt>c0329da6ac28aaac824db235e578999e4a487e5cedbb3cec3a6a39e9ee9b5db4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/kdav-6.10.0.tar.xz">kdav-6.10.0</a></td>
   <td align="right">67kB</td>
   <td><tt>2e8eff3e8c35001688807a97e490a6e7851a7a1a1fdf72df5559863b8612903d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/kdbusaddons-6.10.0.tar.xz">kdbusaddons-6.10.0</a></td>
   <td align="right">44kB</td>
   <td><tt>e88bfaa6a10f80d9f7b2116281c4485213984caed555ac68557bb53ee88bbb32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/kdeclarative-6.10.0.tar.xz">kdeclarative-6.10.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>db9eb2b5e615b484949e41ac5a05c5cea136e231d15a3de203902cedcdfd9e73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/kded-6.10.0.tar.xz">kded-6.10.0</a></td>
   <td align="right">34kB</td>
   <td><tt>5601d9dbfdc9507feaf17f4774bb7d12d38c7e19724ae8b987639a16ff0e6a8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/kdesu-6.10.0.tar.xz">kdesu-6.10.0</a></td>
   <td align="right">55kB</td>
   <td><tt>5ab993abca85cb5798bb437b96a2b3d88079df86128ee30d66ee11f60e51c22e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/kdnssd-6.10.0.tar.xz">kdnssd-6.10.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>fd8f08501fc40b9a29fc370f7f7871083f2489922e1bd50bc5b0fd78017daa27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/kdoctools-6.10.0.tar.xz">kdoctools-6.10.0</a></td>
   <td align="right">447kB</td>
   <td><tt>03fa98e1213235ee4d4839d16e3edb22ee56849b9ab03d140639cf9facb6b038</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/kfilemetadata-6.10.0.tar.xz">kfilemetadata-6.10.0</a></td>
   <td align="right">584kB</td>
   <td><tt>100b48770a16b8e12dd3ec4075bdd3b8333e7962d2fc7492cd077dcc03e3c355</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/kglobalaccel-6.10.0.tar.xz">kglobalaccel-6.10.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>05b0ec6a44d43ce7a9cfd6cd70c8d07dca5c5f6216968af8128fe9a5ed9b1928</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/kguiaddons-6.10.0.tar.xz">kguiaddons-6.10.0</a></td>
   <td align="right">84kB</td>
   <td><tt>b3be04077313e559c5a8f66491d5d286cefe947aaf7c8937544ce85af4853ffa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/kholidays-6.10.0.tar.xz">kholidays-6.10.0</a></td>
   <td align="right">250kB</td>
   <td><tt>788efeca7a5524c5a668623aba830ad6d875aa2711f0cac5f2329add2ab4458d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/ki18n-6.10.0.tar.xz">ki18n-6.10.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>2f59f093f8ce340ab46c556b35c2ead2b96dfeb2ff0024c553ac8c53e9b8a11a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/kiconthemes-6.10.0.tar.xz">kiconthemes-6.10.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>15807e785183c048810af0141b3a560085f2bbf00f3a21fe962eb37a673f9314</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/kidletime-6.10.0.tar.xz">kidletime-6.10.0</a></td>
   <td align="right">30kB</td>
   <td><tt>fa25fe866aefd4536022142822ce9856f7a85ffa95070980527de9b31eab0988</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/kimageformats-6.10.0.tar.xz">kimageformats-6.10.0</a></td>
   <td align="right">24MB</td>
   <td><tt>e16f32ee64393199a283942f6fe7b6f77b3746034f90e4244689c28faab1f9d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/kio-6.10.0.tar.xz">kio-6.10.0</a></td>
   <td align="right">3.2MB</td>
   <td><tt>7eb454438f149e7ed513c3bbd526b67e3e3ecfe32ae7c986168baa59600b699c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/kirigami-6.10.0.tar.xz">kirigami-6.10.0</a></td>
   <td align="right">545kB</td>
   <td><tt>2e245ffd79eca1fcfb591f43ff39e7c2f5160e868a36e20ebbe2d66c550da8d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/kitemmodels-6.10.0.tar.xz">kitemmodels-6.10.0</a></td>
   <td align="right">387kB</td>
   <td><tt>83859a4aee67bf5e768a93325422264cb9e847013f281c5cb02e631c3b3b0007</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/kitemviews-6.10.0.tar.xz">kitemviews-6.10.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>8b15ff5719ea65e9d0c722eea6412e312d05d9da49c872caf9d97d329d56d76d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/kjobwidgets-6.10.0.tar.xz">kjobwidgets-6.10.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>ee3ff5d21c8484959d0af1976a7c1bab01f4368414df2ebb2cb8540b3c28691b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/knewstuff-6.10.0.tar.xz">knewstuff-6.10.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>81cb5ea54fe03d27f80a481dde18a767ca1a95267403bd87483cfdd81981e4e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/knotifications-6.10.0.tar.xz">knotifications-6.10.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>36b7881d50400f37b4f3aeaa4c0a6a943e5783d35441e2b0cacdc6dad06af2a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/knotifyconfig-6.10.0.tar.xz">knotifyconfig-6.10.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>f0ba447a58edefd8302905ed88030291990e273eded97d11d2b7de986a35d05c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/kpackage-6.10.0.tar.xz">kpackage-6.10.0</a></td>
   <td align="right">178kB</td>
   <td><tt>0f49c1cdb49e01c6dce372abbc9814ccbd74b7f2b130c7310674345e3498cec1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/kparts-6.10.0.tar.xz">kparts-6.10.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>a3c460f635f32e254093da3d46d53fe9a4a7cca5987149047981b477c50a060c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/kpeople-6.10.0.tar.xz">kpeople-6.10.0</a></td>
   <td align="right">65kB</td>
   <td><tt>a991c539d7964dfd947889fd3f9b2e1259d8c0d3dc693c14c1bdfcd8d29971f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/kplotting-6.10.0.tar.xz">kplotting-6.10.0</a></td>
   <td align="right">32kB</td>
   <td><tt>6941d93019bfb1e9977cfa592ba110fbf9c3b7f247af40f336e040071f922d3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/kpty-6.10.0.tar.xz">kpty-6.10.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>1fccd92d67eac0bfeadac3badbb409dcd720ed224284ed056166ab5787f2d647</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/kquickcharts-6.10.0.tar.xz">kquickcharts-6.10.0</a></td>
   <td align="right">107kB</td>
   <td><tt>a2036f7b1ee7abb9c278c7822fc18723d661d856da9dbf9f006ceebed731598f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/krunner-6.10.0.tar.xz">krunner-6.10.0</a></td>
   <td align="right">128kB</td>
   <td><tt>459c97ad510c3565d4547b51c4dbaf19b3834c0afdf77bf6ee4dff346957d62b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/kservice-6.10.0.tar.xz">kservice-6.10.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>04ad53850967e38822f8af1652b118992cd1bfa382e2718278bb6de03a0bdbb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/kstatusnotifieritem-6.10.0.tar.xz">kstatusnotifieritem-6.10.0</a></td>
   <td align="right">47kB</td>
   <td><tt>4fa19843a737b43674d19b9ad31466c6aa64bbe27709073c3e2c33aa03bfac22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/ksvg-6.10.0.tar.xz">ksvg-6.10.0</a></td>
   <td align="right">81kB</td>
   <td><tt>173e151f6ef8360149f835b1fc7494e97a33f9056d294ab213c9ef9e6d84d0c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/ktexteditor-6.10.0.tar.xz">ktexteditor-6.10.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>3f80c4feb8737cef83775e2c79f86060c16af89ee8b48e2d72f94bdc1a180b9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/ktexttemplate-6.10.0.tar.xz">ktexttemplate-6.10.0</a></td>
   <td align="right">829kB</td>
   <td><tt>3e39190adb90d4f71672e33d117b35fe84a8f35aaa90a678846401044894aa3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/ktextwidgets-6.10.0.tar.xz">ktextwidgets-6.10.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>4db67be70da68e3fd2c2a9d3359dcfb9b11eb82a34f2b88d3e6ed08e358ab073</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/kunitconversion-6.10.0.tar.xz">kunitconversion-6.10.0</a></td>
   <td align="right">944kB</td>
   <td><tt>23c59904d48049deb8f1de8aa56e7b0c10a9fc82808f36a32f4f446433869dbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/kuserfeedback-6.10.0.tar.xz">kuserfeedback-6.10.0</a></td>
   <td align="right">259kB</td>
   <td><tt>5dd17da7169a9a90c82757536c667d748d1909985b979bb1e2e51da84a07372f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/kwallet-6.10.0.tar.xz">kwallet-6.10.0</a></td>
   <td align="right">349kB</td>
   <td><tt>e1993911a15b4318d64abce0acdc1b5fc5a6116dc7595eff86dde03b35e6bd50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/kwidgetsaddons-6.10.0.tar.xz">kwidgetsaddons-6.10.0</a></td>
   <td align="right">4.0MB</td>
   <td><tt>e0fa4943d7874287fd2c2c254f1ef21edf7e573b6b19354df5fdef8cbbefe74e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/kwindowsystem-6.10.0.tar.xz">kwindowsystem-6.10.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>046b7aa2247811323e48b629884b824a6ffec475df2316256e7ff0b9df677944</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/kxmlgui-6.10.0.tar.xz">kxmlgui-6.10.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>561fa755638da16cae204b670f62fab70156b9121b9313612238ca9c9e8e1292</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/modemmanager-qt-6.10.0.tar.xz">modemmanager-qt-6.10.0</a></td>
   <td align="right">119kB</td>
   <td><tt>640a3f96487f3e875e83ef815f14e1077042ae9ee83276b3d7f7fc3875e2ee15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/networkmanager-qt-6.10.0.tar.xz">networkmanager-qt-6.10.0</a></td>
   <td align="right">193kB</td>
   <td><tt>2f437ab6b534fb7dcde6ed40ebdc2c1680532f742b8e326ea68a47ae58173191</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/prison-6.10.0.tar.xz">prison-6.10.0</a></td>
   <td align="right">55kB</td>
   <td><tt>b4a0f395eca50c818f8e0656b04664783453b1a9a709a4a45a8ae2e273602c7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/purpose-6.10.0.tar.xz">purpose-6.10.0</a></td>
   <td align="right">184kB</td>
   <td><tt>19de7943df772c1b5ce2771099a17536e97e7ff6c5a5411c1346c25b24e51a57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/qqc2-desktop-style-6.10.0.tar.xz">qqc2-desktop-style-6.10.0</a></td>
   <td align="right">86kB</td>
   <td><tt>9e19540f8fa7d0e6a1ffb1c353a24e8c7f8e2b37a8594393af7a4d5d9e0e8e51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/solid-6.10.0.tar.xz">solid-6.10.0</a></td>
   <td align="right">300kB</td>
   <td><tt>24892e81a3047f753519dbd384b47635c5a2543d8ee0bf3c299b0fcfef318e8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/sonnet-6.10.0.tar.xz">sonnet-6.10.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>99c0bca563594fd115f31f18ad3264770046290c6695ded0d2aa3c2eddb0d4b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/syndication-6.10.0.tar.xz">syndication-6.10.0</a></td>
   <td align="right">556kB</td>
   <td><tt>a743c525e806e5f07b5b7b27cfe34882100b212b4d846e661c61a27ae1396330</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/syntax-highlighting-6.10.0.tar.xz">syntax-highlighting-6.10.0</a></td>
   <td align="right">3.4MB</td>
   <td><tt>b5b5e343ff27bc5c95be0051d5606dfcb3295f835830e7fc6dac8d2863891699</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.10/threadweaver-6.10.0.tar.xz">threadweaver-6.10.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>136a636a33ccfa9a375a2e1ee503760a0a910002b972be0eef20352eb106bb84</tt></td>
</tr>

</table>
