<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/accessibility-inspector-24.12.2.tar.xz">accessibility-inspector-24.12.2</a></td>
   <td align="right">84kB</td>
   <td><tt>1a35ec032eb41399f2ebf19558a3facb86add8b1fe2d71552bd0fb9281ee13e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/akonadi-24.12.2.tar.xz">akonadi-24.12.2</a></td>
   <td align="right">1671kB</td>
   <td><tt>aabd0645fee7bd868f520f8c129aa179eadabd11ea6da1ecf926d9486d74c692</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/akonadi-calendar-24.12.2.tar.xz">akonadi-calendar-24.12.2</a></td>
   <td align="right">512kB</td>
   <td><tt>58f99e27882ba6b05a712c3af9b80359af5232f74588c43a05e40d96dddf40dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/akonadi-calendar-tools-24.12.2.tar.xz">akonadi-calendar-tools-24.12.2</a></td>
   <td align="right">263kB</td>
   <td><tt>0c93ae99ef5db5bf10bfdfa1e684039e43e4f09daa3ba25333b55d8f60be5d94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/akonadiconsole-24.12.2.tar.xz">akonadiconsole-24.12.2</a></td>
   <td align="right">306kB</td>
   <td><tt>f64f83c1ed06c9d6e662c7b9f8294a38f44744cc2018033d8d78703e74b7c693</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/akonadi-contacts-24.12.2.tar.xz">akonadi-contacts-24.12.2</a></td>
   <td align="right">425kB</td>
   <td><tt>4a3d83a7c2fe61394540ebb6891bbf564931e34353c9da30cabd80286188a602</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/akonadi-import-wizard-24.12.2.tar.xz">akonadi-import-wizard-24.12.2</a></td>
   <td align="right">480kB</td>
   <td><tt>732c5e062285d67c3920555bb96d448309b7c4880c8a47f8270638ede796c4e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/akonadi-mime-24.12.2.tar.xz">akonadi-mime-24.12.2</a></td>
   <td align="right">171kB</td>
   <td><tt>3b5de0bd1baef1bec151d8440e0716b4e4017c40b7fcde91997f884d5635b73b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/akonadi-search-24.12.2.tar.xz">akonadi-search-24.12.2</a></td>
   <td align="right">110kB</td>
   <td><tt>4db76af8f3ea51c15c45044ca8a9f56cc35660cd32eb2fbdbed88f4b1c19c038</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/akregator-24.12.2.tar.xz">akregator-24.12.2</a></td>
   <td align="right">2084kB</td>
   <td><tt>5357c253a230aed20e3101cc9272d38ffa4193a81e307cea51b70a9c86b90e18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/alligator-24.12.2.tar.xz">alligator-24.12.2</a></td>
   <td align="right">192kB</td>
   <td><tt>5793431dcb275539ae9f6b360afbec4d918e98651cad67c70f9b5c6044aaa8e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/analitza-24.12.2.tar.xz">analitza-24.12.2</a></td>
   <td align="right">351kB</td>
   <td><tt>66045536eeaf24cad7119cb4bc5922ea081c9f36b63602adf8ca03a748f4c438</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/angelfish-24.12.2.tar.xz">angelfish-24.12.2</a></td>
   <td align="right">268kB</td>
   <td><tt>267f3464b5b30025f122fe0559ae9635d15ded9ce64e156aa123e5f601933885</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/arianna-24.12.2.tar.xz">arianna-24.12.2</a></td>
   <td align="right">801kB</td>
   <td><tt>b4ac51b7a30deb8f9a40b49c3d0b2902c0a01710bedb22518006c9c83b56eb01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/ark-24.12.2.tar.xz">ark-24.12.2</a></td>
   <td align="right">2940kB</td>
   <td><tt>adad7aaf594fa55e5f79a60dd1a305174adbd8b6d582761aeb08bcbd4b413ca0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/artikulate-24.12.2.tar.xz">artikulate-24.12.2</a></td>
   <td align="right">1029kB</td>
   <td><tt>6cb91e6298842013788f12fc124b0d122208f06143236170cd2e786637d43bf4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/audex-24.12.2.tar.xz">audex-24.12.2</a></td>
   <td align="right">707kB</td>
   <td><tt>c1a7bf4b4c70e70216a7b3c2f7fb37df7749447f0fda084225f956dd35c192c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/audiocd-kio-24.12.2.tar.xz">audiocd-kio-24.12.2</a></td>
   <td align="right">566kB</td>
   <td><tt>862ab2e71b13e6cb166730bbbfc583402a296d315ed22c68fe28270a8742d95a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/audiotube-24.12.2.tar.xz">audiotube-24.12.2</a></td>
   <td align="right">153kB</td>
   <td><tt>ce7df872dab4605ce86cd39d39f261d6c0e29716b79151cebf919cd959c0b46d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/baloo-widgets-24.12.2.tar.xz">baloo-widgets-24.12.2</a></td>
   <td align="right">271kB</td>
   <td><tt>f688e4669ab30981236a2383db5787a9887f72c87536afb3105e37f588c6b5b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/blinken-24.12.2.tar.xz">blinken-24.12.2</a></td>
   <td align="right">2613kB</td>
   <td><tt>d4e643b59d35f1dc7c8fd098e0ffe466a5669db129bc5f65fe1f660909797fa8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/bomber-24.12.2.tar.xz">bomber-24.12.2</a></td>
   <td align="right">819kB</td>
   <td><tt>1a769872d27f54fba5edb901b9c2ce44194f6e35dd892142be607c434c961cb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/bovo-24.12.2.tar.xz">bovo-24.12.2</a></td>
   <td align="right">215kB</td>
   <td><tt>71c6f0b3aae753da7d254cfa5d011730d0e57ca191a1b1d6451be9286c1048d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/calendarsupport-24.12.2.tar.xz">calendarsupport-24.12.2</a></td>
   <td align="right">974kB</td>
   <td><tt>11b9df68749ad88fb2720265c4044c31a0ee224e8bea54ac32a2a9ac434ccb60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/calindori-24.12.2.tar.xz">calindori-24.12.2</a></td>
   <td align="right">387kB</td>
   <td><tt>24fdc1e6bca4ec14b708a9f9952067a921d77e7d4dcb55fdcc7070b8a50d99ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/calligra-24.12.2.tar.xz">calligra-24.12.2</a></td>
   <td align="right">56551kB</td>
   <td><tt>5d18d6b79bf2ede170c95df1ac907f337ede24227c48220e9e51dd34fa129ac3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/cantor-24.12.2.tar.xz">cantor-24.12.2</a></td>
   <td align="right">10620kB</td>
   <td><tt>3ed32518fa56e4ee3712afe5baba433eb44cadb4aad21284537cb773d3238cd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/cervisia-24.12.2.tar.xz">cervisia-24.12.2</a></td>
   <td align="right">1767kB</td>
   <td><tt>a40490be34c7c99fb32f1130be4c4666cd4082545916335903b75349f2c2b195</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/colord-kde-24.12.2.tar.xz">colord-kde-24.12.2</a></td>
   <td align="right">115kB</td>
   <td><tt>37a35ce1e9b25bd5afc92de67c9a3753b26cd294603dacb93930d129079a8388</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/dolphin-24.12.2.tar.xz">dolphin-24.12.2</a></td>
   <td align="right">5561kB</td>
   <td><tt>31c5b0ee1eba9021ac3cdb0ac9f080a09e84b4c7007aa68b304e13f99487b377</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/dolphin-plugins-24.12.2.tar.xz">dolphin-plugins-24.12.2</a></td>
   <td align="right">311kB</td>
   <td><tt>e15893fb9cf6686b680be3e16ad0db7bb6daa6505811068262c1232d9a4cebe4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/dragon-24.12.2.tar.xz">dragon-24.12.2</a></td>
   <td align="right">1787kB</td>
   <td><tt>37d480899c5fa719dbc95f95d6c1a4c5750c52f63641829b3021f469d6f79733</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/elisa-24.12.2.tar.xz">elisa-24.12.2</a></td>
   <td align="right">1879kB</td>
   <td><tt>8aabb7905b875df43e452b839acad930ac94789616747e84dd9881449241ecb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/eventviews-24.12.2.tar.xz">eventviews-24.12.2</a></td>
   <td align="right">489kB</td>
   <td><tt>04c5aa625fb45f0115739512e9e95b676678ad8a9457041137ff45bdf74f1a42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/falkon-24.12.2.tar.xz">falkon-24.12.2</a></td>
   <td align="right">2592kB</td>
   <td><tt>0f98756da3b92b75daeb2133ee00c8e252f92f8b0112fbf072266eb691605be8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/ffmpegthumbs-24.12.2.tar.xz">ffmpegthumbs-24.12.2</a></td>
   <td align="right">32kB</td>
   <td><tt>ebf7bfc2edcc11a223fb5bc8af2c58b1667a02af018ef6f898d383e11cba940e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/filelight-24.12.2.tar.xz">filelight-24.12.2</a></td>
   <td align="right">670kB</td>
   <td><tt>8a20a83e4a61b71c4858547208d216872c71140d807028c5b0eebf23a4a12080</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/francis-24.12.2.tar.xz">francis-24.12.2</a></td>
   <td align="right">111kB</td>
   <td><tt>5bb19e4a65a7cf3cf7e9ccd0fc4f2993882c927b961a8262ece7aaa47ef9662b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/ghostwriter-24.12.2.tar.xz">ghostwriter-24.12.2</a></td>
   <td align="right">2646kB</td>
   <td><tt>322fd8f086df778b140cc9ad0e4c9a561dd105a89b4c7d14a02930d5805a95ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/granatier-24.12.2.tar.xz">granatier-24.12.2</a></td>
   <td align="right">1966kB</td>
   <td><tt>c0b6045b5ccda200ed11ae4c5abfa8d7e233f15e4dcfbd06600d5e1b22ffbd79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/grantlee-editor-24.12.2.tar.xz">grantlee-editor-24.12.2</a></td>
   <td align="right">121kB</td>
   <td><tt>4401d00db5c0aecdacadd1fb6ca426bddccd1cf4330894915f69de3e72b34334</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/grantleetheme-24.12.2.tar.xz">grantleetheme-24.12.2</a></td>
   <td align="right">62kB</td>
   <td><tt>595c2330f8ca23cf000e13a7ae6ae7c7ce2a5ed410ceefd506d017eea1dcd563</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/gwenview-24.12.2.tar.xz">gwenview-24.12.2</a></td>
   <td align="right">6372kB</td>
   <td><tt>4f4ee734b3c61a1a34e287d56b6c9021d9ab49d71e1357a7164369f509958463</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/incidenceeditor-24.12.2.tar.xz">incidenceeditor-24.12.2</a></td>
   <td align="right">574kB</td>
   <td><tt>81d6271e3d0bae353a8a88a064b4f84cf7a88c5956ecd8f6b1400e32fff6a681</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/isoimagewriter-24.12.2.tar.xz">isoimagewriter-24.12.2</a></td>
   <td align="right">456kB</td>
   <td><tt>7a45dbb40235787c9fc07a794d7644a1da9c0f06aed5404a40edd7583a29cfb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/itinerary-24.12.2.tar.xz">itinerary-24.12.2</a></td>
   <td align="right">752kB</td>
   <td><tt>a139ffa1fdeb9b2b471b67fca89f7dda1d7c2343fd70df4220e64f45622fc7cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/juk-24.12.2.tar.xz">juk-24.12.2</a></td>
   <td align="right">1866kB</td>
   <td><tt>7e40f5014e1356d4d90b2858bc37cb0dd44902f236a7464f59c0962be6d863e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/k3b-24.12.2.tar.xz">k3b-24.12.2</a></td>
   <td align="right">10446kB</td>
   <td><tt>2db44e1fba22697ba25b832c05745e649ff6f5711e3999efc75e42f06c62157f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kaccounts-integration-24.12.2.tar.xz">kaccounts-integration-24.12.2</a></td>
   <td align="right">91kB</td>
   <td><tt>d456f36884580e5447fed3f23f85e7d3fae0264cf85093e1eaa621eab65881d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kaccounts-providers-24.12.2.tar.xz">kaccounts-providers-24.12.2</a></td>
   <td align="right">67kB</td>
   <td><tt>94fe1dc859fbd75233db6248c166b6d5a40e054456ae4d865f97adb8b42b5504</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kaddressbook-24.12.2.tar.xz">kaddressbook-24.12.2</a></td>
   <td align="right">3350kB</td>
   <td><tt>05797b47b19f013519fba01768bb356fd669127f78a877a84501961629c76521</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kajongg-24.12.2.tar.xz">kajongg-24.12.2</a></td>
   <td align="right">4516kB</td>
   <td><tt>680e549df2f2180f8a6b5e135b1bc0de43746e4d2a4d12b7857f6c8b6ecc3243</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kalarm-24.12.2.tar.xz">kalarm-24.12.2</a></td>
   <td align="right">2577kB</td>
   <td><tt>b0da9756471091a43f7f521eb3532cbd4980a6c87c9bc7181d942e966b74346a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kalgebra-24.12.2.tar.xz">kalgebra-24.12.2</a></td>
   <td align="right">926kB</td>
   <td><tt>151fb9b9ad33f7c874f54900c2f6db6c95168b8cb65a649531c8b20607b736bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kalk-24.12.2.tar.xz">kalk-24.12.2</a></td>
   <td align="right">75kB</td>
   <td><tt>6c97aa9e80579953cd7f09e8305b5e1960152239b200a181af529e5ac4e1465e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kalm-24.12.2.tar.xz">kalm-24.12.2</a></td>
   <td align="right">91kB</td>
   <td><tt>39d63840dab718a7aaa2cb0a39033cf9a61a874900e610ad3acb2bfbfc36cfeb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kalzium-24.12.2.tar.xz">kalzium-24.12.2</a></td>
   <td align="right">22150kB</td>
   <td><tt>b1ea17c88fc7e3a4e3b03255b14e1f51c72f11d23950a6239a842805a7ead888</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kamera-24.12.2.tar.xz">kamera-24.12.2</a></td>
   <td align="right">128kB</td>
   <td><tt>3dd9f87d3a465714464879aac945428e890b9d145ceb11eca095026b5d9bdfaa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kamoso-24.12.2.tar.xz">kamoso-24.12.2</a></td>
   <td align="right">229kB</td>
   <td><tt>5da230439f99ac5bf9bca283f21a1807aefd567c409abb1c951243a801e1c57a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kanagram-24.12.2.tar.xz">kanagram-24.12.2</a></td>
   <td align="right">7601kB</td>
   <td><tt>f0b17d5d8944959c43ae54cdb2b61a57409973caa5b1f0f52c146a92e491330d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kapman-24.12.2.tar.xz">kapman-24.12.2</a></td>
   <td align="right">2097kB</td>
   <td><tt>71e8ef222548ed528f0bcc557a47fed1dbabaf7cb2f9491977e79164ea1a2e43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kapptemplate-24.12.2.tar.xz">kapptemplate-24.12.2</a></td>
   <td align="right">465kB</td>
   <td><tt>1fa26802218e029c656ffac6983efde14f02b62431e3f2016a2663e7c58d9c0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kasts-24.12.2.tar.xz">kasts-24.12.2</a></td>
   <td align="right">611kB</td>
   <td><tt>afe8bbcf907caea592448a7c93bdc461d5fb28c3c247a552fbbbb69d7afa3ac9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kate-24.12.2.tar.xz">kate-24.12.2</a></td>
   <td align="right">8111kB</td>
   <td><tt>5d2608993594f7ba478e9a17072a9324134ecf86f594f39df482a3c11a97f88e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/katomic-24.12.2.tar.xz">katomic-24.12.2</a></td>
   <td align="right">1413kB</td>
   <td><tt>b5beb827a02d0d5174857784460ecae0c5eb69f04051a6c6afd6e68beb5a808c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kbackup-24.12.2.tar.xz">kbackup-24.12.2</a></td>
   <td align="right">379kB</td>
   <td><tt>c5fd669a61fd0627e0ca69a1163fd2229f1d174a6f89f39295389746e95d1ab0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kblackbox-24.12.2.tar.xz">kblackbox-24.12.2</a></td>
   <td align="right">538kB</td>
   <td><tt>e4e75337188bc4d619f6182b1eecccdf18644776293b1c104890105558a8d8d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kblocks-24.12.2.tar.xz">kblocks-24.12.2</a></td>
   <td align="right">2053kB</td>
   <td><tt>f3c185424294b4103e2f3db249cee1c22ff8429bc63fba3c065824a7ce6baf17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kbounce-24.12.2.tar.xz">kbounce-24.12.2</a></td>
   <td align="right">3244kB</td>
   <td><tt>ef41af9251d2dcf3a8f35d485dec6c6c78369f595a379b6a523282a5e04c5c41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kbreakout-24.12.2.tar.xz">kbreakout-24.12.2</a></td>
   <td align="right">2495kB</td>
   <td><tt>0714aac9b599320bbd87182f8c10c4bd2053036c75192e00ece9882283d89f5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kbruch-24.12.2.tar.xz">kbruch-24.12.2</a></td>
   <td align="right">5038kB</td>
   <td><tt>8b2f4f7fa3a79cd55bd6975089d1796f891460557c104d2bf1dc1529c8409bbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kcachegrind-24.12.2.tar.xz">kcachegrind-24.12.2</a></td>
   <td align="right">955kB</td>
   <td><tt>3dc95c6ddcb7c59bfa8963c0f839ea343bce74b9209cb379273eda85cdbd8548</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kcalc-24.12.2.tar.xz">kcalc-24.12.2</a></td>
   <td align="right">460kB</td>
   <td><tt>0e7834c2726ed1fb09e1efbf5d17165204a66895897fb1207341075708b677fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kcalutils-24.12.2.tar.xz">kcalutils-24.12.2</a></td>
   <td align="right">347kB</td>
   <td><tt>ce2a6856a23b6247304a95146efe2f00a0d04c98a0877e210a18256172388af6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kcharselect-24.12.2.tar.xz">kcharselect-24.12.2</a></td>
   <td align="right">465kB</td>
   <td><tt>799beb4cf93e70158be09fb45006c153c0e67f97eefffec0d152b317f6d5e9f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kclock-24.12.2.tar.xz">kclock-24.12.2</a></td>
   <td align="right">647kB</td>
   <td><tt>0aecf0d33d97e3fe6f69588dbe2f2a771237072418a00c8a83c1755fc47a2a45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kcolorchooser-24.12.2.tar.xz">kcolorchooser-24.12.2</a></td>
   <td align="right">35kB</td>
   <td><tt>d0bfec7f4f8a4172ae3348307bd720380e5bf7550497f50a6fa94539ca55d4e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kcron-24.12.2.tar.xz">kcron-24.12.2</a></td>
   <td align="right">875kB</td>
   <td><tt>04c9491111695f081cc1524017d510a52f52280e1fed17127474fca74dcd4492</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kdebugsettings-24.12.2.tar.xz">kdebugsettings-24.12.2</a></td>
   <td align="right">114kB</td>
   <td><tt>1f7d13d761ccda8e60177eef3f8f14e2a1742e84c280b2a40db00f285a6c199a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kdeconnect-kde-24.12.2.tar.xz">kdeconnect-kde-24.12.2</a></td>
   <td align="right">698kB</td>
   <td><tt>ae29d9168af26eb0b5284ffe14025e971574e3f891c36ffb27431fa2d3ef47ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kde-dev-scripts-24.12.2.tar.xz">kde-dev-scripts-24.12.2</a></td>
   <td align="right">367kB</td>
   <td><tt>b942e441f632ccb6c52e680f74d95bbc7b94221cb9d17e68bcc8ed49027469d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kde-dev-utils-24.12.2.tar.xz">kde-dev-utils-24.12.2</a></td>
   <td align="right">73kB</td>
   <td><tt>dc75570b94b52886672d1b9edac109d80cd76232e014cd5b6f76b7151e634908</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kdeedu-data-24.12.2.tar.xz">kdeedu-data-24.12.2</a></td>
   <td align="right">330kB</td>
   <td><tt>da93ca06118581137a42233a4df9606a15bf88ac1a8f8c761fb543cf588a2307</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kdegraphics-mobipocket-24.12.2.tar.xz">kdegraphics-mobipocket-24.12.2</a></td>
   <td align="right">12kB</td>
   <td><tt>ea9dfbc69baf5ebe8c482344bdccc980abccbcb397971db21d178922255abb46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kdegraphics-thumbnailers-24.12.2.tar.xz">kdegraphics-thumbnailers-24.12.2</a></td>
   <td align="right">48kB</td>
   <td><tt>295b1c64ba993b5da48d0b18ce204d47f3b650a325d257efe4de8ec8bc855099</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kde-inotify-survey-24.12.2.tar.xz">kde-inotify-survey-24.12.2</a></td>
   <td align="right">230kB</td>
   <td><tt>3933e5363ef2e5f118d8858905d5c5357d7a62f89e1f1549b9e8d8b5f52c8d7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kdenetwork-filesharing-24.12.2.tar.xz">kdenetwork-filesharing-24.12.2</a></td>
   <td align="right">489kB</td>
   <td><tt>c7a437597e7c5380fbd7e85c28b2d0be2f00700a606225e5af86229ac99fddc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kdenlive-24.12.2.tar.xz">kdenlive-24.12.2</a></td>
   <td align="right">12836kB</td>
   <td><tt>37be18de3583fda33fb246f312f5a4e25c1e64ae6d746668244252e2033ef489</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kdepim-addons-24.12.2.tar.xz">kdepim-addons-24.12.2</a></td>
   <td align="right">2557kB</td>
   <td><tt>e218af13ea76ec06fb72483af0f2ed3986595a23dbeef76f15e9d00cb5e338f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kdepim-runtime-24.12.2.tar.xz">kdepim-runtime-24.12.2</a></td>
   <td align="right">1628kB</td>
   <td><tt>f10659b042e4adcfe4aca206f3ee7d5d6f203ef60c48d294a119b79ed3075e07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kdesdk-kio-24.12.2.tar.xz">kdesdk-kio-24.12.2</a></td>
   <td align="right">40kB</td>
   <td><tt>15f3205de0596b3521cbcf58d8122bd0908a7a034f9d1540a2883a0244bbb8fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kdesdk-thumbnailers-24.12.2.tar.xz">kdesdk-thumbnailers-24.12.2</a></td>
   <td align="right">26kB</td>
   <td><tt>bdcb3b82bfc66c77e2b18640dab113aa7719920e5f0824367cea5592babe2f3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kdevelop-24.12.2.tar.xz">kdevelop-24.12.2</a></td>
   <td align="right">8626kB</td>
   <td><tt>f79696b337a9e1cd00f750da07114eb6db928c1ab39d9104e0c9e80674f5dcec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kdev-php-24.12.2.tar.xz">kdev-php-24.12.2</a></td>
   <td align="right">1068kB</td>
   <td><tt>2dc355d887ff234ea6cd525c92f73152194176ed684eff2cd07ff82b48057dba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kdev-python-24.12.2.tar.xz">kdev-python-24.12.2</a></td>
   <td align="right">1077kB</td>
   <td><tt>14a0a66dae8148e3d80b8f7cef94f3fed2871f8df47a403cba71c5d0828f13a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kdf-24.12.2.tar.xz">kdf-24.12.2</a></td>
   <td align="right">468kB</td>
   <td><tt>215c46dfa9425e4aaeff883d20c5d16e9dbae95a059fa7de7a032214b95a240d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kdialog-24.12.2.tar.xz">kdialog-24.12.2</a></td>
   <td align="right">143kB</td>
   <td><tt>17c0f872e7160ba71281535276b0dd4e19880897be70f56a45cf377c3fa2997a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kdiamond-24.12.2.tar.xz">kdiamond-24.12.2</a></td>
   <td align="right">4563kB</td>
   <td><tt>b8be0dcaa687c71492e6e71c0ad8809991d7fdeca2be2d35de2adae1fe913fe6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/keditbookmarks-24.12.2.tar.xz">keditbookmarks-24.12.2</a></td>
   <td align="right">254kB</td>
   <td><tt>c788c8ac24decd0a6370e6085fbe4b2b5020667dbdaccdd1d77237b38cf9af3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/keysmith-24.12.2.tar.xz">keysmith-24.12.2</a></td>
   <td align="right">169kB</td>
   <td><tt>96f59a7e530fa23f204df3bfb716d18cef838efa14c9ed57e5a5ec6af77a0662</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kfind-24.12.2.tar.xz">kfind-24.12.2</a></td>
   <td align="right">322kB</td>
   <td><tt>f5cf704e35a372ff41a845593b346cf43de7ca8f437d5bb192ec96335208840f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kfourinline-24.12.2.tar.xz">kfourinline-24.12.2</a></td>
   <td align="right">728kB</td>
   <td><tt>dc5f638aed444ce7bd31a1052409aeb88e682367b3ac81905e0fab712a713c82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kgeography-24.12.2.tar.xz">kgeography-24.12.2</a></td>
   <td align="right">12134kB</td>
   <td><tt>f820c74abc32d57ceb0f4e301d66513116146958761cfa2ef47a1ff18048a3e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kget-24.12.2.tar.xz">kget-24.12.2</a></td>
   <td align="right">4798kB</td>
   <td><tt>ff760a379b65e9fdf8d43be0af5d3b621b0c0444ac80f0c88f575e0e73bd2d43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kgoldrunner-24.12.2.tar.xz">kgoldrunner-24.12.2</a></td>
   <td align="right">4244kB</td>
   <td><tt>1b19883ec586aa9126d8216c3b67c336cea2aebd653726e495b2150f94e5c1cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kgpg-24.12.2.tar.xz">kgpg-24.12.2</a></td>
   <td align="right">2960kB</td>
   <td><tt>48d48f19c16c9587b9b90df2e801d07a5847b2b93c9e6395adece25acc2c61c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kgraphviewer-24.12.2.tar.xz">kgraphviewer-24.12.2</a></td>
   <td align="right">1553kB</td>
   <td><tt>64b2fb71fe13ef5adb9e055b854ac4b1699a3aef6726576dc69b73d9fee1ff0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/khangman-24.12.2.tar.xz">khangman-24.12.2</a></td>
   <td align="right">6857kB</td>
   <td><tt>aabfe8a27d57940a89d73063e4b0c904fc9ad14943eaf67664be42f58aa1aab2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/khealthcertificate-24.12.2.tar.xz">khealthcertificate-24.12.2</a></td>
   <td align="right">502kB</td>
   <td><tt>707bc132039a4b0493d688f23541b3f7ecaebe69d621bf424231b0655e7c2dc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/khelpcenter-24.12.2.tar.xz">khelpcenter-24.12.2</a></td>
   <td align="right">4139kB</td>
   <td><tt>f2ddd7c99e7e384f3f846277cc9f196a6882b87c0e3d0c080eed3262d4fc59e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kidentitymanagement-24.12.2.tar.xz">kidentitymanagement-24.12.2</a></td>
   <td align="right">192kB</td>
   <td><tt>b6a10f2c650db4ba99c5a2a786fb4213701250126aa853dc909c81cf37c0f21e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kig-24.12.2.tar.xz">kig-24.12.2</a></td>
   <td align="right">3177kB</td>
   <td><tt>d8083daf48adc4c816ad44cf34db51e08b41afe8dee5be0425f7e667b45aa596</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kigo-24.12.2.tar.xz">kigo-24.12.2</a></td>
   <td align="right">4721kB</td>
   <td><tt>408ed4733e03475d83e8e0dba26cef83f491af9006cb85310b8e9f0923f744c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/killbots-24.12.2.tar.xz">killbots-24.12.2</a></td>
   <td align="right">1146kB</td>
   <td><tt>adde146f4ddccceb0beae78076c083d30e867aedf63b4cc5c11dc725babf588c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kimagemapeditor-24.12.2.tar.xz">kimagemapeditor-24.12.2</a></td>
   <td align="right">1049kB</td>
   <td><tt>9b075584b1b29cd224f697e8644d0cd9f874edd364d8f2ec9470d5890461d06f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kimap-24.12.2.tar.xz">kimap-24.12.2</a></td>
   <td align="right">129kB</td>
   <td><tt>94dd4072a01a6f804f37482bd1c1f78b2ba2059af9ec4f5b968ffba9f7e871b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kio-admin-24.12.2.tar.xz">kio-admin-24.12.2</a></td>
   <td align="right">38kB</td>
   <td><tt>4205e9cac9b11d9787fe081916e1a1dafb99fb8b3d68020e3e4dc57cab615b05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kio-extras-24.12.2.tar.xz">kio-extras-24.12.2</a></td>
   <td align="right">3432kB</td>
   <td><tt>72c307263422a59bb1a4976a07b78b7cfeeb7fff866ecb6d16e8e3d1d61c58f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kio-gdrive-24.12.2.tar.xz">kio-gdrive-24.12.2</a></td>
   <td align="right">78kB</td>
   <td><tt>08382064580f3d7890d25f94d2f0171fd2afc5940914c2ab591a0de6d06f3b62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kio-zeroconf-24.12.2.tar.xz">kio-zeroconf-24.12.2</a></td>
   <td align="right">43kB</td>
   <td><tt>d0ff7766c5bae08067c92bd3c853e8f37ab049d82d87af433d56efb90542bc0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kirigami-gallery-24.12.2.tar.xz">kirigami-gallery-24.12.2</a></td>
   <td align="right">362kB</td>
   <td><tt>0af8a3a00771db1c57c7c0f10d46dfd0085e3d2b4889e26983660559f644cb8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kiriki-24.12.2.tar.xz">kiriki-24.12.2</a></td>
   <td align="right">365kB</td>
   <td><tt>96f4cd358c1b144ebd101289fafd8c883d30ef58d13fd7658b14503485604655</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kiten-24.12.2.tar.xz">kiten-24.12.2</a></td>
   <td align="right">11049kB</td>
   <td><tt>826d32085503bb7f384ebd590ba4158acbc99a271befeae818e713dde1c13528</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kitinerary-24.12.2.tar.xz">kitinerary-24.12.2</a></td>
   <td align="right">1959kB</td>
   <td><tt>1bdc0b18677634ead42e2fb589cd83b3dba0522730d2668b07a3847906cc41bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kjournald-24.12.2.tar.xz">kjournald-24.12.2</a></td>
   <td align="right">509kB</td>
   <td><tt>9d2dc29f2aec3ffccd20f33484932d6437d689efc109fdc56cefde88b69dc4d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kjumpingcube-24.12.2.tar.xz">kjumpingcube-24.12.2</a></td>
   <td align="right">339kB</td>
   <td><tt>9a31b4ed463974f6c409eb1f242691e436c8a04b9c0f12704808a83df914b412</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kldap-24.12.2.tar.xz">kldap-24.12.2</a></td>
   <td align="right">186kB</td>
   <td><tt>6d5e43c3755034a8d2e82566078c3de5d04fd3d15bf396909c58fbe1d0bc05da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kleopatra-24.12.2.tar.xz">kleopatra-24.12.2</a></td>
   <td align="right">2732kB</td>
   <td><tt>b349ac7de343767917e9cedcc2a6cc323b787154420d8ab7b95eee450b212251</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/klettres-24.12.2.tar.xz">klettres-24.12.2</a></td>
   <td align="right">46081kB</td>
   <td><tt>7f32e4d2abff576a3de0a288bb1adf5b61232921b02b87e26d846286d4eaeb28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/klickety-24.12.2.tar.xz">klickety-24.12.2</a></td>
   <td align="right">1354kB</td>
   <td><tt>f60f1fb8ba96963961a4e8f71807239922c9d95221ef47e1ecbca19fe5ba64d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/klines-24.12.2.tar.xz">klines-24.12.2</a></td>
   <td align="right">1634kB</td>
   <td><tt>780c584e6b4ae51afe993d1d4af5402d90ea47f60dad06f26c732586e1bd1573</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kmag-24.12.2.tar.xz">kmag-24.12.2</a></td>
   <td align="right">661kB</td>
   <td><tt>9dfbd20c7074f6c66ba93dc1a121a0e77ec4d5c7881637f57799512412ea4861</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kmahjongg-24.12.2.tar.xz">kmahjongg-24.12.2</a></td>
   <td align="right">3634kB</td>
   <td><tt>8aa5b45416b983329f795992571148380ebe19a63a74c05d7c9ff1fa6ad58708</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kmail-24.12.2.tar.xz">kmail-24.12.2</a></td>
   <td align="right">7590kB</td>
   <td><tt>316949439902dde5130c7e2ef96d2bee458123ed33d160b478d57f9a6a864271</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kmail-account-wizard-24.12.2.tar.xz">kmail-account-wizard-24.12.2</a></td>
   <td align="right">163kB</td>
   <td><tt>d622ddec2d40445d88b900cde00de55211491968f109125a31c498b411c18b12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kmailtransport-24.12.2.tar.xz">kmailtransport-24.12.2</a></td>
   <td align="right">184kB</td>
   <td><tt>eabb448f08efca3209c11dabb808fad493ef9283ed179212d0e06fc8b3c0eabc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kmbox-24.12.2.tar.xz">kmbox-24.12.2</a></td>
   <td align="right">28kB</td>
   <td><tt>da33971bf49ffcaecef8a2f57dd6c434301b2d31ed1b761ef5e21258a39214e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kmime-24.12.2.tar.xz">kmime-24.12.2</a></td>
   <td align="right">161kB</td>
   <td><tt>1b584682bcee9fa4e2c6b404babd9ef3d9116467ed0cc005f15d9e965f303ee3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kmines-24.12.2.tar.xz">kmines-24.12.2</a></td>
   <td align="right">926kB</td>
   <td><tt>81da7bbaf543e9ce0ea9a08e8b0ab856163e43f2e725946786eddf74cf9f5796</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kmix-24.12.2.tar.xz">kmix-24.12.2</a></td>
   <td align="right">1140kB</td>
   <td><tt>c835eebfdd1c4915a675d8d8e4df37256e483ad525ee874e90a3b599338c7a5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kmousetool-24.12.2.tar.xz">kmousetool-24.12.2</a></td>
   <td align="right">131kB</td>
   <td><tt>57f6a2c917fdf2002ce484960e9b402f14abe5049735bddd352d7fe6f77d5353</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kmouth-24.12.2.tar.xz">kmouth-24.12.2</a></td>
   <td align="right">1894kB</td>
   <td><tt>82fd0d18cf44b23feda8b64066a539bf333d6f24bd138a29453526bccb27055d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kmplot-24.12.2.tar.xz">kmplot-24.12.2</a></td>
   <td align="right">2951kB</td>
   <td><tt>a479d7a2a973f37039ae3a60026a6cab83505a3f62f6fbab29f7b3ac8e6f824d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/knavalbattle-24.12.2.tar.xz">knavalbattle-24.12.2</a></td>
   <td align="right">1023kB</td>
   <td><tt>ca4f0cc7a4177474dfbb051f4ff8b47811c90eeb6f9de7d73d9a37194128c1b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/knetwalk-24.12.2.tar.xz">knetwalk-24.12.2</a></td>
   <td align="right">987kB</td>
   <td><tt>41c36e89b075973f410a92bcfc3b150795ac06aaf6aaf41f3843137384964bd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/knights-24.12.2.tar.xz">knights-24.12.2</a></td>
   <td align="right">2432kB</td>
   <td><tt>7367de9db968218e2ae0b3d0ff5c4b8b5dc6c46b7e32692f0ba28ea3e36d7a71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/koko-24.12.2.tar.xz">koko-24.12.2</a></td>
   <td align="right">8337kB</td>
   <td><tt>52069aab7037eedd5ff15f966ac899f00cb4bdd19ae3557d1e69a260692d9489</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kolf-24.12.2.tar.xz">kolf-24.12.2</a></td>
   <td align="right">1054kB</td>
   <td><tt>ccab1270b4437390fc532c3a7c0364e71b8402e40d96de2acad90f4d8dea8712</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kollision-24.12.2.tar.xz">kollision-24.12.2</a></td>
   <td align="right">304kB</td>
   <td><tt>8fc749feeee7fea147293ae32918b3f6f73fa558823a4cd2ef743b2971182eb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kolourpaint-24.12.2.tar.xz">kolourpaint-24.12.2</a></td>
   <td align="right">5185kB</td>
   <td><tt>32e5d4e260df37fa6d7fb296fb56f27820ffb61fabbc193e85b69662aee42bbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kompare-24.12.2.tar.xz">kompare-24.12.2</a></td>
   <td align="right">937kB</td>
   <td><tt>f106b1ac6d2871c32977ace560d70ef99ee1ea802b047b0f630f00f577b20551</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kongress-24.12.2.tar.xz">kongress-24.12.2</a></td>
   <td align="right">154kB</td>
   <td><tt>41bd22c08df00531be3690fdf27ed9e0688c5dbbceb2c6505f9737d577648c76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/konqueror-24.12.2.tar.xz">konqueror-24.12.2</a></td>
   <td align="right">9527kB</td>
   <td><tt>4795067a926f99fe9e6afb480d10ffef85cfe79e20d4068983ca2099a9cbe4d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/konquest-24.12.2.tar.xz">konquest-24.12.2</a></td>
   <td align="right">841kB</td>
   <td><tt>ee8db311c3da07a53a1ab1fed91b0d7cd3965ac98aef4f3c25512fa04f77e7d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/konsole-24.12.2.tar.xz">konsole-24.12.2</a></td>
   <td align="right">1776kB</td>
   <td><tt>24586c3c83f9ca2b814c5319e4aeef885adccfccd94e9c45dba5c1574bb77262</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kontact-24.12.2.tar.xz">kontact-24.12.2</a></td>
   <td align="right">848kB</td>
   <td><tt>1d735adb8a26344e7fac60c6164a2b89b2f52018952a8b528ba50ab5a42fcf10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kontactinterface-24.12.2.tar.xz">kontactinterface-24.12.2</a></td>
   <td align="right">39kB</td>
   <td><tt>43e247341fdb2ee0b52a51edaafb5ad3147d523245a1a9d7b085da2830d63d4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kontrast-24.12.2.tar.xz">kontrast-24.12.2</a></td>
   <td align="right">212kB</td>
   <td><tt>34cbf152bad6ff5f7ea21aa184f379523305f02f67470d58a418ec64e17e71f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/konversation-24.12.2.tar.xz">konversation-24.12.2</a></td>
   <td align="right">4312kB</td>
   <td><tt>b3a9396a42289ee7c69bd690c0a8961545eb1dc578a5d397b320be0725244a18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kopeninghours-24.12.2.tar.xz">kopeninghours-24.12.2</a></td>
   <td align="right">73kB</td>
   <td><tt>6c80ff799ef3077ca329e0f57a6329731df2814540c1ea4004834d021d2022a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/korganizer-24.12.2.tar.xz">korganizer-24.12.2</a></td>
   <td align="right">2876kB</td>
   <td><tt>9058d430da6f383aeb315eb9b7bc8c1ee2f50b8581173a9358f90a7b9b0a63d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kosmindoormap-24.12.2.tar.xz">kosmindoormap-24.12.2</a></td>
   <td align="right">678kB</td>
   <td><tt>8a43b2e157727e44ac4a3ee81ac7049a8a6a425bcb4257b3e824f615cdc2fcee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kpat-24.12.2.tar.xz">kpat-24.12.2</a></td>
   <td align="right">3649kB</td>
   <td><tt>002be3b28379fd2c61d0858889ebded670f4ed18fa947756b6343eeea90b62bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kpimtextedit-24.12.2.tar.xz">kpimtextedit-24.12.2</a></td>
   <td align="right">172kB</td>
   <td><tt>9d5c5c6e5405581f6bb0932566fedf3b999ed24aa4ce7046d5d74273bf34cef8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kpkpass-24.12.2.tar.xz">kpkpass-24.12.2</a></td>
   <td align="right">28kB</td>
   <td><tt>56043984d03d14b7949afa4073cddd33c521136603a6a36a252c64ce87f4c7b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kpmcore-24.12.2.tar.xz">kpmcore-24.12.2</a></td>
   <td align="right">634kB</td>
   <td><tt>c79ab0d8e4bdba6894fb349e190b72aff0bd1e965e78b815f7b2dbd332eabc5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kpublictransport-24.12.2.tar.xz">kpublictransport-24.12.2</a></td>
   <td align="right">795kB</td>
   <td><tt>f2a2391ccfd6f52f421a7cd8f93ee9b243f357d27c223b29b6b3c389c6a6f926</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kqtquickcharts-24.12.2.tar.xz">kqtquickcharts-24.12.2</a></td>
   <td align="right">30kB</td>
   <td><tt>6cc7248c7b1294283fc6291b87544825c71ee5a34a691918d471e862c2bd3929</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/krdc-24.12.2.tar.xz">krdc-24.12.2</a></td>
   <td align="right">1522kB</td>
   <td><tt>ebb29028cd9450ab2e18246ea5b6f6c210c5db75095c4cc8d470c156cea401ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/krecorder-24.12.2.tar.xz">krecorder-24.12.2</a></td>
   <td align="right">164kB</td>
   <td><tt>f150d20d340aadc658042f9506f9a104765ce1e660620ddb5e45f7d13da9823b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kreversi-24.12.2.tar.xz">kreversi-24.12.2</a></td>
   <td align="right">1009kB</td>
   <td><tt>a3e38f96b0d34959053be1c09048a4ec3dfc88e0e74648c8a0e5f50666f692b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/krfb-24.12.2.tar.xz">krfb-24.12.2</a></td>
   <td align="right">1189kB</td>
   <td><tt>f729047b853c43f8d95790e672534cc6a7aa9fb624bd43cb123bfb4ea1ab51ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kross-interpreters-24.12.2.tar.xz">kross-interpreters-24.12.2</a></td>
   <td align="right">148kB</td>
   <td><tt>25a32640e55396faae3010437e3d754459b00d2662a4c6ffac5fcd94a9bad02b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kruler-24.12.2.tar.xz">kruler-24.12.2</a></td>
   <td align="right">279kB</td>
   <td><tt>a91dac9f3411178590031491eee2a12f141f5fc45199450e7cbf16b84e8a7f5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/ksanecore-24.12.2.tar.xz">ksanecore-24.12.2</a></td>
   <td align="right">53kB</td>
   <td><tt>10832182393f7a63d4eb223f1fafdada1c830b4cc88230e94c60e9337fbf84c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kshisen-24.12.2.tar.xz">kshisen-24.12.2</a></td>
   <td align="right">949kB</td>
   <td><tt>7d86347260540d2a88db5cfc1fb746b62f803b1ac23ce8b01b4e8607dec1a0cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/ksirk-24.12.2.tar.xz">ksirk-24.12.2</a></td>
   <td align="right">6548kB</td>
   <td><tt>1e6b2dd07f6f9122a885b0fb597e9cd1c763efef72e46b4eb244adfddc7f1ebb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/ksmtp-24.12.2.tar.xz">ksmtp-24.12.2</a></td>
   <td align="right">51kB</td>
   <td><tt>f64c3b8fb72d416a0b23ec021c0489480381b55f74032fda314120b52c204cd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/ksnakeduel-24.12.2.tar.xz">ksnakeduel-24.12.2</a></td>
   <td align="right">564kB</td>
   <td><tt>0dc16f5ae2586e3d0b27457a62c4e1f4019a48ab2cbb6e3dd152fdb2c5ad8522</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kspaceduel-24.12.2.tar.xz">kspaceduel-24.12.2</a></td>
   <td align="right">620kB</td>
   <td><tt>261baf159ed86fe93924d302c4d1ccee6a7405d9f1657e317bc3a22a307ccfb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/ksquares-24.12.2.tar.xz">ksquares-24.12.2</a></td>
   <td align="right">314kB</td>
   <td><tt>666cb220c3b59d60f003d803cf917d8155265ad226767e955622d66cf0741755</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/ksudoku-24.12.2.tar.xz">ksudoku-24.12.2</a></td>
   <td align="right">1688kB</td>
   <td><tt>deae867eac6a102cd9d1cd4cb493f39156884a7ef73b231314a5b1fcdf3a4bec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/ksystemlog-24.12.2.tar.xz">ksystemlog-24.12.2</a></td>
   <td align="right">1814kB</td>
   <td><tt>8a140c94545bda07eca9d83199b79958ba1c5dee240c1bd3902480c6bfd22d9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kteatime-24.12.2.tar.xz">kteatime-24.12.2</a></td>
   <td align="right">303kB</td>
   <td><tt>f6ccd92f31945d07d87042ed0324502b90170bf5ffc2bbe5db6d4d09f9929b46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/ktimer-24.12.2.tar.xz">ktimer-24.12.2</a></td>
   <td align="right">442kB</td>
   <td><tt>64daf88414e758c951261d6661d447355045d0997950112f9cfd074e93b0f83f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/ktnef-24.12.2.tar.xz">ktnef-24.12.2</a></td>
   <td align="right">306kB</td>
   <td><tt>8b8099039f0dc020651e0804ea486b11eef3c02f88496e097b649705cdc2e439</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/ktorrent-24.12.2.tar.xz">ktorrent-24.12.2</a></td>
   <td align="right">2150kB</td>
   <td><tt>dad64b0de4552aa08f138c29f8f83596ca1ac2c768580f18b52581f849d25f09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/ktouch-24.12.2.tar.xz">ktouch-24.12.2</a></td>
   <td align="right">4676kB</td>
   <td><tt>329c87b2d92b48cd25d75d5a89b74aabe19e13041a48d329339cbe80f8d6dfae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/ktrip-24.12.2.tar.xz">ktrip-24.12.2</a></td>
   <td align="right">1014kB</td>
   <td><tt>85165a8a5769609e119d5fc3ecddacab62f0ce07f0bf3f34275b5ae89b19952e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/ktuberling-24.12.2.tar.xz">ktuberling-24.12.2</a></td>
   <td align="right">69891kB</td>
   <td><tt>7281094051d9b9fff59493e83eb9d962ae7c811210f053ba5429ce0c536ce7f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kturtle-24.12.2.tar.xz">kturtle-24.12.2</a></td>
   <td align="right">2047kB</td>
   <td><tt>07874e02ca5aa5ab2bd7ebeeedbc877514029139ac4864b9901e4f6345eb2cfb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kubrick-24.12.2.tar.xz">kubrick-24.12.2</a></td>
   <td align="right">367kB</td>
   <td><tt>0b200f7f9ba7d44504555733229aa48988a6be81d84f6f0f9c8d1606afc18265</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kunifiedpush-24.12.2.tar.xz">kunifiedpush-24.12.2</a></td>
   <td align="right">53kB</td>
   <td><tt>d8aca0eb838b6020b965da0d8385efe850b285ac46616694c912ee99ad567ca3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kwalletmanager-24.12.2.tar.xz">kwalletmanager-24.12.2</a></td>
   <td align="right">1024kB</td>
   <td><tt>68fc74803068cfbb84ce98a5a25fe4989eef96b42418803ad2245bc51f060627</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kwave-24.12.2.tar.xz">kwave-24.12.2</a></td>
   <td align="right">6326kB</td>
   <td><tt>0c731a8ad8e0da37e72d9464b29f92719edb44f30c4255c5eab4ab8e95ff7916</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kweather-24.12.2.tar.xz">kweather-24.12.2</a></td>
   <td align="right">353kB</td>
   <td><tt>39537a3086b8513bf019c00b0e156438fa680d94ce35075022ce3bc6bc28d591</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kweathercore-24.12.2.tar.xz">kweathercore-24.12.2</a></td>
   <td align="right">74kB</td>
   <td><tt>e61d9a3b426b150d71ece164eee824eb65833a292d31b7204bb6a5f357bd82de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/kwordquiz-24.12.2.tar.xz">kwordquiz-24.12.2</a></td>
   <td align="right">3535kB</td>
   <td><tt>28426cef68912fb356d3c8e58c21686f6c56299ebabaacf6ffbe23de801cd6be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/libgravatar-24.12.2.tar.xz">libgravatar-24.12.2</a></td>
   <td align="right">37kB</td>
   <td><tt>dc05e735ac3c341223eb20d5ca00d3056c9460ed63603cdaf0f003517e585831</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/libkcddb-24.12.2.tar.xz">libkcddb-24.12.2</a></td>
   <td align="right">439kB</td>
   <td><tt>234544640d0d2f358354fe65d7571876f74399cf4fee263c76f7ced5cef29b31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/libkcompactdisc-24.12.2.tar.xz">libkcompactdisc-24.12.2</a></td>
   <td align="right">98kB</td>
   <td><tt>0232b2fc09c4e5a3b0db9f4e11893bf15b6dab0b795cf2e58d8eebc080a6ed98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/libkdcraw-24.12.2.tar.xz">libkdcraw-24.12.2</a></td>
   <td align="right">36kB</td>
   <td><tt>ef05c88669201701556eac097f51cf264a297d3b45db8c06465f2345ff5ceb96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/libkdegames-24.12.2.tar.xz">libkdegames-24.12.2</a></td>
   <td align="right">5833kB</td>
   <td><tt>b3129c537c44d8bbd3ad87c272044efa5c164cae1f56e8fd54a50e7a6c7773da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/libkdepim-24.12.2.tar.xz">libkdepim-24.12.2</a></td>
   <td align="right">276kB</td>
   <td><tt>fe2986ab9a4ccf2af56d6b91a27e391202c4629877b94caa0c8d8efe0a16af74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/libkeduvocdocument-24.12.2.tar.xz">libkeduvocdocument-24.12.2</a></td>
   <td align="right">223kB</td>
   <td><tt>5fefb0dc52041cd937fe9257a26468b740d31714691cfd6108eb66de7adecea8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/libkexiv2-24.12.2.tar.xz">libkexiv2-24.12.2</a></td>
   <td align="right">59kB</td>
   <td><tt>f797fd8f442f578de464ba2b861b9d6b2d02e2351a3ffb6aa5e54ce2947c2c8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/libkgapi-24.12.2.tar.xz">libkgapi-24.12.2</a></td>
   <td align="right">331kB</td>
   <td><tt>8244eb43498d06343ca00d0eace138fdd5c7cc67320ce705f7bbef125f1d188c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/libkleo-24.12.2.tar.xz">libkleo-24.12.2</a></td>
   <td align="right">628kB</td>
   <td><tt>d5a465dfe74a41d06daf40cec492605a7bd59efb5aaf87235053332783195192</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/libkmahjongg-24.12.2.tar.xz">libkmahjongg-24.12.2</a></td>
   <td align="right">1652kB</td>
   <td><tt>50fac49fc61e876f2edb70da2410464734888198cb6f7a62b302a2e915912630</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/libkomparediff2-24.12.2.tar.xz">libkomparediff2-24.12.2</a></td>
   <td align="right">184kB</td>
   <td><tt>c64c0228255416cc6cb0617f7f306a1403f02e3dcc613f8c3ba9383ef95937b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/libksane-24.12.2.tar.xz">libksane-24.12.2</a></td>
   <td align="right">151kB</td>
   <td><tt>cc38a3d399525f8a9f2b62271e460794a6376a858c2140bab73bb0405f85a062</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/libksieve-24.12.2.tar.xz">libksieve-24.12.2</a></td>
   <td align="right">589kB</td>
   <td><tt>f6238d4a2b0ae3bcb923fea4c502e5a6d7630658c5c5c8bcb0ad8244342da98b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/libktorrent-24.12.2.tar.xz">libktorrent-24.12.2</a></td>
   <td align="right">590kB</td>
   <td><tt>cbf0a356b7a0effa70dfafb73a17b1c3f83297cc96d64ca026be481d6e2fef35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/lokalize-24.12.2.tar.xz">lokalize-24.12.2</a></td>
   <td align="right">2011kB</td>
   <td><tt>8305d098746526d1974e7419f3162f30fb1797e0109971cbc98003365692f336</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/lskat-24.12.2.tar.xz">lskat-24.12.2</a></td>
   <td align="right">1198kB</td>
   <td><tt>c35e0281a502129e93b4b3cc3ef3063d3f9e2a36f2453539089d59529be0ab4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/mailcommon-24.12.2.tar.xz">mailcommon-24.12.2</a></td>
   <td align="right">774kB</td>
   <td><tt>c58a84b24204f2f768fc72e3cac3159de6be25b346a62cb58db0c1a26d2b4fbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/mailimporter-24.12.2.tar.xz">mailimporter-24.12.2</a></td>
   <td align="right">583kB</td>
   <td><tt>f76c400faeb8983f5c252ba1a4e0feb104a0d871fbf8b6d75a2620a2dcf4d241</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/marble-24.12.2.tar.xz">marble-24.12.2</a></td>
   <td align="right">52371kB</td>
   <td><tt>83d0a459dc87a7ac0e421c4b5e634f14b8d513a1f93fa8ff1bb43cdc87b8db9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/markdownpart-24.12.2.tar.xz">markdownpart-24.12.2</a></td>
   <td align="right">33kB</td>
   <td><tt>c109c11a682c92cae70332163c5d3bb8a6ac6163101926f4c31fc46fd76c71b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/massif-visualizer-24.12.2.tar.xz">massif-visualizer-24.12.2</a></td>
   <td align="right">272kB</td>
   <td><tt>7f9cc26f0f8f2ed15d5c323cac18861b4134bd5a71d9cc68ba02adfd6d9ac8fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/mbox-importer-24.12.2.tar.xz">mbox-importer-24.12.2</a></td>
   <td align="right">31kB</td>
   <td><tt>db752c8482bcff160583482fa2b7eff1163c312d294f81785110c6bd0826d226</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/merkuro-24.12.2.tar.xz">merkuro-24.12.2</a></td>
   <td align="right">774kB</td>
   <td><tt>12567c0ba36fb3e3ec929f01bdf8dd1c1de56b4b6f821202aa8f50947d7a87da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/messagelib-24.12.2.tar.xz">messagelib-24.12.2</a></td>
   <td align="right">7242kB</td>
   <td><tt>f41112745fee178a476b6bfbf6e027db027f5701b474a7a6b8ea61d4983495f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/mimetreeparser-24.12.2.tar.xz">mimetreeparser-24.12.2</a></td>
   <td align="right">631kB</td>
   <td><tt>edb23e2a4c39052a5ad40bb2e0759c45c41fe3644d8f3739dd06a42af20b0a4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/minuet-24.12.2.tar.xz">minuet-24.12.2</a></td>
   <td align="right">27044kB</td>
   <td><tt>2416cdf325f7231458d12eceb15d6c8177bfed3bd567b68310602d4bc4a39c74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/neochat-24.12.2.tar.xz">neochat-24.12.2</a></td>
   <td align="right">1038kB</td>
   <td><tt>cb26faff6274b099287e49d0d44312dfc56e2e07d975a62e299749066dc23476</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/okular-24.12.2.tar.xz">okular-24.12.2</a></td>
   <td align="right">7867kB</td>
   <td><tt>036cc27dea900a3eae27de9e2fb540d9568a1995d843669baa2a36c2e41556de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/palapeli-24.12.2.tar.xz">palapeli-24.12.2</a></td>
   <td align="right">2072kB</td>
   <td><tt>b9e81abbd8092ef676042e315d076ae441343ece5c197bc8a21a6611b515f929</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/parley-24.12.2.tar.xz">parley-24.12.2</a></td>
   <td align="right">8236kB</td>
   <td><tt>7d82aefae605ee6f4e610d86e5a31c78188a4bfa140756113ea3ed7746bff65d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/partitionmanager-24.12.2.tar.xz">partitionmanager-24.12.2</a></td>
   <td align="right">2268kB</td>
   <td><tt>8b50fc2b75ec57edb192b6e2741068719946b4954f6788c7fd843c2a2e6cdb9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/picmi-24.12.2.tar.xz">picmi-24.12.2</a></td>
   <td align="right">1483kB</td>
   <td><tt>4b55ae8894d24c46d465281aab99adcd2673fc145cebb5bf48a2a3d47746fff8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/pimcommon-24.12.2.tar.xz">pimcommon-24.12.2</a></td>
   <td align="right">357kB</td>
   <td><tt>6948e9930b5706944347fdeec69cd2bfd53331312919782aec111fea57d9650c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/pim-data-exporter-24.12.2.tar.xz">pim-data-exporter-24.12.2</a></td>
   <td align="right">411kB</td>
   <td><tt>e23c6fccc8157575ca21716d41676cf0aac7d9a7388ebecb2ad6f3cc60b7690b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/pim-sieve-editor-24.12.2.tar.xz">pim-sieve-editor-24.12.2</a></td>
   <td align="right">459kB</td>
   <td><tt>9fadb45cb238b766a82de1375129adb0ec7d9cf4e595f541008890193c32ef50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/plasmatube-24.12.2.tar.xz">plasmatube-24.12.2</a></td>
   <td align="right">211kB</td>
   <td><tt>4d72dbe0255a274cf6809dd34e8c6c3e3e78d1f0fff0190483c97d0606675554</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/poxml-24.12.2.tar.xz">poxml-24.12.2</a></td>
   <td align="right">44kB</td>
   <td><tt>2fd6d9d1e72d6a4f51312194d63cc56c2391114bc957850e7ac7e75d90d88399</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/qmlkonsole-24.12.2.tar.xz">qmlkonsole-24.12.2</a></td>
   <td align="right">193kB</td>
   <td><tt>dca4f69047fed315d715826213281a89a9bd3b25f6e2d3e3c6e8ae83e13a544a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/rocs-24.12.2.tar.xz">rocs-24.12.2</a></td>
   <td align="right">1529kB</td>
   <td><tt>5c6386486eaf18e7d8546215764727fa117fa36b134b97a78927adbde79abdac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/signon-kwallet-extension-24.12.2.tar.xz">signon-kwallet-extension-24.12.2</a></td>
   <td align="right">11kB</td>
   <td><tt>6d5e02c43a19989bb13a9a45e0416a90d1fabdb457a03576ecf9192d25e0b1e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/skanlite-24.12.2.tar.xz">skanlite-24.12.2</a></td>
   <td align="right">2334kB</td>
   <td><tt>d42c4431beb9166c7f097b741678be5f11cf16b009f32624f4d469a2377d7824</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/skanpage-24.12.2.tar.xz">skanpage-24.12.2</a></td>
   <td align="right">1306kB</td>
   <td><tt>4700e365da9c7716142936d0c1b42debfc81121a8f7dfce1423b919514a79d9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/skladnik-24.12.2.tar.xz">skladnik-24.12.2</a></td>
   <td align="right">403kB</td>
   <td><tt>dbda6704215a7119799b0553ec9ea599bb733b4898aaa2e96b3fb8d76fa51f39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/spectacle-24.12.2.tar.xz">spectacle-24.12.2</a></td>
   <td align="right">1525kB</td>
   <td><tt>7c91a5914a37bfc6a4eb34d968a60c8b2f286ba2ef1e3dce217b1295df66cd3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/step-24.12.2.tar.xz">step-24.12.2</a></td>
   <td align="right">964kB</td>
   <td><tt>5ae297ca767379cc4d6ba61051189db4e3a7c0db8279f1180e728b668eaeea32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/svgpart-24.12.2.tar.xz">svgpart-24.12.2</a></td>
   <td align="right">29kB</td>
   <td><tt>738e23fe94cc223b9a1767f416a1acb43b364fcd71fb420d2217853f0c665f9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/sweeper-24.12.2.tar.xz">sweeper-24.12.2</a></td>
   <td align="right">375kB</td>
   <td><tt>fbcbaaace8889857e9d76c01ad26dcbd649b6884ec26dbaedcd723775eff37e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/telly-skout-24.12.2.tar.xz">telly-skout-24.12.2</a></td>
   <td align="right">105kB</td>
   <td><tt>f84412cbc3f13af0199480462795a346976498ff42aed02ed5e6bf9484413f88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/tokodon-24.12.2.tar.xz">tokodon-24.12.2</a></td>
   <td align="right">650kB</td>
   <td><tt>cbcd2a96689a3545613972dc8704398650cb83c2b0c290f61b7cad89c5be7763</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/umbrello-24.12.2.tar.xz">umbrello-24.12.2</a></td>
   <td align="right">5486kB</td>
   <td><tt>c95637960cc49f2ae128e76461a13314163b5467cacfe756f68de0e37878f5cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/yakuake-24.12.2.tar.xz">yakuake-24.12.2</a></td>
   <td align="right">383kB</td>
   <td><tt>80fa5e845c361349aaa485c107c2f347a692d60b57e5c8956f98803131bc7647</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.12.2/src/zanshin-24.12.2.tar.xz">zanshin-24.12.2</a></td>
   <td align="right">371kB</td>
   <td><tt>914feac353494d093218a41727a3ff2156b1ec3e29b447e55211cd953ddabc10</tt></td>
</tr>

</table>
