<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/bluedevil-6.1.3.tar.xz">bluedevil-6.1.3</a></td>
   <td align="right">364kB</td>
   <td><tt>b9a2880d361a1967bd8de9e50887ccd63b5e9ca9bb935e1948f6b619a2682b39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/breeze-6.1.3.tar.xz">breeze-6.1.3</a></td>
   <td align="right">55MB</td>
   <td><tt>f15bba8dded07595534656de7ab0dbac9b0cdee8462d53aaaa309b3cf2d576d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/breeze-grub-6.1.3.tar.xz">breeze-grub-6.1.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>ec834a8196bf0a8930465e5c3897147e272447b347cbdd5e1e25984814af3ca1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/breeze-gtk-6.1.3.tar.xz">breeze-gtk-6.1.3</a></td>
   <td align="right">39kB</td>
   <td><tt>a527f4d1c47ccb6844dee9181eb1e769e04dacbbc01c1d1d3f5d5464529ac5db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/breeze-plymouth-6.1.3.tar.xz">breeze-plymouth-6.1.3</a></td>
   <td align="right">108kB</td>
   <td><tt>ea1ad39b428d835d49f4fd6de5ef9d0e1dd5ddfa570d9dfe060142fc82d542eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/discover-6.1.3.tar.xz">discover-6.1.3</a></td>
   <td align="right">998kB</td>
   <td><tt>45a297dfcb9070aabc8dda0bbe78da9a300b27073b31756e8a4e81a5f9885183</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/drkonqi-6.1.3.tar.xz">drkonqi-6.1.3</a></td>
   <td align="right">850kB</td>
   <td><tt>7ba1a99e444fe0dde73e3c604d94e6c70c49cf2d3f93a0ade3ecbbd285a820ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/flatpak-kcm-6.1.3.tar.xz">flatpak-kcm-6.1.3</a></td>
   <td align="right">237kB</td>
   <td><tt>c7e6c89cac016cb32325a620c6dfe9c5a2a37e6e40501060bc0f067a3cba5481</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/kactivitymanagerd-6.1.3.tar.xz">kactivitymanagerd-6.1.3</a></td>
   <td align="right">107kB</td>
   <td><tt>40c498e65afe7039c464cfbaa442a9e3a56140cbd45b63b6957267260c537460</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/kde-cli-tools-6.1.3.tar.xz">kde-cli-tools-6.1.3</a></td>
   <td align="right">614kB</td>
   <td><tt>d969051e2832ca6eb00ebc22234834e46a2f3cbfc6c3d4ee8a962058b14bc87a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/kdecoration-6.1.3.tar.xz">kdecoration-6.1.3</a></td>
   <td align="right">54kB</td>
   <td><tt>15dd479f42eb4ab6752694d3129aa42164aec9954db5be04b7c3bb7c811b0dfb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/kde-gtk-config-6.1.3.tar.xz">kde-gtk-config-6.1.3</a></td>
   <td align="right">76kB</td>
   <td><tt>0fa4f95557a93d8ad6d454a677fe3fd7690f7ae05a6788524c42576618404e46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/kdeplasma-addons-6.1.3.tar.xz">kdeplasma-addons-6.1.3</a></td>
   <td align="right">867kB</td>
   <td><tt>9df77a25a6bc86a02d2a9f3f61aa8629adec4c17d54dc50b764bfc546f8305de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/kgamma-6.1.3.tar.xz">kgamma-6.1.3</a></td>
   <td align="right">84kB</td>
   <td><tt>aded428452f081141613f46748b56c907850aa305573b06929fba94ea0de535b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/kglobalacceld-6.1.3.tar.xz">kglobalacceld-6.1.3</a></td>
   <td align="right">54kB</td>
   <td><tt>359155f3454948f2717ae6785ed1e6dc2dc8c281e6526cb06852cf4aa1a2a062</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/kinfocenter-6.1.3.tar.xz">kinfocenter-6.1.3</a></td>
   <td align="right">701kB</td>
   <td><tt>69c4bebf97c5a980c3da57deedfff628254f03b7c094cca8d742f537bfc45738</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/kmenuedit-6.1.3.tar.xz">kmenuedit-6.1.3</a></td>
   <td align="right">850kB</td>
   <td><tt>9006fb0e55cad0fad48f9db662c8145f89e4550f108aa74efb27467328fc4d85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/kpipewire-6.1.3.tar.xz">kpipewire-6.1.3</a></td>
   <td align="right">145kB</td>
   <td><tt>eb2217024e3bf3a4777548b9a0bda88ca0b97912d20336b03f5942b28b1baef9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/krdp-6.1.3.tar.xz">krdp-6.1.3</a></td>
   <td align="right">82kB</td>
   <td><tt>9797b9fa9ce76f48c72d93272bdd47c778e760d4a6d94c1f63922275b346d3ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/kscreen-6.1.3.tar.xz">kscreen-6.1.3</a></td>
   <td align="right">204kB</td>
   <td><tt>300919305a79f1d425141e8d368de3b0e35e8b4ff4c5fa40e4df07017ae6056b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/kscreenlocker-6.1.3.tar.xz">kscreenlocker-6.1.3</a></td>
   <td align="right">176kB</td>
   <td><tt>c29c0f09864111a933cba754e0db2f954fe515d13c390496770adc9eec0ce653</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/ksshaskpass-6.1.3.tar.xz">ksshaskpass-6.1.3</a></td>
   <td align="right">28kB</td>
   <td><tt>f1a953dd32c1a9688f47ac7e41586446e9acc7ce94d478e44ff45303e1245e69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/ksystemstats-6.1.3.tar.xz">ksystemstats-6.1.3</a></td>
   <td align="right">125kB</td>
   <td><tt>c9fdb5cc47cc4f3f66d92a6c492ca8125b03f03475516decfb4c887bbb034e85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/kwallet-pam-6.1.3.tar.xz">kwallet-pam-6.1.3</a></td>
   <td align="right">21kB</td>
   <td><tt>6b8071d838c810fa9821f7daa67d929fb6d63c766f746cc5ac855f778c0740da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/kwayland-6.1.3.tar.xz">kwayland-6.1.3</a></td>
   <td align="right">130kB</td>
   <td><tt>69674a6656d042d96a3a13ab1d7076ab0551c40bc387ad33d693a4d077ea9abc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/kwayland-integration-6.1.3.tar.xz">kwayland-integration-6.1.3</a></td>
   <td align="right">25kB</td>
   <td><tt>b44183c4e5960f664ef1f0e39d0c4e48b32333a34e3e9d26099e7424508913cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/kwin-6.1.3.tar.xz">kwin-6.1.3</a></td>
   <td align="right">8.1MB</td>
   <td><tt>fb23b9d085381ba9455cd3f3aca184b137a7653951ca9f7b78f9e746dd0cc6bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/kwrited-6.1.3.tar.xz">kwrited-6.1.3</a></td>
   <td align="right">23kB</td>
   <td><tt>3448d67e0a992813e52f930cb8d1c3cc20ea2b0c181b67d557d6a7dad958a023</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/layer-shell-qt-6.1.3.tar.xz">layer-shell-qt-6.1.3</a></td>
   <td align="right">35kB</td>
   <td><tt>a201bd3c867130e96cae75dcfec07f82af74dc2e8074d8d1bd9b0ae2645bf802</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/libkscreen-6.1.3.tar.xz">libkscreen-6.1.3</a></td>
   <td align="right">116kB</td>
   <td><tt>9988f3736ec3d917f7b8bf1759c11c155a8ec57fcfd7876420e4bb9718b3b293</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/libksysguard-6.1.3.tar.xz">libksysguard-6.1.3</a></td>
   <td align="right">298kB</td>
   <td><tt>6ae86313aa63d33d5fbe7f8b914802ce6c6ef75dee8c009fe1ae4d5f5b5bffa4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/libplasma-6.1.3.tar.xz">libplasma-6.1.3</a></td>
   <td align="right">2.0MB</td>
   <td><tt>5a2b6b7c539b6d171a9c2b743d554a74dcf3e57512a0423b46fce92fa2a545de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/milou-6.1.3.tar.xz">milou-6.1.3</a></td>
   <td align="right">48kB</td>
   <td><tt>de698adc56d297f336b756dcc1e311d55b84c3433c22d1b36ded7ec59e09eb88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/ocean-sound-theme-6.1.3.tar.xz">ocean-sound-theme-6.1.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>06f96b114871602b2b5d2d7cd9061be501e12789ffbf80424149a83774259a18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/oxygen-6.1.3.tar.xz">oxygen-6.1.3</a></td>
   <td align="right">2.6MB</td>
   <td><tt>b2e781f5dc4f111e17485a34299700f48fe6bf668494b3a00857b842b8caeda1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/oxygen-sounds-6.1.3.tar.xz">oxygen-sounds-6.1.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>7f277169be69ec99d6b923536a3335224a71c1b27d4410627aacb1173ba3bad4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/plasma5support-6.1.3.tar.xz">plasma5support-6.1.3</a></td>
   <td align="right">85kB</td>
   <td><tt>37d875f77f8f0d463b409cc31e296c581dbe73e75ac014db3ae11372a51ff76d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/plasma-activities-6.1.3.tar.xz">plasma-activities-6.1.3</a></td>
   <td align="right">69kB</td>
   <td><tt>65533076dbbf3f805a527891d704134f9134ae22b0203c61929a6088efddeb90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/plasma-activities-stats-6.1.3.tar.xz">plasma-activities-stats-6.1.3</a></td>
   <td align="right">81kB</td>
   <td><tt>fbe2235d911f6f712f5cc312d807999cc28d84a246d467781ad528956b89d669</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/plasma-browser-integration-6.1.3.tar.xz">plasma-browser-integration-6.1.3</a></td>
   <td align="right">217kB</td>
   <td><tt>9ef36a4fde78653d94b6021c9b24cff4dfa2d824b4a2bf7d52c33abbedb769c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/plasma-desktop-6.1.3.tar.xz">plasma-desktop-6.1.3</a></td>
   <td align="right">15MB</td>
   <td><tt>362f64fa1af1c295d7fdade146bf5751176256c19fd41dd1850fff3603c21fad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/plasma-disks-6.1.3.tar.xz">plasma-disks-6.1.3</a></td>
   <td align="right">98kB</td>
   <td><tt>116edeb311b2887c47fda7eb2040e0238cec30990ae928f96e2b35c78c7ff3c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/plasma-firewall-6.1.3.tar.xz">plasma-firewall-6.1.3</a></td>
   <td align="right">365kB</td>
   <td><tt>f2a0a74e01969630cd21a0f03697a924ea33d6da2f92b08d900d28b97843cf93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/plasma-integration-6.1.3.tar.xz">plasma-integration-6.1.3</a></td>
   <td align="right">90kB</td>
   <td><tt>a3ef73795b5f7d4d4b3c562645c0fdc31c3034499cc6ad61cd48ccfb3fe3e55b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/plasma-mobile-6.1.3.tar.xz">plasma-mobile-6.1.3</a></td>
   <td align="right">3.5MB</td>
   <td><tt>e00e5d60914387a78c0eaf8906e49f8c5c0e685deefd947b601e26296ba8bc02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/plasma-nano-6.1.3.tar.xz">plasma-nano-6.1.3</a></td>
   <td align="right">75kB</td>
   <td><tt>236c5dddcb51a22b142242125785edfb86c5a4b1aca9bcb5d57bea4b52128898</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/plasma-nm-6.1.3.tar.xz">plasma-nm-6.1.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>5b5102ad7c808eb2fa4b036ef485d6586d2575f0789076dedefc1300ab90117c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/plasma-pa-6.1.3.tar.xz">plasma-pa-6.1.3</a></td>
   <td align="right">158kB</td>
   <td><tt>4211b05f036d80e455a4c2a32184266017fe5dcd01fb7532760ac81d886aadf7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/plasma-sdk-6.1.3.tar.xz">plasma-sdk-6.1.3</a></td>
   <td align="right">319kB</td>
   <td><tt>5af5fe774ed40b470e1548fe43bce2b9dc842f4f010245c3f5832a876895343f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/plasma-systemmonitor-6.1.3.tar.xz">plasma-systemmonitor-6.1.3</a></td>
   <td align="right">183kB</td>
   <td><tt>ff82e2fd7a844d3d2c652537a783e009f3c42869776714520d439815fcb2d8f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/plasma-thunderbolt-6.1.3.tar.xz">plasma-thunderbolt-6.1.3</a></td>
   <td align="right">77kB</td>
   <td><tt>7bcbddef468981ef536f50be68e5023d50a936d8486db8c6c094a38f86f2c2de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/plasma-vault-6.1.3.tar.xz">plasma-vault-6.1.3</a></td>
   <td align="right">196kB</td>
   <td><tt>d014f20f02ce6c6289f5412db685996c3ccfa704a1e6c7b22e5b342ea0441b70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/plasma-welcome-6.1.3.tar.xz">plasma-welcome-6.1.3</a></td>
   <td align="right">649kB</td>
   <td><tt>416d3568deae29f44135d754dfba39f912b2435b494ded20e8ff9f3b9034b41c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/plasma-workspace-6.1.3.tar.xz">plasma-workspace-6.1.3</a></td>
   <td align="right">18MB</td>
   <td><tt>799cdefb52856db7273bb49a205c6e057165e77baec484c7c622ee6882c4d5ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/plasma-workspace-wallpapers-6.1.3.tar.xz">plasma-workspace-wallpapers-6.1.3</a></td>
   <td align="right">95MB</td>
   <td><tt>214b40711c0b677819b6b30a51ee61932eee5ae2b446fd330723186791d87631</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/plymouth-kcm-6.1.3.tar.xz">plymouth-kcm-6.1.3</a></td>
   <td align="right">45kB</td>
   <td><tt>6afd6c7c0111a3d8e2501d5913c64ab53d377b517f9590e8710d6f2254e3fab7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/polkit-kde-agent-1-6.1.3.tar.xz">polkit-kde-agent-1-6.1.3</a></td>
   <td align="right">55kB</td>
   <td><tt>27b9da65056b1d07aca3b60641fc8ffa41e9dd03ffd1e138183f641613f2396f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/powerdevil-6.1.3.tar.xz">powerdevil-6.1.3</a></td>
   <td align="right">942kB</td>
   <td><tt>624f8c9498056d3c7065bb72a61a381fa2021dc36f5a1f32c735435b239918f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/print-manager-6.1.3.tar.xz">print-manager-6.1.3</a></td>
   <td align="right">361kB</td>
   <td><tt>9505469e86e20363e4beddc6948d9d9e07a8373aedb7af99928cb98101ddbb04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/qqc2-breeze-style-6.1.3.tar.xz">qqc2-breeze-style-6.1.3</a></td>
   <td align="right">64kB</td>
   <td><tt>4947312e1e7282923dfabfe6c6db60e90c3cf4c329092cb7d077f7184551be68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/sddm-kcm-6.1.3.tar.xz">sddm-kcm-6.1.3</a></td>
   <td align="right">96kB</td>
   <td><tt>0cf14ce1254ffb697502a92d7e22125e6d44bb08e75e61ffdf584265ebc2aced</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/systemsettings-6.1.3.tar.xz">systemsettings-6.1.3</a></td>
   <td align="right">208kB</td>
   <td><tt>65ba04f22ab4dbfeb8c9a06b540b2ea9d56fe7e9ba295344a5c7e6b63f182131</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/wacomtablet-6.1.3.tar.xz">wacomtablet-6.1.3</a></td>
   <td align="right">810kB</td>
   <td><tt>13250251d7a0d4c1aaf9dd17843337d56d8e30b7600f38925576910248018f9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.3/xdg-desktop-portal-kde-6.1.3.tar.xz">xdg-desktop-portal-kde-6.1.3</a></td>
   <td align="right">168kB</td>
   <td><tt>824cfe7b065785be7f802a812692d509b8213d64a984d97e830448f70aa13cc6</tt></td>
</tr>

</table>
