<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/attica-6.2.0.tar.xz">attica-6.2.0</a></td>
   <td align="right">66kB</td>
   <td><tt>275fb00b3f483704d800484883a3789797a3198b0ce680d85313d9977ffde2f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/baloo-6.2.0.tar.xz">baloo-6.2.0</a></td>
   <td align="right">308kB</td>
   <td><tt>1ea413b9dbada7d0646a1f8dc3f0688928c266e6388528cfd05d4c079a7e22a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/bluez-qt-6.2.0.tar.xz">bluez-qt-6.2.0</a></td>
   <td align="right">112kB</td>
   <td><tt>964874f4e4b4cfa63a940cbd0ac21bd0dc4fc06c14ff7a8db54f98119bf8b430</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/breeze-icons-6.2.0.tar.xz">breeze-icons-6.2.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>df5a3b150768dd5c781a6c3d1848d79f4b0eb2f327e248c5426a1234aa4c135b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/extra-cmake-modules-6.2.0.tar.xz">extra-cmake-modules-6.2.0</a></td>
   <td align="right">332kB</td>
   <td><tt>6374bfa0dded8be265c702acd5de11eecd2851c625b93e1c87d8d0f5f1a8ebe1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/frameworkintegration-6.2.0.tar.xz">frameworkintegration-6.2.0</a></td>
   <td align="right">53kB</td>
   <td><tt>e41f64b178ad9dadcad51b145bd580868aba061fb80ff15614268d09ec4e0d7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/kapidox-6.2.0.tar.xz">kapidox-6.2.0</a></td>
   <td align="right">194kB</td>
   <td><tt>03acd3923331af3b4e4ec27d32535fa30d6583d2d0861fd282ab6382239875ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/karchive-6.2.0.tar.xz">karchive-6.2.0</a></td>
   <td align="right">1008kB</td>
   <td><tt>1435e09e64bf4cf27ceebfc76582e44db9d37b1453e55aeee09778bccfd9a8b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/kauth-6.2.0.tar.xz">kauth-6.2.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>3511d9d857c0f6962b005b381ec5e2fef9ded59244da14e31dd0673e05a69b0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/kbookmarks-6.2.0.tar.xz">kbookmarks-6.2.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>1af0d6be7c43cb17bc9a8bda464c372b9f27f99d3cdf3be95ec5f24e34368efb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/kcalendarcore-6.2.0.tar.xz">kcalendarcore-6.2.0</a></td>
   <td align="right">253kB</td>
   <td><tt>a3e277c0136a59de635a659f7119d736852c2fff500b2f5fd439f69066f3f209</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/kcmutils-6.2.0.tar.xz">kcmutils-6.2.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>8cef140ca9eabf29e88a08489c799078e85247907fd6f74165aeafd4ed40c0bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/kcodecs-6.2.0.tar.xz">kcodecs-6.2.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>d040fb03510ca90942e54323b1afd26ec00d459b1b2c54e6eeeece5166842f2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/kcolorscheme-6.2.0.tar.xz">kcolorscheme-6.2.0</a></td>
   <td align="right">42kB</td>
   <td><tt>0990c172c5b12996b7c0be3c2e53530cef65eaf76d192854cf207872fba95f1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/kcompletion-6.2.0.tar.xz">kcompletion-6.2.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>58cb938eb111e8859dd1baa51062467f226b8c67cb1fdb98748d3e97fabf08e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/kconfig-6.2.0.tar.xz">kconfig-6.2.0</a></td>
   <td align="right">287kB</td>
   <td><tt>2512bc036fc40cdc23345cbf8037853c7afdc93b7f81528547a451e0f8c429e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/kconfigwidgets-6.2.0.tar.xz">kconfigwidgets-6.2.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>3b5e72c6e55e7b9d0b3ebee0fe8b39c098dd07a56de39da1556891925eb7d963</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/kcontacts-6.2.0.tar.xz">kcontacts-6.2.0</a></td>
   <td align="right">202kB</td>
   <td><tt>709ca19e9076f98751764d029b8d648c6a61b17262ba4821cf97f913ccbd1bf9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/kcoreaddons-6.2.0.tar.xz">kcoreaddons-6.2.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>3f9836a3ce5e72883bf032587b745ce55435aa7627174579d2e018da717338ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/kcrash-6.2.0.tar.xz">kcrash-6.2.0</a></td>
   <td align="right">28kB</td>
   <td><tt>00b7b4885cb2a92e832816e9cc1da8cf5cccc4c4482c13648f020988c86cf588</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/kdav-6.2.0.tar.xz">kdav-6.2.0</a></td>
   <td align="right">66kB</td>
   <td><tt>f18278cfc72b7a8eed48a4d447eae07e431d14298dbcf59ba45bb936286c64e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/kdbusaddons-6.2.0.tar.xz">kdbusaddons-6.2.0</a></td>
   <td align="right">45kB</td>
   <td><tt>bca0df3fc7361effcf81ffb795d8ff62e2189ea9672492d6b26c1e0144fedd67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/kdeclarative-6.2.0.tar.xz">kdeclarative-6.2.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>a85c3f1599d229f052ee3786e9041ace5510c99844c8efc7bfc9ddaed1936d84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/kded-6.2.0.tar.xz">kded-6.2.0</a></td>
   <td align="right">32kB</td>
   <td><tt>ca6d6971b661b5142ede6ab9a1acbe24d4085efbc9f13988c179649b1261ab4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/kdesu-6.2.0.tar.xz">kdesu-6.2.0</a></td>
   <td align="right">55kB</td>
   <td><tt>7c612fea489d9e3e3d3c90cab0d314d98486bdc06014a60f609fdff21505822f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/kdnssd-6.2.0.tar.xz">kdnssd-6.2.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>509011367c11c3b17034d743ea6934951a6fc525b9527d18c38af81f60b08f45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/kdoctools-6.2.0.tar.xz">kdoctools-6.2.0</a></td>
   <td align="right">445kB</td>
   <td><tt>ecf38556ec5f9d99ee2ceb2c28727f4c80342217cb69b9aa945a6f702dc3ff4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/kfilemetadata-6.2.0.tar.xz">kfilemetadata-6.2.0</a></td>
   <td align="right">580kB</td>
   <td><tt>106941654024b6165da3fac2622fbebd35ff09f08345ad93a2b2c1abfa177e30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/kglobalaccel-6.2.0.tar.xz">kglobalaccel-6.2.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>c74727fef4a39680e36c5ed27cdb4c5b755043795fa52774ee3bc6a3b568e724</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/kguiaddons-6.2.0.tar.xz">kguiaddons-6.2.0</a></td>
   <td align="right">79kB</td>
   <td><tt>ba5a5e42d5b9b94486419263836074429fd3facfc364fd4e3a29a54bc6de5ddb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/kholidays-6.2.0.tar.xz">kholidays-6.2.0</a></td>
   <td align="right">247kB</td>
   <td><tt>9d7a805287e04281dd59b8ccb1302406a92fe0941e273cac1c724ef6125fac29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/ki18n-6.2.0.tar.xz">ki18n-6.2.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>8aa8f4740db080f4f0c2ce88d0f289740d55caa06b7f76bf2163d0fb9fd3660f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/kiconthemes-6.2.0.tar.xz">kiconthemes-6.2.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>c0ffe65f53f59b75bf0432c4f57f7d36b6840c87f80e9ea5b88ceb71a28b5645</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/kidletime-6.2.0.tar.xz">kidletime-6.2.0</a></td>
   <td align="right">29kB</td>
   <td><tt>069182e4abfb83f93661d5bb0eaeb14b44e3705fa3492dbdb8ec03bfe6e3d9dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/kimageformats-6.2.0.tar.xz">kimageformats-6.2.0</a></td>
   <td align="right">15MB</td>
   <td><tt>9844219185f03fe7990aeae6ffbaa5f452b0f6c5053c8728bc87e97682643561</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/kio-6.2.0.tar.xz">kio-6.2.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>331d6ff6b9cbb0e6521a5d0746b152be2588fd631a73d0e249b78cd2cda69ccf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/kirigami-6.2.0.tar.xz">kirigami-6.2.0</a></td>
   <td align="right">458kB</td>
   <td><tt>57245b518d64c46afab42a1a619609afb60e546033a162b718c752b88350b40c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/kitemmodels-6.2.0.tar.xz">kitemmodels-6.2.0</a></td>
   <td align="right">388kB</td>
   <td><tt>c066888313260d75a207939334b056b4014ba7364b437325561790eb7b3742ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/kitemviews-6.2.0.tar.xz">kitemviews-6.2.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>7362d9893d1e9a863482573ecfc3abddd8c634512d8a1884f094a5f543af4a29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/kjobwidgets-6.2.0.tar.xz">kjobwidgets-6.2.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>2fb7602f2bba818bcfffe1ad1310d7900889e10e53e384b874295fb3593fb3a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/knewstuff-6.2.0.tar.xz">knewstuff-6.2.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>f54962756b8eb98c67840352a1efea4698f15a17d4bc8282f65adb0db08c5780</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/knotifications-6.2.0.tar.xz">knotifications-6.2.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>9627c200f58de5e5dc4e74d1a13005624115b6d23da034e64aa1bf3143e78164</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/knotifyconfig-6.2.0.tar.xz">knotifyconfig-6.2.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>b5bfec4582bc22f0c87c70fdd25a05e145fdfe5e4a60a963f512571e03d37ccc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/kpackage-6.2.0.tar.xz">kpackage-6.2.0</a></td>
   <td align="right">175kB</td>
   <td><tt>78c8466d7201f2aa6809d98588242aef6314be4a47155617c529c6a0549f395d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/kparts-6.2.0.tar.xz">kparts-6.2.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>04f70829abc7033327f42e5e5ee1365f4dba9968b184f34212c5486e36a9beb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/kpeople-6.2.0.tar.xz">kpeople-6.2.0</a></td>
   <td align="right">65kB</td>
   <td><tt>3f5faa48ede1e47ee3e3747ef0adf2f1d8320dbefa8f0ec6eb75fd2f4ab45837</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/kplotting-6.2.0.tar.xz">kplotting-6.2.0</a></td>
   <td align="right">32kB</td>
   <td><tt>cddc7e95e3376be1621a347f6e9ffa88ad787b485aa26c7e026336c05277c16d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/kpty-6.2.0.tar.xz">kpty-6.2.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>f7683e8b5cd5dbbd4257e8d5acd26e58685a3bc3f161dc0fe10f53a075240264</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/kquickcharts-6.2.0.tar.xz">kquickcharts-6.2.0</a></td>
   <td align="right">106kB</td>
   <td><tt>fdd96bf4218a309be28523ac318bd7816e8bd1febf0e771b13359cd658c6756b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/krunner-6.2.0.tar.xz">krunner-6.2.0</a></td>
   <td align="right">127kB</td>
   <td><tt>f18f1578ff8c76c455837a4bc9a3e71273bba4ac54afd24e143a9dc20706041f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/kservice-6.2.0.tar.xz">kservice-6.2.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>0646c9219c0d7d9a2371b90dc427ebc86cf30adafcb22b458f130f011de28882</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/kstatusnotifieritem-6.2.0.tar.xz">kstatusnotifieritem-6.2.0</a></td>
   <td align="right">46kB</td>
   <td><tt>04b9fc0905b614afc8e0afcf5451018d2a126f165221b6db20e4171be2fb1fcf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/ksvg-6.2.0.tar.xz">ksvg-6.2.0</a></td>
   <td align="right">86kB</td>
   <td><tt>5689bf9dc3efab29fddaea0af00aaec8ca8323e6504f490c3bb3b47a82eb76f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/ktexteditor-6.2.0.tar.xz">ktexteditor-6.2.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>c10a5e4cc921aeb51b17e97d4f29883ab186b63d108199e6a319440a39f1f2a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/ktexttemplate-6.2.0.tar.xz">ktexttemplate-6.2.0</a></td>
   <td align="right">826kB</td>
   <td><tt>a59b0e6e3acb94737b82eafac47d14725255c6c6f21c2371ccf9ecc1062cf2ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/ktextwidgets-6.2.0.tar.xz">ktextwidgets-6.2.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>469368c341265865e2562ab6d3be754db96896280bdca90c134127b1501ab5ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/kunitconversion-6.2.0.tar.xz">kunitconversion-6.2.0</a></td>
   <td align="right">889kB</td>
   <td><tt>e5ed60578ba4c3786a109ce1fb2e4b36e4825a79338c4aca1dddc9a493006e80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/kuserfeedback-6.2.0.tar.xz">kuserfeedback-6.2.0</a></td>
   <td align="right">247kB</td>
   <td><tt>829c52db15d69b90e6d22b08deacdedcd13423c901e4dab63893e814b4e76858</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/kwallet-6.2.0.tar.xz">kwallet-6.2.0</a></td>
   <td align="right">343kB</td>
   <td><tt>2e58119a6442cb00e3014f01636e872337cff362ec1ef120caf2ba01813bd2c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/kwidgetsaddons-6.2.0.tar.xz">kwidgetsaddons-6.2.0</a></td>
   <td align="right">4.0MB</td>
   <td><tt>03cef2f66aec6b7f7b2276c47e720bdab939b05b77b70345e7f076d3dead8211</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/kwindowsystem-6.2.0.tar.xz">kwindowsystem-6.2.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>0f8fb12b4eea926a7f4cf59ec85d95297a8cb67d8093dc4b194b51a1c4671d89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/kxmlgui-6.2.0.tar.xz">kxmlgui-6.2.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>ff22a79fca2737e33c5463d87fad2b46920c8d48c6583268a9ae27097a8ac902</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/modemmanager-qt-6.2.0.tar.xz">modemmanager-qt-6.2.0</a></td>
   <td align="right">119kB</td>
   <td><tt>f3d1db9ac64a353334b074e45cd07fce4b40ac1388c964f8b269746dc35beea8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/networkmanager-qt-6.2.0.tar.xz">networkmanager-qt-6.2.0</a></td>
   <td align="right">193kB</td>
   <td><tt>7be22a6bbc5843b1ada0a170fb56c9c96bef643d7d485413f2af792914ed02d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/prison-6.2.0.tar.xz">prison-6.2.0</a></td>
   <td align="right">54kB</td>
   <td><tt>87719675c1652f0773149b8de384f406949a6d65abe25a6d3611e110d12d6ca8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/purpose-6.2.0.tar.xz">purpose-6.2.0</a></td>
   <td align="right">172kB</td>
   <td><tt>55b02d49387b76f54e3bec48f82cd78f398b5403bc8d10d482bfff7e30a0028a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/qqc2-desktop-style-6.2.0.tar.xz">qqc2-desktop-style-6.2.0</a></td>
   <td align="right">82kB</td>
   <td><tt>b8ed270d930aad05eadf1ec5a540870f1128d8c728d8616c40801d6980869b1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/solid-6.2.0.tar.xz">solid-6.2.0</a></td>
   <td align="right">304kB</td>
   <td><tt>002a0d2b27599bebc721516681d327876962fdcaf9940f033634fb93a4f9d722</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/sonnet-6.2.0.tar.xz">sonnet-6.2.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>84e712ad56bc94ff8efc9bddfab41f6c327121b3ddd69030e940acc9133627ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/syndication-6.2.0.tar.xz">syndication-6.2.0</a></td>
   <td align="right">556kB</td>
   <td><tt>50ec3843a08ec7b185352c94b89bc2d2720ceaf17eb961a4c3da55f93d05af3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/syntax-highlighting-6.2.0.tar.xz">syntax-highlighting-6.2.0</a></td>
   <td align="right">3.3MB</td>
   <td><tt>327ed58d20d52502bbfd9278fa1c9e7ab4a846159e5cf630d09fbea144ebbb7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.2/threadweaver-6.2.0.tar.xz">threadweaver-6.2.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>e74de2df0bb50148acc8a6161f9809991ae4b2334b58a9ee092ba1d827044337</tt></td>
</tr>

</table>
