<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/bluedevil-5.91.0.tar.xz">bluedevil-5.91.0</a></td>
   <td align="right">358kB</td>
   <td><tt>87654012f2952920de2a3e36d5048812076dac41d802521ba973c282e7cb4d4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/breeze-5.91.0.tar.xz">breeze-5.91.0</a></td>
   <td align="right">83MB</td>
   <td><tt>3dcf63b7a0c3be9cace63b89758f11e30816e89f274a35bbeba5d0bce58218ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/breeze-grub-5.91.0.tar.xz">breeze-grub-5.91.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>bcf222d2ce4f332f2cfaa767ccfb0a1d3bd69705827cab0195e7f9f183c1dfad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/breeze-gtk-5.91.0.tar.xz">breeze-gtk-5.91.0</a></td>
   <td align="right">39kB</td>
   <td><tt>ec89a7ffc229bb4c9a9724671c85913976fa9ac6c9010743836fbe44501cd352</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/breeze-plymouth-5.91.0.tar.xz">breeze-plymouth-5.91.0</a></td>
   <td align="right">108kB</td>
   <td><tt>8a121c99d30d7d63f80c218ed1ad3fdca3c0faaac520ab1a23bc29820a3dd2f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/discover-5.91.0.tar.xz">discover-5.91.0</a></td>
   <td align="right">949kB</td>
   <td><tt>35f0c159147c34ad67f8955d623f2a49f2ccc8dd888bb5f35ea810ad14351e9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/drkonqi-5.91.0.tar.xz">drkonqi-5.91.0</a></td>
   <td align="right">848kB</td>
   <td><tt>9a5876e80552158254d85f64c63004d69fd0eda7d2d3179615e3b2b4e0999886</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/flatpak-kcm-5.91.0.tar.xz">flatpak-kcm-5.91.0</a></td>
   <td align="right">229kB</td>
   <td><tt>aab16c1c5bbdd570105201ce25aaa453b98c8ad593133e3cddfccb49f814b5bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/kactivitymanagerd-5.91.0.tar.xz">kactivitymanagerd-5.91.0</a></td>
   <td align="right">107kB</td>
   <td><tt>6e7992c6169de3e642296248c9c1aea805a063ac5ff29e629cb36263e7c11ba7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/kde-cli-tools-5.91.0.tar.xz">kde-cli-tools-5.91.0</a></td>
   <td align="right">609kB</td>
   <td><tt>81a610b7f505d17539dbbc675c551dfc5fd196da05ae73adb98dc4e109f0b7c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/kdecoration-5.91.0.tar.xz">kdecoration-5.91.0</a></td>
   <td align="right">53kB</td>
   <td><tt>caa958a28d32501bfb4303969851c9dbeaa3774b780e735becf9df35980ccd32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/kde-gtk-config-5.91.0.tar.xz">kde-gtk-config-5.91.0</a></td>
   <td align="right">76kB</td>
   <td><tt>7268d762553b8f63a4f3c1b0fc70523baa2afe373c65e7ded7e74562294487fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/kdeplasma-addons-5.91.0.tar.xz">kdeplasma-addons-5.91.0</a></td>
   <td align="right">839kB</td>
   <td><tt>3c7caae2f96d20a092a2ba11b5722be2dba06d2f2ab9c8c211b9861106fbbbeb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/kgamma-5.91.0.tar.xz">kgamma-5.91.0</a></td>
   <td align="right">84kB</td>
   <td><tt>a69ddb2a647c0be5e25d445eb0f85f186e547d47feeb485958397347784d211b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/kglobalacceld-5.91.0.tar.xz">kglobalacceld-5.91.0</a></td>
   <td align="right">50kB</td>
   <td><tt>59c033b1cc72e84ec71bf3bc3f85122cf4a24c118e0881fff3bf5419fe98c249</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/kinfocenter-5.91.0.tar.xz">kinfocenter-5.91.0</a></td>
   <td align="right">814kB</td>
   <td><tt>092267b08be67e3f4784880d7b61b3c1d842c334ac9b3469f65919e2146ad215</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/kmenuedit-5.91.0.tar.xz">kmenuedit-5.91.0</a></td>
   <td align="right">908kB</td>
   <td><tt>74bcc4e54ce5999a0eff63321be83a469c3c065b4503293d6407661ae9f28239</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/kpipewire-5.91.0.tar.xz">kpipewire-5.91.0</a></td>
   <td align="right">140kB</td>
   <td><tt>9c86b4d411898ffb4b23de519868adb00d3cd3b2764524c53d04d961e1a8c968</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/kscreen-5.91.0.tar.xz">kscreen-5.91.0</a></td>
   <td align="right">191kB</td>
   <td><tt>f5c1061f3085a7262a9efd8e06966c72dce1accbbe69519ffc4b0068f67313ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/kscreenlocker-5.91.0.tar.xz">kscreenlocker-5.91.0</a></td>
   <td align="right">160kB</td>
   <td><tt>b92084283bf477d1fd1c9ce5de2356d02297c9e4f7e955ae267d16fa61e2e26b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/ksshaskpass-5.91.0.tar.xz">ksshaskpass-5.91.0</a></td>
   <td align="right">28kB</td>
   <td><tt>4405e23abbd4d259ddcad92e6fc78b4116d229a81e9e3de6cf40d621dd3991bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/ksystemstats-5.91.0.tar.xz">ksystemstats-5.91.0</a></td>
   <td align="right">120kB</td>
   <td><tt>249567057d83c83e03ab9b6c51b8dac661a9ab8bb87927283c73103a2b7feb5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/kwallet-pam-5.91.0.tar.xz">kwallet-pam-5.91.0</a></td>
   <td align="right">22kB</td>
   <td><tt>38e248fc0260bb87ba8e1024352da95ec757ba80063039c228df1fdf68a0d00e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/kwayland-5.91.0.tar.xz">kwayland-5.91.0</a></td>
   <td align="right">130kB</td>
   <td><tt>6e7d22eaf10eaf6587d2fb63b60bf88db3c018a98f364187a08634d695dae9d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/kwayland-integration-5.91.0.tar.xz">kwayland-integration-5.91.0</a></td>
   <td align="right">25kB</td>
   <td><tt>5824286270aff1fa2621ba9eeb3ecea17ed005388bfa80aaafde19dd5f2f1d4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/kwin-5.91.0.tar.xz">kwin-5.91.0</a></td>
   <td align="right">7.4MB</td>
   <td><tt>1e9bc0e7ea4e87d9d64888dcb80ee0ed5ca37ad2c071f1ae4a2ae3ddf4e29144</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/kwrited-5.91.0.tar.xz">kwrited-5.91.0</a></td>
   <td align="right">23kB</td>
   <td><tt>2839ea54a20e920714840ce9cb253d8c6e59763cc41cd04a1f4cb51d9a9c8296</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/layer-shell-qt-5.91.0.tar.xz">layer-shell-qt-5.91.0</a></td>
   <td align="right">19kB</td>
   <td><tt>3e37efa71e87a5a576f8ae8a028ef9921ff36b275900d07a31094df39f58dc08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/libkscreen-5.91.0.tar.xz">libkscreen-5.91.0</a></td>
   <td align="right">114kB</td>
   <td><tt>b25411f405e7bada79567a86d49d47defd0e029572372a8a9bfd4674c8f7f437</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/libksysguard-5.91.0.tar.xz">libksysguard-5.91.0</a></td>
   <td align="right">874kB</td>
   <td><tt>184070fefba2b18c370f0651c4440ea15a5610f7ee691b9f1cb796e8c6ea9013</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/libplasma-5.91.0.tar.xz">libplasma-5.91.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>c5bed16526b19edbba4a5aeab1ecb4aa2a3744f2cfcad0874685546fab56c047</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/milou-5.91.0.tar.xz">milou-5.91.0</a></td>
   <td align="right">48kB</td>
   <td><tt>a283ea7c3de45ca6b681e0750c1e6232ca0a5c3c8217128e886330d82aae2c00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/ocean-sound-theme-5.91.0.tar.xz">ocean-sound-theme-5.91.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>548457a368968e218d0404135e273b83f514445faaa288e7919d56da880e4025</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/oxygen-5.91.0.tar.xz">oxygen-5.91.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>42ba04eebbf5db951eec6aaa0f922e8e2c53b321980bb022ef41e8b13f522508</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/oxygen-sounds-5.91.0.tar.xz">oxygen-sounds-5.91.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>0bf7769ed7e20b6b56f46609cc371802909a142094056f85965ddc27b2b73d24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/plasma5support-5.91.0.tar.xz">plasma5support-5.91.0</a></td>
   <td align="right">54kB</td>
   <td><tt>a6dfcf26027424791275cddfccf53af459e70a0298387b3fc7a6ee3963dcbf36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/plasma-activities-5.91.0.tar.xz">plasma-activities-5.91.0</a></td>
   <td align="right">69kB</td>
   <td><tt>ec0958ef2002a6a2236b7402c2d1b952ce00770514f3eccc575d3e7f941884bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/plasma-activities-stats-5.91.0.tar.xz">plasma-activities-stats-5.91.0</a></td>
   <td align="right">81kB</td>
   <td><tt>364b18ac0eef048b18d7cb1cc738bd4c91f462004f731e369ee09c2246bde36e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/plasma-browser-integration-5.91.0.tar.xz">plasma-browser-integration-5.91.0</a></td>
   <td align="right">213kB</td>
   <td><tt>1bdd75922e09ba4cc0c4210b4b2ad0fa4c0776343847e419a54950ddba70dfd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/plasma-desktop-5.91.0.tar.xz">plasma-desktop-5.91.0</a></td>
   <td align="right">14MB</td>
   <td><tt>8ad0903464e1eaa79446ec77f64b26b95b8ca2d078c035e54c13bf5f5f426160</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/plasma-disks-5.91.0.tar.xz">plasma-disks-5.91.0</a></td>
   <td align="right">97kB</td>
   <td><tt>ef6d02d873dd06f2c2a8e1e43313c79c879eb375ca64e7d0982e302ac7ac7200</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/plasma-firewall-5.91.0.tar.xz">plasma-firewall-5.91.0</a></td>
   <td align="right">359kB</td>
   <td><tt>dfde88784928c10d6d54219daa7b9db6dcd787a9d81f1b99a900f093d2fff184</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/plasma-integration-5.91.0.tar.xz">plasma-integration-5.91.0</a></td>
   <td align="right">89kB</td>
   <td><tt>4aeba5b0eb693d5e406469e31774194792d64473886471b6d662b5f0e197e2f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/plasma-mobile-5.91.0.tar.xz">plasma-mobile-5.91.0</a></td>
   <td align="right">7.3MB</td>
   <td><tt>bdfc28ed2ddb9d04b83835a5eebd4e7dc2a738f11b55b2937dc34fb30eb33245</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/plasma-nano-5.91.0.tar.xz">plasma-nano-5.91.0</a></td>
   <td align="right">74kB</td>
   <td><tt>8c888c09649bc515a1e6d36306f937515381e1c0e23f2cc67fee01f7c1e2a9c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/plasma-nm-5.91.0.tar.xz">plasma-nm-5.91.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>d3db0fa7443d0981a603fbfa2a54d7951527af572992c227a7e8cab64e727d0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/plasma-pa-5.91.0.tar.xz">plasma-pa-5.91.0</a></td>
   <td align="right">165kB</td>
   <td><tt>dca67ccdd1b8937c3cfca959616924b0d3c3f7b0596c84aa4cb721d2c72001be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/plasma-sdk-5.91.0.tar.xz">plasma-sdk-5.91.0</a></td>
   <td align="right">318kB</td>
   <td><tt>28020f217f792a4063bfdb5f52adad1c01301bd70504135a0637670c834aa8fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/plasma-systemmonitor-5.91.0.tar.xz">plasma-systemmonitor-5.91.0</a></td>
   <td align="right">176kB</td>
   <td><tt>aaa3f7f746561e779e7d87702150921e1f6207cd5359febf29affb50cbae074c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/plasma-thunderbolt-5.91.0.tar.xz">plasma-thunderbolt-5.91.0</a></td>
   <td align="right">72kB</td>
   <td><tt>5d00de7569bab8d718b053b998751b65ff87f80c429fea3929de258fef2d415d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/plasma-vault-5.91.0.tar.xz">plasma-vault-5.91.0</a></td>
   <td align="right">187kB</td>
   <td><tt>c0d9e65e63e4be5dadb2695a8e3bbb65062824f41861001a67e75d0189b2360e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/plasma-welcome-5.91.0.tar.xz">plasma-welcome-5.91.0</a></td>
   <td align="right">870kB</td>
   <td><tt>8b6df6186a3b75a7e35f4a7970e2018ef92525e95da23880ef5d50595483bf67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/plasma-workspace-5.91.0.tar.xz">plasma-workspace-5.91.0</a></td>
   <td align="right">18MB</td>
   <td><tt>3b882c83a5e077f8ac3dd7e564c268cf87baed4bb278c27f68307479a917f5df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/plasma-workspace-wallpapers-5.91.0.tar.xz">plasma-workspace-wallpapers-5.91.0</a></td>
   <td align="right">89MB</td>
   <td><tt>440b621afb3968f1cca9a1af872537ab4ff0bce6da19e5bbccebfbc86f3e5305</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/plymouth-kcm-5.91.0.tar.xz">plymouth-kcm-5.91.0</a></td>
   <td align="right">44kB</td>
   <td><tt>f32ba3abdac471090965eb8325025f481885e79857af425e975ec903d0ca3531</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/polkit-kde-agent-1-5.91.0.tar.xz">polkit-kde-agent-1-5.91.0</a></td>
   <td align="right">51kB</td>
   <td><tt>56c243998a294df1d1ffb210368fe66fd712b78daaf9510b7c65e6316114973e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/powerdevil-5.91.0.tar.xz">powerdevil-5.91.0</a></td>
   <td align="right">764kB</td>
   <td><tt>984a09323eefc3773f2d56417ccefd365ea1dc48ad4859780d9085e35973ea9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/print-manager-5.91.0.tar.xz">print-manager-5.91.0</a></td>
   <td align="right">319kB</td>
   <td><tt>8f594f58cf250030fa47590b3a5718fb07a6f569eaf29c1bf5053ced6f1bfc30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/qqc2-breeze-style-5.91.0.tar.xz">qqc2-breeze-style-5.91.0</a></td>
   <td align="right">64kB</td>
   <td><tt>ee8b21b91458c859f054b24cca1e82ea67fabda36987a5614d198698628dbc16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/sddm-kcm-5.91.0.tar.xz">sddm-kcm-5.91.0</a></td>
   <td align="right">94kB</td>
   <td><tt>87852d3c6991a1be3b696a931e50a1745bc6e4cac6497702a84896da74bbdba5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/systemsettings-5.91.0.tar.xz">systemsettings-5.91.0</a></td>
   <td align="right">212kB</td>
   <td><tt>f2e3546f975b184ee2958249c83271159004ef5f92a968a5fa169956baeff333</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/wacomtablet-5.91.0.tar.xz">wacomtablet-5.91.0</a></td>
   <td align="right">805kB</td>
   <td><tt>f82a930b30cc8f5de9ba37f887b0700cc7bccfcfd448ef03048a4571655d6114</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.91.0/xdg-desktop-portal-kde-5.91.0.tar.xz">xdg-desktop-portal-kde-5.91.0</a></td>
   <td align="right">156kB</td>
   <td><tt>2cb103a78d0ee1486d64d4bb9a9d22128d4d73e3a94e989db208038bb0502125</tt></td>
</tr>

</table>
