<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.0/bluedevil-5.20.0.tar.xz">bluedevil-5.20.0</a></td>
   <td align="right">150kB</td>
   <td><tt>67285a99af29fa121657f3ad3f6a17a22d56190414a40341e7948a097228804f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.0/breeze-5.20.0.tar.xz">breeze-5.20.0</a></td>
   <td align="right">36MB</td>
   <td><tt>f360c5803c434b8ce771232b030779d8c92b3bcb5b7c940f3524d6e9afb05db1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.0/breeze-grub-5.20.0.tar.xz">breeze-grub-5.20.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>4c94fc2b09adbed7dfaf54b19bd3cbdc8be3050096b4d71e6b13982435947d29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.0/breeze-gtk-5.20.0.tar.xz">breeze-gtk-5.20.0</a></td>
   <td align="right">42kB</td>
   <td><tt>52f643d03db5fa7b154c502e741af33e9903b31f19ad4328ede84e10f7a36c74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.0/breeze-plymouth-5.20.0.tar.xz">breeze-plymouth-5.20.0</a></td>
   <td align="right">106kB</td>
   <td><tt>5ee8df8a5872d94232738e7bc47e8c1c92a6e77a06cce1c6334f1c1a1887b2a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.0/discover-5.20.0.tar.xz">discover-5.20.0</a></td>
   <td align="right">9.8MB</td>
   <td><tt>d72c7c2cf0478532776c18ca0c9c3c9f7277109c7ac47f22a44d0edfdc8ca1df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.0/drkonqi-5.20.0.tar.xz">drkonqi-5.20.0</a></td>
   <td align="right">728kB</td>
   <td><tt>cfe137c32630bde55307405974e79cdd28c41b14819ab35740cbc39315f91b88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.0/kactivitymanagerd-5.20.0.tar.xz">kactivitymanagerd-5.20.0</a></td>
   <td align="right">92kB</td>
   <td><tt>3edc81cc588db4405e1b51831288bdd9ad5c33ef097620549bf936fc7ec21fbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.0/kde-cli-tools-5.20.0.tar.xz">kde-cli-tools-5.20.0</a></td>
   <td align="right">583kB</td>
   <td><tt>a5875dab2a31dd4f024d178c8eaeb20262950292330435d51e9088de25b0b0af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.0/kdecoration-5.20.0.tar.xz">kdecoration-5.20.0</a></td>
   <td align="right">44kB</td>
   <td><tt>3dd92c7384fd2665af13715b4073eeee9d6c5969d578049c6ae72dc4c287a747</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.0/kde-gtk-config-5.20.0.tar.xz">kde-gtk-config-5.20.0</a></td>
   <td align="right">66kB</td>
   <td><tt>89590b6950c343e67a15d89058461eef6379e824861197f525e2678d0e901df2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.0/kdeplasma-addons-5.20.0.tar.xz">kdeplasma-addons-5.20.0</a></td>
   <td align="right">612kB</td>
   <td><tt>e1a8b6e9d8ae044590ca6a6f0f97922d8f2ea0bd626c8108e2a8553caf22ff97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.0/kgamma5-5.20.0.tar.xz">kgamma5-5.20.0</a></td>
   <td align="right">79kB</td>
   <td><tt>614f92fc14a3c7ed5b7e44579d715d4f7d6387ffab04863d081ef45be375bd0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.0/khotkeys-5.20.0.tar.xz">khotkeys-5.20.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>0e470ba928c5ce09e1a533cd83e02bb7943baac146c6c92354b0c3dc0393953a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.0/kinfocenter-5.20.0.tar.xz">kinfocenter-5.20.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>606557c20868b97f97ce4f7c6af45fdb8984914d70734924b9968f70b5faaa45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.0/kmenuedit-5.20.0.tar.xz">kmenuedit-5.20.0</a></td>
   <td align="right">872kB</td>
   <td><tt>0dcc63fba88f76e723686760223af5d22464f7357a7e80540b369b2a6782e75e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.0/kscreen-5.20.0.tar.xz">kscreen-5.20.0</a></td>
   <td align="right">111kB</td>
   <td><tt>fad43bdaf4706501c7d130dd885229d3b4a4ed327f2d352d577f3c34be2a3edd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.0/kscreenlocker-5.20.0.tar.xz">kscreenlocker-5.20.0</a></td>
   <td align="right">111kB</td>
   <td><tt>d8a3b5a7137b4f6c9fe0ad0b625ebc16f5c024e527f77f9a3f6744570a1c46a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.0/ksshaskpass-5.20.0.tar.xz">ksshaskpass-5.20.0</a></td>
   <td align="right">22kB</td>
   <td><tt>8793169684de4c0c281bb128dfc67335d34c214d38b8434e021296bb7a5fbae3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.0/ksysguard-5.20.0.tar.xz">ksysguard-5.20.0</a></td>
   <td align="right">545kB</td>
   <td><tt>5e972b4e8bd799f902013b408e4677ef28b7a40c3be4739234c86ba92b2d1e84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.0/kwallet-pam-5.20.0.tar.xz">kwallet-pam-5.20.0</a></td>
   <td align="right">19kB</td>
   <td><tt>3f72384f1f28bc071cfa475cebec2f4315686a3713fbc778d953635272493d69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.0/kwayland-integration-5.20.0.tar.xz">kwayland-integration-5.20.0</a></td>
   <td align="right">20kB</td>
   <td><tt>4a1ec22d8d0fb7bb3302605ce211b52353fe93b9b29744db0cc9a961ba67707a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.0/kwayland-server-5.20.0.tar.xz">kwayland-server-5.20.0</a></td>
   <td align="right">215kB</td>
   <td><tt>e40253814bad7fa4ae829f1d3a752ba9bd89d92c5e89a72c6b857668ed75ecd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.0/kwin-5.20.0.tar.xz">kwin-5.20.0</a></td>
   <td align="right">6.0MB</td>
   <td><tt>b91d6101d0a303d42ce05c1a04d7e2e2b0c91ecde3153dac36b17e73cd1a9c96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.0/kwrited-5.20.0.tar.xz">kwrited-5.20.0</a></td>
   <td align="right">19kB</td>
   <td><tt>a0ac927655804be22426049ee8b520133b10c8901d364fdd0ef8e03ce17b9b82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.0/libkscreen-5.20.0.tar.xz">libkscreen-5.20.0</a></td>
   <td align="right">83kB</td>
   <td><tt>45c799f0d2c8c9d5ef2f6d0cc0451d5ae25c9d6f955924f57202fc88c85f655e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.0/libksysguard-5.20.0.tar.xz">libksysguard-5.20.0</a></td>
   <td align="right">666kB</td>
   <td><tt>dd0be43db2170a5babdfc5afb56c418fa838ced9f5a9a99ee60ae34e4f4b67af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.0/milou-5.20.0.tar.xz">milou-5.20.0</a></td>
   <td align="right">53kB</td>
   <td><tt>7637f088a6030e17bb6513c42b1d83645c86db07f1b29f5354322f59cff0821e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.0/oxygen-5.20.0.tar.xz">oxygen-5.20.0</a></td>
   <td align="right">4.2MB</td>
   <td><tt>d01f9ca96d7693c02e97ee9b6a8c55c47ef96b4bde7a7c159813ff41ce0d3d09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.0/plasma-browser-integration-5.20.0.tar.xz">plasma-browser-integration-5.20.0</a></td>
   <td align="right">186kB</td>
   <td><tt>8fb5bff4b1f170187bd7100ad3465b4e3cd4854c6d593a87ef162c9f7e0b9fe3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.0/plasma-desktop-5.20.0.tar.xz">plasma-desktop-5.20.0</a></td>
   <td align="right">15MB</td>
   <td><tt>4bf5aa68ac132fa651a2694af772342ece61da2a3a2c1d7c6da75c84bec6b87f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.0/plasma-disks-5.20.0.tar.xz">plasma-disks-5.20.0</a></td>
   <td align="right">59kB</td>
   <td><tt>187abd14a94864cfadfd19375ac93813194cf5e2d89e6863d52599bd7bf923e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.0/plasma-integration-5.20.0.tar.xz">plasma-integration-5.20.0</a></td>
   <td align="right">58kB</td>
   <td><tt>a6382a4330d2a2117578c2e2d42e4e7588622c522e8cbfe4c537918680479e2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.0/plasma-nano-5.20.0.tar.xz">plasma-nano-5.20.0</a></td>
   <td align="right">33kB</td>
   <td><tt>ba2b79cfa3d5ede8d40ac97c881fba5a4ab901612b8cda39ec2a9d4052d21136</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.0/plasma-nm-5.20.0.tar.xz">plasma-nm-5.20.0</a></td>
   <td align="right">822kB</td>
   <td><tt>a0a3593714d165844719c1adbd1ab596a578c15579d9c5533b9e15c2cd8f9dfb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.0/plasma-pa-5.20.0.tar.xz">plasma-pa-5.20.0</a></td>
   <td align="right">109kB</td>
   <td><tt>8735726a0ce31d522ac410863a5940a4505eb7c98feab893bc38ed5217b57999</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.0/plasma-phone-components-5.20.0.tar.xz">plasma-phone-components-5.20.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>ebe1646d0de0c13e25cf3fce3123f821dc3cd0bae11bf934f90bb433bcf1dbdf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.0/plasma-sdk-5.20.0.tar.xz">plasma-sdk-5.20.0</a></td>
   <td align="right">257kB</td>
   <td><tt>b1d7cf1f64f5468c1769d7f442d7e324254a84a74b777313fb2e2bd97e3bcc5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.0/plasma-tests-5.20.0.tar.xz">plasma-tests-5.20.0</a></td>
   <td align="right">1kB</td>
   <td><tt>231ae056309bdbcaf04d62a98ca818f4e0da71ed1cf64df6e85c5710ff6c55fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.0/plasma-thunderbolt-5.20.0.tar.xz">plasma-thunderbolt-5.20.0</a></td>
   <td align="right">54kB</td>
   <td><tt>01b98dbc133a70c792ec5cce8f7ae404f9cbe3897b19308ad746215c19b93715</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.0/plasma-vault-5.20.0.tar.xz">plasma-vault-5.20.0</a></td>
   <td align="right">151kB</td>
   <td><tt>8143a48b6b158a012a02b12e6167374bf3238f9b6c053d21af10f809de3ec7ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.0/plasma-workspace-5.20.0.tar.xz">plasma-workspace-5.20.0</a></td>
   <td align="right">8.5MB</td>
   <td><tt>20fc599fdfc6477c7315fdf3059bae7ac4843294e550a8d18b6cf1af2ed2b2ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.0/plasma-workspace-wallpapers-5.20.0.tar.xz">plasma-workspace-wallpapers-5.20.0</a></td>
   <td align="right">43MB</td>
   <td><tt>23f7b0b795c702f834dfb737e19d3a4f48a906471cdec98ec1248d4c970532ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.0/plymouth-kcm-5.20.0.tar.xz">plymouth-kcm-5.20.0</a></td>
   <td align="right">40kB</td>
   <td><tt>b8b50ce44d8a99cce665687ce87875a8f63058b49db0832dbb520a75e9a2600f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.0/polkit-kde-agent-1-5.20.0.tar.xz">polkit-kde-agent-1-5.20.0</a></td>
   <td align="right">43kB</td>
   <td><tt>838d2354f32dc305cdd485b69dc70b7e7a6c408d72ae623929493fcdea28455c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.0/powerdevil-5.20.0.tar.xz">powerdevil-5.20.0</a></td>
   <td align="right">592kB</td>
   <td><tt>f2a383473e1dc2e7067cb808c02ad657a6999361bdfb3fbdcac4c99e5cf8fcee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.0/sddm-kcm-5.20.0.tar.xz">sddm-kcm-5.20.0</a></td>
   <td align="right">61kB</td>
   <td><tt>c0d75983f8e1ebc4c7f57524fc6028c40446eaa35f9972088d1ebb17469fa3e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.0/systemsettings-5.20.0.1.tar.xz">systemsettings-5.20.0.1</a></td>
   <td align="right">686kB</td>
   <td><tt>372d948816f29664d2dcf163f990d5475d3092bc3d9b48e6163e874c0713ec98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.0/xdg-desktop-portal-kde-5.20.0.tar.xz">xdg-desktop-portal-kde-5.20.0</a></td>
   <td align="right">78kB</td>
   <td><tt>0afd9418a291ea4a8cb1eaa85234b4210ca399493a2f614cf62a45d644dbe5bb</tt></td>
</tr>

</table>
