{{ define "main" }}
<main>
  <div class="container">
    <div class="text-center my-5 mx-auto" style="max-width: 800px">
      <h1>
        {{ .Title }}
      </h1>
      <h3 class="fw-light">{{ .Description }}</h3>
    </div>
  </div>

  <div class="position-relative student-section">
    <div class="slim-background"></div>
    <div class="header-background"></div>
    <div class="d-flex" id="features-hero">
      <h2>{{ .Params.fun_again }}</h2>
      <p>{{ .Params.fun_again_description }}</p>
      {{ with .Params.logo }}
        <img src="{{ . }}" class="d-block mx-auto mt-auto" height="100" width="100" />
      {{ end }}
      {{ with .Params.video }}
        <video autoplay muted loop>
          <source src="{{ . }}">
        </video>
      {{ end }}
    </div>
    <div class="footer-background"></div>
    <svg width="0" height="0">
    <defs>
    <clipPath id="header-decoration-clip" clipPathUnits="objectBoundingBox">
    <polygon points="0 0, 1 0.67, 1 1, 0 .12"></polygon>
    </clipPath>
    <clipPath id="slim-header-clip" clipPathUnits="objectBoundingBox">
    <polygon points="0 0, 1 0, 1 1, 0 .4"></polygon>
    </clipPath>
    <clipPath id="slim-footer-clip" clipPathUnits="objectBoundingBox">
    <polygon points="0 1, 1 1, 1 0, 0 .4"></polygon>
    </clipPath>
    </defs>
    </svg>
  </svg>
  </div>
  <div class="large-container container">
    <div class="text-center">
      <svg alt="" class="plasma-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22"><path style="fill:white;fill-opacity:1;stroke:none" d="M 7 3 C 6.446 3 6 3.446 6 4 C 6 4.554 6.446 5 7 5 C 7.554 5 8 4.554 8 4 C 8 3.446 7.554 3 7 3 z M 14 3 L 12 5 L 15 8 L 12 11 L 14 13 L 17 10 L 19 8 L 14 3 z M 4.5 9 C 3.669 9 3 9.669 3 10.5 C 3 11.331 3.669 12 4.5 12 C 5.331 12 6 11.331 6 10.5 C 6 9.669 5.331 9 4.5 9 z M 9 15 C 7.892 15 7 15.892 7 17 C 7 18.108 7.892 19 9 19 C 10.108 19 11 18.108 11 17 C 11 15.892 10.108 15 9 15 z "/>
      </svg>
      <h2>{{ .Params.plasma }}</h2>
    </div>
    <div class="row plasma-box-container mb-5 pt-5">
      <div class="plasma-box plasma-box-blue">
        <div class="plasma-box-header"><h3 class="mb-0">{{ .Params.distractions }}</h3></div>
        <p>{{ .Params.distractions_text }}</p>
      </div>

      <div class="plasma-box plasma-box-orange">
        <div class="plasma-box-header"><h3 class="mb-0">{{ .Params.customize }}</h3></div>
        <p>{{ .Params.customize_text }}</p>
      </div>

      <div class="plasma-box plasma-box-purple">
        <div class="plasma-box-header"><h3 class="mb-0">{{ .Params.get_out }}</h3></div>
        <p>{{ .Params.get_out_text }}</p>
      </div>
    </div>

    <img src="plasma.png" class="img-fluid mt-5" />

    <div class="d-flex justify-content-center"><p class="text-center mb-5 mt-0">
      <a href="../plasma-desktop" class="learn-more">{{ i18n "learn-more" }}</a></div>
    </p>
  </div>
  {{ .Content }}
</main>
{{ end }}
