{{ define "main" }}
<main class="container" role="main">
    <h1>{{ i18n "thanks.header1" }}</h1>
    <h2>{{ i18n "thanks.header2" }}</h2>
    <p>{{ i18n "thanks.text" }}</p>
    {{ $current := slice }}{{ $old := slice }}
    {{ $oneYearB4 := now.AddDate -1 0 0 }}
    {{ range .Params.donations }}
      {{ if .enddate }}
        {{ if gt (.enddate | time.AsTime) $oneYearB4 }}
          {{ $old = append . $old }}
        {{ end }}
      {{ else }}
        {{ $current = append . $current }}
      {{ end }}
    {{ end }}
    {{ with $current }}
    <h2>{{ i18n "thanks.donations.header2.1" }}</h2>
    <table class="thanks" width="100%">
        <tr>
            <th>{{ i18n "thanks.organization.table.header.1" }}</th>
            <th>{{ i18n "thanks.organization.table.header.2" }}</th>
            <th>{{ i18n "thanks.organization.table.header.3" }}</th>
            <th>{{ i18n "thanks.organization.table.header.4" }}</th>
        </tr>
        {{ range sort . "startdate" "desc" }}
        <tr>
            <td>{{ .organization }}</td>
            <td>{{ .description }}</td>
            <td>{{ .usage }}</td>
            <td>{{ .startdate}}</td>
        </tr>
        {{ end }}
    </table>
    {{ end }}
    <br><br>
    {{ with $old }}
    <h2>{{ i18n "thanks.donations.header2.2" }}</h2>
    <table class="thanks" width="100%">
        <tr>
            <th>{{ i18n "thanks.organization.table.header.1" }}</th>
            <th>{{ i18n "thanks.organization.table.header.2" }}</th>
            <th>{{ i18n "thanks.organization.table.header.3" }}</th>
            <th>{{ i18n "thanks.organization.table.header.4" }}</th>
        </tr>
        {{ range sort . "startdate" "desc" }}
        <tr>
            <td>{{ .organization }}</td>
            <td>{{ .description }}</td>
            <td>{{ .usage }}</td>
            <td>{{ .startdate }}</td>
        </tr>
        {{ end }}
    </table>
    {{ end }}
    <br><br>
    <em>{{ i18n "thanks.footer.text" }}</em>
</main>
{{ end }}
