<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/amor-14.11.90.tar.xz">amor-14.11.90</a></td>
   <td align="right">171kB</td>
   <td><tt>8ac6d4301b1a50ea6acc8176d0bd866ac2bb5720</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/analitza-14.11.90.tar.xz">analitza-14.11.90</a></td>
   <td align="right">222kB</td>
   <td><tt>de177e96a60d58ae43b888fc836adecf2de407cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/ark-14.11.90.tar.xz">ark-14.11.90</a></td>
   <td align="right">232kB</td>
   <td><tt>46d9380259f86cac05ec3acc62683168ed3a2211</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/artikulate-14.11.90.tar.xz">artikulate-14.11.90</a></td>
   <td align="right">3.6MB</td>
   <td><tt>57cbc71cf4dbe035470207e1122f116a580a30ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/audiocd-kio-14.11.90.tar.xz">audiocd-kio-14.11.90</a></td>
   <td align="right">50kB</td>
   <td><tt>9c0d2ffbe52d27580a422dd82b013e68ba63480e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/blinken-14.11.90.tar.xz">blinken-14.11.90</a></td>
   <td align="right">552kB</td>
   <td><tt>9a9dc1ea410358e89a5565b8f3c31826a9296b7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/bomber-14.11.90.tar.xz">bomber-14.11.90</a></td>
   <td align="right">381kB</td>
   <td><tt>68e4f854f4e260878002fa58ca8e1bcb8d622199</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/bovo-14.11.90.tar.xz">bovo-14.11.90</a></td>
   <td align="right">101kB</td>
   <td><tt>7af47f0e4f8e0d488435c24920601a81b7686a53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/cantor-14.11.90.tar.xz">cantor-14.11.90</a></td>
   <td align="right">335kB</td>
   <td><tt>311ae4f7730c0e5eafef76cc62fca45fa7213aae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/cervisia-14.11.90.tar.xz">cervisia-14.11.90</a></td>
   <td align="right">363kB</td>
   <td><tt>b36dee207ad4473f4d75f6c422690bc0b55307d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/dolphin-plugins-14.11.90.tar.xz">dolphin-plugins-14.11.90</a></td>
   <td align="right">57kB</td>
   <td><tt>aea170ec2f115fd26ceefb78a84f7d63415f1835</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/dragon-14.11.90.tar.xz">dragon-14.11.90</a></td>
   <td align="right">388kB</td>
   <td><tt>f9aaf55ad07d6d94c37902d061ec412e1de58e21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/ffmpegthumbs-14.11.90.tar.xz">ffmpegthumbs-14.11.90</a></td>
   <td align="right">19kB</td>
   <td><tt>07f90c122d2f24983252f486823d8808b7a6ce49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/filelight-14.11.90.tar.xz">filelight-14.11.90</a></td>
   <td align="right">280kB</td>
   <td><tt>f64c8873897306cded0fa8e961a8bcc02b81667d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/granatier-14.11.90.tar.xz">granatier-14.11.90</a></td>
   <td align="right">1.3MB</td>
   <td><tt>f4d6b7012a63c37b0251989954f8b4e4c07819a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/gwenview-14.11.90.tar.xz">gwenview-14.11.90</a></td>
   <td align="right">2.7MB</td>
   <td><tt>e9f721d6bac998b0474ca538d3108d1c5b731029</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/jovie-14.11.90.tar.xz">jovie-14.11.90</a></td>
   <td align="right">370kB</td>
   <td><tt>edbe186cf5e9aeec0f45e5905eadabd347431829</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/juk-14.11.90.tar.xz">juk-14.11.90</a></td>
   <td align="right">431kB</td>
   <td><tt>9024032d7421cfba499c03cd80a336e6ce60791b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kaccessible-14.11.90.tar.xz">kaccessible-14.11.90</a></td>
   <td align="right">20kB</td>
   <td><tt>50e4a50a5cc2d954dc0bd5eb5f1022afaa1c8b05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kajongg-14.11.90.tar.xz">kajongg-14.11.90</a></td>
   <td align="right">2.3MB</td>
   <td><tt>38e73457e410b272590217f0628d141ec69e1b78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kalgebra-14.11.90.tar.xz">kalgebra-14.11.90</a></td>
   <td align="right">263kB</td>
   <td><tt>876fe329be99a25c35f7d587823d659fa767f827</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kalzium-14.11.90.tar.xz">kalzium-14.11.90</a></td>
   <td align="right">3.7MB</td>
   <td><tt>9681b127cb8f0f7616ef4a742f219cb76bdfd0b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kamera-14.11.90.tar.xz">kamera-14.11.90</a></td>
   <td align="right">34kB</td>
   <td><tt>c39b9dd686f40ec0d37e904bc9430e3c51550e7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kanagram-14.11.90.tar.xz">kanagram-14.11.90</a></td>
   <td align="right">4.5MB</td>
   <td><tt>ac25edfd795058c7df3da52fc30ee08645c6bdcd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kapman-14.11.90.tar.xz">kapman-14.11.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>2bdeccc8a5ad771e4437a3ee14836940ac92054e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kapptemplate-14.11.90.tar.xz">kapptemplate-14.11.90</a></td>
   <td align="right">719kB</td>
   <td><tt>42b48b7034c0c090792a61fd18a26d7d3179a0bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kate-14.11.90.tar.xz">kate-14.11.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>7a9548d9e7622ebb40209981e7e792f9fcf3fc59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/katomic-14.11.90.tar.xz">katomic-14.11.90</a></td>
   <td align="right">643kB</td>
   <td><tt>fd00141f801ef4c14f138a17bf69fbd2ba8cec01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kblackbox-14.11.90.tar.xz">kblackbox-14.11.90</a></td>
   <td align="right">251kB</td>
   <td><tt>b5702eda12cbab38feb50e733aace9015953da27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kblocks-14.11.90.tar.xz">kblocks-14.11.90</a></td>
   <td align="right">1.1MB</td>
   <td><tt>7974ca2db496d857b9e464f32806adf91da8b28a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kbounce-14.11.90.tar.xz">kbounce-14.11.90</a></td>
   <td align="right">1.5MB</td>
   <td><tt>9e1d0ef7f28d5a224f7f376540c720c87095795e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kbreakout-14.11.90.tar.xz">kbreakout-14.11.90</a></td>
   <td align="right">1.3MB</td>
   <td><tt>526c3fb3ebe2ff1606e8852b540cb6660474afe7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kbruch-14.11.90.tar.xz">kbruch-14.11.90</a></td>
   <td align="right">882kB</td>
   <td><tt>75774bce010ca8d095f4939f3f73b9cf6568c250</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kcachegrind-14.11.90.tar.xz">kcachegrind-14.11.90</a></td>
   <td align="right">230kB</td>
   <td><tt>077e5ed9135c611971214cff6c30df280d3c4aaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kcalc-14.11.90.tar.xz">kcalc-14.11.90</a></td>
   <td align="right">80kB</td>
   <td><tt>859ea24fb4de1079b97545fb0a381dc63315512f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kcharselect-14.11.90.tar.xz">kcharselect-14.11.90</a></td>
   <td align="right">82kB</td>
   <td><tt>7db5bcbeca53b0723da63f92491922cec0af34e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kcolorchooser-14.11.90.tar.xz">kcolorchooser-14.11.90</a></td>
   <td align="right">4kB</td>
   <td><tt>0b3992bcb50b40d1c25937e7eb5cc03177cafce9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kcron-14.11.90.tar.xz">kcron-14.11.90</a></td>
   <td align="right">170kB</td>
   <td><tt>35652d41b3490f6ca496bbe127b52385c1de8306</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kdeartwork-14.11.90.tar.xz">kdeartwork-14.11.90</a></td>
   <td align="right">134MB</td>
   <td><tt>700246e4dbc814530c9506e4ed67e1ac400fca24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kde-baseapps-14.11.90.tar.xz">kde-baseapps-14.11.90</a></td>
   <td align="right">2.4MB</td>
   <td><tt>d8c53c2cfaff340c4e37abbcf7fe1121202bb035</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kde-base-artwork-14.11.90.tar.xz">kde-base-artwork-14.11.90</a></td>
   <td align="right">7.0MB</td>
   <td><tt>c98cf7436e4de25e04cf10acf4931ea6fd654108</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kde-dev-scripts-14.11.90.tar.xz">kde-dev-scripts-14.11.90</a></td>
   <td align="right">295kB</td>
   <td><tt>9126022bc1823eddbeeb69241f0a935a5a386d51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kde-dev-utils-14.11.90.tar.xz">kde-dev-utils-14.11.90</a></td>
   <td align="right">50kB</td>
   <td><tt>d9089576b55fb34fc2aeeea9d6f942b8c75915ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kdeedu-data-14.11.90.tar.xz">kdeedu-data-14.11.90</a></td>
   <td align="right">87kB</td>
   <td><tt>09a28a6710e32a4f067ab214ba34af6e646fca11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kdegraphics-mobipocket-14.11.90.tar.xz">kdegraphics-mobipocket-14.11.90</a></td>
   <td align="right">14kB</td>
   <td><tt>20d44381f9855c7d631f9a9896129c19ad564a07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kdegraphics-strigi-analyzer-14.11.90.tar.xz">kdegraphics-strigi-analyzer-14.11.90</a></td>
   <td align="right">39kB</td>
   <td><tt>a791cfc65d1c591bde23f848fce987b4fe0e6b83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kdegraphics-thumbnailers-14.11.90.tar.xz">kdegraphics-thumbnailers-14.11.90</a></td>
   <td align="right">40kB</td>
   <td><tt>c2dba33da32300cf4bb31655d0da52128c8501ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kdenetwork-filesharing-14.11.90.tar.xz">kdenetwork-filesharing-14.11.90</a></td>
   <td align="right">26kB</td>
   <td><tt>7d1c771366981d7c6e1efb5b2a1c8d771d5432f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kdenetwork-strigi-analyzers-14.11.90.tar.xz">kdenetwork-strigi-analyzers-14.11.90</a></td>
   <td align="right">14kB</td>
   <td><tt>0249d92babf6df01e7cf8835b8e9460ad0b12c11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kde-runtime-14.11.90.tar.xz">kde-runtime-14.11.90</a></td>
   <td align="right">7.5MB</td>
   <td><tt>e1236538331a284cfd8ff01431a96908023f67a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kdesdk-kioslaves-14.11.90.tar.xz">kdesdk-kioslaves-14.11.90</a></td>
   <td align="right">352kB</td>
   <td><tt>b20c16a77bee46a50beecdf512eb4adfce3866c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kdesdk-strigi-analyzers-14.11.90.tar.xz">kdesdk-strigi-analyzers-14.11.90</a></td>
   <td align="right">17kB</td>
   <td><tt>e95405560ba17c839708d11a4d8b92ca89912649</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kdesdk-thumbnailers-14.11.90.tar.xz">kdesdk-thumbnailers-14.11.90</a></td>
   <td align="right">11kB</td>
   <td><tt>72fc7410ec5670d1a3a277526ed5502fef4daa63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kde-wallpapers-14.11.90.tar.xz">kde-wallpapers-14.11.90</a></td>
   <td align="right">86MB</td>
   <td><tt>d435a3f45aae2310fbf0b94e5bc81cff5062f5a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kdewebdev-14.11.90.tar.xz">kdewebdev-14.11.90</a></td>
   <td align="right">2.4MB</td>
   <td><tt>68e730435316d771787d51ea8668952ba3654975</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kdf-14.11.90.tar.xz">kdf-14.11.90</a></td>
   <td align="right">145kB</td>
   <td><tt>c372ce94e8db28eb93b201109fe8eecf5366e813</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kdiamond-14.11.90.tar.xz">kdiamond-14.11.90</a></td>
   <td align="right">3.9MB</td>
   <td><tt>9c930092cc063b6f5e4a6178cd6946adf903413e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kfloppy-14.11.90.tar.xz">kfloppy-14.11.90</a></td>
   <td align="right">52kB</td>
   <td><tt>58a7b2c3a82d3051b24a58fb42aa539a9eec1600</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kfourinline-14.11.90.tar.xz">kfourinline-14.11.90</a></td>
   <td align="right">276kB</td>
   <td><tt>a57a90d8c6cb061c9995cd923f95f393fd70c173</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kgamma-14.11.90.tar.xz">kgamma-14.11.90</a></td>
   <td align="right">22kB</td>
   <td><tt>c12ed988f0a985f5c25f2deb76c86afcb69ed484</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kgeography-14.11.90.tar.xz">kgeography-14.11.90</a></td>
   <td align="right">6.4MB</td>
   <td><tt>5d085e61e660a900f7fe4e76de3b06045f66f5df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kget-14.11.90.tar.xz">kget-14.11.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>16a40bef5898fee4636187c5484cea9418496d7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kgoldrunner-14.11.90.tar.xz">kgoldrunner-14.11.90</a></td>
   <td align="right">1.9MB</td>
   <td><tt>ae903ea433556adeffd00986f320a32bb31c3fbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kgpg-14.11.90.tar.xz">kgpg-14.11.90</a></td>
   <td align="right">789kB</td>
   <td><tt>3e82e65978dc853b20b9d3132d7cebb838e90a64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/khangman-14.11.90.tar.xz">khangman-14.11.90</a></td>
   <td align="right">3.7MB</td>
   <td><tt>44d2b9f3c8e96bb6257815a91772dc4f1938e7e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kig-14.11.90.tar.xz">kig-14.11.90</a></td>
   <td align="right">1.4MB</td>
   <td><tt>5acdb4389244806cae6b677d56f16c448951f6c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kigo-14.11.90.tar.xz">kigo-14.11.90</a></td>
   <td align="right">1.3MB</td>
   <td><tt>6d7739ea5a6b2b61d1f25c6f18b13271ce62e963</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/killbots-14.11.90.tar.xz">killbots-14.11.90</a></td>
   <td align="right">940kB</td>
   <td><tt>c5a56572125f19d391a69b96d79fa8f7a6ac61d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kiriki-14.11.90.tar.xz">kiriki-14.11.90</a></td>
   <td align="right">114kB</td>
   <td><tt>d4ca3713df85f8b26272517e4f24e61956520f2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kiten-14.11.90.tar.xz">kiten-14.11.90</a></td>
   <td align="right">11MB</td>
   <td><tt>560d1e77d05bf7ed269114ddf9a10b190120241d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kjumpingcube-14.11.90.tar.xz">kjumpingcube-14.11.90</a></td>
   <td align="right">161kB</td>
   <td><tt>885f7902cd5cabae90e71b2d8e75b8011fd8d9ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/klettres-14.11.90.tar.xz">klettres-14.11.90</a></td>
   <td align="right">2.6MB</td>
   <td><tt>88690ccb59faf67c677481423b2edf1b0ba25959</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/klickety-14.11.90.tar.xz">klickety-14.11.90</a></td>
   <td align="right">765kB</td>
   <td><tt>c80ac0bbbe7c0fe7b333a4f85e003e1c73667c12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/klines-14.11.90.tar.xz">klines-14.11.90</a></td>
   <td align="right">926kB</td>
   <td><tt>07aeead9c6f004f6d1d0cf3c73881de28aaefa09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kmag-14.11.90.tar.xz">kmag-14.11.90</a></td>
   <td align="right">84kB</td>
   <td><tt>d4066e62befe820be85a4b90a18b7d2f4432a740</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kmahjongg-14.11.90.tar.xz">kmahjongg-14.11.90</a></td>
   <td align="right">984kB</td>
   <td><tt>d07b2f6681df4bb5e8c7cc440dccc4cb2dec9f26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kmines-14.11.90.tar.xz">kmines-14.11.90</a></td>
   <td align="right">613kB</td>
   <td><tt>728020057e44426e28cead1e224540116a2434c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kmix-14.11.90.tar.xz">kmix-14.11.90</a></td>
   <td align="right">377kB</td>
   <td><tt>4765673c9a64da8e826633ccc38cbf61bae6588b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kmousetool-14.11.90.tar.xz">kmousetool-14.11.90</a></td>
   <td align="right">34kB</td>
   <td><tt>707a5991f193126e347b101c4acbf098baa3555a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kmouth-14.11.90.tar.xz">kmouth-14.11.90</a></td>
   <td align="right">301kB</td>
   <td><tt>ffaac7e45aa45f028663cf7f57548c011916ae81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kmplot-14.11.90.tar.xz">kmplot-14.11.90</a></td>
   <td align="right">644kB</td>
   <td><tt>d9bae75c9685d44cf42cd93a514ca7cbbd71f0ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/knavalbattle-14.11.90.tar.xz">knavalbattle-14.11.90</a></td>
   <td align="right">834kB</td>
   <td><tt>4473546a4551110e3822b5827f228a9749b93d2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/knetwalk-14.11.90.tar.xz">knetwalk-14.11.90</a></td>
   <td align="right">763kB</td>
   <td><tt>8026d11c489ec84576acd7141a1c95562eed4b1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kolf-14.11.90.tar.xz">kolf-14.11.90</a></td>
   <td align="right">749kB</td>
   <td><tt>891f77870a42ebd0a2a8e4b63d81c7266f325e01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kollision-14.11.90.tar.xz">kollision-14.11.90</a></td>
   <td align="right">202kB</td>
   <td><tt>70abdf40b70f8c78201e632748bc1beac1267220</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kolourpaint-14.11.90.tar.xz">kolourpaint-14.11.90</a></td>
   <td align="right">1.1MB</td>
   <td><tt>2c4e57082483599b2ba44492e577d7877d28f89e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kompare-14.11.90.tar.xz">kompare-14.11.90</a></td>
   <td align="right">336kB</td>
   <td><tt>b8c916a5edd9fc77ac7fb28482497d52265f61b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/konquest-14.11.90.tar.xz">konquest-14.11.90</a></td>
   <td align="right">396kB</td>
   <td><tt>41789e81b5985ca42220411f0378ee62ff157c8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/konsole-14.11.90.tar.xz">konsole-14.11.90</a></td>
   <td align="right">449kB</td>
   <td><tt>2006267387dcac9fe262c882415f50df404670cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kopete-14.11.90.tar.xz">kopete-14.11.90</a></td>
   <td align="right">6.0MB</td>
   <td><tt>1389c43b1a1c543e4626e5828e21f617b89ecde2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kpat-14.11.90.tar.xz">kpat-14.11.90</a></td>
   <td align="right">2.9MB</td>
   <td><tt>e348a772bd10976e7afa920778c17d096204a3ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kppp-14.11.90.tar.xz">kppp-14.11.90</a></td>
   <td align="right">683kB</td>
   <td><tt>ed1c9f83b50148ff8e392e14eaec36ba42941db9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kqtquickcharts-14.11.90.tar.xz">kqtquickcharts-14.11.90</a></td>
   <td align="right">20kB</td>
   <td><tt>1a84b86f16b3022092af8dcecb66bfe9df4d0ab8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/krdc-14.11.90.tar.xz">krdc-14.11.90</a></td>
   <td align="right">389kB</td>
   <td><tt>5434cc42749f3273270ffbc9216a0c0444db5eff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kremotecontrol-14.11.90.tar.xz">kremotecontrol-14.11.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>89212c1650388fd099202a1eb7462c9d826176f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kreversi-14.11.90.tar.xz">kreversi-14.11.90</a></td>
   <td align="right">464kB</td>
   <td><tt>4ac54fd0cb0dbc68c5914dcca5f5fbc16e1371c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/krfb-14.11.90.tar.xz">krfb-14.11.90</a></td>
   <td align="right">319kB</td>
   <td><tt>79bb23ec35d5780e5f04052ec8bf84d3f22eea75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kruler-14.11.90.tar.xz">kruler-14.11.90</a></td>
   <td align="right">125kB</td>
   <td><tt>1a29f7a78e01207e1fa30387890cf8b9fc2f18ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/ksaneplugin-14.11.90.tar.xz">ksaneplugin-14.11.90</a></td>
   <td align="right">12kB</td>
   <td><tt>895d1fee5e1e91956ad23009b77ac8cdfdb0829f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kscd-14.11.90.tar.xz">kscd-14.11.90</a></td>
   <td align="right">90kB</td>
   <td><tt>40b3a7206d4a8b770e5e392f29fb83d71bb99d64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kshisen-14.11.90.tar.xz">kshisen-14.11.90</a></td>
   <td align="right">133kB</td>
   <td><tt>21c4d000d9d428f9f533ca81340f2445aab46e45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/ksirk-14.11.90.tar.xz">ksirk-14.11.90</a></td>
   <td align="right">4.7MB</td>
   <td><tt>65f80c53fbfafc5b941a19dd4a1ebee39f76c385</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/ksnakeduel-14.11.90.tar.xz">ksnakeduel-14.11.90</a></td>
   <td align="right">312kB</td>
   <td><tt>8ffe65b1356072fde7acff59ce06f3121fb2bef3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/ksnapshot-14.11.90.tar.xz">ksnapshot-14.11.90</a></td>
   <td align="right">252kB</td>
   <td><tt>0c3e3434506b7fa32e496652568f8b9bcefe2f10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kspaceduel-14.11.90.tar.xz">kspaceduel-14.11.90</a></td>
   <td align="right">247kB</td>
   <td><tt>0d2b7527c237d4fe25372181e03d3522281f3302</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/ksquares-14.11.90.tar.xz">ksquares-14.11.90</a></td>
   <td align="right">78kB</td>
   <td><tt>e2bb5b0bf23d5efeb12853e402b25f332d839701</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kstars-14.11.90.tar.xz">kstars-14.11.90</a></td>
   <td align="right">11MB</td>
   <td><tt>7aae86c60d776f655ad614f1567cb8121fe4cc8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/ksudoku-14.11.90.tar.xz">ksudoku-14.11.90</a></td>
   <td align="right">1.3MB</td>
   <td><tt>7bf1b8c9a99cb51d669bc3bdafbf3a80f31d7443</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/ksystemlog-14.11.90.tar.xz">ksystemlog-14.11.90</a></td>
   <td align="right">372kB</td>
   <td><tt>637f10dc4f5a38417fc39e901294f346f1129858</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kteatime-14.11.90.tar.xz">kteatime-14.11.90</a></td>
   <td align="right">98kB</td>
   <td><tt>1211106a7630e2f0c99d0166535f5a607b896bb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/ktimer-14.11.90.tar.xz">ktimer-14.11.90</a></td>
   <td align="right">143kB</td>
   <td><tt>0c4d2781d599171eb3f386c778d72d555589343a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/ktouch-14.11.90.tar.xz">ktouch-14.11.90</a></td>
   <td align="right">2.3MB</td>
   <td><tt>22476e4d3c6dd94c9d7db974c0b703b2396df2b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/ktuberling-14.11.90.tar.xz">ktuberling-14.11.90</a></td>
   <td align="right">4.0MB</td>
   <td><tt>6a6c48b6d9977af3a17312078f03bec6c569ae5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kturtle-14.11.90.tar.xz">kturtle-14.11.90</a></td>
   <td align="right">188kB</td>
   <td><tt>de27ecb69f6a57c72e357ffe14623be0528924d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/ktux-14.11.90.tar.xz">ktux-14.11.90</a></td>
   <td align="right">105kB</td>
   <td><tt>443b70f8af807aaadfdd1d0592c41525be7e6ac1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kubrick-14.11.90.tar.xz">kubrick-14.11.90</a></td>
   <td align="right">104kB</td>
   <td><tt>7fbcbfb6b84365e8e35efa7d7bf2ed212ed7632b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kuser-14.11.90.tar.xz">kuser-14.11.90</a></td>
   <td align="right">132kB</td>
   <td><tt>53e560cf80c54af63ff6077050b733f1ae93e118</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kwalletmanager-14.11.90.tar.xz">kwalletmanager-14.11.90</a></td>
   <td align="right">445kB</td>
   <td><tt>0f6c1353897fde5c18422ddf131c5f224e112785</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kwordquiz-14.11.90.tar.xz">kwordquiz-14.11.90</a></td>
   <td align="right">1.1MB</td>
   <td><tt>d2be0e8c05747b52f278926b6e2980029ebf3364</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/libkcddb-14.11.90.tar.xz">libkcddb-14.11.90</a></td>
   <td align="right">154kB</td>
   <td><tt>3b4b7e366339b6f87c097136c69f4648c04669a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/libkcompactdisc-14.11.90.tar.xz">libkcompactdisc-14.11.90</a></td>
   <td align="right">74kB</td>
   <td><tt>53c3c3b37c214ac80b1ae8adfc8a8a2352925af9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/libkdcraw-14.11.90.tar.xz">libkdcraw-14.11.90</a></td>
   <td align="right">100kB</td>
   <td><tt>e90a2eb4aad0c89a14ab8e3058e27608efd3a615</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/libkdeedu-14.11.90.tar.xz">libkdeedu-14.11.90</a></td>
   <td align="right">127kB</td>
   <td><tt>67541726d6369f55e601f1409abc2cb3a9d828db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/libkdegames-14.11.90.tar.xz">libkdegames-14.11.90</a></td>
   <td align="right">5.5MB</td>
   <td><tt>dc2906e4405ff069f7952763b76d5460900732c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/libkeduvocdocument-14.11.90.tar.xz">libkeduvocdocument-14.11.90</a></td>
   <td align="right">96kB</td>
   <td><tt>afb7953a45a5d2ae4ce16347fe622f57000c4968</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/libkexiv2-14.11.90.tar.xz">libkexiv2-14.11.90</a></td>
   <td align="right">134kB</td>
   <td><tt>e998f2eecf84e3ebd83a83d59a8d86b07a3f1590</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/libkface-14.11.90.tar.xz">libkface-14.11.90</a></td>
   <td align="right">8.5MB</td>
   <td><tt>8e941625d91c03968e63c8722a141ae12b9a0a52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/libkipi-14.11.90.tar.xz">libkipi-14.11.90</a></td>
   <td align="right">93kB</td>
   <td><tt>9901ff0f1b1ae1bdf412e24654c0219d46db7445</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/libkmahjongg-14.11.90.tar.xz">libkmahjongg-14.11.90</a></td>
   <td align="right">1.5MB</td>
   <td><tt>47648f77fd7aded37ca939ab1cce4d83ec2a5bba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/libkomparediff2-14.11.90.tar.xz">libkomparediff2-14.11.90</a></td>
   <td align="right">55kB</td>
   <td><tt>255d733bc5eefc2f1d0b37da3ae3a0a361e1845a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/libksane-14.11.90.tar.xz">libksane-14.11.90</a></td>
   <td align="right">79kB</td>
   <td><tt>b9d0efb31d719991d7e33d97b71d0357be6b1993</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/lokalize-14.11.90.tar.xz">lokalize-14.11.90</a></td>
   <td align="right">826kB</td>
   <td><tt>d44185fbedb2091a74e4cf7c7ffcd3efc3344916</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/lskat-14.11.90.tar.xz">lskat-14.11.90</a></td>
   <td align="right">907kB</td>
   <td><tt>b19f1bd6522393f2f5494d6c8e72e73a6f3a2ac7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/marble-14.11.90.tar.xz">marble-14.11.90</a></td>
   <td align="right">18MB</td>
   <td><tt>940b69815cad36c68ba1c181858fc1703f2e2343</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/mplayerthumbs-14.11.90.tar.xz">mplayerthumbs-14.11.90</a></td>
   <td align="right">26kB</td>
   <td><tt>004e06292432bf992dba77d310d61f392c11c21a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/okteta-14.11.90.tar.xz">okteta-14.11.90</a></td>
   <td align="right">490kB</td>
   <td><tt>7badb0f101dbb5136b7c29175b44de20be2c9dde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/okular-14.11.90.tar.xz">okular-14.11.90</a></td>
   <td align="right">1.5MB</td>
   <td><tt>7c084dbecac1c25d760128a6f3367c45ab1fb1d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/oxygen-icons-14.11.90.tar.xz">oxygen-icons-14.11.90</a></td>
   <td align="right">219MB</td>
   <td><tt>276cec910c601521f4557c16c6e40b40e6ddd602</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/pairs-14.11.90.tar.xz">pairs-14.11.90</a></td>
   <td align="right">2.6MB</td>
   <td><tt>6697b3293c6d1b1c97016082020888306078b763</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/palapeli-14.11.90.tar.xz">palapeli-14.11.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>9ba784971a6b87584c3ab86409ebea74f4e786ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/parley-14.11.90.tar.xz">parley-14.11.90</a></td>
   <td align="right">4.5MB</td>
   <td><tt>c385e91938a97fa3b7fefd328671b86a50eb49b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/picmi-14.11.90.tar.xz">picmi-14.11.90</a></td>
   <td align="right">714kB</td>
   <td><tt>ce04289ee33cfd25c457c4cf12277f62f6528372</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/poxml-14.11.90.tar.xz">poxml-14.11.90</a></td>
   <td align="right">30kB</td>
   <td><tt>9b21d7365b82e56bc5a52bb662ab3f181f394fdd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/print-manager-14.11.90.tar.xz">print-manager-14.11.90</a></td>
   <td align="right">90kB</td>
   <td><tt>ee8fd44347b12ece4d1e8dedb6d268ca268372e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/rocs-14.11.90.tar.xz">rocs-14.11.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>028d3c5d68e9d92ac67c1f51d4a6b6ecd8c27459</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/step-14.11.90.tar.xz">step-14.11.90</a></td>
   <td align="right">369kB</td>
   <td><tt>e34a14cb4402668fa4eea6124497d9ba697a6adb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/superkaramba-14.11.90.tar.xz">superkaramba-14.11.90</a></td>
   <td align="right">372kB</td>
   <td><tt>22b73f85930180a8ac9372b8ee36a844e0f1a809</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/svgpart-14.11.90.tar.xz">svgpart-14.11.90</a></td>
   <td align="right">8kB</td>
   <td><tt>038d93af3209271933c7edac15879d71ecc4c3e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/sweeper-14.11.90.tar.xz">sweeper-14.11.90</a></td>
   <td align="right">80kB</td>
   <td><tt>6ee9139a8e6d2ed2ef2d9412e4b50ae6db637c1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/umbrello-14.11.90.tar.xz">umbrello-14.11.90</a></td>
   <td align="right">1.4MB</td>
   <td><tt>8194257fb73bf0e6879d87133a0194cd8b62533f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/zeroconf-ioslave-14.11.90.tar.xz">zeroconf-ioslave-14.11.90</a></td>
   <td align="right">25kB</td>
   <td><tt>a4bfc431232c45fa4fdc10adb15b5fcc07cfe632</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kde-l10n/kde-l10n-ar-14.11.90.tar.xz">kde-l10n-ar-14.11.90</a></td>
   <td align="right">3.1MB</td>
   <td><tt>d1dd468ae55836b6f277f46b6054b1e605953620</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kde-l10n/kde-l10n-bg-14.11.90.tar.xz">kde-l10n-bg-14.11.90</a></td>
   <td align="right">1.9MB</td>
   <td><tt>42bcb50d79909416afac1ea759e56ffe7aec9061</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kde-l10n/kde-l10n-bs-14.11.90.tar.xz">kde-l10n-bs-14.11.90</a></td>
   <td align="right">2.2MB</td>
   <td><tt>0ce1fa1a39d2e26b410f524311a809b6dc0c82e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kde-l10n/kde-l10n-ca-14.11.90.tar.xz">kde-l10n-ca-14.11.90</a></td>
   <td align="right">11MB</td>
   <td><tt>97cff573756d9c5606bf5fcfc74d4645242c842e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kde-l10n/kde-l10n-ca@valencia-14.11.90.tar.xz">kde-l10n-ca@valencia-14.11.90</a></td>
   <td align="right">2.2MB</td>
   <td><tt>b953df20f2edbcbf8d468685d3302e7eaf0fa81f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kde-l10n/kde-l10n-cs-14.11.90.tar.xz">kde-l10n-cs-14.11.90</a></td>
   <td align="right">2.8MB</td>
   <td><tt>4329102038b229ec22bd4f47b666cfb56cda9e33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kde-l10n/kde-l10n-da-14.11.90.tar.xz">kde-l10n-da-14.11.90</a></td>
   <td align="right">12MB</td>
   <td><tt>3d4ced7f9cd643e01cec993e336c456ce1dc2489</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kde-l10n/kde-l10n-de-14.11.90.tar.xz">kde-l10n-de-14.11.90</a></td>
   <td align="right">34MB</td>
   <td><tt>90ad225aff50e9e1ef3e754bc6ed7a40eb5dc292</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kde-l10n/kde-l10n-el-14.11.90.tar.xz">kde-l10n-el-14.11.90</a></td>
   <td align="right">4.6MB</td>
   <td><tt>a0bf1556d3e6b486c8baa18dead1c52e4a85f855</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kde-l10n/kde-l10n-en_GB-14.11.90.tar.xz">kde-l10n-en_GB-14.11.90</a></td>
   <td align="right">2.9MB</td>
   <td><tt>c22935e228239f814c36346fcbd607274d87bb9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kde-l10n/kde-l10n-es-14.11.90.tar.xz">kde-l10n-es-14.11.90</a></td>
   <td align="right">20MB</td>
   <td><tt>557ec90cbe589bddea2d0ecf977e0ca996dfc37f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kde-l10n/kde-l10n-et-14.11.90.tar.xz">kde-l10n-et-14.11.90</a></td>
   <td align="right">4.3MB</td>
   <td><tt>49339cb33eb298caa23890caa439c28b473ec6c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kde-l10n/kde-l10n-eu-14.11.90.tar.xz">kde-l10n-eu-14.11.90</a></td>
   <td align="right">2.0MB</td>
   <td><tt>0d28c0bf81f18ce865e39168de49d80af25cc4df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kde-l10n/kde-l10n-fa-14.11.90.tar.xz">kde-l10n-fa-14.11.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>d60cef04a796c084b7ab51259c73215e1e6a9dba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kde-l10n/kde-l10n-fi-14.11.90.tar.xz">kde-l10n-fi-14.11.90</a></td>
   <td align="right">2.6MB</td>
   <td><tt>9cbef6309732234c342559a1bab9d129031abb90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kde-l10n/kde-l10n-fr-14.11.90.tar.xz">kde-l10n-fr-14.11.90</a></td>
   <td align="right">44MB</td>
   <td><tt>970ecbc0facb9cecb1962b097eeedd27c300a275</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kde-l10n/kde-l10n-ga-14.11.90.tar.xz">kde-l10n-ga-14.11.90</a></td>
   <td align="right">2.7MB</td>
   <td><tt>ea52e5414f9c23790ab85d2c731c7120f99025aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kde-l10n/kde-l10n-gl-14.11.90.tar.xz">kde-l10n-gl-14.11.90</a></td>
   <td align="right">3.4MB</td>
   <td><tt>bc067fc3af36f8b20ea146904b020134d0b50539</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kde-l10n/kde-l10n-he-14.11.90.tar.xz">kde-l10n-he-14.11.90</a></td>
   <td align="right">2.0MB</td>
   <td><tt>27a1c90655f87cb05ac1a17e32406ee03df62897</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kde-l10n/kde-l10n-hi-14.11.90.tar.xz">kde-l10n-hi-14.11.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>ab61fa27b335cb37b44fc172c0ff4db109c99b7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kde-l10n/kde-l10n-hr-14.11.90.tar.xz">kde-l10n-hr-14.11.90</a></td>
   <td align="right">1.9MB</td>
   <td><tt>ac64530669d98583fa180822e477c0fcff6bf9e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kde-l10n/kde-l10n-hu-14.11.90.tar.xz">kde-l10n-hu-14.11.90</a></td>
   <td align="right">4.0MB</td>
   <td><tt>7295317c96ddbb7626d37563e532c51927e88b6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kde-l10n/kde-l10n-ia-14.11.90.tar.xz">kde-l10n-ia-14.11.90</a></td>
   <td align="right">1.3MB</td>
   <td><tt>1d078eae2b8faa7bb695360164fadbd60ff1fdeb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kde-l10n/kde-l10n-id-14.11.90.tar.xz">kde-l10n-id-14.11.90</a></td>
   <td align="right">518kB</td>
   <td><tt>16b96b6d0086a3c2812b01cdd42de83dffc5c364</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kde-l10n/kde-l10n-is-14.11.90.tar.xz">kde-l10n-is-14.11.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>0e1d1f27beba5816ad4aa8884846056a0fd9be62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kde-l10n/kde-l10n-it-14.11.90.tar.xz">kde-l10n-it-14.11.90</a></td>
   <td align="right">8.4MB</td>
   <td><tt>b0007e37d80b2d1214f324158edaaa068334a1ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kde-l10n/kde-l10n-ja-14.11.90.tar.xz">kde-l10n-ja-14.11.90</a></td>
   <td align="right">2.1MB</td>
   <td><tt>ef9fa56085ce8f4b7f9445cb00823dafcae8f8df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kde-l10n/kde-l10n-kk-14.11.90.tar.xz">kde-l10n-kk-14.11.90</a></td>
   <td align="right">2.5MB</td>
   <td><tt>4cd531661f40dc1313dc424bb39a1eda8a1b7129</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kde-l10n/kde-l10n-km-14.11.90.tar.xz">kde-l10n-km-14.11.90</a></td>
   <td align="right">2.1MB</td>
   <td><tt>19e1bd2279030f0a2da661faf8a0f0711c14d316</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kde-l10n/kde-l10n-ko-14.11.90.tar.xz">kde-l10n-ko-14.11.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>c128117da1d18ad7c691873f0787e011398a2ffa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kde-l10n/kde-l10n-lt-14.11.90.tar.xz">kde-l10n-lt-14.11.90</a></td>
   <td align="right">12MB</td>
   <td><tt>5868ba1697d2b57396f4f3c859056e31eea246ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kde-l10n/kde-l10n-lv-14.11.90.tar.xz">kde-l10n-lv-14.11.90</a></td>
   <td align="right">2.1MB</td>
   <td><tt>8770543ce5a0a37763c0395dbd10122bcd194b75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kde-l10n/kde-l10n-mr-14.11.90.tar.xz">kde-l10n-mr-14.11.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>1844987255e42d83f63507bb6f5e9e8ff348fdbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kde-l10n/kde-l10n-nb-14.11.90.tar.xz">kde-l10n-nb-14.11.90</a></td>
   <td align="right">2.3MB</td>
   <td><tt>5b0e9a11414065e1e5057a65ccb20290be4d04dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kde-l10n/kde-l10n-nds-14.11.90.tar.xz">kde-l10n-nds-14.11.90</a></td>
   <td align="right">3.1MB</td>
   <td><tt>91899da8cf98bb819e55a7c9668582e566c61865</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kde-l10n/kde-l10n-nl-14.11.90.tar.xz">kde-l10n-nl-14.11.90</a></td>
   <td align="right">13MB</td>
   <td><tt>b76e811a981743bcdb924a659ce74db72bfb9b43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kde-l10n/kde-l10n-nn-14.11.90.tar.xz">kde-l10n-nn-14.11.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>630ac59ad75c5114db87d69c13c7b9eac8f58c42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kde-l10n/kde-l10n-pa-14.11.90.tar.xz">kde-l10n-pa-14.11.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>3efbfab9588faae5376fdef615777dee41aca138</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kde-l10n/kde-l10n-pl-14.11.90.tar.xz">kde-l10n-pl-14.11.90</a></td>
   <td align="right">18MB</td>
   <td><tt>c4b47fbb842d0ad7ac7a746f452f728b211f6dde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kde-l10n/kde-l10n-pt-14.11.90.tar.xz">kde-l10n-pt-14.11.90</a></td>
   <td align="right">3.5MB</td>
   <td><tt>0ffb6cd914ce726ff0517064bc3a87e3a098a434</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kde-l10n/kde-l10n-pt_BR-14.11.90.tar.xz">kde-l10n-pt_BR-14.11.90</a></td>
   <td align="right">23MB</td>
   <td><tt>ccbf919b128585bbfa4e39fd1ee9b0660ecd7db1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kde-l10n/kde-l10n-ro-14.11.90.tar.xz">kde-l10n-ro-14.11.90</a></td>
   <td align="right">2.9MB</td>
   <td><tt>5c4f906debdd086c3b4fb5e06c11c550b7b684e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kde-l10n/kde-l10n-ru-14.11.90.tar.xz">kde-l10n-ru-14.11.90</a></td>
   <td align="right">22MB</td>
   <td><tt>f818a608930c3d128f5ac9dba9f3cbf4021b1c39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kde-l10n/kde-l10n-sk-14.11.90.tar.xz">kde-l10n-sk-14.11.90</a></td>
   <td align="right">4.3MB</td>
   <td><tt>c484af5a5f2e062462b081d8f51ff7de53e94e21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kde-l10n/kde-l10n-sl-14.11.90.tar.xz">kde-l10n-sl-14.11.90</a></td>
   <td align="right">3.0MB</td>
   <td><tt>331ac6bd2942a0c65e3055e10a0921c8058288cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kde-l10n/kde-l10n-sr-14.11.90.tar.xz">kde-l10n-sr-14.11.90</a></td>
   <td align="right">5.8MB</td>
   <td><tt>a62781c6fb6d95a1e29b4820160000ea019f4723</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kde-l10n/kde-l10n-sv-14.11.90.tar.xz">kde-l10n-sv-14.11.90</a></td>
   <td align="right">13MB</td>
   <td><tt>c1e792b0173e02f3a1c5a9c117965920280bc9f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kde-l10n/kde-l10n-tr-14.11.90.tar.xz">kde-l10n-tr-14.11.90</a></td>
   <td align="right">3.7MB</td>
   <td><tt>6060be0a8b368d9c007dec3b021e57e4872ebe8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kde-l10n/kde-l10n-ug-14.11.90.tar.xz">kde-l10n-ug-14.11.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>647f5301eb3ede44c149f499041544c591532a99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kde-l10n/kde-l10n-uk-14.11.90.tar.xz">kde-l10n-uk-14.11.90</a></td>
   <td align="right">25MB</td>
   <td><tt>fa37fb00376322f977e128d272f51b5c8d3cc4d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kde-l10n/kde-l10n-wa-14.11.90.tar.xz">kde-l10n-wa-14.11.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>f40659538467ee80055a080ed4d9d117abd5c20a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kde-l10n/kde-l10n-zh_CN-14.11.90.tar.xz">kde-l10n-zh_CN-14.11.90</a></td>
   <td align="right">3.4MB</td>
   <td><tt>bf970dd0c852393fe2f507993dca9d533cd6f408</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.90/src/kde-l10n/kde-l10n-zh_TW-14.11.90.tar.xz">kde-l10n-zh_TW-14.11.90</a></td>
   <td align="right">2.5MB</td>
   <td><tt>1bfca3ccd94085a0e0cf5062436dd7a974956f5e</tt></td>
</tr>

</table>
