<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/akonadi-17.03.80.tar.xz">akonadi-17.03.80</a></td>
   <td align="right">1014kB</td>
   <td><tt>f8cf921d16865e0f342ee60cb4bf36096f4ca4a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/akonadi-calendar-17.03.80.tar.xz">akonadi-calendar-17.03.80</a></td>
   <td align="right">112kB</td>
   <td><tt>75f34fee4385b311fb858a41752e38afddb2444e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/akonadi-calendar-tools-17.03.80.tar.xz">akonadi-calendar-tools-17.03.80</a></td>
   <td align="right">61kB</td>
   <td><tt>c53a558183ad4ab69f4040ffbab3196a0986ebf1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/akonadiconsole-17.03.80.tar.xz">akonadiconsole-17.03.80</a></td>
   <td align="right">180kB</td>
   <td><tt>725478e97b96130bf690531db9fd61b99a2351b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/akonadi-contacts-17.03.80.tar.xz">akonadi-contacts-17.03.80</a></td>
   <td align="right">146kB</td>
   <td><tt>8769d1036521e16b97d1b7ef7067ac190cd40dbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/akonadi-import-wizard-17.03.80.tar.xz">akonadi-import-wizard-17.03.80</a></td>
   <td align="right">236kB</td>
   <td><tt>d4b9aa65617c3ba9d2ce2d25f5bc906dc451d630</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/akonadi-mime-17.03.80.tar.xz">akonadi-mime-17.03.80</a></td>
   <td align="right">54kB</td>
   <td><tt>838dd18c72d96e87a42917ae6a5d85b7926e1b89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/akonadi-notes-17.03.80.tar.xz">akonadi-notes-17.03.80</a></td>
   <td align="right">18kB</td>
   <td><tt>a2ae1fed3a9f28eed1a3feefb5c1cbe8fd247a9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/akonadi-search-17.03.80.tar.xz">akonadi-search-17.03.80</a></td>
   <td align="right">71kB</td>
   <td><tt>948d0aa5cca8e0959322d64e9ad5e3f8f75862fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/akregator-17.03.80.tar.xz">akregator-17.03.80</a></td>
   <td align="right">865kB</td>
   <td><tt>361456e9afce1902663fc0d90d528e0c105b5101</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/analitza-17.03.80.tar.xz">analitza-17.03.80</a></td>
   <td align="right">224kB</td>
   <td><tt>d88d9cfb11b875c9d95a2fe88fe1899cf5214fff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/ark-17.03.80.tar.xz">ark-17.03.80</a></td>
   <td align="right">1.2MB</td>
   <td><tt>9a36a2e178edd2018b26d2b1140c4a8d790e5cfd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/artikulate-17.03.80.tar.xz">artikulate-17.03.80</a></td>
   <td align="right">3.4MB</td>
   <td><tt>dc0021fcaf755ea7f5441a6c1f22c01e32a2aa11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/audiocd-kio-17.03.80.tar.xz">audiocd-kio-17.03.80</a></td>
   <td align="right">52kB</td>
   <td><tt>498f2dbc332bfcff202325dfcc6bfb95eee3abed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/baloo-widgets-17.03.80.tar.xz">baloo-widgets-17.03.80</a></td>
   <td align="right">56kB</td>
   <td><tt>6c35c641be00146152aeb2bcc7e6c1906e793c81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/blinken-17.03.80.tar.xz">blinken-17.03.80</a></td>
   <td align="right">549kB</td>
   <td><tt>6c9c684755b0e75ce1049b9447d6814f8e8f5f26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/blogilo-17.03.80.tar.xz">blogilo-17.03.80</a></td>
   <td align="right">322kB</td>
   <td><tt>43f081d48de821bd55705cbe63e69de42086023b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/bomber-17.03.80.tar.xz">bomber-17.03.80</a></td>
   <td align="right">698kB</td>
   <td><tt>0af7b01c1eb568737d25359d1dadae46719e97c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/bovo-17.03.80.tar.xz">bovo-17.03.80</a></td>
   <td align="right">136kB</td>
   <td><tt>16cee2f1b41c6f35471ae9529c081dd2a5102e80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/calendarsupport-17.03.80.tar.xz">calendarsupport-17.03.80</a></td>
   <td align="right">98kB</td>
   <td><tt>251b2b809dddee0cfa7bf559323aca665f681dd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/cantor-17.03.80.tar.xz">cantor-17.03.80</a></td>
   <td align="right">368kB</td>
   <td><tt>0d360be1ca258446c3668c7b509af85c54c98869</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/cervisia-17.03.80.tar.xz">cervisia-17.03.80</a></td>
   <td align="right">464kB</td>
   <td><tt>6aa7a69dcefa09c3a7ba1fc74e8fe5dfed20d789</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/dolphin-17.03.80.tar.xz">dolphin-17.03.80</a></td>
   <td align="right">681kB</td>
   <td><tt>adca234b1390c5eb240e6ea396e8f470f505496e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/dolphin-plugins-17.03.80.tar.xz">dolphin-plugins-17.03.80</a></td>
   <td align="right">59kB</td>
   <td><tt>a681c0b7e39e5e6066add076adc716e3f977e80d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/dragon-17.03.80.tar.xz">dragon-17.03.80</a></td>
   <td align="right">468kB</td>
   <td><tt>d997eacb080fa970d814ada1bf23b5fd8a21b06b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/eventviews-17.03.80.tar.xz">eventviews-17.03.80</a></td>
   <td align="right">144kB</td>
   <td><tt>7d6e302a1d292b462133d4ca5084079d2fab4675</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/ffmpegthumbs-17.03.80.tar.xz">ffmpegthumbs-17.03.80</a></td>
   <td align="right">20kB</td>
   <td><tt>a70bd245bf4ea6ac5612228ead1b29bfa437d9b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/filelight-17.03.80.tar.xz">filelight-17.03.80</a></td>
   <td align="right">206kB</td>
   <td><tt>4edb03a253313d46c8dd80ce7ac3105c08203ee9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/granatier-17.03.80.tar.xz">granatier-17.03.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>1fe2261d7e982a0ce4c517574958891d826877fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/grantlee-editor-17.03.80.tar.xz">grantlee-editor-17.03.80</a></td>
   <td align="right">44kB</td>
   <td><tt>ef5c3b6bb1efa32bd541ea60034f40952353eb0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/grantleetheme-17.03.80.tar.xz">grantleetheme-17.03.80</a></td>
   <td align="right">43kB</td>
   <td><tt>d79f3218214ce6a4fb8450371586d10e01279791</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/gwenview-17.03.80.tar.xz">gwenview-17.03.80</a></td>
   <td align="right">2.7MB</td>
   <td><tt>8d2fd909b6ae2ae61817b120b6a6f611e1c775f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/incidenceeditor-17.03.80.tar.xz">incidenceeditor-17.03.80</a></td>
   <td align="right">118kB</td>
   <td><tt>a70beab1eabab1d5277978c1f77f81664293ac2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/jovie-17.03.80.tar.xz">jovie-17.03.80</a></td>
   <td align="right">385kB</td>
   <td><tt>c352a54cc8541000981bb1d6e30148f416f4ebbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/juk-17.03.80.tar.xz">juk-17.03.80</a></td>
   <td align="right">435kB</td>
   <td><tt>850714bbaef0b94a45a47438abecbac92946ea63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/k3b-17.03.80.tar.xz">k3b-17.03.80</a></td>
   <td align="right">5.9MB</td>
   <td><tt>d54c812d2df7bb8821f6f07b14a39824f6a9742a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kaccessible-17.03.80.tar.xz">kaccessible-17.03.80</a></td>
   <td align="right">20kB</td>
   <td><tt>0fd76c082af358c5cbefc6c7e1a00582cf389e9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kaccounts-integration-17.03.80.tar.xz">kaccounts-integration-17.03.80</a></td>
   <td align="right">45kB</td>
   <td><tt>43d76c7a6f11ef6729894f432a177210adcd806c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kaccounts-providers-17.03.80.tar.xz">kaccounts-providers-17.03.80</a></td>
   <td align="right">16kB</td>
   <td><tt>8f24062b68e6a33bfcbcfaba7e6168e3166bac28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kaddressbook-17.03.80.tar.xz">kaddressbook-17.03.80</a></td>
   <td align="right">162kB</td>
   <td><tt>a277cd66c73f574f67fdcdc68a495465acbd8212</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kajongg-17.03.80.tar.xz">kajongg-17.03.80</a></td>
   <td align="right">2.4MB</td>
   <td><tt>699aca584429c0a0af6943fab7d1fdc7c2e6b887</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kalarm-17.03.80.tar.xz">kalarm-17.03.80</a></td>
   <td align="right">528kB</td>
   <td><tt>29d72801c9582205af7b22108f25f29ab3064db0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kalarmcal-17.03.80.tar.xz">kalarmcal-17.03.80</a></td>
   <td align="right">85kB</td>
   <td><tt>5cb6d74c6c3969e980bd6f589ac03810d69d585c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kalgebra-17.03.80.tar.xz">kalgebra-17.03.80</a></td>
   <td align="right">315kB</td>
   <td><tt>b34b3380daa150fe1eed569c649a505ffdfd4785</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kalzium-17.03.80.tar.xz">kalzium-17.03.80</a></td>
   <td align="right">4.3MB</td>
   <td><tt>69efaf4dbd8110dea8355264259f59ba0190a2d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kamera-17.03.80.tar.xz">kamera-17.03.80</a></td>
   <td align="right">36kB</td>
   <td><tt>cc808f6bceb883b3044b871c3e9cc573e73c565e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kanagram-17.03.80.tar.xz">kanagram-17.03.80</a></td>
   <td align="right">5.2MB</td>
   <td><tt>0af0644205c42ab44f25dbbdadf9296672e2ff85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kapman-17.03.80.tar.xz">kapman-17.03.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>31abd65c97036e5447188b9d52957fb6923dd904</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kapptemplate-17.03.80.tar.xz">kapptemplate-17.03.80</a></td>
   <td align="right">421kB</td>
   <td><tt>0d27b2380b7cdce1aadaf3b9003a892725bb8255</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kate-17.03.80.tar.xz">kate-17.03.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>f5ace93a3220d98781ab1f0dc7afdbb36d59ce5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/katomic-17.03.80.tar.xz">katomic-17.03.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>0187e529eb0c00c298f466657919860d66b7227f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kblackbox-17.03.80.tar.xz">kblackbox-17.03.80</a></td>
   <td align="right">216kB</td>
   <td><tt>ff6dacd177e1c6606a624707d6318b055cd3ec95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kblocks-17.03.80.tar.xz">kblocks-17.03.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>ed0eb657e2d1c573956a01905d0f8123ed6ac5ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kblog-17.03.80.tar.xz">kblog-17.03.80</a></td>
   <td align="right">42kB</td>
   <td><tt>860767df6bc4829540e6b067c2e6b9e2bd30328e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kbounce-17.03.80.tar.xz">kbounce-17.03.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>42dcd007f28ffddc1708ae225274fe8ba3e4d738</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kbreakout-17.03.80.tar.xz">kbreakout-17.03.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>1dd732c520cefee44f13ba1421129b3d1383be07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kbruch-17.03.80.tar.xz">kbruch-17.03.80</a></td>
   <td align="right">700kB</td>
   <td><tt>aa61e1e11ad74f2f3c85f9c22f528ec9fdd58bf6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kcachegrind-17.03.80.tar.xz">kcachegrind-17.03.80</a></td>
   <td align="right">259kB</td>
   <td><tt>40b8077fbfc139e2d14df68e2eb11a95088c6f85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kcalc-17.03.80.tar.xz">kcalc-17.03.80</a></td>
   <td align="right">120kB</td>
   <td><tt>f8fe3ce181bfa83e80394c98304d8b18ae16a426</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kcalcore-17.03.80.tar.xz">kcalcore-17.03.80</a></td>
   <td align="right">287kB</td>
   <td><tt>98ffd71abe08b08bd22be15053b2a6ba5d543dfd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kcalutils-17.03.80.tar.xz">kcalutils-17.03.80</a></td>
   <td align="right">92kB</td>
   <td><tt>48b0a85ad1eae58071fb71a586f338e395c7390a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kcharselect-17.03.80.tar.xz">kcharselect-17.03.80</a></td>
   <td align="right">81kB</td>
   <td><tt>b2eeeb2e07be9a49e077de8e7854654726969ee0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kcolorchooser-17.03.80.tar.xz">kcolorchooser-17.03.80</a></td>
   <td align="right">4kB</td>
   <td><tt>1e1ec4b35cccbc69c3d2b25e7b5b33d10317f0a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kcontacts-17.03.80.tar.xz">kcontacts-17.03.80</a></td>
   <td align="right">145kB</td>
   <td><tt>737d7ddc1bc7a45b80682b87d27dbdb352d065de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kcron-17.03.80.tar.xz">kcron-17.03.80</a></td>
   <td align="right">136kB</td>
   <td><tt>8e2060e9081024cccdd6ae03974a0ea3b90fc007</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kdav-17.03.80.tar.xz">kdav-17.03.80</a></td>
   <td align="right">36kB</td>
   <td><tt>ff0abbf65cb86e4f93020ce9d9645b6d4565f675</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kdebugsettings-17.03.80.tar.xz">kdebugsettings-17.03.80</a></td>
   <td align="right">28kB</td>
   <td><tt>9859d41b79320f997eefc431e5d55186166dac30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kde-dev-scripts-17.03.80.tar.xz">kde-dev-scripts-17.03.80</a></td>
   <td align="right">307kB</td>
   <td><tt>579507055820739b8cbdc6c2a7e7f23403aa25d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kde-dev-utils-17.03.80.tar.xz">kde-dev-utils-17.03.80</a></td>
   <td align="right">27kB</td>
   <td><tt>f47fc1bee8079dde98fff0f829c5911375395854</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kdeedu-data-17.03.80.tar.xz">kdeedu-data-17.03.80</a></td>
   <td align="right">94kB</td>
   <td><tt>d49b60853ab4ecb9b2a705d5af9c254624386092</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kdegraphics-mobipocket-17.03.80.tar.xz">kdegraphics-mobipocket-17.03.80</a></td>
   <td align="right">13kB</td>
   <td><tt>5d34ed973e2ccea1c7369813267381ef57ee8140</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kdegraphics-thumbnailers-17.03.80.tar.xz">kdegraphics-thumbnailers-17.03.80</a></td>
   <td align="right">40kB</td>
   <td><tt>5021d54aabc7379707ee8b64f32274352f21902c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kdenetwork-filesharing-17.03.80.tar.xz">kdenetwork-filesharing-17.03.80</a></td>
   <td align="right">27kB</td>
   <td><tt>8015ca7e32de8bee6ea0b9178aebc043e1b7ddf8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kdenlive-17.03.80.tar.xz">kdenlive-17.03.80</a></td>
   <td align="right">6.3MB</td>
   <td><tt>63296e63a77f38f44716fac962be1a0dd6591627</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kdepim-addons-17.03.80.tar.xz">kdepim-addons-17.03.80</a></td>
   <td align="right">329kB</td>
   <td><tt>96859117933a7aa64fd90f0a4c945cdcbbb62d43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kdepim-apps-libs-17.03.80.tar.xz">kdepim-apps-libs-17.03.80</a></td>
   <td align="right">47kB</td>
   <td><tt>482356972d9d377fd8e0ca288bf7f5100dba1c53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kdepim-runtime-17.03.80.tar.xz">kdepim-runtime-17.03.80</a></td>
   <td align="right">701kB</td>
   <td><tt>3addcd0577c0479d4227666bb90b361be9ede0e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kde-runtime-17.03.80.tar.xz">kde-runtime-17.03.80</a></td>
   <td align="right">7.5MB</td>
   <td><tt>2ebccbf787341ce97638dabff6bcf230c7eafec3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kdesdk-kioslaves-17.03.80.tar.xz">kdesdk-kioslaves-17.03.80</a></td>
   <td align="right">25kB</td>
   <td><tt>1222b0e304a1d158283b3e433ad9a5d86557e78d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kdesdk-thumbnailers-17.03.80.tar.xz">kdesdk-thumbnailers-17.03.80</a></td>
   <td align="right">11kB</td>
   <td><tt>3ac0d52396087cfa94ed91dc1d1960feefac2bdc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kdf-17.03.80.tar.xz">kdf-17.03.80</a></td>
   <td align="right">140kB</td>
   <td><tt>411c0bd1a09c2adb8157716a7580fc482678254b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kdialog-17.03.80.tar.xz">kdialog-17.03.80</a></td>
   <td align="right">31kB</td>
   <td><tt>7d94f873bdda37f6185048a9b3e3bf39aeb73bf7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kdiamond-17.03.80.tar.xz">kdiamond-17.03.80</a></td>
   <td align="right">4.3MB</td>
   <td><tt>69d0cbe21f2a192d386e0531a89ed50da3fd7e65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/keditbookmarks-17.03.80.tar.xz">keditbookmarks-17.03.80</a></td>
   <td align="right">62kB</td>
   <td><tt>2c8a7b0144b29a236981cceb895a02a8aa020a16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kfilereplace-17.03.80.tar.xz">kfilereplace-17.03.80</a></td>
   <td align="right">745kB</td>
   <td><tt>656f3a7ec5ccd38aa98e7135b62f2b8fd9fe0a34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kfind-17.03.80.tar.xz">kfind-17.03.80</a></td>
   <td align="right">58kB</td>
   <td><tt>d7ebeb89d758ae15b5cb1a6a73c45c1f48c336db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kfloppy-17.03.80.tar.xz">kfloppy-17.03.80</a></td>
   <td align="right">54kB</td>
   <td><tt>9f967515ec91f13fffd0d77895f875d0af77db22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kfourinline-17.03.80.tar.xz">kfourinline-17.03.80</a></td>
   <td align="right">449kB</td>
   <td><tt>50b41502e58f90215644e29ac0f11d93c58c3407</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kgeography-17.03.80.tar.xz">kgeography-17.03.80</a></td>
   <td align="right">6.4MB</td>
   <td><tt>7921cd30a47ec7a6a80f2be7821f1e08f1bf38c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kget-17.03.80.tar.xz">kget-17.03.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>5cb6d947e5f6b002ea10709c1547cecd7407bbf6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kgoldrunner-17.03.80.tar.xz">kgoldrunner-17.03.80</a></td>
   <td align="right">2.0MB</td>
   <td><tt>fe88ac8834d35d20a76e4fc84a512d5e87be12d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kgpg-17.03.80.tar.xz">kgpg-17.03.80</a></td>
   <td align="right">798kB</td>
   <td><tt>e3568cd6810aeff967ebcfba2cc5542d311e7ab8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/khangman-17.03.80.tar.xz">khangman-17.03.80</a></td>
   <td align="right">4.0MB</td>
   <td><tt>1c2c255eb1847157a016ca34809f5485d488cf52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/khelpcenter-17.03.80.tar.xz">khelpcenter-17.03.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>60fb4a2f6306e8707dd8f7bdb9a39e592135d37a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kholidays-17.03.80.tar.xz">kholidays-17.03.80</a></td>
   <td align="right">172kB</td>
   <td><tt>fafb49a4cb3b8c26a58f04f2d058756f4277458c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kidentitymanagement-17.03.80.tar.xz">kidentitymanagement-17.03.80</a></td>
   <td align="right">37kB</td>
   <td><tt>f56ad9dc642505fe031d14bfffe703f8418086e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kig-17.03.80.tar.xz">kig-17.03.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>369ccf6a5dfdb4ea93cea95fd0332ff375a8891e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kigo-17.03.80.tar.xz">kigo-17.03.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>cf35e553cc771e1e8bb2e81164c59d3663a9052e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/killbots-17.03.80.tar.xz">killbots-17.03.80</a></td>
   <td align="right">940kB</td>
   <td><tt>2d9a5aeebbf6f1ea71ea3748e5dcc774cd23340c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kimagemapeditor-17.03.80.tar.xz">kimagemapeditor-17.03.80</a></td>
   <td align="right">397kB</td>
   <td><tt>bd34e20089000bb3a68103df3df28d008544c443</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kimap-17.03.80.tar.xz">kimap-17.03.80</a></td>
   <td align="right">90kB</td>
   <td><tt>aff3f04c3ee824f76020bbd52ab9e187235918e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kio-extras-17.03.80.tar.xz">kio-extras-17.03.80</a></td>
   <td align="right">272kB</td>
   <td><tt>1bee007f9cd0161ff6dbd845b29ee58a2b4270ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kiriki-17.03.80.tar.xz">kiriki-17.03.80</a></td>
   <td align="right">253kB</td>
   <td><tt>0bbe311d83383111128ee593955428697a355298</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kiten-17.03.80.tar.xz">kiten-17.03.80</a></td>
   <td align="right">10MB</td>
   <td><tt>d72a8d19b5b945f557e682cbf09567650d4152a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kjumpingcube-17.03.80.tar.xz">kjumpingcube-17.03.80</a></td>
   <td align="right">135kB</td>
   <td><tt>30c73634e82dba1262d648744d86562441c21743</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kldap-17.03.80.tar.xz">kldap-17.03.80</a></td>
   <td align="right">58kB</td>
   <td><tt>ac2a01ed1bc7d39f9cbdde2112f55b4f5a46648b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kleopatra-17.03.80.tar.xz">kleopatra-17.03.80</a></td>
   <td align="right">705kB</td>
   <td><tt>dcd8d337c99841e5f8ec5ee7cdac13e31c3de321</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/klettres-17.03.80.tar.xz">klettres-17.03.80</a></td>
   <td align="right">2.5MB</td>
   <td><tt>60f5e31c6ef307838ca4125f205465ed3ddcf246</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/klickety-17.03.80.tar.xz">klickety-17.03.80</a></td>
   <td align="right">650kB</td>
   <td><tt>a2d90108b48d4da89346d2ed87d91d0b5f3c5661</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/klines-17.03.80.tar.xz">klines-17.03.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>d02dc28c6faa29bd01e66f3004e8ddff89bbc00b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/klinkstatus-17.03.80.tar.xz">klinkstatus-17.03.80</a></td>
   <td align="right">440kB</td>
   <td><tt>c8b028ce517e2b7a175fe7bb6e3da9720b6e0989</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kmag-17.03.80.tar.xz">kmag-17.03.80</a></td>
   <td align="right">84kB</td>
   <td><tt>3b2c86f256b02b9c28f3c067d64f0a1880e52c83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kmahjongg-17.03.80.tar.xz">kmahjongg-17.03.80</a></td>
   <td align="right">988kB</td>
   <td><tt>9a03b945d5bd0efe5731c1ba02d994731ac5ac2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kmail-17.03.80.tar.xz">kmail-17.03.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>34c2d2e99ce7f1af0b2f149cda17afe076e9337e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kmail-account-wizard-17.03.80.tar.xz">kmail-account-wizard-17.03.80</a></td>
   <td align="right">60kB</td>
   <td><tt>ec73ca0ecc185fa347948e6f25b03ed01a471482</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kmailtransport-17.03.80.tar.xz">kmailtransport-17.03.80</a></td>
   <td align="right">88kB</td>
   <td><tt>b9bfe959d390ed882d18808b44d66dd8b012c272</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kmbox-17.03.80.tar.xz">kmbox-17.03.80</a></td>
   <td align="right">24kB</td>
   <td><tt>f219ef8374a23455ae6950ce4cee2daeb3b5ea7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kmime-17.03.80.tar.xz">kmime-17.03.80</a></td>
   <td align="right">119kB</td>
   <td><tt>0c04b422c955bea7adf4e686551f6baf1414ef41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kmines-17.03.80.tar.xz">kmines-17.03.80</a></td>
   <td align="right">648kB</td>
   <td><tt>9107e927acc67e8156ce246a4064a4c7c12b8a9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kmix-17.03.80.tar.xz">kmix-17.03.80</a></td>
   <td align="right">379kB</td>
   <td><tt>836d644d1995dc82c8eaa28e5f6bed4eb35a16ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kmousetool-17.03.80.tar.xz">kmousetool-17.03.80</a></td>
   <td align="right">35kB</td>
   <td><tt>a7d0a88afe28cd94ad7811bbfc3c117179d55a62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kmouth-17.03.80.tar.xz">kmouth-17.03.80</a></td>
   <td align="right">271kB</td>
   <td><tt>d342557b3d74fcddf3e359b1fb8f3a38610ee7e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kmplot-17.03.80.tar.xz">kmplot-17.03.80</a></td>
   <td align="right">558kB</td>
   <td><tt>2aabb770ee611c1af36da2b40ae05c36b06e5f8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/knavalbattle-17.03.80.tar.xz">knavalbattle-17.03.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>7fca37d3d8263e0c235277250b8dba482b684c55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/knetwalk-17.03.80.tar.xz">knetwalk-17.03.80</a></td>
   <td align="right">883kB</td>
   <td><tt>f35cde6e60b0ff96b0ab03eb87c263c4541d78f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/knotes-17.03.80.tar.xz">knotes-17.03.80</a></td>
   <td align="right">159kB</td>
   <td><tt>f2c438f61c83bd8741835290385c119cd8a9aed0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kolf-17.03.80.tar.xz">kolf-17.03.80</a></td>
   <td align="right">751kB</td>
   <td><tt>16b20b463d96e16f67f8fc3348bd9c2491ef55f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kollision-17.03.80.tar.xz">kollision-17.03.80</a></td>
   <td align="right">221kB</td>
   <td><tt>1d96814534e3e807fa8e2a7ca3dd66011be4c5e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kolourpaint-17.03.80.tar.xz">kolourpaint-17.03.80</a></td>
   <td align="right">857kB</td>
   <td><tt>0da2562737579aed835279ab3f554e35045f10c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kompare-17.03.80.tar.xz">kompare-17.03.80</a></td>
   <td align="right">236kB</td>
   <td><tt>0f917e3df8f303e977cb1002829599e37e68542d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/konqueror-17.03.80.tar.xz">konqueror-17.03.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>8a222135eb4ce8a8466228d4381b25842e6407d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/konquest-17.03.80.tar.xz">konquest-17.03.80</a></td>
   <td align="right">396kB</td>
   <td><tt>c49950dd42c32d9bae176f7d999f993a9c992beb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/konsole-17.03.80.tar.xz">konsole-17.03.80</a></td>
   <td align="right">465kB</td>
   <td><tt>c0f4c7a9527733267e78a485977007902f86ac98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kontact-17.03.80.tar.xz">kontact-17.03.80</a></td>
   <td align="right">543kB</td>
   <td><tt>ad3ca41de129340dab5408f7aae4ea780708b412</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kontactinterface-17.03.80.tar.xz">kontactinterface-17.03.80</a></td>
   <td align="right">24kB</td>
   <td><tt>d1cc9aafc0f0fc072d9d01d0f1499682e34becdb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kopete-17.03.80.tar.xz">kopete-17.03.80</a></td>
   <td align="right">6.0MB</td>
   <td><tt>59cdd2f161f1c8e5cb7092407f81fb1d19fcf360</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/korganizer-17.03.80.tar.xz">korganizer-17.03.80</a></td>
   <td align="right">754kB</td>
   <td><tt>97a6502a89905ed1e31993e13437529d1d87363a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kpat-17.03.80.tar.xz">kpat-17.03.80</a></td>
   <td align="right">3.1MB</td>
   <td><tt>b66a85c93efa2d8a9d6870aac4d24f6e985dfe94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kpimtextedit-17.03.80.tar.xz">kpimtextedit-17.03.80</a></td>
   <td align="right">77kB</td>
   <td><tt>e99b49909fe64d25b0742e4ffa7ca610e0f1f4cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kppp-17.03.80.tar.xz">kppp-17.03.80</a></td>
   <td align="right">684kB</td>
   <td><tt>fa7eef3c4b79ca9f9e6ed4ed9280c7a6c5a0f498</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kqtquickcharts-17.03.80.tar.xz">kqtquickcharts-17.03.80</a></td>
   <td align="right">24kB</td>
   <td><tt>afef0ac6132f320e4d898b2760a9fccc779a2268</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/krdc-17.03.80.tar.xz">krdc-17.03.80</a></td>
   <td align="right">284kB</td>
   <td><tt>229cbde0915dac38a4117cfe86e9d89f22150e5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kremotecontrol-17.03.80.tar.xz">kremotecontrol-17.03.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>83a38f028e72a05497615b286bc23b1c10147ea1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kreversi-17.03.80.tar.xz">kreversi-17.03.80</a></td>
   <td align="right">463kB</td>
   <td><tt>45df9f9b90f035f916d883497d42db38c41d778e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/krfb-17.03.80.tar.xz">krfb-17.03.80</a></td>
   <td align="right">163kB</td>
   <td><tt>a61040a11c54f72ac335ece3fc4f3560140030bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kross-interpreters-17.03.80.tar.xz">kross-interpreters-17.03.80</a></td>
   <td align="right">141kB</td>
   <td><tt>b8aff1b609bef506b30439d815585eb2ea96adbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kruler-17.03.80.tar.xz">kruler-17.03.80</a></td>
   <td align="right">123kB</td>
   <td><tt>4b6195f5582604077e83ad305ab6e21f6f9eaadc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/ksaneplugin-17.03.80.tar.xz">ksaneplugin-17.03.80</a></td>
   <td align="right">12kB</td>
   <td><tt>475ab8601ce27b5085f9c72b66ad258812f64283</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kscd-17.03.80.tar.xz">kscd-17.03.80</a></td>
   <td align="right">90kB</td>
   <td><tt>ea011ca6ce0624593fa74576fd1d4fbfe8429b56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kshisen-17.03.80.tar.xz">kshisen-17.03.80</a></td>
   <td align="right">336kB</td>
   <td><tt>79a414ed4db2a6a530ee3e54dbc43f43c7af7ef9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/ksirk-17.03.80.tar.xz">ksirk-17.03.80</a></td>
   <td align="right">5.2MB</td>
   <td><tt>e744f44b6064526476fe7fed4f7d35444b482725</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/ksnakeduel-17.03.80.tar.xz">ksnakeduel-17.03.80</a></td>
   <td align="right">291kB</td>
   <td><tt>8338584cacbe3c15da0a352d6630471a55e883d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kspaceduel-17.03.80.tar.xz">kspaceduel-17.03.80</a></td>
   <td align="right">247kB</td>
   <td><tt>6c4456ef681182ed95899e88897047a0901832f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/ksquares-17.03.80.tar.xz">ksquares-17.03.80</a></td>
   <td align="right">135kB</td>
   <td><tt>e7d6a7c8af8e22f7963c52489ddfc32525bd96a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kstars-17.03.80.tar.xz">kstars-17.03.80</a></td>
   <td align="right">37MB</td>
   <td><tt>e0a5fc889456a761c53db99af769ec2278ba01db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/ksudoku-17.03.80.tar.xz">ksudoku-17.03.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>60b990edf8dfe8d18dc07a398ec25685aafc24da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/ksystemlog-17.03.80.tar.xz">ksystemlog-17.03.80</a></td>
   <td align="right">342kB</td>
   <td><tt>d633e30f143bf20e880422b977db12bfa321d09c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kteatime-17.03.80.tar.xz">kteatime-17.03.80</a></td>
   <td align="right">88kB</td>
   <td><tt>6b4ff6f0042dfe33b234250d1d6ae9a4462585bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/ktimer-17.03.80.tar.xz">ktimer-17.03.80</a></td>
   <td align="right">157kB</td>
   <td><tt>ac31f9ca7483aed371fea80bd7f28b2f7b96574b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/ktnef-17.03.80.tar.xz">ktnef-17.03.80</a></td>
   <td align="right">227kB</td>
   <td><tt>399cf766e890bd1a4586f82a80ab30b54944da1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/ktouch-17.03.80.tar.xz">ktouch-17.03.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>ca979db0a73658a201411c41909db5e050b93883</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/ktp-accounts-kcm-17.03.80.tar.xz">ktp-accounts-kcm-17.03.80</a></td>
   <td align="right">88kB</td>
   <td><tt>dc02f36c04a248fd98416d16a78e64e63b0da9c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/ktp-approver-17.03.80.tar.xz">ktp-approver-17.03.80</a></td>
   <td align="right">20kB</td>
   <td><tt>8faa966f1169b2cc1014680294d2198aec0d5920</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/ktp-auth-handler-17.03.80.tar.xz">ktp-auth-handler-17.03.80</a></td>
   <td align="right">25kB</td>
   <td><tt>edf329c8f356d9e2dc7f5a799e3dfd2a9799dc0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/ktp-call-ui-17.03.80.tar.xz">ktp-call-ui-17.03.80</a></td>
   <td align="right">44kB</td>
   <td><tt>8e07caa5a64f375e83777e683636dd4966d0b6e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/ktp-common-internals-17.03.80.tar.xz">ktp-common-internals-17.03.80</a></td>
   <td align="right">310kB</td>
   <td><tt>a6289c4e448ffc1d3cb7cda8bdb249515f719daa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/ktp-contact-list-17.03.80.tar.xz">ktp-contact-list-17.03.80</a></td>
   <td align="right">47kB</td>
   <td><tt>37fa44e185b40ef053b3bc1c72fdc993cdbef972</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/ktp-contact-runner-17.03.80.tar.xz">ktp-contact-runner-17.03.80</a></td>
   <td align="right">16kB</td>
   <td><tt>566ec5a4016fb6f2a9c8c1f3eb88d76fb58abdf2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/ktp-desktop-applets-17.03.80.tar.xz">ktp-desktop-applets-17.03.80</a></td>
   <td align="right">26kB</td>
   <td><tt>c7fcb4a9be73e928d15239cece5886de682a3c9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/ktp-filetransfer-handler-17.03.80.tar.xz">ktp-filetransfer-handler-17.03.80</a></td>
   <td align="right">22kB</td>
   <td><tt>4bc1367431c7f6a569f5e55bef4966b9289ce6dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/ktp-kded-module-17.03.80.tar.xz">ktp-kded-module-17.03.80</a></td>
   <td align="right">37kB</td>
   <td><tt>8b3470ac0c819d6e5728f3b37c9d917aa4c19719</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/ktp-send-file-17.03.80.tar.xz">ktp-send-file-17.03.80</a></td>
   <td align="right">14kB</td>
   <td><tt>7b372deace7bb29ff482b54325c99be6d4471dff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/ktp-text-ui-17.03.80.tar.xz">ktp-text-ui-17.03.80</a></td>
   <td align="right">288kB</td>
   <td><tt>55b85376651675bdd809af76f098279ca742e3ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/ktuberling-17.03.80.tar.xz">ktuberling-17.03.80</a></td>
   <td align="right">4.2MB</td>
   <td><tt>8325c153eea933cdb47e15cc29792e0349806d39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kturtle-17.03.80.tar.xz">kturtle-17.03.80</a></td>
   <td align="right">192kB</td>
   <td><tt>409fed623352639281608418ec7f9989e50102bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kubrick-17.03.80.tar.xz">kubrick-17.03.80</a></td>
   <td align="right">105kB</td>
   <td><tt>7e3f89451cfeb1c7f05c5d841e5b51d227b67756</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kwalletmanager-17.03.80.tar.xz">kwalletmanager-17.03.80</a></td>
   <td align="right">372kB</td>
   <td><tt>6704963a03c71f82e91fc315275570cbe4078a1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kwave-17.03.80.tar.xz">kwave-17.03.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>09381f8d0c6ad8155a16d78925c23680e87e66bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kwordquiz-17.03.80.tar.xz">kwordquiz-17.03.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>06d9e8d2009a0032b5e10d93d7d166db64e9b629</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/libgravatar-17.03.80.tar.xz">libgravatar-17.03.80</a></td>
   <td align="right">21kB</td>
   <td><tt>db37f0505dde2e029f7c64c7156e754fe330c7b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/libkcddb-17.03.80.tar.xz">libkcddb-17.03.80</a></td>
   <td align="right">155kB</td>
   <td><tt>cd63c9addcee58c28d01045d6028f8c3ad9370ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/libkcompactdisc-17.03.80.tar.xz">libkcompactdisc-17.03.80</a></td>
   <td align="right">75kB</td>
   <td><tt>ee8378b3bd0166c566414e958d45976fc37781ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/libkdcraw-17.03.80.tar.xz">libkdcraw-17.03.80</a></td>
   <td align="right">41kB</td>
   <td><tt>0ba524c594f743f19cc0057779a1ee88a80aab44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/libkdegames-17.03.80.tar.xz">libkdegames-17.03.80</a></td>
   <td align="right">5.5MB</td>
   <td><tt>5b3d6d51de2215101a6ac66011a63989af43f2ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/libkdepim-17.03.80.tar.xz">libkdepim-17.03.80</a></td>
   <td align="right">113kB</td>
   <td><tt>bb9585dbd9a8e01bcfcd6aa3934a4c10676b8d1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/libkeduvocdocument-17.03.80.tar.xz">libkeduvocdocument-17.03.80</a></td>
   <td align="right">89kB</td>
   <td><tt>6b2191c2325e55a6620d1403866207c1c7290312</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/libkexiv2-17.03.80.tar.xz">libkexiv2-17.03.80</a></td>
   <td align="right">63kB</td>
   <td><tt>9214a67067917bdc6ecf5b68c4e99d1ef9a53596</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/libkface-17.03.80.tar.xz">libkface-17.03.80</a></td>
   <td align="right">8.5MB</td>
   <td><tt>131cba822143f9db59abcad0b2a9569f7822bbb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/libkgapi-17.03.80.tar.xz">libkgapi-17.03.80</a></td>
   <td align="right">129kB</td>
   <td><tt>b19ca56e261c8d6aef156da0394a1533eae11475</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/libkgeomap-17.03.80.tar.xz">libkgeomap-17.03.80</a></td>
   <td align="right">122kB</td>
   <td><tt>002e6d2131cffcb6b1ee0dbcb667ad4248fe59f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/libkipi-17.03.80.tar.xz">libkipi-17.03.80</a></td>
   <td align="right">101kB</td>
   <td><tt>c3ea22a5f2ac196cefe4f9d2cd2cda1e3357ea5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/libkleo-17.03.80.tar.xz">libkleo-17.03.80</a></td>
   <td align="right">129kB</td>
   <td><tt>b60a459ab1a9484cef86a383f190cce85e72143b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/libkmahjongg-17.03.80.tar.xz">libkmahjongg-17.03.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>6014c6bc549096b998c75250051786ccc44c887f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/libkomparediff2-17.03.80.tar.xz">libkomparediff2-17.03.80</a></td>
   <td align="right">55kB</td>
   <td><tt>bfa17d0047eb68f639b18d8c4cbebf39a27239ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/libksane-17.03.80.tar.xz">libksane-17.03.80</a></td>
   <td align="right">79kB</td>
   <td><tt>00468e65f28cd6077751dc022cbd07b38764f0d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/libksieve-17.03.80.tar.xz">libksieve-17.03.80</a></td>
   <td align="right">172kB</td>
   <td><tt>f9f612c5cdf08736d2b6b4bf539c0b47fcc1edc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/lokalize-17.03.80.tar.xz">lokalize-17.03.80</a></td>
   <td align="right">934kB</td>
   <td><tt>08fd50240a6a3c86548378c638ea994767215af3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/lskat-17.03.80.tar.xz">lskat-17.03.80</a></td>
   <td align="right">905kB</td>
   <td><tt>4453430202b2481ea77dc1107e0de959e7f2dda8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/mailcommon-17.03.80.tar.xz">mailcommon-17.03.80</a></td>
   <td align="right">183kB</td>
   <td><tt>accc9ec09eff1aa530052d07d04a7e05ec7db12d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/mailimporter-17.03.80.tar.xz">mailimporter-17.03.80</a></td>
   <td align="right">377kB</td>
   <td><tt>500a124adb09a50fbf0271a72d8331504379e974</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/marble-17.03.80.tar.xz">marble-17.03.80</a></td>
   <td align="right">23MB</td>
   <td><tt>e65d19a45ea4edf6c3371b7e04ce20354fb2029a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/mbox-importer-17.03.80.tar.xz">mbox-importer-17.03.80</a></td>
   <td align="right">22kB</td>
   <td><tt>14aa0b9231ec1f71b52cb54d64664c502c1d31a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/messagelib-17.03.80.tar.xz">messagelib-17.03.80</a></td>
   <td align="right">7.8MB</td>
   <td><tt>1a660a2078547b8f2eb92d8b636f3315b5bea269</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/minuet-17.03.80.tar.xz">minuet-17.03.80</a></td>
   <td align="right">25MB</td>
   <td><tt>3b13eb3415e4ffad2122d5d243ca17695d0b2017</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/okteta-17.03.80.tar.xz">okteta-17.03.80</a></td>
   <td align="right">495kB</td>
   <td><tt>31a903b96bf84baa04b6018404a1ca20acdff7fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/okular-17.03.80.tar.xz">okular-17.03.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>da7e1731b373ab71bd6ad74994c4a45d03429520</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/palapeli-17.03.80.tar.xz">palapeli-17.03.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>0a8974472c9a62bf43a77a75ed3ca3fcd0b77df2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/parley-17.03.80.tar.xz">parley-17.03.80</a></td>
   <td align="right">5.0MB</td>
   <td><tt>2a74746501065f0e337a6260d102e57e7d161cef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/picmi-17.03.80.tar.xz">picmi-17.03.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>b6dbc423066470fa5bf200af2b25563e198834f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/pimcommon-17.03.80.tar.xz">pimcommon-17.03.80</a></td>
   <td align="right">102kB</td>
   <td><tt>06875a764fa5d13148f350e7c8d581ac62f0c3f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/pim-data-exporter-17.03.80.tar.xz">pim-data-exporter-17.03.80</a></td>
   <td align="right">102kB</td>
   <td><tt>5a6e2d9fbff6070f038e2915c8fde956ab0198d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/pim-sieve-editor-17.03.80.tar.xz">pim-sieve-editor-17.03.80</a></td>
   <td align="right">316kB</td>
   <td><tt>fd0580a6073da21785c5971eca14e71ef69404af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/poxml-17.03.80.tar.xz">poxml-17.03.80</a></td>
   <td align="right">31kB</td>
   <td><tt>bbf343a01362b20f6d2dd3f9c9226b3b1b1ce889</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/print-manager-17.03.80.tar.xz">print-manager-17.03.80</a></td>
   <td align="right">91kB</td>
   <td><tt>6421ea828343247bde49ea78a826dc8170a47565</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/rocs-17.03.80.tar.xz">rocs-17.03.80</a></td>
   <td align="right">520kB</td>
   <td><tt>b99adf14af6d4db5d7d333abba95115d3f558b66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/signon-kwallet-extension-17.03.80.tar.xz">signon-kwallet-extension-17.03.80</a></td>
   <td align="right">10kB</td>
   <td><tt>9d8f09080b8ada5a6b0d5302242a52ec8f91a794</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/spectacle-17.03.80.tar.xz">spectacle-17.03.80</a></td>
   <td align="right">983kB</td>
   <td><tt>dc6947d67a15063454167e8e30db6f8215bb0aa1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/step-17.03.80.tar.xz">step-17.03.80</a></td>
   <td align="right">380kB</td>
   <td><tt>1e728ed617bf9849b7987b676c7e6ceb486913e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/svgpart-17.03.80.tar.xz">svgpart-17.03.80</a></td>
   <td align="right">8kB</td>
   <td><tt>ce5ecbdf09f690036df4358244ef7abf5254aa17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/sweeper-17.03.80.tar.xz">sweeper-17.03.80</a></td>
   <td align="right">80kB</td>
   <td><tt>bf8e42cc20ced3eaabcedf4092001eed04f621c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/syndication-17.03.80.tar.xz">syndication-17.03.80</a></td>
   <td align="right">156kB</td>
   <td><tt>0f39428714580c2b05e0d55713a7f1433dde0466</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/umbrello-17.03.80.tar.xz">umbrello-17.03.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>09f64d6f38d5033168150be7ac9f87432169d168</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/zeroconf-ioslave-17.03.80.tar.xz">zeroconf-ioslave-17.03.80</a></td>
   <td align="right">25kB</td>
   <td><tt>bf3bb19119c50c9ea7904237520b41fd00ec96a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kde-l10n/kde-l10n-ar-17.03.80.tar.xz">kde-l10n-ar-17.03.80</a></td>
   <td align="right">3.0MB</td>
   <td><tt>0f4a012dc4f687c3c89bf870181f6eca627d2e13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kde-l10n/kde-l10n-ast-17.03.80.tar.xz">kde-l10n-ast-17.03.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>291d9e864360acf0496785857de7fea0097a3e0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kde-l10n/kde-l10n-bg-17.03.80.tar.xz">kde-l10n-bg-17.03.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>74a621e12fc60850e40756b4cb2b48f075972559</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kde-l10n/kde-l10n-bs-17.03.80.tar.xz">kde-l10n-bs-17.03.80</a></td>
   <td align="right">2.2MB</td>
   <td><tt>78e39b8241f65614af4d17565457ef41605842bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kde-l10n/kde-l10n-ca-17.03.80.tar.xz">kde-l10n-ca-17.03.80</a></td>
   <td align="right">21MB</td>
   <td><tt>68bd4191c1ad588e8e1c6729f9edc7c6b4254313</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kde-l10n/kde-l10n-ca@valencia-17.03.80.tar.xz">kde-l10n-ca@valencia-17.03.80</a></td>
   <td align="right">2.1MB</td>
   <td><tt>c301b691b7c460f295d36ed80e06578ca4e762ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kde-l10n/kde-l10n-cs-17.03.80.tar.xz">kde-l10n-cs-17.03.80</a></td>
   <td align="right">2.8MB</td>
   <td><tt>f3967f9caf504ccc1fe5b7d91de17bf13d228c9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kde-l10n/kde-l10n-da-17.03.80.tar.xz">kde-l10n-da-17.03.80</a></td>
   <td align="right">12MB</td>
   <td><tt>5ee5f5dc4ac20c7431af51cf4f0023a250bbe41e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kde-l10n/kde-l10n-de-17.03.80.tar.xz">kde-l10n-de-17.03.80</a></td>
   <td align="right">30MB</td>
   <td><tt>03ebb11896c12fff6eb818e9674988ba7a9b3af8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kde-l10n/kde-l10n-el-17.03.80.tar.xz">kde-l10n-el-17.03.80</a></td>
   <td align="right">4.1MB</td>
   <td><tt>fa525664c699e28581a7e41800ea883e84e3a415</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kde-l10n/kde-l10n-en_GB-17.03.80.tar.xz">kde-l10n-en_GB-17.03.80</a></td>
   <td align="right">2.9MB</td>
   <td><tt>b3361ab5da405d1212f4075a104705098e54c7b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kde-l10n/kde-l10n-eo-17.03.80.tar.xz">kde-l10n-eo-17.03.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>054340c5846d68601279e3f313cd208ea1a5f403</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kde-l10n/kde-l10n-es-17.03.80.tar.xz">kde-l10n-es-17.03.80</a></td>
   <td align="right">16MB</td>
   <td><tt>7ca060482fe4cb44b05569f6a18175d53284eb33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kde-l10n/kde-l10n-et-17.03.80.tar.xz">kde-l10n-et-17.03.80</a></td>
   <td align="right">3.1MB</td>
   <td><tt>efdd64aa37b64c8407e72b8d2155823b9718b48a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kde-l10n/kde-l10n-eu-17.03.80.tar.xz">kde-l10n-eu-17.03.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>0f3e532753b328205565f5f648c679ea2cd95115</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kde-l10n/kde-l10n-fa-17.03.80.tar.xz">kde-l10n-fa-17.03.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>094113569ab0369dba71536f6bd55f86cb88a735</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kde-l10n/kde-l10n-fi-17.03.80.tar.xz">kde-l10n-fi-17.03.80</a></td>
   <td align="right">2.5MB</td>
   <td><tt>0cec45f1a6596bf6e8c8bff1c31896ebf3dba14b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kde-l10n/kde-l10n-fr-17.03.80.tar.xz">kde-l10n-fr-17.03.80</a></td>
   <td align="right">30MB</td>
   <td><tt>7cbbef6b9bcab52640826da0ebfb28ab16d3aeef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kde-l10n/kde-l10n-ga-17.03.80.tar.xz">kde-l10n-ga-17.03.80</a></td>
   <td align="right">2.6MB</td>
   <td><tt>bee505bcb54a394205e5befa63db36ef248b0587</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kde-l10n/kde-l10n-gl-17.03.80.tar.xz">kde-l10n-gl-17.03.80</a></td>
   <td align="right">3.2MB</td>
   <td><tt>4ceae3b1d4833d0170503fb96636d7da0862eb03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kde-l10n/kde-l10n-he-17.03.80.tar.xz">kde-l10n-he-17.03.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>bf886d180dd0ee085d04e0f2900e2c09a2e9243b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kde-l10n/kde-l10n-hi-17.03.80.tar.xz">kde-l10n-hi-17.03.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>9c6957435881dd8f830f5e4226289dc840b4e5ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kde-l10n/kde-l10n-hr-17.03.80.tar.xz">kde-l10n-hr-17.03.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>0d645d10a425ea2ec20eb7efaba22ae140a22901</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kde-l10n/kde-l10n-hu-17.03.80.tar.xz">kde-l10n-hu-17.03.80</a></td>
   <td align="right">4.0MB</td>
   <td><tt>1042c7800c0b93ded4ee0fbf9d2941e0ec60e593</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kde-l10n/kde-l10n-ia-17.03.80.tar.xz">kde-l10n-ia-17.03.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>2287f79e7d073a16a7f43697c806f5c2e448ecec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kde-l10n/kde-l10n-id-17.03.80.tar.xz">kde-l10n-id-17.03.80</a></td>
   <td align="right">377kB</td>
   <td><tt>4420e19da45baceaf1ef24462cd4750b12c41c2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kde-l10n/kde-l10n-is-17.03.80.tar.xz">kde-l10n-is-17.03.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>25cb8b4fb57f24c0e7efc42b818c9be6b3cfc6aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kde-l10n/kde-l10n-it-17.03.80.tar.xz">kde-l10n-it-17.03.80</a></td>
   <td align="right">7.5MB</td>
   <td><tt>28b5de4dce8ae5aea5cda30707db08534945cb4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kde-l10n/kde-l10n-ja-17.03.80.tar.xz">kde-l10n-ja-17.03.80</a></td>
   <td align="right">2.0MB</td>
   <td><tt>baaacb6b0251824fe2fb76c75b1685ff9e420063</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kde-l10n/kde-l10n-kk-17.03.80.tar.xz">kde-l10n-kk-17.03.80</a></td>
   <td align="right">2.3MB</td>
   <td><tt>dc7359f6429e6bed71492f3a1b34085f14feb397</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kde-l10n/kde-l10n-km-17.03.80.tar.xz">kde-l10n-km-17.03.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>e50b0a5996d6c3a51d634349de3f4c8b396a6a32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kde-l10n/kde-l10n-ko-17.03.80.tar.xz">kde-l10n-ko-17.03.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>90a642513021ab9456812f91563465b24510cfe9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kde-l10n/kde-l10n-lt-17.03.80.tar.xz">kde-l10n-lt-17.03.80</a></td>
   <td align="right">11MB</td>
   <td><tt>4b423a83b3d4596c085e06db931d4049d56a060a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kde-l10n/kde-l10n-lv-17.03.80.tar.xz">kde-l10n-lv-17.03.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>885e26fb3e2125810efd405cbd87ad1cd679ee9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kde-l10n/kde-l10n-mr-17.03.80.tar.xz">kde-l10n-mr-17.03.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>ca36e27850b667f90116ea875374b81aec62004d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kde-l10n/kde-l10n-nb-17.03.80.tar.xz">kde-l10n-nb-17.03.80</a></td>
   <td align="right">2.1MB</td>
   <td><tt>f2502ca63ebf1b1c84f6799cf59ebd76de72ae52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kde-l10n/kde-l10n-nds-17.03.80.tar.xz">kde-l10n-nds-17.03.80</a></td>
   <td align="right">2.9MB</td>
   <td><tt>6bbb0ce7f69138d0e75231afad4775e6f2aed933</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kde-l10n/kde-l10n-nl-17.03.80.tar.xz">kde-l10n-nl-17.03.80</a></td>
   <td align="right">12MB</td>
   <td><tt>503e3586a7b8f973bdfc9e592710f8357b398319</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kde-l10n/kde-l10n-nn-17.03.80.tar.xz">kde-l10n-nn-17.03.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>b15dca103602fcec0eb8c565fe4b40a99726682f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kde-l10n/kde-l10n-pa-17.03.80.tar.xz">kde-l10n-pa-17.03.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>804249f1b6caaedd35e16173abec6594c7350fca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kde-l10n/kde-l10n-pl-17.03.80.tar.xz">kde-l10n-pl-17.03.80</a></td>
   <td align="right">14MB</td>
   <td><tt>d62e4a606152083bdb24921387b2ead69243323c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kde-l10n/kde-l10n-pt-17.03.80.tar.xz">kde-l10n-pt-17.03.80</a></td>
   <td align="right">3.2MB</td>
   <td><tt>1341ce973496534ace1dcc5198ccf0aafe4c92fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kde-l10n/kde-l10n-pt_BR-17.03.80.tar.xz">kde-l10n-pt_BR-17.03.80</a></td>
   <td align="right">20MB</td>
   <td><tt>b569af5f1c7e9984c8b70c9771a517a89136cf9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kde-l10n/kde-l10n-ro-17.03.80.tar.xz">kde-l10n-ro-17.03.80</a></td>
   <td align="right">2.7MB</td>
   <td><tt>4755b4c1144f1bd0335c0c8b096430e1f7d20075</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kde-l10n/kde-l10n-ru-17.03.80.tar.xz">kde-l10n-ru-17.03.80</a></td>
   <td align="right">20MB</td>
   <td><tt>3aba18cb358bc495a5cf449e669249768f0897d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kde-l10n/kde-l10n-sk-17.03.80.tar.xz">kde-l10n-sk-17.03.80</a></td>
   <td align="right">4.2MB</td>
   <td><tt>6b8cf67e8426ea8e0d2e9b4281efc16f7c285eeb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kde-l10n/kde-l10n-sl-17.03.80.tar.xz">kde-l10n-sl-17.03.80</a></td>
   <td align="right">2.9MB</td>
   <td><tt>f688a926ed219c84d35295dd54a37a27746ecfb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kde-l10n/kde-l10n-sr-17.03.80.tar.xz">kde-l10n-sr-17.03.80</a></td>
   <td align="right">4.2MB</td>
   <td><tt>ff9163999df0bb4d9129589d861441af0741677a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kde-l10n/kde-l10n-sv-17.03.80.tar.xz">kde-l10n-sv-17.03.80</a></td>
   <td align="right">10MB</td>
   <td><tt>47400cb4e0d2b7f0c89d0e17bece8c323346f3ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kde-l10n/kde-l10n-tr-17.03.80.tar.xz">kde-l10n-tr-17.03.80</a></td>
   <td align="right">2.9MB</td>
   <td><tt>ec2bfe600f5d0bd9e5095382f102e0b99f39292a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kde-l10n/kde-l10n-ug-17.03.80.tar.xz">kde-l10n-ug-17.03.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>25172d8dab48763e64a6f0864073e67dff1593fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kde-l10n/kde-l10n-uk-17.03.80.tar.xz">kde-l10n-uk-17.03.80</a></td>
   <td align="right">23MB</td>
   <td><tt>12f45a25581cbe533efb1d34013359aac00660ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kde-l10n/kde-l10n-wa-17.03.80.tar.xz">kde-l10n-wa-17.03.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>44e190ce67f6516b79af52b4e942fd5579506c60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kde-l10n/kde-l10n-zh_CN-17.03.80.tar.xz">kde-l10n-zh_CN-17.03.80</a></td>
   <td align="right">2.6MB</td>
   <td><tt>9bfe80da27b46f9a1b270d7171fa3ff522d470a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.80/src/kde-l10n/kde-l10n-zh_TW-17.03.80.tar.xz">kde-l10n-zh_TW-17.03.80</a></td>
   <td align="right">2.4MB</td>
   <td><tt>e130064821bef33f78de2f310625e5981740b1d1</tt></td>
</tr>

</table>
