<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/akonadi-17.12.3.tar.xz">akonadi-17.12.3</a></td>
   <td align="right">1.4MB</td>
   <td><tt>2d76969d76d8bb70daa6b26b45cbe0eb93a3dbb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/akonadi-calendar-17.12.3.tar.xz">akonadi-calendar-17.12.3</a></td>
   <td align="right">277kB</td>
   <td><tt>880b329ab5e076dc37019ca7b183aef133518e71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/akonadi-calendar-tools-17.12.3.tar.xz">akonadi-calendar-tools-17.12.3</a></td>
   <td align="right">218kB</td>
   <td><tt>2d226c86c88d64ce0a41aaac8c10d46d68c93d0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/akonadiconsole-17.12.3.tar.xz">akonadiconsole-17.12.3</a></td>
   <td align="right">181kB</td>
   <td><tt>db272f73b8c1356c81f129137dc57a1af4f952bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/akonadi-contacts-17.12.3.tar.xz">akonadi-contacts-17.12.3</a></td>
   <td align="right">337kB</td>
   <td><tt>e38d5c2be9be4691c9fbb9b996e8ebd71d8f7651</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/akonadi-import-wizard-17.12.3.tar.xz">akonadi-import-wizard-17.12.3</a></td>
   <td align="right">426kB</td>
   <td><tt>7f3262ab112de5fa4a5696b13f91b5e555504dd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/akonadi-mime-17.12.3.tar.xz">akonadi-mime-17.12.3</a></td>
   <td align="right">126kB</td>
   <td><tt>d6de83970c0fc02e2635f027bfd4e301ef440887</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/akonadi-notes-17.12.3.tar.xz">akonadi-notes-17.12.3</a></td>
   <td align="right">23kB</td>
   <td><tt>b8a86cef845261e8608dd9246512b23a02cfafe2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/akonadi-search-17.12.3.tar.xz">akonadi-search-17.12.3</a></td>
   <td align="right">79kB</td>
   <td><tt>4b627299f212a931102b3c264d6beeb87981607d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/akregator-17.12.3.tar.xz">akregator-17.12.3</a></td>
   <td align="right">2.1MB</td>
   <td><tt>fb19ce6648ca89edaf7776a3608be76424af8aa7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/analitza-17.12.3.tar.xz">analitza-17.12.3</a></td>
   <td align="right">323kB</td>
   <td><tt>e72b3b7903453f4f6226b708141497ba6b8b65fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/ark-17.12.3.tar.xz">ark-17.12.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>6e2790c8ce30c6d5aba064916ce56f3d496c528d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/artikulate-17.12.3.tar.xz">artikulate-17.12.3</a></td>
   <td align="right">3.5MB</td>
   <td><tt>e11f750b0f6eb741a4f0f59429c7c1db93edb3a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/audiocd-kio-17.12.3.tar.xz">audiocd-kio-17.12.3</a></td>
   <td align="right">242kB</td>
   <td><tt>9739e60aec20719c5e2f70fa51b2d5ded8f31cf6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/baloo-widgets-17.12.3.tar.xz">baloo-widgets-17.12.3</a></td>
   <td align="right">147kB</td>
   <td><tt>546666313ada755a774b1fd909cfc5401585d31d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/blinken-17.12.3.tar.xz">blinken-17.12.3</a></td>
   <td align="right">2.3MB</td>
   <td><tt>2ce3c292a189b2b102384af103aca1fa7d6bf80b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/bomber-17.12.3.tar.xz">bomber-17.12.3</a></td>
   <td align="right">736kB</td>
   <td><tt>70302c2ddda053558001f77aa0b5690c64bb5cee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/bovo-17.12.3.tar.xz">bovo-17.12.3</a></td>
   <td align="right">182kB</td>
   <td><tt>1e3bd7f24b95449271206ca91c81dc11ef35d21d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/calendarsupport-17.12.3.tar.xz">calendarsupport-17.12.3</a></td>
   <td align="right">629kB</td>
   <td><tt>f93383b005ae012471e7f60e3c174cbf1b0be4fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/cantor-17.12.3.tar.xz">cantor-17.12.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>016f22aa9719dd87159d6725253571cdc7edd3cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/cervisia-17.12.3.tar.xz">cervisia-17.12.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>148e49c13b33db5d06524a844ae6b0ca50293e2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/dolphin-17.12.3.tar.xz">dolphin-17.12.3</a></td>
   <td align="right">4.6MB</td>
   <td><tt>23e7aa9b057f64dc47fdae314f5355323d0fc869</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/dolphin-plugins-17.12.3.tar.xz">dolphin-plugins-17.12.3</a></td>
   <td align="right">182kB</td>
   <td><tt>dd9e513e42f7371c2554fa284cc225819f1328d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/dragon-17.12.3.tar.xz">dragon-17.12.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>5941af52b0e5a41007f86131b7f7e1284db19766</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/eventviews-17.12.3.tar.xz">eventviews-17.12.3</a></td>
   <td align="right">427kB</td>
   <td><tt>dc987670fdd0eb57eed9b8dedb3fb010e9014819</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/ffmpegthumbs-17.12.3.tar.xz">ffmpegthumbs-17.12.3</a></td>
   <td align="right">20kB</td>
   <td><tt>cc711d6e3bc954ec1b63030bd161cee8af29ab1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/filelight-17.12.3.tar.xz">filelight-17.12.3</a></td>
   <td align="right">639kB</td>
   <td><tt>e22d6b5418e0312e09ffeb16f49fe166dc4e8427</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/granatier-17.12.3.tar.xz">granatier-17.12.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>91c9a293dd19f2e5aba3d9d86ed415f82d83a9c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/grantlee-editor-17.12.3.tar.xz">grantlee-editor-17.12.3</a></td>
   <td align="right">108kB</td>
   <td><tt>aa96e5793d79b20581955208fe9048315bfd5dd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/grantleetheme-17.12.3.tar.xz">grantleetheme-17.12.3</a></td>
   <td align="right">50kB</td>
   <td><tt>85cdbf5688e951f9a1c06683b57fcb0b0d18f380</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/gwenview-17.12.3.tar.xz">gwenview-17.12.3</a></td>
   <td align="right">5.7MB</td>
   <td><tt>c8fccc3f3014ee9df67be076b8d5370e03db7a4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/incidenceeditor-17.12.3.tar.xz">incidenceeditor-17.12.3</a></td>
   <td align="right">505kB</td>
   <td><tt>d5194057bc9e996af4688b054d72c4692cacab15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/juk-17.12.3.tar.xz">juk-17.12.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>0424760878012bf0019e1a48d4e3eec17db81453</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/k3b-17.12.3.tar.xz">k3b-17.12.3</a></td>
   <td align="right">10MB</td>
   <td><tt>1a7fd5f84fdcd3e22009fee7395c9fbc7b295d8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kaccounts-integration-17.12.3.tar.xz">kaccounts-integration-17.12.3</a></td>
   <td align="right">69kB</td>
   <td><tt>f0e100f4b574f181a7b721fdafac865cae03532b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kaccounts-providers-17.12.3.tar.xz">kaccounts-providers-17.12.3</a></td>
   <td align="right">30kB</td>
   <td><tt>c009557ba677790b151e0c42e6e4b64e0094bd7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kaddressbook-17.12.3.tar.xz">kaddressbook-17.12.3</a></td>
   <td align="right">531kB</td>
   <td><tt>4f4d8dd9a01649c440f32bf73adbc7b38988f880</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kajongg-17.12.3.tar.xz">kajongg-17.12.3</a></td>
   <td align="right">4.0MB</td>
   <td><tt>ebadcbb64c2c3618c27d3e49d9b0d5065a6e87a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kalarm-17.12.3.tar.xz">kalarm-17.12.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>7a25cb5fa11f05e77250c254485ea9a290728aa6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kalarmcal-17.12.3.tar.xz">kalarmcal-17.12.3</a></td>
   <td align="right">483kB</td>
   <td><tt>b496f6db36d61ebdcb7360d791778604aba12eb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kalgebra-17.12.3.tar.xz">kalgebra-17.12.3</a></td>
   <td align="right">674kB</td>
   <td><tt>3d133bf7c7ffa103dc0d5bda35ad6252ea89ac69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kalzium-17.12.3.tar.xz">kalzium-17.12.3</a></td>
   <td align="right">23MB</td>
   <td><tt>99a08d11222cd7a1a8a5d2d9bc3fb28d4a39b321</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kamera-17.12.3.tar.xz">kamera-17.12.3</a></td>
   <td align="right">94kB</td>
   <td><tt>432deace0ee68a096ebba33510674d8563fa542e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kanagram-17.12.3.tar.xz">kanagram-17.12.3</a></td>
   <td align="right">7.1MB</td>
   <td><tt>29964d159a6424e1252b32f29eb08d4ed01adafb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kapman-17.12.3.tar.xz">kapman-17.12.3</a></td>
   <td align="right">2.4MB</td>
   <td><tt>7474c0a66a0487c7ca5ce3cbbf8357822d819e4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kapptemplate-17.12.3.tar.xz">kapptemplate-17.12.3</a></td>
   <td align="right">344kB</td>
   <td><tt>53e6e07653484a32daf36cdbb6f1d279fa51e396</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kate-17.12.3.tar.xz">kate-17.12.3</a></td>
   <td align="right">5.3MB</td>
   <td><tt>d355fee8e177b42f6486ae7108fcc6b5d9cb7fc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/katomic-17.12.3.tar.xz">katomic-17.12.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>f59581123ad17ac62232ce2dd9d3c475aae24020</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kblackbox-17.12.3.tar.xz">kblackbox-17.12.3</a></td>
   <td align="right">392kB</td>
   <td><tt>15f7bfe787daa25f8c555b1f5c73e66e9b5eff54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kblocks-17.12.3.tar.xz">kblocks-17.12.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>f2c294bdd09b0d133729895de8de185d4eb74d24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kblog-17.12.3.tar.xz">kblog-17.12.3</a></td>
   <td align="right">70kB</td>
   <td><tt>9da0cd549679cbd8d477b85757d493ce05c8e303</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kbounce-17.12.3.tar.xz">kbounce-17.12.3</a></td>
   <td align="right">3.3MB</td>
   <td><tt>5e9efd566858dca6e9489c38d0b3a8fa86b44493</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kbreakout-17.12.3.tar.xz">kbreakout-17.12.3</a></td>
   <td align="right">1.9MB</td>
   <td><tt>73daa8373a859d12c63e46dda6f7a3993ca7da08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kbruch-17.12.3.tar.xz">kbruch-17.12.3</a></td>
   <td align="right">5.3MB</td>
   <td><tt>a41885630a97867978dca2a9add2ace23261bd3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kcachegrind-17.12.3.tar.xz">kcachegrind-17.12.3</a></td>
   <td align="right">794kB</td>
   <td><tt>ecede5546345de121d0ed27a71d8859beb80afaa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kcalc-17.12.3.tar.xz">kcalc-17.12.3</a></td>
   <td align="right">351kB</td>
   <td><tt>7ff5816065c3750d7a8ff2c9f7d4e4d1b0224279</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kcalcore-17.12.3.tar.xz">kcalcore-17.12.3</a></td>
   <td align="right">270kB</td>
   <td><tt>5e29345190c27e3c68c0cf3d88a9254cb9d14f13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kcalutils-17.12.3.tar.xz">kcalutils-17.12.3</a></td>
   <td align="right">315kB</td>
   <td><tt>c48bfb09b99efa676d9d792c6b9a154c2854a945</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kcharselect-17.12.3.tar.xz">kcharselect-17.12.3</a></td>
   <td align="right">343kB</td>
   <td><tt>fc976a7e86d0158c0bb2b411d587125461b5cea1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kcolorchooser-17.12.3.tar.xz">kcolorchooser-17.12.3</a></td>
   <td align="right">16kB</td>
   <td><tt>6a53470c451e95b702734daa8a45ecbe2ba8b1ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kcontacts-17.12.3.tar.xz">kcontacts-17.12.3</a></td>
   <td align="right">201kB</td>
   <td><tt>3efa967123a69a2524508d89c070f7f09e895d0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kcron-17.12.3.tar.xz">kcron-17.12.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>2289efbd486d50e45173521a136712ee517910fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kdav-17.12.3.tar.xz">kdav-17.12.3</a></td>
   <td align="right">36kB</td>
   <td><tt>845ece067be1fb5bb2d29c69de1d3da4971b21ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kdebugsettings-17.12.3.tar.xz">kdebugsettings-17.12.3</a></td>
   <td align="right">47kB</td>
   <td><tt>9607f387f4d2983eb8ea2a1658414264f00ec558</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kde-dev-scripts-17.12.3.tar.xz">kde-dev-scripts-17.12.3</a></td>
   <td align="right">366kB</td>
   <td><tt>751d4be9fd39cdb0bcf361519771b14431c108ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kde-dev-utils-17.12.3.tar.xz">kde-dev-utils-17.12.3</a></td>
   <td align="right">59kB</td>
   <td><tt>9612dac3280be49986801ff43ac66a6402dddc96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kdeedu-data-17.12.3.tar.xz">kdeedu-data-17.12.3</a></td>
   <td align="right">319kB</td>
   <td><tt>51d14817f387ce9565b6f82bdf29c6310c409760</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kdegraphics-mobipocket-17.12.3.tar.xz">kdegraphics-mobipocket-17.12.3</a></td>
   <td align="right">13kB</td>
   <td><tt>88fdabfc5641076f7e59ef5883cec93601c44486</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kdegraphics-thumbnailers-17.12.3.tar.xz">kdegraphics-thumbnailers-17.12.3</a></td>
   <td align="right">40kB</td>
   <td><tt>bd4a84a4b875044b7af8c86131032adcf13f8c1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kdenetwork-filesharing-17.12.3.tar.xz">kdenetwork-filesharing-17.12.3</a></td>
   <td align="right">315kB</td>
   <td><tt>03293f821008680797b80df993b23d9a03e0f04a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kdenlive-17.12.3.tar.xz">kdenlive-17.12.3</a></td>
   <td align="right">8.9MB</td>
   <td><tt>d3990f2d6fa2c5acfc8ebf51e433ea0020b5357d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kdepim-addons-17.12.3.tar.xz">kdepim-addons-17.12.3</a></td>
   <td align="right">1.9MB</td>
   <td><tt>dd8e18f5b26d78a9f321ed23ccd751fbaa3ecaca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kdepim-apps-libs-17.12.3.tar.xz">kdepim-apps-libs-17.12.3</a></td>
   <td align="right">71kB</td>
   <td><tt>20b511c5fc4cd7657d732185f7da321d43f1adb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kdepim-runtime-17.12.3.tar.xz">kdepim-runtime-17.12.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>51946bd6e4277e6d50001c0e8079683aab381831</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kdesdk-kioslaves-17.12.3.tar.xz">kdesdk-kioslaves-17.12.3</a></td>
   <td align="right">36kB</td>
   <td><tt>d235aa9c2e96cb7196dbc04bfce983f6b003f65a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kdesdk-thumbnailers-17.12.3.tar.xz">kdesdk-thumbnailers-17.12.3</a></td>
   <td align="right">16kB</td>
   <td><tt>8fccd00504fd0745402ffb92b278af456a654608</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kdf-17.12.3.tar.xz">kdf-17.12.3</a></td>
   <td align="right">518kB</td>
   <td><tt>733e5baa38587f40266fc3f0286444941c5a49e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kdialog-17.12.3.tar.xz">kdialog-17.12.3</a></td>
   <td align="right">93kB</td>
   <td><tt>9a38e812ac4379714850bd85763d72db4db7beaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kdiamond-17.12.3.tar.xz">kdiamond-17.12.3</a></td>
   <td align="right">4.3MB</td>
   <td><tt>546c586e65e84c88525205da61319ca7a6aa35c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/keditbookmarks-17.12.3.tar.xz">keditbookmarks-17.12.3</a></td>
   <td align="right">178kB</td>
   <td><tt>84e699c7a2bedb9a020c852f37153c81f733243e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kfind-17.12.3.tar.xz">kfind-17.12.3</a></td>
   <td align="right">204kB</td>
   <td><tt>686bdeb83852a46f4b42c06bda0b2e6d4c01cd18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kfloppy-17.12.3.tar.xz">kfloppy-17.12.3</a></td>
   <td align="right">194kB</td>
   <td><tt>12e009536db46bcd537c7ffbaaf1a82ebe91bfec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kfourinline-17.12.3.tar.xz">kfourinline-17.12.3</a></td>
   <td align="right">559kB</td>
   <td><tt>924d8febe26821d98f486080c0439b2b5524aed5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kgeography-17.12.3.tar.xz">kgeography-17.12.3</a></td>
   <td align="right">10MB</td>
   <td><tt>0e1791d025ceb26635740b6bff32e4b4e8605847</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kget-17.12.3.tar.xz">kget-17.12.3</a></td>
   <td align="right">5.1MB</td>
   <td><tt>abd6b46101ff72bdd571efe5d66c1c305864a65a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kgoldrunner-17.12.3.tar.xz">kgoldrunner-17.12.3</a></td>
   <td align="right">4.1MB</td>
   <td><tt>afa0b05432cb231ac0990f7cc4db42536df7dcf3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kgpg-17.12.3.tar.xz">kgpg-17.12.3</a></td>
   <td align="right">2.6MB</td>
   <td><tt>125b03e88740e9795a3307f4afe963aff6db36c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/khangman-17.12.3.tar.xz">khangman-17.12.3</a></td>
   <td align="right">6.1MB</td>
   <td><tt>c540516bdf241aee6aeacb1424fc62326d2d5681</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/khelpcenter-17.12.3.tar.xz">khelpcenter-17.12.3</a></td>
   <td align="right">2.8MB</td>
   <td><tt>d128b0e7ec6d5f90c4b2e01cf4ae1ff0e0295388</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kholidays-17.12.3.tar.xz">kholidays-17.12.3</a></td>
   <td align="right">197kB</td>
   <td><tt>ed7bf7f9dd76dce963cf48f3a664a88324414156</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kidentitymanagement-17.12.3.tar.xz">kidentitymanagement-17.12.3</a></td>
   <td align="right">144kB</td>
   <td><tt>f47147ba146c0b9a11e2a3d194d89b8a5ea22a38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kig-17.12.3.tar.xz">kig-17.12.3</a></td>
   <td align="right">3.4MB</td>
   <td><tt>ee08f7168cd6dbf5f1cc0ab86dddb4860220a796</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kigo-17.12.3.tar.xz">kigo-17.12.3</a></td>
   <td align="right">4.9MB</td>
   <td><tt>df88e318e358d4266697738bfe34d19904960a20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/killbots-17.12.3.tar.xz">killbots-17.12.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>4b02a5e5104cbec6951daec150230c135310f689</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kimagemapeditor-17.12.3.tar.xz">kimagemapeditor-17.12.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>bd326991a664b2e7c83372638cc2324c71f04aac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kimap-17.12.3.tar.xz">kimap-17.12.3</a></td>
   <td align="right">116kB</td>
   <td><tt>d7f8f576e30a0bd387cbb0f3531bbf72f902ff70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kio-extras-17.12.3.tar.xz">kio-extras-17.12.3</a></td>
   <td align="right">542kB</td>
   <td><tt>b9fd2c8b86dcb79787b6b1fcd58392bb54487d2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kiriki-17.12.3.tar.xz">kiriki-17.12.3</a></td>
   <td align="right">318kB</td>
   <td><tt>4387e277dac69dd90c4fc212d21ded845c209c9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kiten-17.12.3.tar.xz">kiten-17.12.3</a></td>
   <td align="right">11MB</td>
   <td><tt>4f8091b6e988aacbd1a7b7f358c0f54824f98616</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kjumpingcube-17.12.3.tar.xz">kjumpingcube-17.12.3</a></td>
   <td align="right">286kB</td>
   <td><tt>8aef74c7a7482933c34c70fdf862868e230f7e15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kldap-17.12.3.tar.xz">kldap-17.12.3</a></td>
   <td align="right">151kB</td>
   <td><tt>d65395449631a33ad28aa4c69828acc97d29ac5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kleopatra-17.12.3.tar.xz">kleopatra-17.12.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>0938efc3d0503484010c4a7b53907f81796d44db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/klettres-17.12.3.tar.xz">klettres-17.12.3</a></td>
   <td align="right">20MB</td>
   <td><tt>dd257668a087ec4dd6b14e4e22e8e51562936fb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/klickety-17.12.3.tar.xz">klickety-17.12.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>f214552d2e30f4f2ea9a7c817aa0aeaea73429b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/klines-17.12.3.tar.xz">klines-17.12.3</a></td>
   <td align="right">1.5MB</td>
   <td><tt>2360e07e39b11f8c2cc301c735e990bc1a7f136f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kmag-17.12.3.tar.xz">kmag-17.12.3</a></td>
   <td align="right">574kB</td>
   <td><tt>8f5b845ce9fb34f6067d6c00c4f84a300631e74a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kmahjongg-17.12.3.tar.xz">kmahjongg-17.12.3</a></td>
   <td align="right">3.8MB</td>
   <td><tt>0b8767c2f7fa84d6b2d57d4175dbd52f8a1f23a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kmail-17.12.3.tar.xz">kmail-17.12.3</a></td>
   <td align="right">4.5MB</td>
   <td><tt>be09a120336c134d8bddf8bf615a513899d0fc8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kmail-account-wizard-17.12.3.tar.xz">kmail-account-wizard-17.12.3</a></td>
   <td align="right">149kB</td>
   <td><tt>17559b0383e8359c9146e56f71f527dfbb269c26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kmailtransport-17.12.3.tar.xz">kmailtransport-17.12.3</a></td>
   <td align="right">160kB</td>
   <td><tt>70239290dbbe85cec06cbe53947baf315ed6d83b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kmbox-17.12.3.tar.xz">kmbox-17.12.3</a></td>
   <td align="right">23kB</td>
   <td><tt>e07ccf454e8b7dba8a695171389f13f7cfe33871</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kmime-17.12.3.tar.xz">kmime-17.12.3</a></td>
   <td align="right">143kB</td>
   <td><tt>1c8f55a023d26e3232861260fc818106ab1376bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kmines-17.12.3.tar.xz">kmines-17.12.3</a></td>
   <td align="right">861kB</td>
   <td><tt>b7b78937799c4f3a027493521ccdaf16f289d847</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kmix-17.12.3.tar.xz">kmix-17.12.3</a></td>
   <td align="right">1.2MB</td>
   <td><tt>4e461a3991e32d7f9f5dbb02c0b842f84f1004bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kmousetool-17.12.3.tar.xz">kmousetool-17.12.3</a></td>
   <td align="right">108kB</td>
   <td><tt>27a41a0147b755c49924778ea0ee8b02bc12ae9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kmouth-17.12.3.tar.xz">kmouth-17.12.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>c12619dcb9bb95c1214762307d111c33a8898cf0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kmplot-17.12.3.tar.xz">kmplot-17.12.3</a></td>
   <td align="right">2.8MB</td>
   <td><tt>3cbc23f261cd8ee3c34e195f72de69f5218bae6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/knavalbattle-17.12.3.tar.xz">knavalbattle-17.12.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>e377d1ee162fa4bf6c90ee6ab46552594713020c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/knetwalk-17.12.3.tar.xz">knetwalk-17.12.3</a></td>
   <td align="right">958kB</td>
   <td><tt>ef7e3775b12f05e37f97240f9c410c82187b5137</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/knotes-17.12.3.tar.xz">knotes-17.12.3</a></td>
   <td align="right">327kB</td>
   <td><tt>8f16c0333536caa18dcd169695a8c39aa066d0c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kolf-17.12.3.tar.xz">kolf-17.12.3</a></td>
   <td align="right">902kB</td>
   <td><tt>8a0abfc7dab60b083a43db7f9e75b56a46def70e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kollision-17.12.3.tar.xz">kollision-17.12.3</a></td>
   <td align="right">265kB</td>
   <td><tt>46d0bbe5a7d806b2b6cdf547c712cc53fc83f794</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kolourpaint-17.12.3.tar.xz">kolourpaint-17.12.3</a></td>
   <td align="right">5.2MB</td>
   <td><tt>861d67060e487e07f99f845ea1b4c1c2ec0712a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kompare-17.12.3.tar.xz">kompare-17.12.3</a></td>
   <td align="right">694kB</td>
   <td><tt>5fe0fcabb1017eb8fb259d5ff38028eed8993e95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/konqueror-17.12.3.tar.xz">konqueror-17.12.3</a></td>
   <td align="right">7.3MB</td>
   <td><tt>f9a8674bfaa2f0f5d7f0cd331dbb7b034348d676</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/konquest-17.12.3.tar.xz">konquest-17.12.3</a></td>
   <td align="right">642kB</td>
   <td><tt>14563c5b22c5c65d0edbc67b7f175dce69840884</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/konsole-17.12.3.tar.xz">konsole-17.12.3</a></td>
   <td align="right">1002kB</td>
   <td><tt>2f033b26c8ddde405d7563a9133437d0aca1cf78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kontact-17.12.3.tar.xz">kontact-17.12.3</a></td>
   <td align="right">842kB</td>
   <td><tt>f4820eb895b3cf3a0a4b4d968b68b5517b78f30d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kontactinterface-17.12.3.tar.xz">kontactinterface-17.12.3</a></td>
   <td align="right">32kB</td>
   <td><tt>5b446dfa68703f4b3d6f29f69ed0a612b9b7e612</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/korganizer-17.12.3.tar.xz">korganizer-17.12.3</a></td>
   <td align="right">2.1MB</td>
   <td><tt>0b8d0e5fa6eb140144be72d84ca06bf6d53f8ab6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kpat-17.12.3.tar.xz">kpat-17.12.3</a></td>
   <td align="right">3.4MB</td>
   <td><tt>e7cb01df05002b9578a75ec50e0be8c13c20492d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kpimtextedit-17.12.3.tar.xz">kpimtextedit-17.12.3</a></td>
   <td align="right">138kB</td>
   <td><tt>6cd39ccdf8c4853b7648397390db727206cdb7c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kqtquickcharts-17.12.3.tar.xz">kqtquickcharts-17.12.3</a></td>
   <td align="right">24kB</td>
   <td><tt>d292639b5fa9cde8857e6cd7fc4e6cedbe49b693</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/krdc-17.12.3.tar.xz">krdc-17.12.3</a></td>
   <td align="right">1.4MB</td>
   <td><tt>e2882917b406be006df706a142b2b9e2f569e8e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kreversi-17.12.3.tar.xz">kreversi-17.12.3</a></td>
   <td align="right">891kB</td>
   <td><tt>bc8a8ba0cedfb4a6d054bf9cf6b881e200490ed5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/krfb-17.12.3.tar.xz">krfb-17.12.3</a></td>
   <td align="right">972kB</td>
   <td><tt>02aac1164a8435d4a73bbcae5405cd56e726e52b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kross-interpreters-17.12.3.tar.xz">kross-interpreters-17.12.3</a></td>
   <td align="right">141kB</td>
   <td><tt>aaf45a22369db05e2bc7b72cb1cf3d3469f9c7b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kruler-17.12.3.tar.xz">kruler-17.12.3</a></td>
   <td align="right">253kB</td>
   <td><tt>8d997ee6f89e1fd788f7957cfe96c390c729527e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kshisen-17.12.3.tar.xz">kshisen-17.12.3</a></td>
   <td align="right">692kB</td>
   <td><tt>538b36f96f6fa696e327520d1d9fc5ee921f0425</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/ksirk-17.12.3.tar.xz">ksirk-17.12.3</a></td>
   <td align="right">6.6MB</td>
   <td><tt>b2e01638e22dc78e10803998dde15ee37f62e765</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/ksmtp-17.12.3.tar.xz">ksmtp-17.12.3</a></td>
   <td align="right">37kB</td>
   <td><tt>453d5446cdf414a08639adbb8b6dd80eefa62b09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/ksnakeduel-17.12.3.tar.xz">ksnakeduel-17.12.3</a></td>
   <td align="right">591kB</td>
   <td><tt>b0635e43cd12e54981e08df1162ffa6b4b80cea4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kspaceduel-17.12.3.tar.xz">kspaceduel-17.12.3</a></td>
   <td align="right">595kB</td>
   <td><tt>777d1402974a6424afb09f7fb7c7d15715c98a42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/ksquares-17.12.3.tar.xz">ksquares-17.12.3</a></td>
   <td align="right">210kB</td>
   <td><tt>5960054e97b18a04848c1948f01bfd5b663cea8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/ksudoku-17.12.3.tar.xz">ksudoku-17.12.3</a></td>
   <td align="right">1.5MB</td>
   <td><tt>f40aef8f173f7bfa3084a5529ecd6e020dad5002</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/ksystemlog-17.12.3.tar.xz">ksystemlog-17.12.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>8ece68495c81834ffd8781b3603704730e551e98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kteatime-17.12.3.tar.xz">kteatime-17.12.3</a></td>
   <td align="right">290kB</td>
   <td><tt>01e641d3b6eb46a153af3b8ef4918be3b282b401</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/ktimer-17.12.3.tar.xz">ktimer-17.12.3</a></td>
   <td align="right">441kB</td>
   <td><tt>77d21c4717ca88793c426bc4ee56da0e50b92f8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/ktnef-17.12.3.tar.xz">ktnef-17.12.3</a></td>
   <td align="right">292kB</td>
   <td><tt>ef1b85019d01337fd725a14940ec5705b6663cc7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/ktouch-17.12.3.tar.xz">ktouch-17.12.3</a></td>
   <td align="right">4.8MB</td>
   <td><tt>38030277d258a01d1f450b70b912580e875a8c93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/ktp-accounts-kcm-17.12.3.tar.xz">ktp-accounts-kcm-17.12.3</a></td>
   <td align="right">256kB</td>
   <td><tt>14f66db056d6568b34a07e7c578c7bf1de1d2b59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/ktp-approver-17.12.3.tar.xz">ktp-approver-17.12.3</a></td>
   <td align="right">36kB</td>
   <td><tt>bb30eaa1f4ce33f86519b15cd86dcf85d706b6ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/ktp-auth-handler-17.12.3.tar.xz">ktp-auth-handler-17.12.3</a></td>
   <td align="right">45kB</td>
   <td><tt>3188d4c180222df18a9d819082a054553105dad0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/ktp-call-ui-17.12.3.tar.xz">ktp-call-ui-17.12.3</a></td>
   <td align="right">94kB</td>
   <td><tt>a6660124f680c4ae7a18d13f46d858d7e1a56e17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/ktp-common-internals-17.12.3.tar.xz">ktp-common-internals-17.12.3</a></td>
   <td align="right">430kB</td>
   <td><tt>7c5539586bd413ecee67645d2e1a2d130058b5f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/ktp-contact-list-17.12.3.tar.xz">ktp-contact-list-17.12.3</a></td>
   <td align="right">128kB</td>
   <td><tt>19f007ff9e432bcf763e4c93f24d86e9a759fd63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/ktp-contact-runner-17.12.3.tar.xz">ktp-contact-runner-17.12.3</a></td>
   <td align="right">39kB</td>
   <td><tt>f0b96b5ab7c811570f8e8468158c90618e84d163</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/ktp-desktop-applets-17.12.3.tar.xz">ktp-desktop-applets-17.12.3</a></td>
   <td align="right">42kB</td>
   <td><tt>2660836704eebac104eeef7a370c18a31caf035e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/ktp-filetransfer-handler-17.12.3.tar.xz">ktp-filetransfer-handler-17.12.3</a></td>
   <td align="right">44kB</td>
   <td><tt>d860f7234c5431e68e1d0cda226152d5c57b4ff4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/ktp-kded-module-17.12.3.tar.xz">ktp-kded-module-17.12.3</a></td>
   <td align="right">79kB</td>
   <td><tt>d15059403a6169c3ecef7708abb822604de94ba1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/ktp-send-file-17.12.3.tar.xz">ktp-send-file-17.12.3</a></td>
   <td align="right">28kB</td>
   <td><tt>ed7948a4ef1ca0c8a27ddc324ccef3dc4ecff393</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/ktp-text-ui-17.12.3.tar.xz">ktp-text-ui-17.12.3</a></td>
   <td align="right">457kB</td>
   <td><tt>6847e807f0f18169a247ff882907efcf7d6f0b6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/ktuberling-17.12.3.tar.xz">ktuberling-17.12.3</a></td>
   <td align="right">31MB</td>
   <td><tt>8f047d47ba67b3343851469434a2f75901c62b42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kturtle-17.12.3.tar.xz">kturtle-17.12.3</a></td>
   <td align="right">1.5MB</td>
   <td><tt>5dd9bacd0493aedd73ad1bc11664986152232818</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kubrick-17.12.3.tar.xz">kubrick-17.12.3</a></td>
   <td align="right">299kB</td>
   <td><tt>aa70299b708cb031396aba282a2cc7b19683ef64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kwalletmanager-17.12.3.tar.xz">kwalletmanager-17.12.3</a></td>
   <td align="right">760kB</td>
   <td><tt>5e843c59eddd18930e582acb6ac5478b2c615f98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kwave-17.12.3.tar.xz">kwave-17.12.3</a></td>
   <td align="right">4.5MB</td>
   <td><tt>09d8674d630a65aceeef695ef03f848fd8763bcf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/kwordquiz-17.12.3.tar.xz">kwordquiz-17.12.3</a></td>
   <td align="right">3.9MB</td>
   <td><tt>f22e5434f4d30ee42e550c5a96a789c064e163fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/libgravatar-17.12.3.tar.xz">libgravatar-17.12.3</a></td>
   <td align="right">29kB</td>
   <td><tt>d4f8263810a8793c31684341ac3a2e162c46014c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/libkcddb-17.12.3.tar.xz">libkcddb-17.12.3</a></td>
   <td align="right">414kB</td>
   <td><tt>b52b4b2227fd2a0d827adb76bb8a92693701c136</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/libkcompactdisc-17.12.3.tar.xz">libkcompactdisc-17.12.3</a></td>
   <td align="right">86kB</td>
   <td><tt>729c8ea3be40d0c3dc3b4a6921556a41ff0900ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/libkdcraw-17.12.3.tar.xz">libkdcraw-17.12.3</a></td>
   <td align="right">40kB</td>
   <td><tt>f0b8be6c50639b10629cad9f95babe720f3b55cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/libkdegames-17.12.3.tar.xz">libkdegames-17.12.3</a></td>
   <td align="right">5.6MB</td>
   <td><tt>dbc5cd72391420e7ea5fb2547cefbe232b9350ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/libkdepim-17.12.3.tar.xz">libkdepim-17.12.3</a></td>
   <td align="right">331kB</td>
   <td><tt>8662bde97b74fe53fc60a8dbded37018ee249dad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/libkeduvocdocument-17.12.3.tar.xz">libkeduvocdocument-17.12.3</a></td>
   <td align="right">200kB</td>
   <td><tt>6d3ed42fe1b87b854e522048053936712c753f00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/libkexiv2-17.12.3.tar.xz">libkexiv2-17.12.3</a></td>
   <td align="right">62kB</td>
   <td><tt>782d7c70b97892f11056d513fcbd9dfd8d00d05b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/libkgapi-17.12.3.tar.xz">libkgapi-17.12.3</a></td>
   <td align="right">171kB</td>
   <td><tt>7e4fa1f7c5dbbed15dd9d3855500c1ca7356019f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/libkgeomap-17.12.3.tar.xz">libkgeomap-17.12.3</a></td>
   <td align="right">146kB</td>
   <td><tt>b91aef0a28aaa34cf586b17d1053a88365fce28d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/libkipi-17.12.3.tar.xz">libkipi-17.12.3</a></td>
   <td align="right">101kB</td>
   <td><tt>58edd1709f74b0461b266758cce31593a5fed20c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/libkleo-17.12.3.tar.xz">libkleo-17.12.3</a></td>
   <td align="right">307kB</td>
   <td><tt>1cc83ac63b5464922f423f645d5e0aa2c8afe76b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/libkmahjongg-17.12.3.tar.xz">libkmahjongg-17.12.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>ddc0a2263c1b14e45f7f9024d131d332e3fcd5f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/libkomparediff2-17.12.3.tar.xz">libkomparediff2-17.12.3</a></td>
   <td align="right">169kB</td>
   <td><tt>5c342b449084bd1720e5c53c02130d4844f8a444</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/libksane-17.12.3.tar.xz">libksane-17.12.3</a></td>
   <td align="right">133kB</td>
   <td><tt>ab46077f2d715072cc95830a3a7c9082d1565968</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/libksieve-17.12.3.tar.xz">libksieve-17.12.3</a></td>
   <td align="right">535kB</td>
   <td><tt>9d07f3dbff352f5b27436e5fc729519f92c38038</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/lokalize-17.12.3.tar.xz">lokalize-17.12.3</a></td>
   <td align="right">2.1MB</td>
   <td><tt>dfc8b7a7198006b9587533e3897685b1da399e6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/lskat-17.12.3.tar.xz">lskat-17.12.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>c4fc7f75033d19c81ed6913a1c60e4c1b0c4a9e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/mailcommon-17.12.3.tar.xz">mailcommon-17.12.3</a></td>
   <td align="right">667kB</td>
   <td><tt>236312cbad642a3a6067604f68ecfbbac143148d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/mailimporter-17.12.3.tar.xz">mailimporter-17.12.3</a></td>
   <td align="right">528kB</td>
   <td><tt>8e42e37b69fddaf78a185ae9efe697a522288b29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/marble-17.12.3.tar.xz">marble-17.12.3</a></td>
   <td align="right">49MB</td>
   <td><tt>2592bc8a4c23398a0f5a8b6ec91e8ff6136758a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/mbox-importer-17.12.3.tar.xz">mbox-importer-17.12.3</a></td>
   <td align="right">32kB</td>
   <td><tt>2c6f16792aeadf245e56ee0fa3d929ad1a827397</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/messagelib-17.12.3.tar.xz">messagelib-17.12.3</a></td>
   <td align="right">9.9MB</td>
   <td><tt>dcdeb26a45718d4167d3c0845a07585caa8afde4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/minuet-17.12.3.tar.xz">minuet-17.12.3</a></td>
   <td align="right">26MB</td>
   <td><tt>3edf36178fa35f5f9eaa33b80cf217e125a62405</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/okteta-17.12.3.tar.xz">okteta-17.12.3</a></td>
   <td align="right">940kB</td>
   <td><tt>b4976d9fbfd60fb3a3f223c1aed00b5290441ed8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/okular-17.12.3.tar.xz">okular-17.12.3</a></td>
   <td align="right">5.4MB</td>
   <td><tt>9db8ce6cdeb18ab772f6d19680fb5d620effe74b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/palapeli-17.12.3.tar.xz">palapeli-17.12.3</a></td>
   <td align="right">1.9MB</td>
   <td><tt>284a3a98d555d3b5c277ea0f285c67b51e400368</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/parley-17.12.3.tar.xz">parley-17.12.3</a></td>
   <td align="right">8.4MB</td>
   <td><tt>e5a7278b9031d9e29bc84420d2679807a52bf62d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/picmi-17.12.3.tar.xz">picmi-17.12.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>86539ccceb0810563bfc62536756d00974b5ce44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/pimcommon-17.12.3.tar.xz">pimcommon-17.12.3</a></td>
   <td align="right">280kB</td>
   <td><tt>ad41775ef651945f300e626f01ecf29a074c60ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/pim-data-exporter-17.12.3.tar.xz">pim-data-exporter-17.12.3</a></td>
   <td align="right">260kB</td>
   <td><tt>8e4992ffa0c2ef72de8abec886b76e5a97223acb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/pim-sieve-editor-17.12.3.tar.xz">pim-sieve-editor-17.12.3</a></td>
   <td align="right">433kB</td>
   <td><tt>896df8a10d0c2891bb54e4103999efafcb5f1c71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/poxml-17.12.3.tar.xz">poxml-17.12.3</a></td>
   <td align="right">41kB</td>
   <td><tt>518fa5dc9559eed9fff07a9de420fc48317a6ef5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/print-manager-17.12.3.tar.xz">print-manager-17.12.3</a></td>
   <td align="right">231kB</td>
   <td><tt>397109a5388f36f27bf4a16b1a7f17e581252b8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/rocs-17.12.3.tar.xz">rocs-17.12.3</a></td>
   <td align="right">1.4MB</td>
   <td><tt>6525c595a41bafb1bdcf790bb7653203cbb2f5fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/signon-kwallet-extension-17.12.3.tar.xz">signon-kwallet-extension-17.12.3</a></td>
   <td align="right">10kB</td>
   <td><tt>9e1db1719dd77de52df1157b2192e5b9d3a4a607</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/spectacle-17.12.3.tar.xz">spectacle-17.12.3</a></td>
   <td align="right">747kB</td>
   <td><tt>d5a3e0904070356f90e25be9192967d06acb46d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/step-17.12.3.tar.xz">step-17.12.3</a></td>
   <td align="right">842kB</td>
   <td><tt>4d86e4ff9f3cf2d8efa49e190b566bc55eb17147</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/svgpart-17.12.3.tar.xz">svgpart-17.12.3</a></td>
   <td align="right">20kB</td>
   <td><tt>ca2684bfbe745e339ba410d304a22c79b7a9580a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/sweeper-17.12.3.tar.xz">sweeper-17.12.3</a></td>
   <td align="right">373kB</td>
   <td><tt>905a44e69a8b23343282460f700f212ea85bf245</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/syndication-17.12.3.tar.xz">syndication-17.12.3</a></td>
   <td align="right">156kB</td>
   <td><tt>209b3f9a5d9a7864db54c23044aaa06065eb33ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/umbrello-17.12.3.tar.xz">umbrello-17.12.3</a></td>
   <td align="right">2.8MB</td>
   <td><tt>a5d5866844df389ede7f876d49c2e7f5df79a831</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.3/src/zeroconf-ioslave-17.12.3.tar.xz">zeroconf-ioslave-17.12.3</a></td>
   <td align="right">37kB</td>
   <td><tt>dd2e42e51942b60af48104a97de53db41ffdebb2</tt></td>
</tr>

</table>
