<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/akonadi-18.08.2.tar.xz">akonadi-18.08.2</a></td>
   <td align="right">1.4MB</td>
   <td><tt>868e2928569f8f6dc432cd542f77c6da0e7cf88b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/akonadi-calendar-18.08.2.tar.xz">akonadi-calendar-18.08.2</a></td>
   <td align="right">327kB</td>
   <td><tt>f6a7b89b5d11eef5397651ea85f84eb50146b99b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/akonadi-calendar-tools-18.08.2.tar.xz">akonadi-calendar-tools-18.08.2</a></td>
   <td align="right">220kB</td>
   <td><tt>f2fe511076a557cf4d94243d0afd365343c0d1a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/akonadiconsole-18.08.2.tar.xz">akonadiconsole-18.08.2</a></td>
   <td align="right">189kB</td>
   <td><tt>f176a892c396ac11b1fc2b424a368b103b7cc449</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/akonadi-contacts-18.08.2.tar.xz">akonadi-contacts-18.08.2</a></td>
   <td align="right">381kB</td>
   <td><tt>fd8443db271ca7369223876f0a6dc68c475c1bf0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/akonadi-import-wizard-18.08.2.tar.xz">akonadi-import-wizard-18.08.2</a></td>
   <td align="right">429kB</td>
   <td><tt>99851ed55b7dbd55ea5f5efa11c998030475a0bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/akonadi-mime-18.08.2.tar.xz">akonadi-mime-18.08.2</a></td>
   <td align="right">133kB</td>
   <td><tt>b3117c4c701cae43014d3ea46e78dc520cff3606</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/akonadi-notes-18.08.2.tar.xz">akonadi-notes-18.08.2</a></td>
   <td align="right">24kB</td>
   <td><tt>25403586e02c2c5eb8d967bf31ded4b908a286e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/akonadi-search-18.08.2.tar.xz">akonadi-search-18.08.2</a></td>
   <td align="right">80kB</td>
   <td><tt>6cc4d5380d75d0d7de68c0c9ff8bad9dd434b3a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/akregator-18.08.2.tar.xz">akregator-18.08.2</a></td>
   <td align="right">2.1MB</td>
   <td><tt>89ef76917d6bfa35ed49212d52b763f5aa8e03d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/analitza-18.08.2.tar.xz">analitza-18.08.2</a></td>
   <td align="right">323kB</td>
   <td><tt>4b9d6b7bded2ec64fa075975ee78ef7d70c263e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/ark-18.08.2.tar.xz">ark-18.08.2</a></td>
   <td align="right">2.4MB</td>
   <td><tt>f459d3a274d37fa997f476b87880cc5c4dc74ae8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/artikulate-18.08.2.tar.xz">artikulate-18.08.2</a></td>
   <td align="right">3.5MB</td>
   <td><tt>1138b40a4bd3ce6874271c779cfbdb7e5cb79e55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/audiocd-kio-18.08.2.tar.xz">audiocd-kio-18.08.2</a></td>
   <td align="right">243kB</td>
   <td><tt>462e007bf42afdf4727aceb34d68182b6f9ec956</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/baloo-widgets-18.08.2.tar.xz">baloo-widgets-18.08.2</a></td>
   <td align="right">239kB</td>
   <td><tt>a4c1fa6779dae7b84eb92ee08a3e3b44ac04252c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/blinken-18.08.2.tar.xz">blinken-18.08.2</a></td>
   <td align="right">2.3MB</td>
   <td><tt>cd1e99dcb470f00a9673f386a5479c851230f322</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/bomber-18.08.2.tar.xz">bomber-18.08.2</a></td>
   <td align="right">800kB</td>
   <td><tt>943fd6edee824b94068581ddb5b159b893706d2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/bovo-18.08.2.tar.xz">bovo-18.08.2</a></td>
   <td align="right">194kB</td>
   <td><tt>82e93172156123884d0785c1f008afc106a1d63a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/calendarsupport-18.08.2.tar.xz">calendarsupport-18.08.2</a></td>
   <td align="right">632kB</td>
   <td><tt>d86f073fb430093fa0a9f9844c1b4a63b95f0d3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/cantor-18.08.2.tar.xz">cantor-18.08.2</a></td>
   <td align="right">2.0MB</td>
   <td><tt>bde716b6c91d61cb17983523191c0a75cecd47db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/cervisia-18.08.2.tar.xz">cervisia-18.08.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>3663a431c9ab633f02d7ff598e63f1dd1eece969</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/dolphin-18.08.2.tar.xz">dolphin-18.08.2</a></td>
   <td align="right">4.6MB</td>
   <td><tt>bcac86738bd3e32c43095063d0b05c20146a5794</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/dolphin-plugins-18.08.2.tar.xz">dolphin-plugins-18.08.2</a></td>
   <td align="right">188kB</td>
   <td><tt>ff57652f67331be923e37537bea48fe45c143bbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/dragon-18.08.2.tar.xz">dragon-18.08.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>9a919bdc9efb0640545119368d2e0d3d210dbf19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/eventviews-18.08.2.tar.xz">eventviews-18.08.2</a></td>
   <td align="right">431kB</td>
   <td><tt>d9232b5c6807c0d15ec097285ee46b119c132257</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/ffmpegthumbs-18.08.2.tar.xz">ffmpegthumbs-18.08.2</a></td>
   <td align="right">21kB</td>
   <td><tt>f9cbce1bee2b6f0cb64dff01919a840c8ea71f39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/filelight-18.08.2.tar.xz">filelight-18.08.2</a></td>
   <td align="right">644kB</td>
   <td><tt>a8305414679d5348127d9053669ec6b0f72c7b4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/granatier-18.08.2.tar.xz">granatier-18.08.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>ad9483f609ee60708f908a0cfc14ec3f8a793408</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/grantlee-editor-18.08.2.tar.xz">grantlee-editor-18.08.2</a></td>
   <td align="right">108kB</td>
   <td><tt>43eb77334a813af4cdf8fd4daffade3d8913177d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/grantleetheme-18.08.2.tar.xz">grantleetheme-18.08.2</a></td>
   <td align="right">50kB</td>
   <td><tt>f9893846c76b2d6e562ade2eae46ee0198e9507f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/gwenview-18.08.2.tar.xz">gwenview-18.08.2</a></td>
   <td align="right">5.8MB</td>
   <td><tt>8daffe8a3906f765c34d7c3db4b180314bee72b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/incidenceeditor-18.08.2.tar.xz">incidenceeditor-18.08.2</a></td>
   <td align="right">509kB</td>
   <td><tt>584597aa0a2570bed91ba9f64795d1482245c982</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/juk-18.08.2.tar.xz">juk-18.08.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>a84d91145432a40d7f7d3af826d8c69e89719093</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/k3b-18.08.2.tar.xz">k3b-18.08.2</a></td>
   <td align="right">10MB</td>
   <td><tt>a5801dc4b8424155dcf3045b1afacfb3343fc587</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kaccounts-integration-18.08.2.tar.xz">kaccounts-integration-18.08.2</a></td>
   <td align="right">69kB</td>
   <td><tt>ffa1c7a9f0eacc717dd74a166cf27870cfdf2d7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kaccounts-providers-18.08.2.tar.xz">kaccounts-providers-18.08.2</a></td>
   <td align="right">31kB</td>
   <td><tt>f34fd9ed1b6c4db52477529138b1999b632624f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kaddressbook-18.08.2.tar.xz">kaddressbook-18.08.2</a></td>
   <td align="right">525kB</td>
   <td><tt>736fd1646b746171c828f3e6474105ce563d24ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kajongg-18.08.2.tar.xz">kajongg-18.08.2</a></td>
   <td align="right">4.2MB</td>
   <td><tt>96a9751add5f644130f8adf0096bdeeb4dd9e2fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kalarm-18.08.2.tar.xz">kalarm-18.08.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>d864f66a9f03672230340d372ff46d68da07fcd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kalarmcal-18.08.2.tar.xz">kalarmcal-18.08.2</a></td>
   <td align="right">560kB</td>
   <td><tt>3418fa4b0f85c24bd35f26f17c6de5ce6257ee17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kalgebra-18.08.2.tar.xz">kalgebra-18.08.2</a></td>
   <td align="right">690kB</td>
   <td><tt>a7973aae65e4d62ea8292931b17c00b347f9f7f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kalzium-18.08.2.tar.xz">kalzium-18.08.2</a></td>
   <td align="right">23MB</td>
   <td><tt>1310e12767c74b4810d835b69c84013bad163d8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kamera-18.08.2.tar.xz">kamera-18.08.2</a></td>
   <td align="right">95kB</td>
   <td><tt>8347d2666c22861c8a695194b0aa78dac7785b80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kamoso-18.08.2.tar.xz">kamoso-18.08.2</a></td>
   <td align="right">178kB</td>
   <td><tt>2e63b19b70438ff083da9d09d2bb1ed3b9717701</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kanagram-18.08.2.tar.xz">kanagram-18.08.2</a></td>
   <td align="right">7.0MB</td>
   <td><tt>238d34b3f7af4b60fb90f61f2aab268b43a82b03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kapman-18.08.2.tar.xz">kapman-18.08.2</a></td>
   <td align="right">2.4MB</td>
   <td><tt>0ec905aca3bdaec8320b090ad22fb6a89a5a6a83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kapptemplate-18.08.2.tar.xz">kapptemplate-18.08.2</a></td>
   <td align="right">310kB</td>
   <td><tt>3e61a40f3a45cdfe6706aa18c137952341e2aefc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kate-18.08.2.tar.xz">kate-18.08.2</a></td>
   <td align="right">5.3MB</td>
   <td><tt>7da810ab332f0b5beeb86a9c4a2ce56190033379</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/katomic-18.08.2.tar.xz">katomic-18.08.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>796d99c19f7d9224c0b632dff36d50b61dae8a04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kbackup-18.08.2.tar.xz">kbackup-18.08.2</a></td>
   <td align="right">343kB</td>
   <td><tt>2434a7bc4f92dfb854b933ea518cdc1bb5afdbca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kblackbox-18.08.2.tar.xz">kblackbox-18.08.2</a></td>
   <td align="right">434kB</td>
   <td><tt>d9f64e6151fe2f8c5371afd4d1e5988e1f18f309</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kblocks-18.08.2.tar.xz">kblocks-18.08.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>cd8b8ae4971aecb36f90ef4c83dfa2f8ca625296</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kblog-18.08.2.tar.xz">kblog-18.08.2</a></td>
   <td align="right">71kB</td>
   <td><tt>375b6716e0b0b910a4c38ad0e4e6e791460ddd94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kbounce-18.08.2.tar.xz">kbounce-18.08.2</a></td>
   <td align="right">3.3MB</td>
   <td><tt>a28bf3bcb455b1799238095230e0f3a230863933</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kbreakout-18.08.2.tar.xz">kbreakout-18.08.2</a></td>
   <td align="right">2.1MB</td>
   <td><tt>a71f61327e30cbfdde383f2c56be5ff71e4012b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kbruch-18.08.2.tar.xz">kbruch-18.08.2</a></td>
   <td align="right">5.3MB</td>
   <td><tt>2fe87258982b24f6fd4963cdafc8289c963d525b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kcachegrind-18.08.2.tar.xz">kcachegrind-18.08.2</a></td>
   <td align="right">790kB</td>
   <td><tt>a0ab99e0bf12329cc072e1f8ee68ffc1f387111a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kcalc-18.08.2.tar.xz">kcalc-18.08.2</a></td>
   <td align="right">353kB</td>
   <td><tt>083baf457e986bab57852227d6749c3e3903c104</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kcalcore-18.08.2.tar.xz">kcalcore-18.08.2</a></td>
   <td align="right">246kB</td>
   <td><tt>553c067a5668edbc89a7eb6304a236db1d8a4cc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kcalutils-18.08.2.tar.xz">kcalutils-18.08.2</a></td>
   <td align="right">317kB</td>
   <td><tt>23a9ce227c2dfe0ab353605631f59a1a349e0292</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kcharselect-18.08.2.tar.xz">kcharselect-18.08.2</a></td>
   <td align="right">347kB</td>
   <td><tt>08695a1eca02e3bc7c21d2e84c9a87323b058b2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kcolorchooser-18.08.2.tar.xz">kcolorchooser-18.08.2</a></td>
   <td align="right">16kB</td>
   <td><tt>d0810944157d5158bd5cb480f63e83ba1f4beec7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kcontacts-18.08.2.tar.xz">kcontacts-18.08.2</a></td>
   <td align="right">202kB</td>
   <td><tt>bef838a1b9037b2a6a69b7f3e9b52e1f573131b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kcron-18.08.2.tar.xz">kcron-18.08.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>fd7d0dc64403501b4bda55f13f81a1cf261be111</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kdav-18.08.2.tar.xz">kdav-18.08.2</a></td>
   <td align="right">48kB</td>
   <td><tt>fb24d7c551c6006c9ae568ded298f89eb135ac9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kdebugsettings-18.08.2.tar.xz">kdebugsettings-18.08.2</a></td>
   <td align="right">51kB</td>
   <td><tt>152e618e727435a3522de41c90ad590843d904cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kde-dev-scripts-18.08.2.tar.xz">kde-dev-scripts-18.08.2</a></td>
   <td align="right">368kB</td>
   <td><tt>7c935dc2182eba4a8ba3214124c409af6a82cbd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kde-dev-utils-18.08.2.tar.xz">kde-dev-utils-18.08.2</a></td>
   <td align="right">60kB</td>
   <td><tt>6572597161a3778f9e1af5ec63831a3a7bcb922f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kdeedu-data-18.08.2.tar.xz">kdeedu-data-18.08.2</a></td>
   <td align="right">320kB</td>
   <td><tt>9065db092a95aa9b482b837cb03a88a4252c1847</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kdegraphics-mobipocket-18.08.2.tar.xz">kdegraphics-mobipocket-18.08.2</a></td>
   <td align="right">13kB</td>
   <td><tt>a99d3568810ff508ce4c449481b0c036d6c3f47e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kdegraphics-thumbnailers-18.08.2.tar.xz">kdegraphics-thumbnailers-18.08.2</a></td>
   <td align="right">40kB</td>
   <td><tt>56a4902098ffa02187841590718d0dec9a0d6bd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kdenetwork-filesharing-18.08.2.tar.xz">kdenetwork-filesharing-18.08.2</a></td>
   <td align="right">305kB</td>
   <td><tt>61033c45aa75591773ae821f1584f5ed56d8b398</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kdenlive-18.08.2.tar.xz">kdenlive-18.08.2</a></td>
   <td align="right">8.9MB</td>
   <td><tt>c0e89d0c579d778de9171ebcc873b57d793bf3be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kdepim-addons-18.08.2.tar.xz">kdepim-addons-18.08.2</a></td>
   <td align="right">2.0MB</td>
   <td><tt>a76352468260c860abc05a5a90e7a7d0b30d00a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kdepim-apps-libs-18.08.2.tar.xz">kdepim-apps-libs-18.08.2</a></td>
   <td align="right">78kB</td>
   <td><tt>e048b36acbd1178b4bc4157bad0db0be5cae1777</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kdepim-runtime-18.08.2.tar.xz">kdepim-runtime-18.08.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>09def1981b7ce8e1d35ef386dbf38e82e82aedc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kdesdk-kioslaves-18.08.2.tar.xz">kdesdk-kioslaves-18.08.2</a></td>
   <td align="right">36kB</td>
   <td><tt>e31aba1610c0ef251c431e48e3bc1e5eb6a3684e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kdesdk-thumbnailers-18.08.2.tar.xz">kdesdk-thumbnailers-18.08.2</a></td>
   <td align="right">17kB</td>
   <td><tt>5bda4beec37600fc8c59e051d7ff1d1fa5d2b777</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kdf-18.08.2.tar.xz">kdf-18.08.2</a></td>
   <td align="right">543kB</td>
   <td><tt>38e496f87eea3431e06f1664d1ec8bfb44d5e86c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kdialog-18.08.2.tar.xz">kdialog-18.08.2</a></td>
   <td align="right">94kB</td>
   <td><tt>03c899c5fb31547a71791db0575bcd80532fb7a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kdiamond-18.08.2.tar.xz">kdiamond-18.08.2</a></td>
   <td align="right">4.5MB</td>
   <td><tt>70adcbb676800c9b766827fac4ac25e2f3ad46fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/keditbookmarks-18.08.2.tar.xz">keditbookmarks-18.08.2</a></td>
   <td align="right">179kB</td>
   <td><tt>f5294f9b040b04d4530748d5ba27f4ede1b9d6ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kfind-18.08.2.tar.xz">kfind-18.08.2</a></td>
   <td align="right">205kB</td>
   <td><tt>6de03a8f07cac9e9226da638257afe30aed91a7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kfloppy-18.08.2.tar.xz">kfloppy-18.08.2</a></td>
   <td align="right">195kB</td>
   <td><tt>c5c19872341ef632123ff39843857fdb4f1e91f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kfourinline-18.08.2.tar.xz">kfourinline-18.08.2</a></td>
   <td align="right">620kB</td>
   <td><tt>b742f76f63bf12d37a9e6f2b06daeae9ce7e0723</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kgeography-18.08.2.tar.xz">kgeography-18.08.2</a></td>
   <td align="right">10MB</td>
   <td><tt>f5a57875e6503dde37ad618630f13bb6e11a6ecd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kget-18.08.2.tar.xz">kget-18.08.2</a></td>
   <td align="right">4.9MB</td>
   <td><tt>26a34e1f3222d4c5665931a87197fb88b098c31e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kgoldrunner-18.08.2.tar.xz">kgoldrunner-18.08.2</a></td>
   <td align="right">4.2MB</td>
   <td><tt>94ff73f87d45572b72912db4998da3a24371686f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kgpg-18.08.2.tar.xz">kgpg-18.08.2</a></td>
   <td align="right">2.7MB</td>
   <td><tt>3360212edfd9b4313ac45bb932254bef7a378d87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/khangman-18.08.2.tar.xz">khangman-18.08.2</a></td>
   <td align="right">6.9MB</td>
   <td><tt>93f31406b67a5b88aa47e37fb42898c5e70e50b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/khelpcenter-18.08.2.tar.xz">khelpcenter-18.08.2</a></td>
   <td align="right">3.6MB</td>
   <td><tt>7ab546fcd3e60b02352213dd4b2dad3833d182d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kidentitymanagement-18.08.2.tar.xz">kidentitymanagement-18.08.2</a></td>
   <td align="right">144kB</td>
   <td><tt>134acbc066a5adc88427f9c52bb6567c3bf79366</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kig-18.08.2.tar.xz">kig-18.08.2</a></td>
   <td align="right">3.4MB</td>
   <td><tt>2e34e66a324bf512ffbe435c419d3a4282605819</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kigo-18.08.2.tar.xz">kigo-18.08.2</a></td>
   <td align="right">4.9MB</td>
   <td><tt>97c03cbec956e080ed935304b069dee04bd57ebe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/killbots-18.08.2.tar.xz">killbots-18.08.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>8e31b6afbdff2b84604966e169a5767172dcc2b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kimagemapeditor-18.08.2.tar.xz">kimagemapeditor-18.08.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>705f382df1869ce6168b1c066346612702a67423</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kimap-18.08.2.tar.xz">kimap-18.08.2</a></td>
   <td align="right">117kB</td>
   <td><tt>a915878e6fbc96f31a7700908aa5f8d55bc8068e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kio-extras-18.08.2.tar.xz">kio-extras-18.08.2</a></td>
   <td align="right">539kB</td>
   <td><tt>b35a7a17b44d0e705ee21e012ab1fe706ca62de1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kiriki-18.08.2.tar.xz">kiriki-18.08.2</a></td>
   <td align="right">363kB</td>
   <td><tt>9fd76cae5a7cf3bec4a27d7d5c2355c4c9bda1e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kiten-18.08.2.tar.xz">kiten-18.08.2</a></td>
   <td align="right">11MB</td>
   <td><tt>9a21a59f03c1ebcecdcf22db72b8658165061e4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kitinerary-18.08.2.tar.xz">kitinerary-18.08.2</a></td>
   <td align="right">608kB</td>
   <td><tt>88acfb993a883d91a28d8d9cc3dadce81e7c12ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kjumpingcube-18.08.2.tar.xz">kjumpingcube-18.08.2</a></td>
   <td align="right">280kB</td>
   <td><tt>ac138851ec35ab74ea6196d564e5223c5ebbbebd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kldap-18.08.2.tar.xz">kldap-18.08.2</a></td>
   <td align="right">152kB</td>
   <td><tt>3d99288b637fbb97f3fb7eeb2a30f9559bbe176b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kleopatra-18.08.2.tar.xz">kleopatra-18.08.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>7da21495b333fddc895be99ea38d8f2063441f7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/klettres-18.08.2.tar.xz">klettres-18.08.2</a></td>
   <td align="right">20MB</td>
   <td><tt>fcfdcc7db6e451aa66db47ef91e654d5431b38f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/klickety-18.08.2.tar.xz">klickety-18.08.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>da846e8177cb178d1eaa653d0e7dd71897763bd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/klines-18.08.2.tar.xz">klines-18.08.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>43b115e5ccdd379066c3eac9b9105b4257dd5f6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kmag-18.08.2.tar.xz">kmag-18.08.2</a></td>
   <td align="right">613kB</td>
   <td><tt>15b7630c4403917914fecd09409e6d4dcbde610e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kmahjongg-18.08.2.tar.xz">kmahjongg-18.08.2</a></td>
   <td align="right">3.8MB</td>
   <td><tt>140072c471046d549d19a84ca343eece06033326</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kmail-18.08.2.tar.xz">kmail-18.08.2</a></td>
   <td align="right">4.5MB</td>
   <td><tt>f8ea7707aaffd92eb8456c282f757082f4cf55b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kmail-account-wizard-18.08.2.tar.xz">kmail-account-wizard-18.08.2</a></td>
   <td align="right">152kB</td>
   <td><tt>0ca996a61e49fd18aa7aadf3a698aaa367e1681a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kmailtransport-18.08.2.tar.xz">kmailtransport-18.08.2</a></td>
   <td align="right">162kB</td>
   <td><tt>a8b067248a0b638896b569f2a61ec70ab470a49c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kmbox-18.08.2.tar.xz">kmbox-18.08.2</a></td>
   <td align="right">23kB</td>
   <td><tt>2cca59cf1662118edaf0ffd37655646f49872e2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kmime-18.08.2.tar.xz">kmime-18.08.2</a></td>
   <td align="right">143kB</td>
   <td><tt>c05f92f13d16309f0405889f4e54f72bd7e1aafa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kmines-18.08.2.tar.xz">kmines-18.08.2</a></td>
   <td align="right">880kB</td>
   <td><tt>e48e9d1f024b168a1f3efeaee05a2d567e9ec3c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kmix-18.08.2.tar.xz">kmix-18.08.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>495c2595502439ee6de60ee236ee508f12ed80ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kmousetool-18.08.2.tar.xz">kmousetool-18.08.2</a></td>
   <td align="right">110kB</td>
   <td><tt>4275b61221052123a90d75d99598a4fb74f7a4a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kmouth-18.08.2.tar.xz">kmouth-18.08.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>bee46e15f896a2a49a62cfc3f6dd5a6ffd7b581a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kmplot-18.08.2.tar.xz">kmplot-18.08.2</a></td>
   <td align="right">2.8MB</td>
   <td><tt>5aa831ad04ae1b88b9208c8660b45113a7498e5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/knavalbattle-18.08.2.tar.xz">knavalbattle-18.08.2</a></td>
   <td align="right">1.2MB</td>
   <td><tt>3595bf81cf96c1fbeb7243e0e9b3cc8adf19ebe7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/knetwalk-18.08.2.tar.xz">knetwalk-18.08.2</a></td>
   <td align="right">1012kB</td>
   <td><tt>c7624af505dffcc18265c769c7509e630b6016dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/knotes-18.08.2.tar.xz">knotes-18.08.2</a></td>
   <td align="right">330kB</td>
   <td><tt>13b24e01aa06a05af7a5fe54a43a0b312983f449</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kolf-18.08.2.tar.xz">kolf-18.08.2</a></td>
   <td align="right">903kB</td>
   <td><tt>ff05a4cb8c2c3b4437a52b129788aad9e01296ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kollision-18.08.2.tar.xz">kollision-18.08.2</a></td>
   <td align="right">274kB</td>
   <td><tt>7bfdb9b54981f175620d9d3ac3634c9a034aceef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kolourpaint-18.08.2.tar.xz">kolourpaint-18.08.2</a></td>
   <td align="right">5.2MB</td>
   <td><tt>950bf264fbda3fef3b295b9f4cc7d17edbae1e50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kompare-18.08.2.tar.xz">kompare-18.08.2</a></td>
   <td align="right">783kB</td>
   <td><tt>ab725fef7b7769b12f62a19d9368f49649420ab9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/konqueror-18.08.2.tar.xz">konqueror-18.08.2</a></td>
   <td align="right">7.3MB</td>
   <td><tt>cdb5a89e3e1d7940c994345220cef78a0f4d0978</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/konquest-18.08.2.tar.xz">konquest-18.08.2</a></td>
   <td align="right">643kB</td>
   <td><tt>a9777dcc8826cdbb8c150eb49c177d4df5a1a881</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/konsole-18.08.2.tar.xz">konsole-18.08.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>a783ab0dec68d2754358887b6f1a5599199ff42d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kontact-18.08.2.tar.xz">kontact-18.08.2</a></td>
   <td align="right">844kB</td>
   <td><tt>2979fee0e47e32f5ad15fdfdbde9765ec7b1c708</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kontactinterface-18.08.2.tar.xz">kontactinterface-18.08.2</a></td>
   <td align="right">32kB</td>
   <td><tt>f917026996bc838019de2e19f535c7d206c1600f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kopete-18.08.2.tar.xz">kopete-18.08.2</a></td>
   <td align="right">8.9MB</td>
   <td><tt>04343eb8d0e35beb17791de93648e35dd76cbaba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/korganizer-18.08.2.tar.xz">korganizer-18.08.2</a></td>
   <td align="right">2.1MB</td>
   <td><tt>d076fcf81cc2f0b678925fa0b2a5b2cbf0497984</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kpat-18.08.2.tar.xz">kpat-18.08.2</a></td>
   <td align="right">3.4MB</td>
   <td><tt>7874cd0b07b13fb1f92cedbe800e48aca9fc3967</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kpimtextedit-18.08.2.tar.xz">kpimtextedit-18.08.2</a></td>
   <td align="right">139kB</td>
   <td><tt>68180421e9397c13bdce536debbd302b3ff486d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kpkpass-18.08.2.tar.xz">kpkpass-18.08.2</a></td>
   <td align="right">22kB</td>
   <td><tt>a8e108764f960b206ab04d1d6a71c55fdaf19676</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kqtquickcharts-18.08.2.tar.xz">kqtquickcharts-18.08.2</a></td>
   <td align="right">25kB</td>
   <td><tt>43edbd9c46b14e6bf124315c40df8f03079391ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/krdc-18.08.2.tar.xz">krdc-18.08.2</a></td>
   <td align="right">1.4MB</td>
   <td><tt>0122ba5b5d9f400a77599f3968ad56bbba66261b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kreversi-18.08.2.tar.xz">kreversi-18.08.2</a></td>
   <td align="right">921kB</td>
   <td><tt>5cd2cb73d4eab2e69b64876e5f73d11b36a74b6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/krfb-18.08.2.tar.xz">krfb-18.08.2</a></td>
   <td align="right">971kB</td>
   <td><tt>17405ee0f292e728587187b04ff687cca42e02f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kross-interpreters-18.08.2.tar.xz">kross-interpreters-18.08.2</a></td>
   <td align="right">141kB</td>
   <td><tt>4df82f54fd736a77c62d267ab52ce40a0254d3dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kruler-18.08.2.tar.xz">kruler-18.08.2</a></td>
   <td align="right">289kB</td>
   <td><tt>af07221a07658c46705a25c3775e191fcc98ba28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kshisen-18.08.2.tar.xz">kshisen-18.08.2</a></td>
   <td align="right">801kB</td>
   <td><tt>d1898cb5da0f88da1061305678f1b83ccbb50f23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/ksirk-18.08.2.tar.xz">ksirk-18.08.2</a></td>
   <td align="right">6.6MB</td>
   <td><tt>7275fb40fc02d5f78b82d57de09da71e20d3ddd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/ksmtp-18.08.2.tar.xz">ksmtp-18.08.2</a></td>
   <td align="right">38kB</td>
   <td><tt>3ba8f8047ab7d03247712ae500506ca7e3b5304a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/ksnakeduel-18.08.2.tar.xz">ksnakeduel-18.08.2</a></td>
   <td align="right">591kB</td>
   <td><tt>579af409e628c7cdfe606c8ff86a777469beadcf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kspaceduel-18.08.2.tar.xz">kspaceduel-18.08.2</a></td>
   <td align="right">596kB</td>
   <td><tt>404bec7894943455b909b6c4f7ea9f4fae16536b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/ksquares-18.08.2.tar.xz">ksquares-18.08.2</a></td>
   <td align="right">252kB</td>
   <td><tt>97bdde87ffb315a0b57099fd97f38d9ecb5e861f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/ksudoku-18.08.2.tar.xz">ksudoku-18.08.2</a></td>
   <td align="right">1.5MB</td>
   <td><tt>f8c2a97a77e8caceef44c18b64463957397420b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/ksystemlog-18.08.2.tar.xz">ksystemlog-18.08.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>cf8308df956676644fb3226a193ab2c5c77bee64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kteatime-18.08.2.tar.xz">kteatime-18.08.2</a></td>
   <td align="right">291kB</td>
   <td><tt>b3013163ae47bbe52bf83213a5a21878855a3ff8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/ktimer-18.08.2.tar.xz">ktimer-18.08.2</a></td>
   <td align="right">497kB</td>
   <td><tt>d5c1fd0b7b4c404243b9fcf24f6835177af2f663</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/ktnef-18.08.2.tar.xz">ktnef-18.08.2</a></td>
   <td align="right">293kB</td>
   <td><tt>956950e43537470dc51d0844809453e62d8c3f47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/ktouch-18.08.2.tar.xz">ktouch-18.08.2</a></td>
   <td align="right">4.8MB</td>
   <td><tt>a93447035ea2075a288eacbc0cd474069b3a5c59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/ktp-accounts-kcm-18.08.2.tar.xz">ktp-accounts-kcm-18.08.2</a></td>
   <td align="right">258kB</td>
   <td><tt>95d1f8856f7f23cdda36e8b5ac1c1e3d472d1738</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/ktp-approver-18.08.2.tar.xz">ktp-approver-18.08.2</a></td>
   <td align="right">36kB</td>
   <td><tt>f1fe955c3e2c58854269234b64e7aebf5a967751</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/ktp-auth-handler-18.08.2.tar.xz">ktp-auth-handler-18.08.2</a></td>
   <td align="right">45kB</td>
   <td><tt>4898ff658626b7285a90eac6902e2e0cd191e93d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/ktp-call-ui-18.08.2.tar.xz">ktp-call-ui-18.08.2</a></td>
   <td align="right">94kB</td>
   <td><tt>34b2da7f3045fa78fd906a1a5adf29f04ec85882</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/ktp-common-internals-18.08.2.tar.xz">ktp-common-internals-18.08.2</a></td>
   <td align="right">433kB</td>
   <td><tt>0689e5b018d1162128fe13c7dfa75f2e365497b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/ktp-contact-list-18.08.2.tar.xz">ktp-contact-list-18.08.2</a></td>
   <td align="right">143kB</td>
   <td><tt>522421929d8cc6d287a1fcb2999a7dca4c1c3e42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/ktp-contact-runner-18.08.2.tar.xz">ktp-contact-runner-18.08.2</a></td>
   <td align="right">41kB</td>
   <td><tt>3610a61b3b7e06f85577a4e8bceb56171cbcb408</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/ktp-desktop-applets-18.08.2.tar.xz">ktp-desktop-applets-18.08.2</a></td>
   <td align="right">42kB</td>
   <td><tt>fb4d7f695803106f034f8f25d08cd7031ef77845</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/ktp-filetransfer-handler-18.08.2.tar.xz">ktp-filetransfer-handler-18.08.2</a></td>
   <td align="right">45kB</td>
   <td><tt>f9d2c0ac6fcaa1c4c5e3943f62c9877dadc64e30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/ktp-kded-module-18.08.2.tar.xz">ktp-kded-module-18.08.2</a></td>
   <td align="right">92kB</td>
   <td><tt>889ac406559df3c4e3f020c9838e89faff6f8c4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/ktp-send-file-18.08.2.tar.xz">ktp-send-file-18.08.2</a></td>
   <td align="right">28kB</td>
   <td><tt>f6896daad5d25d76ee0f6b30ad6de64e01999845</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/ktp-text-ui-18.08.2.tar.xz">ktp-text-ui-18.08.2</a></td>
   <td align="right">458kB</td>
   <td><tt>9448f777933ebdce85a731b3b3ef49f40521d3b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/ktuberling-18.08.2.tar.xz">ktuberling-18.08.2</a></td>
   <td align="right">31MB</td>
   <td><tt>02014765442bee60383ca3cd41d11198774b1dbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kturtle-18.08.2.tar.xz">kturtle-18.08.2</a></td>
   <td align="right">1.5MB</td>
   <td><tt>c6d218f48f6295195c1a1d3ea0cc2f5520362a5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kubrick-18.08.2.tar.xz">kubrick-18.08.2</a></td>
   <td align="right">301kB</td>
   <td><tt>e00da570d43ea5200c0c341f03b1f2ec5ba837c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kwalletmanager-18.08.2.tar.xz">kwalletmanager-18.08.2</a></td>
   <td align="right">768kB</td>
   <td><tt>b4422f3768aba912c08ec9fea504436b365c58ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kwave-18.08.2.tar.xz">kwave-18.08.2</a></td>
   <td align="right">5.9MB</td>
   <td><tt>09a4b731f828560269cfac30ee265f5ce67e922d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/kwordquiz-18.08.2.tar.xz">kwordquiz-18.08.2</a></td>
   <td align="right">3.9MB</td>
   <td><tt>ece013f2016c6554d149a92e7031f732dc98bafe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/libgravatar-18.08.2.tar.xz">libgravatar-18.08.2</a></td>
   <td align="right">29kB</td>
   <td><tt>5017586c53ccca608447094087d53a2b2bb2335f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/libkcddb-18.08.2.tar.xz">libkcddb-18.08.2</a></td>
   <td align="right">416kB</td>
   <td><tt>44e9839d9532694518634a6ee229d2d49bb1988e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/libkcompactdisc-18.08.2.tar.xz">libkcompactdisc-18.08.2</a></td>
   <td align="right">86kB</td>
   <td><tt>74452a16b974ba0cfb521a2d09120a987c7c39fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/libkdcraw-18.08.2.tar.xz">libkdcraw-18.08.2</a></td>
   <td align="right">41kB</td>
   <td><tt>eec6ac09c732204ec9d41935b5d16b2ee2f494a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/libkdegames-18.08.2.tar.xz">libkdegames-18.08.2</a></td>
   <td align="right">6.0MB</td>
   <td><tt>2db0fc1c179c193fdf793c0fe12ce918adecaf50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/libkdepim-18.08.2.tar.xz">libkdepim-18.08.2</a></td>
   <td align="right">328kB</td>
   <td><tt>303a0c3a2c30ca2954546623689076d8898a0fd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/libkeduvocdocument-18.08.2.tar.xz">libkeduvocdocument-18.08.2</a></td>
   <td align="right">201kB</td>
   <td><tt>4675dba7407d3d64e4145f360629f6ba1c7bcbce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/libkexiv2-18.08.2.tar.xz">libkexiv2-18.08.2</a></td>
   <td align="right">63kB</td>
   <td><tt>1cf559080673089203ac13d4fc7808138ebb4d35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/libkgapi-18.08.2.tar.xz">libkgapi-18.08.2</a></td>
   <td align="right">210kB</td>
   <td><tt>773aaee1a39cc3fc0111926bc635b77203134a87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/libkgeomap-18.08.2.tar.xz">libkgeomap-18.08.2</a></td>
   <td align="right">147kB</td>
   <td><tt>8787682fc26905d837bba12aa11f29456c97388b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/libkipi-18.08.2.tar.xz">libkipi-18.08.2</a></td>
   <td align="right">101kB</td>
   <td><tt>2cdffdaa479037f868a4ecc2808e812244ff4a13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/libkleo-18.08.2.tar.xz">libkleo-18.08.2</a></td>
   <td align="right">328kB</td>
   <td><tt>0551170dc7a984ca4ee5784174bba86616dc96ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/libkmahjongg-18.08.2.tar.xz">libkmahjongg-18.08.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>1d64fd896aefe7137ae7b38066f0a03a47c4dc4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/libkomparediff2-18.08.2.tar.xz">libkomparediff2-18.08.2</a></td>
   <td align="right">169kB</td>
   <td><tt>37834548e7132daa9745076534fc2bde14e02357</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/libksane-18.08.2.tar.xz">libksane-18.08.2</a></td>
   <td align="right">134kB</td>
   <td><tt>5bc96e0a2b32e9b9da8f7c3b7a2ec0b14490db96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/libksieve-18.08.2.tar.xz">libksieve-18.08.2</a></td>
   <td align="right">537kB</td>
   <td><tt>f1d0073834a413b182b9dad2ff7a3818bed3a354</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/lokalize-18.08.2.tar.xz">lokalize-18.08.2</a></td>
   <td align="right">2.7MB</td>
   <td><tt>5f54850033da876432dd04518cab6306210e186f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/lskat-18.08.2.tar.xz">lskat-18.08.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>b2fd90584ff2465a26f7155bffcb9fcc37cbc8dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/mailcommon-18.08.2.tar.xz">mailcommon-18.08.2</a></td>
   <td align="right">675kB</td>
   <td><tt>fcbf7bed89dd412cbb37892c214e13419da4a0f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/mailimporter-18.08.2.tar.xz">mailimporter-18.08.2</a></td>
   <td align="right">528kB</td>
   <td><tt>c35717d590a8dda85d00c9f90f0cc37947251114</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/marble-18.08.2.tar.xz">marble-18.08.2</a></td>
   <td align="right">49MB</td>
   <td><tt>90fd17b01e84988834b46ff81571e516cf5a10f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/mbox-importer-18.08.2.tar.xz">mbox-importer-18.08.2</a></td>
   <td align="right">32kB</td>
   <td><tt>fb5285bcb3dd7e0d750695a2c93fcbcb78e188f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/messagelib-18.08.2.tar.xz">messagelib-18.08.2</a></td>
   <td align="right">9.9MB</td>
   <td><tt>2dec98727b6e3598329fb3bdb13395a6bec72dfe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/minuet-18.08.2.tar.xz">minuet-18.08.2</a></td>
   <td align="right">26MB</td>
   <td><tt>914911439fbe80ea9bfd5d25fe1b9a5cd18c4f81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/okular-18.08.2.tar.xz">okular-18.08.2</a></td>
   <td align="right">5.5MB</td>
   <td><tt>332c24bb19766f429f887f405a99dfe2ed264771</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/palapeli-18.08.2.tar.xz">palapeli-18.08.2</a></td>
   <td align="right">1.9MB</td>
   <td><tt>7cddc36f45df207f74e9fceee359ad4bfe5eb858</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/parley-18.08.2.tar.xz">parley-18.08.2</a></td>
   <td align="right">8.4MB</td>
   <td><tt>3d663e4d238f14a1859fbdb0d5aa2a14ea771244</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/picmi-18.08.2.tar.xz">picmi-18.08.2</a></td>
   <td align="right">1.2MB</td>
   <td><tt>b4ac1fece542fe78b1676e9cfc0cce4699ddc192</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/pimcommon-18.08.2.tar.xz">pimcommon-18.08.2</a></td>
   <td align="right">285kB</td>
   <td><tt>471e0d0dfd90b46b2328f7d8a0afda2832caac59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/pim-data-exporter-18.08.2.tar.xz">pim-data-exporter-18.08.2</a></td>
   <td align="right">263kB</td>
   <td><tt>6eabb8b215ff46b8ecc0a02760e0e80f71ba0d99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/pim-sieve-editor-18.08.2.tar.xz">pim-sieve-editor-18.08.2</a></td>
   <td align="right">437kB</td>
   <td><tt>de6611aced9e8595495b4c6530c06810b368359e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/poxml-18.08.2.tar.xz">poxml-18.08.2</a></td>
   <td align="right">42kB</td>
   <td><tt>61bcfd6309c07af2a4e5707b159cd87cf06cd370</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/print-manager-18.08.2.tar.xz">print-manager-18.08.2</a></td>
   <td align="right">233kB</td>
   <td><tt>347e2e50114470b7a5e998175b58c1e9b81c3f14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/rocs-18.08.2.tar.xz">rocs-18.08.2</a></td>
   <td align="right">1.4MB</td>
   <td><tt>8c4d5cc37e4ac258b8f105195d1c40be9507412c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/signon-kwallet-extension-18.08.2.tar.xz">signon-kwallet-extension-18.08.2</a></td>
   <td align="right">10kB</td>
   <td><tt>70f5406cbd502b81bd09d74e98d7773b5299b334</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/spectacle-18.08.2.tar.xz">spectacle-18.08.2</a></td>
   <td align="right">1023kB</td>
   <td><tt>9d79b67b86fb635598dd3e1f7a5cb8b68c124867</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/step-18.08.2.tar.xz">step-18.08.2</a></td>
   <td align="right">840kB</td>
   <td><tt>f5d2526504a96030f13a605a0accbce1a1643a89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/svgpart-18.08.2.tar.xz">svgpart-18.08.2</a></td>
   <td align="right">20kB</td>
   <td><tt>34ea07d88297d1dbe82baa5abb8c8bc2b7a91aa1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/sweeper-18.08.2.tar.xz">sweeper-18.08.2</a></td>
   <td align="right">359kB</td>
   <td><tt>3fdd91e9ce6882852041bd477d20a4aa4aa6c0d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/syndication-18.08.2.tar.xz">syndication-18.08.2</a></td>
   <td align="right">155kB</td>
   <td><tt>25af48491fe128765440ef39f9ce5028f614b5ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/umbrello-18.08.2.tar.xz">umbrello-18.08.2</a></td>
   <td align="right">2.9MB</td>
   <td><tt>9160ddc3b39a82e60928d7b94114a6072f4d90e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.2/src/zeroconf-ioslave-18.08.2.tar.xz">zeroconf-ioslave-18.08.2</a></td>
   <td align="right">38kB</td>
   <td><tt>db5c5f41e3d2c7f186b63287028c462525603651</tt></td>
</tr>

</table>
