<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Digest</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/akonadi-19.04.3.tar.xz">akonadi-19.04.3</a></td>
   <td align="right">1.5MB</td>
   <td><tt>20fc10c12fdb7daa440a93c007a8584d170e869e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/akonadi-calendar-19.04.3.tar.xz">akonadi-calendar-19.04.3</a></td>
   <td align="right">324kB</td>
   <td><tt>7534ca08e1f04309ef87d879ecba41172e54fcdd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/akonadi-calendar-tools-19.04.3.tar.xz">akonadi-calendar-tools-19.04.3</a></td>
   <td align="right">218kB</td>
   <td><tt>f15f8ba36f40a7e375db3ef4ae97c9ccf176537a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/akonadiconsole-19.04.3.tar.xz">akonadiconsole-19.04.3</a></td>
   <td align="right">189kB</td>
   <td><tt>446de107d265e390d7e6ccb9fc3277e092787045</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/akonadi-contacts-19.04.3.tar.xz">akonadi-contacts-19.04.3</a></td>
   <td align="right">383kB</td>
   <td><tt>205ee1eff152b585817694a0ae57b935d5c438e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/akonadi-import-wizard-19.04.3.tar.xz">akonadi-import-wizard-19.04.3</a></td>
   <td align="right">428kB</td>
   <td><tt>c0661bcf40b02a68cd986baf385134ea4339ef01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/akonadi-mime-19.04.3.tar.xz">akonadi-mime-19.04.3</a></td>
   <td align="right">133kB</td>
   <td><tt>b9461fde925733127df4a6b2a812aee08edb9ccb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/akonadi-notes-19.04.3.tar.xz">akonadi-notes-19.04.3</a></td>
   <td align="right">23kB</td>
   <td><tt>6def3a32932f958c2fec337e3e3108f504a25d11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/akonadi-search-19.04.3.tar.xz">akonadi-search-19.04.3</a></td>
   <td align="right">80kB</td>
   <td><tt>bcdd2f851e9ee05477d6165ab5faec0a1466446a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/akregator-19.04.3.tar.xz">akregator-19.04.3</a></td>
   <td align="right">2.0MB</td>
   <td><tt>7a9999faa890083232f08e32f0e3a4a87082ba5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/analitza-19.04.3.tar.xz">analitza-19.04.3</a></td>
   <td align="right">322kB</td>
   <td><tt>fc090a8d236e4c7cb2361e71c04c19563d98c4a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/ark-19.04.3.tar.xz">ark-19.04.3</a></td>
   <td align="right">2.4MB</td>
   <td><tt>380f438313b92e4c1296ef1a85a837f581577e04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/artikulate-19.04.3.tar.xz">artikulate-19.04.3</a></td>
   <td align="right">3.8MB</td>
   <td><tt>5f5825dc4f8e71cd51dd0c00da5b66b9604e7579</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/audiocd-kio-19.04.3.tar.xz">audiocd-kio-19.04.3</a></td>
   <td align="right">346kB</td>
   <td><tt>a9c1b8ec168682b01d245b000591ca7dfb73efca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/baloo-widgets-19.04.3.tar.xz">baloo-widgets-19.04.3</a></td>
   <td align="right">243kB</td>
   <td><tt>8ef92fb8f340d6854bf45d8a53983ecb04c163d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/blinken-19.04.3.tar.xz">blinken-19.04.3</a></td>
   <td align="right">2.6MB</td>
   <td><tt>ce0dcbb7a8c4ae575e310c84c26fbcc226966e86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/bomber-19.04.3.tar.xz">bomber-19.04.3</a></td>
   <td align="right">800kB</td>
   <td><tt>26ae2047ccb640cba37cb953cd2fe154d9d3d81c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/bovo-19.04.3.tar.xz">bovo-19.04.3</a></td>
   <td align="right">195kB</td>
   <td><tt>cd58c9b88b216ae566bfcd14d8b914b815ec468b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/calendarsupport-19.04.3.tar.xz">calendarsupport-19.04.3</a></td>
   <td align="right">631kB</td>
   <td><tt>ca12e520c3354b52ea432b131189ae90e6a9a962</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/cantor-19.04.3.tar.xz">cantor-19.04.3</a></td>
   <td align="right">2.4MB</td>
   <td><tt>bf9b01142c8185a51bef3875a635d0a0ca5e3778</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/cervisia-19.04.3.tar.xz">cervisia-19.04.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>f941cc6c9b59d397df920bf0be0a37daaa3de220</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/dolphin-19.04.3.tar.xz">dolphin-19.04.3</a></td>
   <td align="right">4.8MB</td>
   <td><tt>621e35eb1da916e0894552dbfe4c2ff44b7c0a13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/dolphin-plugins-19.04.3.tar.xz">dolphin-plugins-19.04.3</a></td>
   <td align="right">187kB</td>
   <td><tt>5b7bcc5f0f65afd52efae6902b1f7b1526e8d5d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/dragon-19.04.3.tar.xz">dragon-19.04.3</a></td>
   <td align="right">1.2MB</td>
   <td><tt>9cd60d8a167e703b2602e680ca502e741e216608</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/eventviews-19.04.3.tar.xz">eventviews-19.04.3</a></td>
   <td align="right">432kB</td>
   <td><tt>bb53ab0befe3c7af40e56be33071563f20a7502c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/ffmpegthumbs-19.04.3.tar.xz">ffmpegthumbs-19.04.3</a></td>
   <td align="right">24kB</td>
   <td><tt>aee76b92970fd33b5e323cf80ab361e7c64c723a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/filelight-19.04.3.tar.xz">filelight-19.04.3</a></td>
   <td align="right">645kB</td>
   <td><tt>d5a2051c5eeb218f2eeb771c719dd372796d042b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/granatier-19.04.3.tar.xz">granatier-19.04.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>fdd4fd6ae4c8e8d60563d2b4a17b114090db0b28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/grantlee-editor-19.04.3.tar.xz">grantlee-editor-19.04.3</a></td>
   <td align="right">108kB</td>
   <td><tt>66da15c95c86d4c2e2a0f1b2e6716ce1444fc0f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/grantleetheme-19.04.3.tar.xz">grantleetheme-19.04.3</a></td>
   <td align="right">50kB</td>
   <td><tt>e46d759a5c7416998c0cc97169840bca0173a864</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/gwenview-19.04.3.tar.xz">gwenview-19.04.3</a></td>
   <td align="right">5.4MB</td>
   <td><tt>f6689b6a3f1759109b4e2ab7824e8e8cbff9fbec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/incidenceeditor-19.04.3.tar.xz">incidenceeditor-19.04.3</a></td>
   <td align="right">536kB</td>
   <td><tt>46f0f668e646ed6763edfae456d4dfddf6242677</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/juk-19.04.3.tar.xz">juk-19.04.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>9497100817e754dadb7f93589a2a78a1fcf5b238</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/k3b-19.04.3.tar.xz">k3b-19.04.3</a></td>
   <td align="right">10MB</td>
   <td><tt>bb27b16ca35baf286f8584e61c6e7160a0e3c980</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kaccounts-integration-19.04.3.tar.xz">kaccounts-integration-19.04.3</a></td>
   <td align="right">69kB</td>
   <td><tt>c203be9e83c5189f880dcb958025a26a26b86b78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kaccounts-providers-19.04.3.tar.xz">kaccounts-providers-19.04.3</a></td>
   <td align="right">31kB</td>
   <td><tt>d7f1167af4629261503ccec87895555bc16cd48a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kaddressbook-19.04.3.tar.xz">kaddressbook-19.04.3</a></td>
   <td align="right">462kB</td>
   <td><tt>3ea69de4701557dd13f9df832543f543e77e4f59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kajongg-19.04.3.tar.xz">kajongg-19.04.3</a></td>
   <td align="right">4.2MB</td>
   <td><tt>e47073d35bbfb2975be7dbc312b829b3af536fc7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kalarm-19.04.3.tar.xz">kalarm-19.04.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>fe3072d72f9884e9409101207db7f04850b2d0ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kalarmcal-19.04.3.tar.xz">kalarmcal-19.04.3</a></td>
   <td align="right">558kB</td>
   <td><tt>b967569bc6c3644da1a36fa08664e4ad33738274</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kalgebra-19.04.3.tar.xz">kalgebra-19.04.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>18f1d690a8f8ac0ef6425f2e8acd2d1d2550120d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kalzium-19.04.3.tar.xz">kalzium-19.04.3</a></td>
   <td align="right">25MB</td>
   <td><tt>74fef3d4611974f0ed75862bdea546b0d5293ff6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kamera-19.04.3.tar.xz">kamera-19.04.3</a></td>
   <td align="right">96kB</td>
   <td><tt>59e2057233244b39e2376870b6fa0ee3b02cedc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kamoso-19.04.3.tar.xz">kamoso-19.04.3</a></td>
   <td align="right">195kB</td>
   <td><tt>56524ede1b00fbc27d7407fa6e4b17bc27790ae0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kanagram-19.04.3.tar.xz">kanagram-19.04.3</a></td>
   <td align="right">7.6MB</td>
   <td><tt>9f5e136a3541d0e02a0af19481f5ba75a7fc2d74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kapman-19.04.3.tar.xz">kapman-19.04.3</a></td>
   <td align="right">2.4MB</td>
   <td><tt>bb7ab2b20f8739dbe3b6b5a9255513f5d1038db5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kapptemplate-19.04.3.tar.xz">kapptemplate-19.04.3</a></td>
   <td align="right">309kB</td>
   <td><tt>18ffb1c7f3808df32d85e5d2a7d60e6515476cf4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kate-19.04.3.tar.xz">kate-19.04.3</a></td>
   <td align="right">5.5MB</td>
   <td><tt>ad9709ea39bb1915195d0702d3d8a16c82fe393e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/katomic-19.04.3.tar.xz">katomic-19.04.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>17f9e267fd8342fb4449bfcfa2d1d4def6a15839</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kbackup-19.04.3.tar.xz">kbackup-19.04.3</a></td>
   <td align="right">349kB</td>
   <td><tt>d97bbadfd0e582a5d8ba94b7737c4f8cbae26334</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kblackbox-19.04.3.tar.xz">kblackbox-19.04.3</a></td>
   <td align="right">432kB</td>
   <td><tt>c0b0aa92293f1fc409be648f69f859936ae4ab6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kblocks-19.04.3.tar.xz">kblocks-19.04.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>8ac9ab82e9d5e5b7fb5148e2ba322d37f49769a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kblog-19.04.3.tar.xz">kblog-19.04.3</a></td>
   <td align="right">70kB</td>
   <td><tt>c6e8e8c4d6a00d28e7154e23fb16e4f04c46b7fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kbounce-19.04.3.tar.xz">kbounce-19.04.3</a></td>
   <td align="right">3.3MB</td>
   <td><tt>cea7da32982f133395166f079e44c9d3069aa2e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kbreakout-19.04.3.tar.xz">kbreakout-19.04.3</a></td>
   <td align="right">2.1MB</td>
   <td><tt>1b6bb1faeb2dc2c5476e81eef69165fcfb75feb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kbruch-19.04.3.tar.xz">kbruch-19.04.3</a></td>
   <td align="right">5.3MB</td>
   <td><tt>76df99a2b59e3996b78a96077bc146926a9e6a19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kcachegrind-19.04.3.tar.xz">kcachegrind-19.04.3</a></td>
   <td align="right">794kB</td>
   <td><tt>5a592a1e47dc3a53905d6238276f5b21030d1256</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kcalc-19.04.3.tar.xz">kcalc-19.04.3</a></td>
   <td align="right">357kB</td>
   <td><tt>4948d34b518a7cb871719dc22da1e033c8a6b911</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kcalcore-19.04.3.tar.xz">kcalcore-19.04.3</a></td>
   <td align="right">245kB</td>
   <td><tt>a38154a21872ab1322edff959a60894f2bdbb5f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kcalutils-19.04.3.tar.xz">kcalutils-19.04.3</a></td>
   <td align="right">319kB</td>
   <td><tt>06ded45095d7133302d526ad14e4381833f66903</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kcharselect-19.04.3.tar.xz">kcharselect-19.04.3</a></td>
   <td align="right">326kB</td>
   <td><tt>5f4d987a9bd218f36dd04888ce10869108eb4187</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kcolorchooser-19.04.3.tar.xz">kcolorchooser-19.04.3</a></td>
   <td align="right">19kB</td>
   <td><tt>13ae9dc7fd1d41f9c47ebae2318f5735f04888a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kcontacts-19.04.3.tar.xz">kcontacts-19.04.3</a></td>
   <td align="right">589kB</td>
   <td><tt>84e5d65ae70f0159c391d007d3cbce2ae158096d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kcron-19.04.3.tar.xz">kcron-19.04.3</a></td>
   <td align="right">866kB</td>
   <td><tt>3475e531ed5cf7f1113d0fa4627c1a9728cb2b31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kdav-19.04.3.tar.xz">kdav-19.04.3</a></td>
   <td align="right">48kB</td>
   <td><tt>e3c7a00f888fed6b3d5172ff1566d4c9cf00a91c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kdebugsettings-19.04.3.tar.xz">kdebugsettings-19.04.3</a></td>
   <td align="right">54kB</td>
   <td><tt>5a34a0e4a2471978345ed180edf0eb3ae0128bd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kde-dev-scripts-19.04.3.tar.xz">kde-dev-scripts-19.04.3</a></td>
   <td align="right">368kB</td>
   <td><tt>31a6490d633d27ee203005d837d3d506c23a3f25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kde-dev-utils-19.04.3.tar.xz">kde-dev-utils-19.04.3</a></td>
   <td align="right">60kB</td>
   <td><tt>8cefc0cbdb62dfc45ac5bfdd20fc6a1ac64990fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kdeedu-data-19.04.3.tar.xz">kdeedu-data-19.04.3</a></td>
   <td align="right">319kB</td>
   <td><tt>558ea5f55d3bb2a4528517b0ded2d1f020770125</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kdegraphics-mobipocket-19.04.3.tar.xz">kdegraphics-mobipocket-19.04.3</a></td>
   <td align="right">13kB</td>
   <td><tt>8c535413e4374144c8845f52c43752111b8cff26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kdegraphics-thumbnailers-19.04.3.tar.xz">kdegraphics-thumbnailers-19.04.3</a></td>
   <td align="right">41kB</td>
   <td><tt>a07937e3ed3dc2193b74cb7c7a39aa1c4b3e449f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kdenetwork-filesharing-19.04.3.tar.xz">kdenetwork-filesharing-19.04.3</a></td>
   <td align="right">305kB</td>
   <td><tt>bbcbe1deb9c5eaff157412d1042868d37f896151</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kdenlive-19.04.3.tar.xz">kdenlive-19.04.3</a></td>
   <td align="right">10MB</td>
   <td><tt>0e8a120bba30cdce5a7995316a221814217b8439</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kdepim-addons-19.04.3.tar.xz">kdepim-addons-19.04.3</a></td>
   <td align="right">1.9MB</td>
   <td><tt>5838ec669ddb95dce759b91c2b6e7d21619353c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kdepim-apps-libs-19.04.3.tar.xz">kdepim-apps-libs-19.04.3</a></td>
   <td align="right">84kB</td>
   <td><tt>06c200460fedb4695304a2508594b503e978e25d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kdepim-runtime-19.04.3.tar.xz">kdepim-runtime-19.04.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>588dc4fc7b4a814a17a238e49576c8e9183016a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kdesdk-kioslaves-19.04.3.tar.xz">kdesdk-kioslaves-19.04.3</a></td>
   <td align="right">36kB</td>
   <td><tt>8fdc515bcf4da51176b0b139b16488e57cc0a577</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kdesdk-thumbnailers-19.04.3.tar.xz">kdesdk-thumbnailers-19.04.3</a></td>
   <td align="right">16kB</td>
   <td><tt>6250422aac5f0dc48d656f7d6dfa3040938246df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kdf-19.04.3.tar.xz">kdf-19.04.3</a></td>
   <td align="right">450kB</td>
   <td><tt>8b995b34a8404b8ab9e5a16da3b436a9d1b01b52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kdialog-19.04.3.tar.xz">kdialog-19.04.3</a></td>
   <td align="right">95kB</td>
   <td><tt>4f74d1ebf9ca665cd9bb99c4f2163b7f7370ea99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kdiamond-19.04.3.tar.xz">kdiamond-19.04.3</a></td>
   <td align="right">4.5MB</td>
   <td><tt>d4f8737998b33a341d70f0ad8c1a9207b07a40a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/keditbookmarks-19.04.3.tar.xz">keditbookmarks-19.04.3</a></td>
   <td align="right">179kB</td>
   <td><tt>ec027b42bef5eb2ca6fa78c09dc97c5d474ff53c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kfind-19.04.3.tar.xz">kfind-19.04.3</a></td>
   <td align="right">260kB</td>
   <td><tt>e8f5f3641b117e99c1c89e0c18d385350494a6b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kfloppy-19.04.3.tar.xz">kfloppy-19.04.3</a></td>
   <td align="right">194kB</td>
   <td><tt>63f6a4ea7ccfdea350351bea9e3e97248006f581</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kfourinline-19.04.3.tar.xz">kfourinline-19.04.3</a></td>
   <td align="right">620kB</td>
   <td><tt>70291144306191949a16c215dcb61c81fb2a92d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kgeography-19.04.3.tar.xz">kgeography-19.04.3</a></td>
   <td align="right">10MB</td>
   <td><tt>4ecb05825c3166584b68b679ec55c652e94b74ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kget-19.04.3.tar.xz">kget-19.04.3</a></td>
   <td align="right">4.9MB</td>
   <td><tt>1aaed7fb5fa59436040e9bf83cb3ae14ba6676e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kgoldrunner-19.04.3.tar.xz">kgoldrunner-19.04.3</a></td>
   <td align="right">4.2MB</td>
   <td><tt>1042a7be06cf54913ae6d76da72f46b064bbdcda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kgpg-19.04.3.tar.xz">kgpg-19.04.3</a></td>
   <td align="right">2.6MB</td>
   <td><tt>4796b459b682e4f5bdcdde6b3d2c50d8cfa8b5fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/khangman-19.04.3.tar.xz">khangman-19.04.3</a></td>
   <td align="right">6.7MB</td>
   <td><tt>b2db9a78eae611d4b1f8fd754ace37f9f68e7efe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/khelpcenter-19.04.3.tar.xz">khelpcenter-19.04.3</a></td>
   <td align="right">3.6MB</td>
   <td><tt>5db06cbb71e40c79195a8b1c47555308f11e48f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kidentitymanagement-19.04.3.tar.xz">kidentitymanagement-19.04.3</a></td>
   <td align="right">145kB</td>
   <td><tt>59d09ac422d793c851ffdd6e4c6bf3b268beeec8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kig-19.04.3.tar.xz">kig-19.04.3</a></td>
   <td align="right">3.3MB</td>
   <td><tt>4149b173bb11188f55c65a385379933c8b9b533e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kigo-19.04.3.tar.xz">kigo-19.04.3</a></td>
   <td align="right">4.9MB</td>
   <td><tt>979565433386ed795e425664ac89bd9c417dddfa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/killbots-19.04.3.tar.xz">killbots-19.04.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>f38a49f0ff3e4e45f104de456f9d8d22bb09e82c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kimagemapeditor-19.04.3.tar.xz">kimagemapeditor-19.04.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>4de73ef85cbfaa756528e3ee76274a3c00518cc8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kimap-19.04.3.tar.xz">kimap-19.04.3</a></td>
   <td align="right">116kB</td>
   <td><tt>f3e1e95c331881985d95ff05b3af2c4aa33aa717</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kio-extras-19.04.3.tar.xz">kio-extras-19.04.3</a></td>
   <td align="right">557kB</td>
   <td><tt>0701da652794b41a073738e54631fab67c16fb94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kirigami-gallery-19.04.3.tar.xz">kirigami-gallery-19.04.3</a></td>
   <td align="right">266kB</td>
   <td><tt>d10808c941355939030bb10191cce0b42407e0c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kiriki-19.04.3.tar.xz">kiriki-19.04.3</a></td>
   <td align="right">363kB</td>
   <td><tt>54ca3ab28d538d4504c43e9d34ccd6fb15fb62aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kiten-19.04.3.tar.xz">kiten-19.04.3</a></td>
   <td align="right">10MB</td>
   <td><tt>2d0d0107e26df81815b99b6da7f9cb20014e7ec4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kitinerary-19.04.3.tar.xz">kitinerary-19.04.3</a></td>
   <td align="right">673kB</td>
   <td><tt>9b45806568b9a12b091d0ed0fefa042a3329ee85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kjumpingcube-19.04.3.tar.xz">kjumpingcube-19.04.3</a></td>
   <td align="right">280kB</td>
   <td><tt>d6abad9ebeb8ef1582658271c466342ff692145a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kldap-19.04.3.tar.xz">kldap-19.04.3</a></td>
   <td align="right">152kB</td>
   <td><tt>b291a83fedfc116fca241b5ad1ff8b9268a62822</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kleopatra-19.04.3.tar.xz">kleopatra-19.04.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>944f49e266cfaa8dfe279d429cfe3add9af4a947</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/klettres-19.04.3.tar.xz">klettres-19.04.3</a></td>
   <td align="right">20MB</td>
   <td><tt>7db5290df5120299e1cc1fb363a1f0049155e2ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/klickety-19.04.3.tar.xz">klickety-19.04.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>12d788428e57def0261e706bb903d00ab29d38e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/klines-19.04.3.tar.xz">klines-19.04.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>8f80cc78f4685358c722d809ed03d29a907b70a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kmag-19.04.3.tar.xz">kmag-19.04.3</a></td>
   <td align="right">655kB</td>
   <td><tt>ec3c1721cc6dc2e264f7c8b3d101a92f1d299c36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kmahjongg-19.04.3.tar.xz">kmahjongg-19.04.3</a></td>
   <td align="right">3.8MB</td>
   <td><tt>d39be8816dd3f5726331d6f9ff5883561f474f95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kmail-19.04.3.tar.xz">kmail-19.04.3</a></td>
   <td align="right">4.4MB</td>
   <td><tt>bfa16531d7ad1238667b7e0fc5d10bfc971eaaff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kmail-account-wizard-19.04.3.tar.xz">kmail-account-wizard-19.04.3</a></td>
   <td align="right">152kB</td>
   <td><tt>370ef05f0816281ddaa1a88646e604b13f8db438</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kmailtransport-19.04.3.tar.xz">kmailtransport-19.04.3</a></td>
   <td align="right">162kB</td>
   <td><tt>d3eb85adc10c171606c1bb9a126eafb360fbbbe6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kmbox-19.04.3.tar.xz">kmbox-19.04.3</a></td>
   <td align="right">24kB</td>
   <td><tt>ca8454c3ff0d2b39077a5463a567ae68af2fc0a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kmime-19.04.3.tar.xz">kmime-19.04.3</a></td>
   <td align="right">143kB</td>
   <td><tt>fe937573d39ffe5b72ed80a691635bacf181a2fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kmines-19.04.3.tar.xz">kmines-19.04.3</a></td>
   <td align="right">876kB</td>
   <td><tt>3572a53b97d800fbdef3c244b822a9c04c9f112e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kmix-19.04.3.tar.xz">kmix-19.04.3</a></td>
   <td align="right">982kB</td>
   <td><tt>472a56d354f4d73080ecd82d64e61e774e297b88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kmousetool-19.04.3.tar.xz">kmousetool-19.04.3</a></td>
   <td align="right">109kB</td>
   <td><tt>a87b2026a76c72706632a738d5665690bf85b12f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kmouth-19.04.3.tar.xz">kmouth-19.04.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>9cea4e5ca370d239abbe6f745f3814f9d6bb0a18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kmplot-19.04.3.tar.xz">kmplot-19.04.3</a></td>
   <td align="right">2.9MB</td>
   <td><tt>6e859045383703e4ab7538d474e71183cc735b60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/knavalbattle-19.04.3.tar.xz">knavalbattle-19.04.3</a></td>
   <td align="right">1.2MB</td>
   <td><tt>e4d46507cc3475097f2867e641c4e3e181add303</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/knetwalk-19.04.3.tar.xz">knetwalk-19.04.3</a></td>
   <td align="right">1012kB</td>
   <td><tt>e4385d7ec04c0b2b8d653b0f370b9364d51a060b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/knights-19.04.3.tar.xz">knights-19.04.3</a></td>
   <td align="right">3.3MB</td>
   <td><tt>86389c3703ab12991579b514491b00cde98a5344</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/knotes-19.04.3.tar.xz">knotes-19.04.3</a></td>
   <td align="right">312kB</td>
   <td><tt>6a3653417d59ff9d87be96762ac54d6fdcb378ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kolf-19.04.3.tar.xz">kolf-19.04.3</a></td>
   <td align="right">1006kB</td>
   <td><tt>d88ef2f454addb8439b40a308c962d114f051efc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kollision-19.04.3.tar.xz">kollision-19.04.3</a></td>
   <td align="right">274kB</td>
   <td><tt>ea252550d2d08f92bd92e6a8d00da4ea95f9283b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kolourpaint-19.04.3.tar.xz">kolourpaint-19.04.3</a></td>
   <td align="right">5.3MB</td>
   <td><tt>835afeba63739be510fd692dd8a707470e85a52d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kompare-19.04.3.tar.xz">kompare-19.04.3</a></td>
   <td align="right">783kB</td>
   <td><tt>501b06b5a58914de3a2636311e9422394b835d9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/konqueror-19.04.3.tar.xz">konqueror-19.04.3</a></td>
   <td align="right">7.2MB</td>
   <td><tt>b52d5914d46c102a6cf4a0161527cb745b9fa008</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/konquest-19.04.3.tar.xz">konquest-19.04.3</a></td>
   <td align="right">643kB</td>
   <td><tt>e1a46d42a112e5c861d5952c1b35630e0bdfdd41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/konsole-19.04.3.tar.xz">konsole-19.04.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>410c59d462677e1e89232c89204180fad60f0346</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kontact-19.04.3.tar.xz">kontact-19.04.3</a></td>
   <td align="right">774kB</td>
   <td><tt>7404baac92807da07ffcc071e78e34df2c90e45a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kontactinterface-19.04.3.tar.xz">kontactinterface-19.04.3</a></td>
   <td align="right">32kB</td>
   <td><tt>00d8a31919875800757fa6286896f889bed610bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kopete-19.04.3.tar.xz">kopete-19.04.3</a></td>
   <td align="right">8.9MB</td>
   <td><tt>9ec9ffa0d4a6b3f1ce52d7d41db8d2a67801cdda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/korganizer-19.04.3.tar.xz">korganizer-19.04.3</a></td>
   <td align="right">2.1MB</td>
   <td><tt>ed1633c30338b251dfef073eec0e2573d8824b1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kpat-19.04.3.tar.xz">kpat-19.04.3</a></td>
   <td align="right">3.4MB</td>
   <td><tt>1d1c00f1dab7a861b5448ffa8cd4a1d8cfeff539</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kpimtextedit-19.04.3.tar.xz">kpimtextedit-19.04.3</a></td>
   <td align="right">149kB</td>
   <td><tt>7e9e9f14b425154ba6e65dc0a4dc0db7273a2e5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kpkpass-19.04.3.tar.xz">kpkpass-19.04.3</a></td>
   <td align="right">22kB</td>
   <td><tt>70824494bd6fed4a2f61e0c6ea2c822449b02bb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kqtquickcharts-19.04.3.tar.xz">kqtquickcharts-19.04.3</a></td>
   <td align="right">24kB</td>
   <td><tt>cda2be635b88a18db89972fda41f6c3eb5c370d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/krdc-19.04.3.tar.xz">krdc-19.04.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>f9a065e4cdba8c62fe32ae729abcf670f0b4f45b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kreversi-19.04.3.tar.xz">kreversi-19.04.3</a></td>
   <td align="right">920kB</td>
   <td><tt>7e0a06439db8a9db15f0498b444222947e207d6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/krfb-19.04.3.tar.xz">krfb-19.04.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>303ad9865ce54b18ff11ead84e637da159d93815</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kross-interpreters-19.04.3.tar.xz">kross-interpreters-19.04.3</a></td>
   <td align="right">146kB</td>
   <td><tt>ad1c64b802e73595e934310771463006e4dd4ae7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kruler-19.04.3.tar.xz">kruler-19.04.3</a></td>
   <td align="right">243kB</td>
   <td><tt>b067c41b0b65af99eafd3abc2ad9f4d6a9617c41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kshisen-19.04.3.tar.xz">kshisen-19.04.3</a></td>
   <td align="right">803kB</td>
   <td><tt>96ff9510d8bd55c7c59f90370f882213ada9c57d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/ksirk-19.04.3.tar.xz">ksirk-19.04.3</a></td>
   <td align="right">6.6MB</td>
   <td><tt>410d242fb095ba33b920609972732e1c1c3390bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/ksmtp-19.04.3.tar.xz">ksmtp-19.04.3</a></td>
   <td align="right">39kB</td>
   <td><tt>b656a73cebfbcb3b7cf3af51cdb68a3d0239ef17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/ksnakeduel-19.04.3.tar.xz">ksnakeduel-19.04.3</a></td>
   <td align="right">590kB</td>
   <td><tt>92ae33cfb9504234b036ef9e5441cb1ceb92191a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kspaceduel-19.04.3.tar.xz">kspaceduel-19.04.3</a></td>
   <td align="right">596kB</td>
   <td><tt>991e79b655f139f27b9d4404dac5f7a51c3a4027</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/ksquares-19.04.3.tar.xz">ksquares-19.04.3</a></td>
   <td align="right">254kB</td>
   <td><tt>93a8b607995a13d0f2e261ed267d95cfd2617a29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/ksudoku-19.04.3.tar.xz">ksudoku-19.04.3</a></td>
   <td align="right">1.5MB</td>
   <td><tt>94991f6d2ff96e3ec8fe208e01301c8f8feaac89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/ksystemlog-19.04.3.tar.xz">ksystemlog-19.04.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>a8bdc407fd80d054333ffce1b9a919364577c857</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kteatime-19.04.3.tar.xz">kteatime-19.04.3</a></td>
   <td align="right">278kB</td>
   <td><tt>39d6431166f29e861c2710a7c05fa5eb6dfe7490</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/ktimer-19.04.3.tar.xz">ktimer-19.04.3</a></td>
   <td align="right">367kB</td>
   <td><tt>03c135a84a3efb35a7a57aad45a7a98283f9f0ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/ktnef-19.04.3.tar.xz">ktnef-19.04.3</a></td>
   <td align="right">292kB</td>
   <td><tt>26a8354e537fd2c440e05d24eb06869ce5d5573c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/ktouch-19.04.3.tar.xz">ktouch-19.04.3</a></td>
   <td align="right">4.7MB</td>
   <td><tt>20b14300f08492417b55a4f7aa3cb4ce626757a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/ktp-accounts-kcm-19.04.3.tar.xz">ktp-accounts-kcm-19.04.3</a></td>
   <td align="right">256kB</td>
   <td><tt>aa4233d46326de4dc000e53d27d372e2a12216cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/ktp-approver-19.04.3.tar.xz">ktp-approver-19.04.3</a></td>
   <td align="right">36kB</td>
   <td><tt>3eaddd7adec78af82a9b617ae3bea2d39fc6140c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/ktp-auth-handler-19.04.3.tar.xz">ktp-auth-handler-19.04.3</a></td>
   <td align="right">44kB</td>
   <td><tt>09c1925191eb901f7517fa1d6b3756d2f7141ed5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/ktp-call-ui-19.04.3.tar.xz">ktp-call-ui-19.04.3</a></td>
   <td align="right">93kB</td>
   <td><tt>708f35465145dd7d4e0ef955d725515dbd961596</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/ktp-common-internals-19.04.3.tar.xz">ktp-common-internals-19.04.3</a></td>
   <td align="right">431kB</td>
   <td><tt>b42f1d95bf5c91c9a3958eb1563ff22149dab4db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/ktp-contact-list-19.04.3.tar.xz">ktp-contact-list-19.04.3</a></td>
   <td align="right">142kB</td>
   <td><tt>0fb1a180ac77eb72e42a5b88347ea4e4ffc0e25e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/ktp-contact-runner-19.04.3.tar.xz">ktp-contact-runner-19.04.3</a></td>
   <td align="right">41kB</td>
   <td><tt>927e7c16bf6f9e3191800d3abe837b7bfc6125b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/ktp-desktop-applets-19.04.3.tar.xz">ktp-desktop-applets-19.04.3</a></td>
   <td align="right">41kB</td>
   <td><tt>789620ef8eab8ba1ddee69c23ba786cd0247b784</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/ktp-filetransfer-handler-19.04.3.tar.xz">ktp-filetransfer-handler-19.04.3</a></td>
   <td align="right">44kB</td>
   <td><tt>6d0baeda5763ac1afcd79e8528d2ad54603f7a73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/ktp-kded-module-19.04.3.tar.xz">ktp-kded-module-19.04.3</a></td>
   <td align="right">92kB</td>
   <td><tt>fdde87c8ce8f573da540888f3121581eb1ccf429</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/ktp-send-file-19.04.3.tar.xz">ktp-send-file-19.04.3</a></td>
   <td align="right">27kB</td>
   <td><tt>47ff5f21d38a6c49be5e0c4f5e05a9ecd28df332</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/ktp-text-ui-19.04.3.tar.xz">ktp-text-ui-19.04.3</a></td>
   <td align="right">454kB</td>
   <td><tt>52f09ff62a9fc3807539658e1df4b0dc61409446</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/ktuberling-19.04.3.tar.xz">ktuberling-19.04.3</a></td>
   <td align="right">31MB</td>
   <td><tt>08eff00dcd541b4d4c38b9c10aa9eb50792db520</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kturtle-19.04.3.tar.xz">kturtle-19.04.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>bda9700ecdb89113f720f4ca8fd1497e4035a063</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kubrick-19.04.3.tar.xz">kubrick-19.04.3</a></td>
   <td align="right">305kB</td>
   <td><tt>e36247c9acb2ac80a132ab05e34c53ecd2425739</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kwalletmanager-19.04.3.tar.xz">kwalletmanager-19.04.3</a></td>
   <td align="right">768kB</td>
   <td><tt>90bde663c20c66b6348a3092604f5997987694db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kwave-19.04.3.tar.xz">kwave-19.04.3</a></td>
   <td align="right">5.9MB</td>
   <td><tt>b11e915012b879f6459b72ae6f7b0982cd0e9c1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/kwordquiz-19.04.3.tar.xz">kwordquiz-19.04.3</a></td>
   <td align="right">3.9MB</td>
   <td><tt>89e9c30603d796c440eb29a7c20b89ae4c0da137</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/libgravatar-19.04.3.tar.xz">libgravatar-19.04.3</a></td>
   <td align="right">30kB</td>
   <td><tt>10e3332d829ba0ad3a9c39810270ebc0a935d1f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/libkcddb-19.04.3.tar.xz">libkcddb-19.04.3</a></td>
   <td align="right">413kB</td>
   <td><tt>e8125a1193604e70ed93460476bc52041f0b6bec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/libkcompactdisc-19.04.3.tar.xz">libkcompactdisc-19.04.3</a></td>
   <td align="right">87kB</td>
   <td><tt>5470ad718d5e8b2f0256ef74dd2bba7f2af30a1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/libkdcraw-19.04.3.tar.xz">libkdcraw-19.04.3</a></td>
   <td align="right">41kB</td>
   <td><tt>b087cfa7ac11d20a657f364925a9acbecb8e74e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/libkdegames-19.04.3.tar.xz">libkdegames-19.04.3</a></td>
   <td align="right">6.0MB</td>
   <td><tt>e31403e9206f587585f53d0cf3ccdf92954057b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/libkdepim-19.04.3.tar.xz">libkdepim-19.04.3</a></td>
   <td align="right">328kB</td>
   <td><tt>4feecd8af83d76704803a4ca90b0d4369aea1891</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/libkeduvocdocument-19.04.3.tar.xz">libkeduvocdocument-19.04.3</a></td>
   <td align="right">202kB</td>
   <td><tt>706f70d2781bc3aa6c3b995f43bc5495c1255c5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/libkexiv2-19.04.3.tar.xz">libkexiv2-19.04.3</a></td>
   <td align="right">62kB</td>
   <td><tt>aee89e74b094494b9e8b8b98db15ab4e184208e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/libkgapi-19.04.3.tar.xz">libkgapi-19.04.3</a></td>
   <td align="right">219kB</td>
   <td><tt>0fa66c89365f721054ad6b1aca01861688426d1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/libkgeomap-19.04.3.tar.xz">libkgeomap-19.04.3</a></td>
   <td align="right">147kB</td>
   <td><tt>12e045ec6eb6e216b87536ab212ec73d89cd2dbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/libkipi-19.04.3.tar.xz">libkipi-19.04.3</a></td>
   <td align="right">100kB</td>
   <td><tt>f9c68f32fcdfa1c278df0a02214ca51439e4d1c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/libkleo-19.04.3.tar.xz">libkleo-19.04.3</a></td>
   <td align="right">324kB</td>
   <td><tt>6b93f4191ae98ee1418f8accc8e1d5877102767b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/libkmahjongg-19.04.3.tar.xz">libkmahjongg-19.04.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>4306bfb3dd68dc5bc5f78d88ede6c2df7e6b75e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/libkomparediff2-19.04.3.tar.xz">libkomparediff2-19.04.3</a></td>
   <td align="right">169kB</td>
   <td><tt>6d90f52326f55ce942cc24e5ef0afea1c0438da4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/libksane-19.04.3.tar.xz">libksane-19.04.3</a></td>
   <td align="right">134kB</td>
   <td><tt>b92e625b4131a757bfb64c89733328bdd03b9cbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/libksieve-19.04.3.tar.xz">libksieve-19.04.3</a></td>
   <td align="right">536kB</td>
   <td><tt>645e29c03277ef6539b299313750db55e3a76422</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/lokalize-19.04.3.tar.xz">lokalize-19.04.3</a></td>
   <td align="right">1.5MB</td>
   <td><tt>881419d32de7406e20a8501b33c5849144cd30e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/lskat-19.04.3.tar.xz">lskat-19.04.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>17d0c606e5fe2604758dabf9bbab76cf99fee5b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/mailcommon-19.04.3.tar.xz">mailcommon-19.04.3</a></td>
   <td align="right">675kB</td>
   <td><tt>562d15f0df6eaba074790e186fdefdf9a175bdb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/mailimporter-19.04.3.tar.xz">mailimporter-19.04.3</a></td>
   <td align="right">527kB</td>
   <td><tt>95065a4af39dc7bd5a8548259028176e0bbf3832</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/marble-19.04.3.tar.xz">marble-19.04.3</a></td>
   <td align="right">49MB</td>
   <td><tt>98415389f39947f8687d8e0829c3b8df1f87770d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/mbox-importer-19.04.3.tar.xz">mbox-importer-19.04.3</a></td>
   <td align="right">32kB</td>
   <td><tt>ca6ddcbf9bc98db8f6d8870f19032c1b83bfe262</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/messagelib-19.04.3.tar.xz">messagelib-19.04.3</a></td>
   <td align="right">9.9MB</td>
   <td><tt>336347c58d4f8dd833596d8e3ecc586e8dc9a69d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/minuet-19.04.3.tar.xz">minuet-19.04.3</a></td>
   <td align="right">26MB</td>
   <td><tt>08dcc5dd20cc53e54ca84c270cfd35f8509b06d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/okular-19.04.3.tar.xz">okular-19.04.3</a></td>
   <td align="right">6.6MB</td>
   <td><tt>81777bd57dcdbb5b880ffe74bcb226bdd3d50ceb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/palapeli-19.04.3.tar.xz">palapeli-19.04.3</a></td>
   <td align="right">1.9MB</td>
   <td><tt>d4401c427a903a068b0bdca661eb16aa82e59bf4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/parley-19.04.3.tar.xz">parley-19.04.3</a></td>
   <td align="right">8.4MB</td>
   <td><tt>05053d24fbe050b53f557b39a8cc72d8981d8283</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/picmi-19.04.3.tar.xz">picmi-19.04.3</a></td>
   <td align="right">1.2MB</td>
   <td><tt>70b3be164951ab8b027d1b08bddb18e341301b8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/pimcommon-19.04.3.tar.xz">pimcommon-19.04.3</a></td>
   <td align="right">287kB</td>
   <td><tt>0ee16de7c25b2ba6ec64c5b62b20ef6c5f483399</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/pim-data-exporter-19.04.3.tar.xz">pim-data-exporter-19.04.3</a></td>
   <td align="right">266kB</td>
   <td><tt>bb434024bbd1798475549c873e3eacbc1c33982d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/pim-sieve-editor-19.04.3.tar.xz">pim-sieve-editor-19.04.3</a></td>
   <td align="right">439kB</td>
   <td><tt>9e1a4d6295103d7c3e0e383ff6c1c0d6e0109348</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/poxml-19.04.3.tar.xz">poxml-19.04.3</a></td>
   <td align="right">42kB</td>
   <td><tt>19c0db25e5639640a2807ae451a2450c8f645e66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/print-manager-19.04.3.tar.xz">print-manager-19.04.3</a></td>
   <td align="right">235kB</td>
   <td><tt>4d44cd1df221ee9e5826fbf9b97b385f6749eb34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/rocs-19.04.3.tar.xz">rocs-19.04.3</a></td>
   <td align="right">1.4MB</td>
   <td><tt>70b20e1cfc410dd5ca98d45feb8771a8539b2b31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/signon-kwallet-extension-19.04.3.tar.xz">signon-kwallet-extension-19.04.3</a></td>
   <td align="right">10kB</td>
   <td><tt>785532c6f8f937e2658e8c2682c56c05ad19d6c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/spectacle-19.04.3.tar.xz">spectacle-19.04.3</a></td>
   <td align="right">935kB</td>
   <td><tt>af0cdee1f5f577d7a65db4c41a80445b217a9f39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/step-19.04.3.tar.xz">step-19.04.3</a></td>
   <td align="right">842kB</td>
   <td><tt>e9d821fb32f7e270ea60250663f5b072cae6f55e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/svgpart-19.04.3.tar.xz">svgpart-19.04.3</a></td>
   <td align="right">20kB</td>
   <td><tt>5b47f18d1cd2a2047e075f15876437eeac2dd920</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/sweeper-19.04.3.tar.xz">sweeper-19.04.3</a></td>
   <td align="right">359kB</td>
   <td><tt>511334979278813706f655c872cfcd4a5577c0fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/umbrello-19.04.3.tar.xz">umbrello-19.04.3</a></td>
   <td align="right">3.5MB</td>
   <td><tt>ae71e0ef3132c63f67c3177be6fe9856d9a53ff5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.04.3/src/zeroconf-ioslave-19.04.3.tar.xz">zeroconf-ioslave-19.04.3</a></td>
   <td align="right">37kB</td>
   <td><tt>584743c13b1d6b4ec77c22d2ffbfe02324ad626a</tt></td>
</tr>

</table>
